/***********************Form Design***********************/
input{
	font-family: $default_font-color;
	border: 1px solid $border-color;
}
textarea { resize: vertical; }
.cimm_advancedSearchFilter{
	margin-bottom: 10px;
	border:1px solid #ccc;
	padding:5px;
	background: $gray-dark;
	
	input{
		width:100%;
		padding: 5px 10px;
		margin-bottom: 10px;
	}
	div{
		margin-bottom: 10px;
	}
	a{
		display: block;
	}
}
#reqDate{
	background: url('../images/calIcon.png') no-repeat;
	background-position: 96% 50%;
    background-size: 20px;
}
/**********************custom check box*************************/
.inline-radiobtn{
	label{
		&.customRadioBtn{
			display: inline-block !important;
			margin: 0px 5px;	
			position: static;
    		pointer-events: all; 
		}
	}
}
.customRadioBtn{
	position: relative;
	padding: 0 0 0 20px;
	cursor: pointer;
	margin: 0;

	input[type="radio"] {
		display:none;
		
		+ span:before, + span:after{
			content: "";
			position: absolute;
			height: 12px;
			width: 12px;
			top: 2px;
			left: 0px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			box-sizing: content-box;
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
		}
		+ span:before{
			border: 2px solid transparent;
		}
		
		+ span:after {
			display: block;
			border: 2px solid #000;
		}
		
		&:checked{
			+ span:after, + span:before {
				border: 2px solid $primary_color;
				-webkit-transition: all 0.3s ease-out;
				-moz-transition: all 0.3s ease-out;
				-ms-transition: all 0.3s ease-out;
				transition: all 0.3s ease-out;
			}

			+ span:before {
				background: $primary_color;
				-webkit-transform: scale(.5);
				-moz-transform: scale(.5);
				-ms-transform: scale(.5);
				transform: scale(.5);
			}
		}
		
		&:disabled {
			+ span:after{
				border: 2px solid $gray-lighter;
				cursor: not-allowed;
			}
		}
		&:disabled:checked {
			+ span:before {
				background: $gray-lighter;
				border: 2px solid $gray-lighter;
			}
		}
	}
} 

.customCheckBox{
	position: relative;
	display: inline-block;
	padding-left: 22px;
	cursor: pointer;
	line-height: 16px;
	margin: 0;
	
	input[type="checkbox"] {
		display:none;
	}
}
.customCheckBox2,
ul.cimm_formContent li label.customCheckBox2{
	position: relative;
	display: inline-block;
	padding-left: 0;
	cursor: pointer;
	line-height: 16px;
	left: 0;
	pointer-events: auto;
	z-index: 2
}

.customCheckBox input[type="checkbox"] + span:before,
.customCheckBox2 input[type="checkbox"] + span:before{
	content: "";
	background: #fff;
	position: absolute;
	height: 0px;
	width: 3px;
	top: 5px;
	left: 5px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.customCheckBox input[type="checkbox"] + span:after,
.customCheckBox2 input[type="checkbox"] + span:after {
	content: "";
	position: absolute;
	width: 12px;
	display: block;
	height: 12px;
	border: 1px solid $border-color;
	top: 0;
	left: 0;
	background: #FFF;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.customCheckBox input[type="checkbox"]:checked + span:after,
.customCheckBox2 input[type="checkbox"]:checked + span:after{
	border: 1px solid $primary_color;
	background: $primary_color;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.cimm_popupLogin .customCheckBox:focus,.cimm_popupLogin a:focus{
	outline: 2px solid #BCE6FB;
}
.customCheckBox input[type="checkbox"]:checked + span:before,
.customCheckBox2 input[type="checkbox"]:checked + span:before {
	background: $primary_color;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 9px;
	top: 1px;
	border-bottom: 2px solid #fff;
    border-right: 2px solid #FFF;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.customCheckBox input[type="checkbox"]:disabled + span:after,
.customCheckBox2 input[type="checkbox"]:disabled + span:after{
	border: 1px solid #D2D2D2;
	cursor: not-allowed;
}
.customCheckBox input[type="checkbox"]:disabled + span:before,
.customCheckBox2 input[type="checkbox"]:disabled + span:before {
    background: #fff;
    top: 1px;
    left: 1px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(0deg);
    height: 14px;
    width: 14px;
    cursor: not-allowed;
}
ul.cimm_formContent > li > span > input[type="checkbox"],
.customCheckBox2 input[type='checkbox']{
	opacity: 0;
	margin: 0 4px 0px 2px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
.customCheckBox input[type='checkbox']:disabled,.customCheckBox2 input[type='checkbox']:disabled {
	cursor: not-allowed;
}
ul.cimm_formContent li label.customCheckBox2 span{
	line-height: 18px;
}
.customCheckBox.customRightChkBox {
	padding: 0 22px 0 0;
}
.customCheckBox.customRightChkBox input[type="checkbox"] + span:before {
	left: 100%;
	margin: 0 0 0 -10px;
}
.customCheckBox.customRightChkBox input[type="checkbox"] + span:after, .customCheckBox2.customRightChkBox input[type="checkbox"] + span:after {
    left: 100%;
    margin: 0 0 0 -16px;
}
.customCheckBox.customRightChkBox input[type="checkbox"]:checked + span:before, .customCheckBox2.customRightChkBox input[type="checkbox"]:checked + span:before {
	left: 100%;
	margin: 0 0 0 -10px;
}
.pgCheckboxWrap{
	width: 110px;
	margin: 0 auto;
}
.customCheckBoxRight{
	position: relative;
	display: inline-block;
	padding-right: 22px;
	cursor: pointer;
	line-height: 16px;
	color:#28343C;
}
.customCheckBoxRight input[type="checkbox"] {
	display:none;
}
.customCheckBoxRight input[type="checkbox"] + span:before{
	content: "";
	background: #fff;
	position: absolute;
	height: 0px;
	width: 3px;
	top: 5px;
	right: 6px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.customCheckBoxRight input[type="checkbox"] + span:after {
	content: "";
	position: absolute;
	width: 14px;
	display: block;
	height: 14px;
	border: 1px solid #000;
	top: 0;
	right: 0;
	background: #FFF;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.customCheckBoxRight input[type="checkbox"]:checked + span:after{
	border: 1px solid #4079aa;
	background: #4079aa;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.customCheckBoxRight input[type="checkbox"]:checked + span:before {
	background: #4079aa;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom: 2px solid #fff;
	border-right: 2px solid #FFF;
	height: 9px;
	top: 2px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.customCheckBoxRight input[type="checkbox"]:disabled + span:after{
	border: 2px solid #D2D2D2;
	cursor: not-allowed;
}
.customCheckBoxRight input[type="checkbox"]:disabled + span:before{
    background: #fff;
    top: 2px;
    left: 2px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(0deg);
    height: 14px;
    width: 14px;
    cursor: not-allowed;
}