button,
input[type='submit'] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -appearance: none;
    font-family: $button_font_family;
    text-transform: uppercase;
    outline: none;
    &:active {
        outline: none;
        color: $white;
    }
}

.form-group .bootstrap-select .btn.dropdown-toggle {
    text-transform: capitalize;
    font-weight: normal;
    font-family: $button_font_family;
}

.button {
    @extend button;
    background: $primary_color;
    padding: 12px;
    color: $white;
    font-family: $button_font_family;
    font-size: 14px;
    border-radius: 0;
    letter-spacing: normal;
    cursor: pointer;
    text-align: center;
    border: none;
	border-radius: 2px;
    &:hover {
        background: $gray-lighter;
    }
}
.compareSimDiffBtns.active {
    background: $primary_color;
}

.cimm_inlineButton {
    @extend .button;
    padding: 7px 12px;
    vertical-align: bottom;
    height: auto;
    display: inline-block;
    &:hover {
        color: $white;
    }
}

//Add to Cart Button`
.btn-addtocart {
    text-transform: uppercase;
	vertical-align: unset;
    &.btns-disable {
        opacity: .3;
    }
}


.btns-disable {
    cursor: not-allowed !important;
    opacity: 0.8;
    //&:before {}
    &:hover {
        text-decoration: none;
    }
}

.refreshBtn {
    color: $primary_color;
    font-size: 24px;
}
.cimm_btnGroupEnclosure {
    margin: 25px auto;
    padding-bottom: 30px;
    border-bottom: 1px solid $black;
    ul {
        li {
            display: inline-block;
            padding-right: 50px;
            position: relative;
            &:last-child {
                padding-right: 0;
            }
            a:not(.btn) {
                color: $primary_color;
                font-size: 16px;
                background: none;
                cursor: pointer;
                em {
                    margin-right: 10px;
                    font-size: 18px;
                }
            }
           /* ul {
                position: absolute;
                top: 22px;
                left: 0;
                width: 100%;
                background: $white;
                padding: 3px;
                z-index: 1;
                border: 1px solid $border-color;
                border-radius: 2px;
				max-height: 200px;
				overflow-y: auto;
                li {
                    width: 100%;
                    padding: 2px 0;
                    border-bottom: 1px solid $border-color;
                    &:last-child {
                        border-bottom: none;
                    }
                    a {
                        padding: 2px;
                        text-transform: capitalize;
                        &:hover {
                            color: $white;
                            background: $primary_color;
                        }
                    }
                    input {
                        width: 100%;
                        height: 30px;
                        padding: 10px 5px;
                    }
                }
            }*/
        }
    }
}
// My Product Group Button
.myProductGroupbutton {
    position: relative;
    padding: 0px 0px 0px 10px !important;
    text-decoration: underline !important;
    display: inline-block;
    font-size: 14px;
    color: $primary_color !important;
    &:before {
        content: "+";
        position: absolute;
        left: 0px;
    }
}

.productGroupBtn {
	cursor: pointer;
	position: relative;
	font-size: 14px;
	a {
		&.log-addTocart-btn{
			color: $white;
			&:hover {
				text-decoration: none;
			}
		}
		color: $default_font-color;
		em {
			margin-right: 10px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		width: 100%;
		padding: 5px;
		background: $white;
		border: 1px solid $border-color;
		li {
			width: 100%;
			border-bottom: 1px solid $border-color;
			&:last-child {
				border: none;
			}
			input {
				height: 35px;
				padding: 10px;
				width: 100%;
			}
			a {
				color: $default_font-color;
				text-transform: capitalize;
				display: block;
                padding: 5px;
                white-space: normal;
                word-break: break-all;
				&:hover {
					background: $primary_color;
					color: $white;
				}
			}
		}
	}
}


.slideBtns-hide {
    -ms-transform: translate(0px, 100%);
    -webkit-transform: translate(0px, 100%);
    transform: translate(0px, 100%);
    opacity: 0;
}

.slideBtns {
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}

.slideBtns.btns-disable {
    opacity: 0.8;
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 30px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gray-lighten;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 1;
    padding: 5px 10px 5px 7px;
    color: $white;
}

.slider:before {
    position: absolute;
    content: "";
    z-index: -1;
    height: 30px;
    width: 60px;
    left: 0;
    bottom: 0;
    background-color: $gray;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider:before {
    background-color: #005c39;
}

input:focus+.slider {
    box-shadow: 0 0 1px #005c39;
}

input:checked+.slider.active:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
}

.light-ripple {
    overflow: hidden;
    transition: 0.1s ease-in;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}

.dark-ripple {
    @extend .light-ripple;
}

.lRipple {
    background-color: rgba(265, 265, 265, 0.45);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    position: relative;
    -webkit-transform: scale(0);
    transform: scale(0);
    position: absolute;
}

.dRipple {
    @extend .lRipple;
    background-color: rgba(88, 88, 88, 0.28);
}

.animate {
    -webkit-animation: ripple 0.4s linear;
    animation: ripple 0.4s linear;
}

@-webkit-keyframes ripple {
    100% {
        -webkit-transform: scale(12);
        transform: scale(12);
        background-color: transparent;
    }
}

@keyframes ripple {
    100% {
        -webkit-transform: scale(12);
        transform: scale(12);
        background-color: transparent;
    }
}