.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 45%;
  display: block;
  width: 30px;
  height: 50px;
  margin-top: -22px;
  padding: 0;
  cursor: pointer;
  color: $secondary_color;
  border: none;
  outline: none;
  background: transparent;
  z-index: 9;
  box-shadow: none;
}

.bxslider .slick-prev {
  left: 0;
}

.slick-prev {
  left: 20px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 5px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}

.slick-initialized .slick-slide {
  display: block;
  height: auto;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.slick-next {
  right: 5px;
}

ul.slick-dots {
  position: absolute;
  bottom: 6px;
  width: 100%;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      cursor: pointer;
      color: $secondary_color;
      border: 0;
      outline: none;
      background: transparent;

      &::before {
        line-height: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 10px;
        height: 10px;
        content: "";
        text-align: center;
        background: $primary_color;
        border-radius: 10px;
      }
    }

    &.slick-active {
      button {
        &:before {
          background: $secondary_color;
        }
      }
    }
  }
}

.slick-prev:hover,
.slick-next:hover {
  background: transparent;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: $secondary_color;
}

.slick-prev:before,
.slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  line-height: 1;
  opacity: 0.75;
  color: $secondary_color;
  font-weight: 900;
}

.slick-prev::before {
  content: "\f053";
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: $secondary_color;
}

.slick-next::before {
  content: "\f054";
}

.cimm_stickyPageWrap {
  min-height: 100%;
  margin: 0 auto -355px auto;
  width: 100%;
  &:after {
    content: "";
    display: block;
  }
}

.cimm_sliderWrap {
  overflow: hidden;

  /*___________________Carosal Block Title (Eg: slick sliders in home page)____________________*/

  .cimm_CaroBlockTitle {
    letter-spacing: 1px;

    label {
      background: #fff;
      position: relative;
      z-index: 1;
    }
    /*&:after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            background: $default_font-color;
            left: 0;
            top: 50%;
        }*/
  }

  .cimm_caroWrap {
    margin: 0 0 0 -8px;
    padding: 0 !important;
    &.slick-vertical {
      margin: -15px 0 0 0;
      padding: 20px 0 30px 0 !important;
      .slick-slide {
        margin: 15px 0 0 0;
        &[aria-hidden="true"] {
          box-shadow: 0 0 0 #ababab;
        }
      }
      .slick-next {
        top: 30px;
        height: 30px;
        width: 50px;
        left: 50%;
        margin-left: -25px;
        &:before {
          content: "\f106";
          line-height: 0.5;
        }
      }
      .slick-prev {
        top: calc(100% - 10px);
        height: 30px;
        width: 50px;
        left: 50%;
        margin-left: -25px;
        &:before {
          content: "\f107";
          line-height: 0.5;
        }
      }
    }
    .slick-slide {
      margin: 0 0 0 15px;
    }

    li {
      float: left;
      ul {
        padding: 0;
        .sliderDescrip {
          min-height: 64px;
        }
        li {
          float: none;
          list-style-type: none;
          margin: 0;
        }
      }
    }
  }
  .cimm_linkItemImg {
    height: 200px;
    width: 100%;
    position: relative;
    a {
      display: block;
      img {
        max-width: 100%;
        width: auto;
        display: block;
        //vertical-align: middle;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-height: 200px;
      }
    }
  }
  .cimm_linkItemDesp {
    padding: 5px 10px 10px 10px;
    li {
      float: none;
      img {
        width: auto;
        display: inline-block;
      }
    }
  }
}

.cimm_slideBrandImg {
  width: 100%;
  height: 100px;
  position: relative;

  a {
    text-align: center;
    height: 100%;
    img {
      max-width: 100%;
      width: auto;
      display: block;
      //vertical-align: middle;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-height: 100px;
    }
  }
}

.cimm_slideItemImg {
  width: 100%;
  height: 200px;
  position: relative;
  a {
    text-align: center;
    height: 100%;
    img {
      max-width: 100%;
      width: auto;
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-height: 198px;
    }
  }
}

.cimm_slideItemDesp {
  padding: 10px;
  /*background: $gray-lighten;*/
  .productTitle {
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    min-height: 40px;
    height: 40px;
    color: $primary_color;
    font-size: $font_lg;
    text-align: center;
    outline: 0;
    &:focus{
      outline: 0;
    }
  }
  ul {
    li {
      margin: 0 0 5px 0;
    }
  }
}
