.table {
  > tbody {
    > tr {
      > td {
        vertical-align: middle;
      }
    }
  }
  > thead {
    > tr {
      > th {
        vertical-align: middle;
      }
    }
  }
}

.table.customBorderTable {
  thead {
    tr {
      th {
        text-transform: uppercase;
        border: none;
        border-top: 1px solid $border-color !important;
        text-align: center;
        &:first-child {
          text-align: left;
        }
      }
    }
  }
  tbody {
    tr {
      &:last-child {
        td {
          border-bottom: 1px solid $border-color;
        }
      }
    }
    td {
      border: none;
      border-top: 1px solid $border-color;
      position: relative;
      vertical-align: middle;
      text-align: center;
      font-size: 12px;
      &:after {
        content: "";
        width: 1px;
        min-height: 90%;
        height: 110px;
        background: $border-color;
        position: absolute;
        top: 5px;
        right: 0;
      }
      a.updateLink {
        display: block;
        text-decoration: underline;
      }
      &:last-child:after {
        content: none;
      }
      .cimm_cartProdDescription {
        width: 280px;
        text-align: left;
        min-height: 110px;
        input {
          padding: 2px 5px;
          width: 100%;
        }
      }
    }
  }
}

.compareTableWrap {
  .table {
    thead {
      tr {
        th {
          text-align: center;
          &:first-child {
            text-align: left;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          width: 120px;
          text-align: center;
          &:first-child {
            text-align: left;
          }
          a.comprProdTitle {
            display: block;
          }
        }
      }
    }
  }
  .pushbtnGroup {
    display: block;
    text-align: center;
    li {
      display: inline-block;
    }
  }
  .different.active {
    background: #ff5555;
    color: #fff;
  }
  .similar.active {
    background: #9df59d;
    color: $default_font-color;
  }
}

.tableWrapper,
.tablesWrap {
  max-width: 100%;
  overflow-y: auto;
}

@media only screen and (max-width: 992px) {
  /* Force table to not be like tables anymore */
  table.rwd-table,
  .rwd-table thead,
  .rwd-table tbody,
  .rwd-table th,
  .rwd-table td,
  .rwd-table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .rwd-table thead tr {
    display: none;
  }

  .rwd-table tr {
    border: 1px solid #ccc;
  }

  .table.rwd-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 20px 8px 8px 50%;
    white-space: normal;
    text-align: left;
    word-wrap: break-word;
  }
  .table.rwd-table td[colspan] {
    padding: 20px 8px;
    text-align: center;
  }
  .rwd-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    max-width: 48%;
    padding-right: 10px;
    text-align: left;
    font-weight: bold;
  }
  .rwd-table td:before {
    content: attr(data-th);
  }
  #salesrepModal,
  #ShipDiv {
    .col-sm-6,
    .col-sm-5,
    .col-sm-7 {
      width: 100%;
      text-align: center;
      margin-bottom: 6px;
    }
    .dataTables_filter,
    .dataTables_paginate {
      text-align: center;
    }
    .form-inline {
      .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
      }
    }
  }
}

.table_quoterequest {
  tbody {
    tr {
      td {
        position: relative;
        .autosuggestspan {
          position: absolute;
          background: $white;
          z-index: 99;
          background: darken($tertiary_color, 3%);
          border: 1px solid lighten($border-color, 30%);
          > ul {
            min-width: 665px;
            max-height: 250px;
            overflow: auto;
            &::-webkit-scrollbar {
              width: 4px;
            }
            &::-webkit-scrollbar-track {
              background: $white;
            }
            &::-webkit-scrollbar-thumb {
              background: lighten($secondary_color, 50%);
            }
            &.rowul {
              > li {
                min-height: 50px;
                font-family: $default_font-family;
                padding: 5px;
                display: table;
                border-bottom: 1px solid lighten($border-color, 30%);
                &:hover {
                  background: darken($tertiary_color, 8%);
                  cursor: pointer;
                }
                &.active {
                  background: darken($tertiary_color, 8%);
                  cursor: pointer;
                }
                > span {
                  vertical-align: top;
                  text-align: left;
                  padding: 5px;
                  width: 185px;
                  display: table-cell;
                  &.itemdescspan {
                    width: 50.5%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.dataTables_empty {
  padding: 8px !important;
  text-align: center !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc:after{
  opacity: 1;
  color: $white;
}
table.dataTable thead tr{
  background-color: $secondary_color;
  color: $white;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
  border-top: 0;
}
#invoiceTable.table{
  thead{
    border-top: 2px solid #e0e0e0;
  }
}