.ac_trending{
	position: absolute;
	background-color: $white;
	z-index: 999;
	box-shadow: 0 2px 4px $gray;
	width: 100%;
	top: 34px;
	padding: 10px 0;
	text-align:left;
	font-size: 12px;
	ul {
		li {
			line-height: 24px;
			font-weight: 500;
			text-transform: capitalize;
			&.ac_heading{
				color: #8e8e8e;
				padding: 0 15px;
				em{
					margin-right: 8px;
				}
			}
			a{
				display: block;
				padding: 0 15px;
				color: $default_font-color;
				&:hover{
					background: $gray-lighten;
				}
			}
		}
	}
}

.ac_results {
    position: absolute;
	background-color: $white;
	border: 1px solid $gray;
	z-index: 999;
	box-shadow: 0 2px 4px $gray;
	width: 100%;
	top: 34px;
    ul {
        li {
            text-align: left;
            margin: 0px;
            padding: 6px 10px;
            cursor: pointer;
            color: $default_font-color;
            font: menu;
            font-size: 12px;
            line-height: 16px;
            overflow: hidden;
			width: 100%;
            &.catheader, &.catheader.ac_over {
                font-size: 14px;
                background-color: $primary_color;
                color: $white;
                cursor: default;
                text-align: left;
            }
			&.ac_over{
				background: $autocomleteBg;
			}
            strong {
                color: $primary_color;
            }
            &.suggest {
                position: absolute;
                left: 100%;
                top: -1px;
                background: $white;
                width: 450px;
                border: 1px solid $gray;
                padding: 0;
                min-height: 424px;
                box-shadow: 2px 2px 4px $gray;
                padding: 10px;
                min-height: 150px;
                &.hideSuggest {
                    display: none;
                }
				.cat-product {
					margin-top: 6px;
					padding-top: 8px;
					border-top: 1px solid #CCC;
				}
                .titleImg-container {
                    min-height: 60px;
                    text-align: left;
                    .parent-title {
                        color: $default_font-color;
                        float: left;
                        width: calc(100% - 90px);
                        font-size: 16px;
                    }
                    a.title {
                        color: $primary_color;
                        font-family: $secondary_font-family;
                        letter-spacing: 1px;
                        width: calc(100% - 90px);
                        float: left;
                        padding: 5px 0;
                        text-transform: uppercase;
                        font-size: 16px;
                    }
                    img {
                        width: 85px;
                        float: right;
                    }
                }
                .cat-product {
					.cat_img{
						width: 50px;
						height: 50px;
						margin-right: 10px;
						float: left;
						border: 1px solid $gray-lighten;
						img {
							vertical-align: middle;
							max-width: 100%;
							max-height: 100%;
							text-align: center;
						}
					}
                    .info {
                        width: calc(100% - 60px);
                        vertical-align: middle;
						float: left;

						.ac_titleWrap{
							width: calc(100% - 135px);
							float: left;
							a {
								color: $default_font-color;
								font-size: 16px;
								display: block;
								font-weight: bold;
								padding: 0 0 5px 0;
							}
							p {
								color: $default_font-color;
								font-size: 14px;
							}
						}
						.ac_priceWrap{
							width: 125px;
							float: left;
							margin-left: 10px;
							.log-addTocart-btn {
								font-size: 12px;
								margin-top: 5px;
								height: auto;
							}
						}
                       
                    }
                }
                a.button {
					float: right;
					width: auto;
					padding: 6px 10px;
					height: auto;
                }
				.autocomplete-cat a.button {
					float: left;
				}
            }
        }
    }
}
.catWrap {
	width: 35%;
	float: left;
	div {
		text-align: left;
		font: menu;
		line-height: 24px;
		strong {
			color: $primary_color;
		}
	}
	li:first-child {
		background: $autocomleteBg;
	}
}
.ac_results {
	.itemWraper{
		padding-top: 22px;
		width: 65%;
		float: left;
		background: $autocomleteBg;
		.prodWrap{
			li {
				display: inline-block;
				width: 25%;
				span{
					display: block;
					margin-top: 5px;
					height: 50px;
				}
				img {
					width: 100%;
					display: block;
				}
				&.ac_over{
					background: $white;
				}
			}
		}
		.mfgWrap{
			padding-bottom: 5px;
			li {
				&.ac_over{
					background: $white;
				}
			}
		}
		> a{
			background: $primary_color;
			color: $white;
			padding: 6px 25px;
			display: inline-block;
			margin-bottom: 10px;
			font-size: 14px;
			font-family: $default_font-family;
			font-weight: 300;
		}
	}
}