<html>
    <head>
    <link rel="stylesheet" href="/ASSETS/WEB_THEMES/ECOMMERCE_STD_TEMPLATE_V2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/ASSETS/WEB_THEMES/ECOMMERCE_STD_TEMPLATE_V2/css/unilogweb.css"/>
        <style>
			body{
				padding-top: 150px;
			}
            .line-head{
                border:2px solid #0080ff;
               
            }
            .header-logo{
                text-align: center;
            }
            .content-head , .content-para{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8 col-lg-12">
                    <hr class="line-head">
                    <div class="header-logo">
                        <img src="/ASSETS/WEB_THEMES/ECOMMERCE_STD_TEMPLATE_V2/images/logo.png">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-8 col-lg-12">
                    <h3 class="content-head">Thank you for visiting us.</h3>
                        <p class="content-para"> The <span>SECO</span> web store is temporarily unavailable. Web apologize for the inconvience. Please come back soon.<br/>
                        <br/>In meantime, If we may be of assistance please feel free to contact us at your convenience:<br/>
                        <h4 class="content-head">E-mail ID:<a href="#">cs@seco.us</a> Phone<span>610-358-2855</span></p>
                        <hr class="line-head">
                </div>
            </div>        
        </div>
    </body>
</html>
