<div class="cimm_orderHistSearchByWrap">           
	<h6 class="sitePrimeColor"> $locale.get("orderhistorypage.label.account")</h6>
</div>      
	<div class="test">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<span><b>$!locale.get('label.accountInq.client')</b></span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<span>$!userAccountDetail.CustomerName</span>
			</div>
			<div class="col-md-6 col-sm-12 col-xs-12">
				<span>$!locale.get('label.accountInq.clientNo') : $!userAccountDetail.customerId</span>
			</div>
		</div>
		<!-- <div class="row">
			<div class="col-md-12">
				<span>$!userAccountDetail.address1</span>
			</div>
		</div> -->
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>$!locale.get('label.accountInq.overdueBal')</span>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>Q $!userAccountDetail.pastDues</span>
				
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>$!locale.get('label.accountInq.totalBal')</span>
				
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>Q $!userAccountDetail.balance</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>$!locale.get('label.accountInq.creditNote')</span>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span> Q $!userAccountDetail.openOrderBalance</span>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>$!locale.get('label.accountInq.paymentAvg')</span>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>$!userAccountDetail.avgPaymentDays</span>	
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>$!locale.get('label.accountInq.term')</span>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>$!userAccountDetail.termsTypeDesc</span>	
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>$!userAccountDetail.lastPaymentDate</span>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<span>Q $!userAccountDetail.lastPaymentAmount</span>
			</div>
		</div>
		<div id="accountTable" class="accountTable cimm_siteTableEnclosure"></div>
	</div>
	
	<style type="text/css">
	.hideMe .DataTables_sort_wrapper{
		display:none;
	}
	</style>
	