#if($userLogin)
#if($!session.getAttribute("isPunchoutUser")!="Y")
<li><a href="$!locale.get('website.url.AccountDashboard')"><i class="fas fa-tachometer"></i>$!locale.get("product.heading.accountDashBoard")</a></li>
#if($!session.getAttribute('isAdmin')=="Y")<li><a href="statementYearsUnit.action"><i class="far fa-info-circle"></i>Account Summary</a></li>#end
<!-- <li><a href='AccountInquiryUnit.action?reqType=MStat'>$!locale.get("orderhistorypage.label.monthlystatment")</a>  </li> -->
<li><a href="$!locale.get('website.url.ChangePassword')"><i class="far fa-lock-alt"></i>$!locale.get("product.heading.changePassword")</a></li>
<!-- <li><a href="$!locale.get('website.url.Address')">$!locale.get('product.heading.userInformation')</a></li> -->
#if($!session.getAttribute("multipleShipAddressAvailable")=="Y")
<li><a onclick="loadShippingInfo();"><i class="fa fa-address-card" aria-hidden="true"></i>$!locale.get("product.heading.changeShippingAddress")</a></li>
#end
<li><a href="$!locale.get('website.url.EditContact')"><i class="far fa-pencil-alt"></i>$!locale.get("product.heading.editContactInfo")</a></li>
<li><a href='OpenOrderSale.action?reqType=webOrder&orderStatus=New'><i class="far fa-exchange-alt"></i>$!locale.get("product.heading.openOrders")</a></li>
<!-- <li><a href='OpenOrderSale.action?reqType=BID&orderStatus=New'>$!locale.get("product.heading.openBids")</a></li> -->
<li><a href='$!locale.get("website.url.OrderHistory")'><i class="far fa-history"></i>$!locale.get("product.heading.orderHistory")</a></li>
#end
<li><a href="$!locale.get('website.url.SavedGroup.Product')"><i class="far fa-bookmark"></i>$!locale.get("product.button.myProductGroup")</a></li>
<li><a href='$!locale.get("website.url.SavedGroup.Cart")'><i class="fal fa-cart-plus"></i>$!locale.get("product.heading.mySavedCart")</a></li>
#if($!session.getAttribute("isPunchoutUser")!="Y")
<li><a href='$!locale.get("website.url.RequestForQuote")'><i class="far fa-file"></i>$!locale.get("product.heading.requestForQuote")</a></li>
<li><a href='$!locale.get("website.url.QuickOrder")'><i class="far fa-list-ul"></i>$!locale.get("product.heading.quickOrderPad")</a></li>
<!-- #if(($!session.getAttribute("isAdmin")=="Y" || $!session.getAttribute("isAuthPurchaseAgent")=="Y" || $!session.getAttribute("parentUserId")==0) && $!session.getAttribute("isGeneralUser")=="N" && $session.getAttribute("erpType")!="defaults")
<li><a href="$!locale.get('website.url.AddNewPCard')"><i class="far fa-credit-card"></i>$!locale.get("product.label.addNewCreditCard")</a></li>
#end -->
#if($!session.getAttribute('isAuthPurchaseAgent')=="Y" || $!session.getAttribute('isAdmin')=="Y")
<li><a href="$!locale.get('website.url.SavedGroup.ApproveCart')"><i class="far fa-check-square"></i>$!locale.get("product.heading.approvalCartList")</a></li>
#end
#if($!session.getAttribute('isAdmin')=="Y")
<li><a href='$!locale.get("website.url.ManagePurchasingAgent")'><i class="far fa-users"></i>$!locale.get("product.heading.userManagement")</a></li>
<li><a href='$!locale.get("website.url.ConfigurePunchoutSetup")'><i class="far fa-cogs"></i>$!locale.get("product.heading.configureProcurementSystem")</a></li>
<!-- <li><a href='$!locale.get("website.url.AddNewPurchasingAgent")'><i class="fa fa-user-plus" aria-hidden="true"></i>$!locale.get("product.heading.addNewPurchasingAgent")</a></li>
<li><a href='$!locale.get("website.url.ManagePurchasingAgent")'><i class="fa fa-cogs" aria-hidden="true"></i>$!locale.get("product.heading.managePurchasingAgent")</a></li>
<li><a href='$!locale.get("website.url.DisablePurchaseAgent")'><i class="fa fa-user-times" aria-hidden="true"></i>$!locale.get("product.heading.disablePurchasingAgent")</a></li> -->
#end
#if($!session.isAuthPurchaseAgent=="" && $!session.isAdmin=="" && $!session.parentUserId!=0)
<li><a href='$!locale.get("website.url.SavedGroup.ApproveCart")'><i class="far fa-check-square"></i>$!locale.get("product.heading.approvalCartList")</a></li>
#end
<li><a href="javascript:void(0);" onclick="doLogOffScript();"><i class="far fa-check-square"></i>$!locale.get("product.heading.signOut")</a></li>
#end
#else
<li><a href="/Login"><i class="fa fa-lg fa-lock"></i>$!locale.get('register.label.login')</a></li>
<li><a href="$!locale.get('website.url.Register')"><i class="fa fa-lg fa-list-alt"></i>$!locale.get('product.heading.register')</a></li>
#end