<div class="row">
	<div class="col-md-3 col-sm-12 col-xs-12"></div>
	<div class="col-md-6 col-sm-12 col-xs-12">
		<div id="notificationDiv"> </div>
	</div>
	<div class="col-md-3 col-sm-12 col-xs-12"></div>
</div>
<div class="row">
	#if($!mailMessage) 
	<div class="col-md-3 col-sm-2 col-xs-12"></div>
	<div class="col-md-6 col-sm-8 col-xs-12">
		<form id="advancePassword" method="post">
			<input type="hidden" name="mailMessage" id="mailMessage" value="$!mailMessage"/>
			<input type="hidden" name="requestFrom" id="requestFrom" value="$!requestFrom"/>
			<div class="form-group">
				<label for="password">$!locale.get("form.label.password") <span class="text-danger">*</span></label>
				<input type="password" name="password" id="password" onkeypress="runScript(event)" class="form-control"/>
			</div>
			<div class="form-group">
				<label for="confirmPassword">$!locale.get("form.label.confirmPassword") <span class="text-danger">*</span></label>
				<input type="password" name="confirmPassword" id="confirmPassword" onkeypress="runScript(event)" class="form-control"/>
			</div>
			<div class="form-group">
				<input type="button" id="submitBtn" class="button" value="Submit" onclick="return forgotPasswordAdvanced();"/> 
			</div>
		</form>
		#if($!requestFrom=="cpol")
		<div class="col-md-12 col-sm-12 col-xs-12">
		$!locale.get("change.password.on.login.display.message")
		</div>
		#end
	</div>
	<div class="col-md-3 col-sm-2 col-xs-12"></div>
	#else
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="alert alert-danger">
			<p>Your Password reset request has been disabled.</p>
		</div>
	</div>
	#end
</div>