<input type="hidden" id="advSearchHidden" name="advSearchHidden" value="1"/>
<input type="hidden" id="srchTypeAuto" name="srchType" value="$!srchTyp">
<input type="hidden" id="advSearchUpcID" name="srchType" value="$!itemData.upc" />
<input type="hidden" id="refreshed" value="no">
<script type="text/javascript">
$(document).ready(function(){
	changeAdvSearch();
});
onload=function(){
	var e=document.getElementById("refreshed");
	if(e.value=="no")
		e.value="yes";
	else{
		e.value="no";
		location.reload();
	}
}
function showMoreAdvOpt(){
	var sType = $('input[name=searchBy]:checked').val();
	if(sType==-1)
		$("#keyWordMatch").show();
	else
		$("#keyWordMatch").hide();
}
</script>
<div class='row'>
	<div class="col-md-3 col-ms-6 col-xs-12">
		<label for='searchCustomerPartNumber' class="customRadioBtn">
			<input type='radio' name='searchBy' id='searchCustomerPartNumber' value='1' checked onclick="changeAdvSearch()"/>
			<span>$locale.get("product.label.customerpartnumber")</span>
		</label>
	</div>
	<div class="col-md-2 col-ms-6 col-xs-12">
		<label for='advSearchUpc' class="customRadioBtn">
			<input type='radio' name='searchBy' id='advSearchUpc' value='2' onclick="changeAdvSearch()"/>
			<span>$locale.get("label.upc")</span>
		</label>
	</div>
	<div class="col-md-4 col-ms-6 col-xs-12">
		<label for='glantzCode' class="customRadioBtn">
			<input type='radio' name='searchBy' id='glantzCode' value='3' onclick="changeAdvSearch()"/>
			<span>$locale.get("product.label.manufacturerOrPartNumber")</span>
		</label>
	</div>
	<div class="col-md-3 col-ms-6 col-xs-12">
		<label for='description' class="customRadioBtn">
			<input type='radio' name='searchBy' id='description' value='-1' onclick="changeAdvSearch()"/>
			<span>$locale.get("product.label.description")</span>
		</label>
	</div>
</div>
<div id="keyWordMatch" class="row hideMe">
	<div class="col-md-3 col-ms-6 col-xs-12">
		<label for='allWords' class="customRadioBtn">
			<input type='radio' name='searchThrough' id='allWords' value='4' checked onclick="changeAdvSearch()"/>
			<span>$locale.get('search.label.allOfTheWords')</span>
		</label>
	</div>
	<div class="col-md-3 col-ms-6 col-xs-12">
		<label for='exactWordingPhrase' class="customRadioBtn">
			<input type='radio' name='searchThrough' id='exactWordingPhrase' value='5' onclick="changeAdvSearch()"/>
			<span>$locale.get('search.label.exactWordingOfPhrase')</span>
		</label>
	</div>
	<div class="col-md-3 col-ms-6 col-xs-12">
		<label for='oneOrMore' class="customRadioBtn">
			<input type='radio' name='searchThrough' id='oneOrMore'  value='6' onclick="changeAdvSearch()"/>
			<span>$locale.get("search.label.oneOrMoreOfTheseWords")</span>
		</label>
	</div>
</div>
<div class='row'>
	<div class="col-md-12 col-ms-12 col-xs-12 form-inline">
		<div class="form-group">
			<input type='text' name='keywords' placeholder="search" id="txtAdvSearch" value="#if($keyWord)$keyWord #end" class="form-control"/>
		</div>
		<button id="advSrchBtn" class="cimm_inlineButton" onclick="performAdvSearch();"><i class="fa fa-search"></i></button>
	</div>
</div>
