<h4 class="cimm_heading">$!locale.get("product.heading.accountStatements")</h4>
<hr/>
<div class="row">
	<div class="col-md-12">
		<div clas="row">		
			#foreach($accountBalance in $arBalanceDetails)			
			<div class="col-md-6 mBottom-3">
			<table class="table table-bordered table-striped rwd-table">
					<tr>
						<td>Balance :</td>
						<td>$accountBalance.balance</td>						
					</tr>
					<tr>
						<td>Past Due :</td>
						<td>$accountBalance.pastDue</td>						
					</tr>
				
				#foreach($eachSummary in $accountBalance.arSummaryDetails)
				<tr>
						<td>$eachSummary.futureBalanceText</td>
						<td>$eachSummary.futureBalance</td>						
					</tr>
					<tr>
						<td>Last Payment Date </td>
						<td>$eachSummary.lastPaymentDate</td> 
					</tr>
					<tr>
						<td>Last Payment Amount  </td>
						<td>$eachSummary.lastPaymentAmount</td>
					</tr>
				<tr>
					#if($eachSummary.period1Text)
					
					#set($period1Text = $!eachSummary.period1Text)
						<td><a href='OutStandingList?searchString=$eachSummary.period1Text'>$!period1Text</a></td>
						<td>$eachSummary.period1</td>
										
					#end
					</tr>
					
					<tr>
					#if($eachSummary.period2Text)
						<td><a href='OutStandingList?searchString=$eachSummary.period2Text'>$eachSummary.period2Text</a></td>
						<td>$eachSummary.period2</td>
					#end
					</tr>
					<tr>
					#if($eachSummary.period3Text)
						<td><a href='OutStandingList?searchString=$eachSummary.period3Text'>$eachSummary.period3Text</a></td>
						<td>$eachSummary.period3</td>
					#end
					</tr>
					<tr>
					#if($eachSummary.period4Text)
						<td><a href='OutStandingList?searchString=$eachSummary.period4Text'>$eachSummary.period4Text</a></td>
						<td>$eachSummary.period4</td>
					#end
					</tr>
					<tr>
					#if($eachSummary.period5Text)
						<td><a href='OutStandingList?searchString=$eachSummary.period5Text'>$eachSummary.period5Text</a></td>
						<td>$eachSummary.period5</td>
					#end
					</tr>
					<tr>
						<td>$eachSummary.total1Text</td>
						<td>$eachSummary.totalBalance1</td>
					</tr>
					<tr>
						<td>$eachSummary.total2Text</td>
						<td>$eachSummary.totalBalance2</td>
					</tr>
					<tr>
						<td>$eachSummary.total3Text</td>
						<td>$eachSummary.totalBalance3</td>
					</tr>
					<tr>
						<td>$eachSummary.total4Text</td>
						<td>$eachSummary.totalBalance4</td>
					</tr>
					<tr>
						<td>$eachSummary.total5Text</td>
						<td>$eachSummary.totalBalance5</td>
					</tr>
				#end
				 </table>
			</div>
			#end
			<!-- #if($!includeYearFilter == "Y")
			<div class="col-md-4">
				<div class="form-group">
				<select id="arYear" class="form-control">
					#foreach($year in $arYears)
						<option value="$!year" #if($year == $statementYear)selected#end>$!year</option>
					#end
				</select>
				</div>
			</div>
			#end	-->
		</div>
	</div>	
</div>



<div id="statementMonths">
	#if($arMonths.size() > 0)
	<div class="row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<table class="table display rwd-table">
				<tr>
					<th>Month</th>
					<th class="text-center">Document</th>
				</tr>
				#foreach($month in $arMonths)
				<tr>
					<td>$month</td>
					<td class="text-center"><a href="javascript:void(0);" data-month="$!month" data-year="$!statementYear" class="button downloadStatements" target="_blank">Download</a></td>
				</tr>
				#end
			</table>
		</div>
	</div>
	#end
</div>

<script>
jQuery(document).ready(function(){
	
	jQuery("#arYear").on('change', function(event){
		var year = event.target.value;
		block();
		jQuery("#statementMonths").html("<img src='/ASSETS/WEB_THEMES/PURVIS_INDUSTRIES/images/loading.gif'/>");
		jQuery.post("/statementMonthsUnit.action",{ "year" : year }, function(response){
			unblock();
			if(response && response != "$renderContent"){
				jQuery("#statementMonths").html(response);
			}
		});
	});

	jQuery(".downloadStatements").on('click', function(event){
		var srcObj = event.target;
		var attributes = srcObj.dataset;
		block();
		jQuery.post("/statementFilePathUnit.action", {"year" : attributes.year, "month" : attributes.month }, function(response){
			unblock();
			if(response && response != "$renderContent" && response.length > 0){
				srcObj.href = "/"  + response;
			}else{
				bootAlert("small","error","Error","Statement Document is Not Attached.");
			}
		});
	});
});
</script>