<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<input type="hidden" id="eventCat" value=""/>
		<input type="hidden" id="FirstLoadEvent" name="FirstLoadEvent" value="Y"/>
		<input type="hidden" id="custFieldEvent" value="$eventsCustomFieldList.fieldName">
		<a href='#' class='category' id="category" style="display:none;">$locale.get("filter.label.applyFilter")</a><br/>
		<div id="eventCalendarInline">
			<div class="goingEvents"></div>
			<div class='calendarFilterWrap'>
				<div class="tableHeader clearAfter">
					<ul class='calendarFilterHead pullRight clearAfter'>
						<li><label id="day">$!locale.get('event.label.day')</label></li>
						<li><label id="week" class="thiWeekEvents">$!locale.get('event.label.week')</label></li>
						<li class="active"><label id="month">$!locale.get('event.label.month')</label></li>
					</ul>
				</div>
				<div class="calendarFilter">
					<div class="calendarFilterHead"><h2 id="monthNameDisplay"></h2> Displaying events for all audiences</div>
					<table id="events_Table" class="table display rwd-Table"><thead><tr><th></th></tr></thead></table>
				</div>
			</div>
		</div>
	</div>
</div>