<div class="row">
	<div class="col-md-5">
		<form id="changePassword" action="ChangePasswordUnit.action" onsubmit="submitThisForm(this); return false;" method="post">
			<div class="row">
				<div class="col-md-12 col-sm-6 col-xs-12">
					<div class="form-group username">
						<span><b>$!locale.get("label.name.user"):</b></span>
						<span class="sitePrimeColor"><strong>$!userName</strong></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-6 col-xs-12">
					<div class="form-group">	
						<label for="oldPassword">$!locale.get("form.label.oldPassword")</label>											
						<input type="password" name="oldPassword" id="oldPassword" autocomplete="off" class="form-control" placeholder="$!locale.get('form.label.oldPassword')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.password.oldPassword')" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-6 col-xs-12">
					<div class="form-group">
						<label for="newPassword">$!locale.get("form.label.newPassword")</label>
						<input type="password" name="newPassword" id="newPassword" class="form-control" autocomplete="off" placeholder="$!locale.get('form.label.newPassword')" data-type="password" data-required="Y" data-error="$!locale.get('form.user.password.newPassword')" data-invalid="$!locale.get('form.user.password.invalid')"/>					
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-6 col-xs-12">
					<div class="form-group">
						<label for="confirmPassword">$!locale.get("form.label.confirmPassword")</label>
						<input type="password" name="confirmPassword" id="confirmPassword" class="form-control" autocomplete="off" placeholder="$!locale.get('form.label.confirmPassword')" data-password="newPassword" data-type="password" data-required="Y" data-error="$!locale.get('form.user.password.confirmPassword')" data-invalid="$!locale.get('form.user.password.mismatch')"/>					
					</div>
				</div>
			</div>			
			<div class="row">
				<div class="col-md-12 col-sm-6 col-xs-12">
					<div class="form-group">
						<button type="submit" id="updateBtn" name="updateBtn" class="button">$!locale.get('product.button.update')</button>
						<button type="reset" value="cancel" class="button pull-right">$locale.get("product.label.clearAll")</button>
					</div>
				</div>
			</div>
			<div class="cimm_caption">$!locale.get("form.label.pleaseNote")</div>
		</form>
	</div>
	<div class="col-md-7"></div>
</div>
<div id="successBlock" class="hideMe">
	<a href="$!locale.get('website.url.AccountDashboard')" class="button">$!locale.get('product.label.backToDashboard')</a>
</div>