<script type="text/javascript">
	var bannerBlockId = '';
	var bannerWidth= '';
	var bannerHeight = '';
	
	if(bannerWidth=="")
	bannerWidth = "600";
	
	if(bannerHeight=="")
	bannerHeight="300";

	var siteFont = ['Roboto Regular=RobotoRegular','Roboto Black=RobotoBlack','Roboto Condensed Bold=RobotoCondensedBold'];
	var siteFontSize = "8pt 10pt 12pt 14pt 18pt 24pt 36pt";
</script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/jquery.highlight.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/slick.js"></script>
   
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/js/tinymce.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/js/jquery.tinymce.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/js/tinymce.min_4.5.3.js?$!refreshVersion"></script> 
   
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/themes/modern/theme.min.js" ></script>

<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/fontawesome/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/autolink/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/advlist/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/autosave/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/link/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/image/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/lists/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/print/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/preview/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/charmap/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/hr/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/anchor/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/pagebreak/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/spellchecker/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/searchreplace/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/wordcount/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/visualblocks/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/code/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/fullscreen/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/insertdatetime/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/visualchars/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/media/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/nonbreaking/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/table/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/directionality/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/emoticons/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/contextmenu/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/template/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/textcolor/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/paste/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/textpattern/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/fullpage/plugin.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/tinyMCE_CMS-4.5.3/4.16/plugins/colorpicker/plugin.min.js"></script>

<script type="text/javascript" src="$!cmsArtifactsPath/js/cms/cmsscript.js?$!refreshVersion"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/jquery.gridmanager.js?$!refreshVersion" ></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/jquery.colorbox.js?$!refreshVersion" ></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/cms/jquery.serializejson.js" ></script>

<script type="text/javascript" src="$!cmsArtifactsPath/js/jquery-carousel-core.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/jquery-carousel-lazyload.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/jquery-carousel-nav.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/jquery-carousel-touch.js"></script>

<script type="text/javascript" src="$!cmsArtifactsPath/js/slider/jssor.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/slider/jssor.slider.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/slider/jssor.player.ytiframe.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/slider/jsor.customJs.js"></script> 

<script type="text/javascript" src="$!cmsArtifactsPath/js/html2canvas.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/contextmenu/jquery.contextMenu.js"></script>

<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/codemirror.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/jshint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/jsonlint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/csslint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/csshint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/showhint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/xmlhint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/htmlhint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/mode/xml/xml.js"></script> 
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/mode/css/css.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/mode/velocity/velocity.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/mode/htmlembedded/htmlembedded.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/edit/matchbrackets.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/edit/matchtags.js"></script>			
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/search/search.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/search/searchcursor.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/dialog/dialog.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/display/fullscreen.js"></script>			
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/fold/foldcode.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/fold/foldgutter.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/fold/brace-fold.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/fold/xml-fold.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/fold/comment-fold.js"></script> 
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/formatting.js"></script> 

<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/lint/lint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/lint/javascript-lint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/lint/json-lint.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/codemirror/addon/lint/css-lint.js"></script>
 <input type="hidden" id="siteName" value="$siteNamme">
<script>
var rootContext = '';
</script>
<style type="text/css">
@media (max-width:1824px) and (min-width:1200px) {
	.bodyContent {
		padding-top: 50px;
	}
}
@media (max-width:1200px) and (min-width:1024px) {
	.bodyContent {
		padding-top: 90px;
	}
}
</style>