<BASE href="$!hostName">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
#parse("font-awesomeV5.html")
#parse("bootstrap-min-css.html")
#set($currentWebTheme = "unilogweb.css")
#if($!CommonDBQuerySystemParameter.get("ScheduledThemeFileName").toLowerCase().contains(".css"))
	#set($currentWebTheme = $!CommonDBQuerySystemParameter.get("ScheduledThemeFileName"))
#elseif($!CommonDBQuerySystemParameter.get("ThemeFileName").toLowerCase().contains(".css"))
	#set($currentWebTheme = $!CommonDBQuerySystemParameter.get("ThemeFileName"))
#end
<link rel="stylesheet" type="text/css" href="$!webThemes/$siteName/css/$!currentWebTheme?$!refreshVersion" media="all" />
<link rel="stylesheet" type="text/css" href="/ASSETS/CSS_FILES/CustomCss.css?$!refreshVersion" media="all" />
<input type="hidden" id="cmsArtifactsPath" value="$!cmsArtifactsPath"/>
<script type="text/javascript" src="$!cmsArtifactsPath/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="$!cmsArtifactsPath/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="$!webArtifactsJsPath$!cdnPluginJs/lazysizes.min.js"></script>
<script type="text/javascript" src="$!webArtifactsJsPath$!cdnPluginJs/bootstrap.min.js"></script>
<script type="text/javascript" src="$!webArtifactsJsPath$!cdnPluginJs/slick.js"></script>
<script type="text/javascript" src="$!webArtifactsJsPath$!cdnPluginJs/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="$!webArtifactsJsPath$!cdnPluginJs/jsaes.js"></script>
<script type="text/javascript" src="$!webArtifactsJsPath$!cdnPluginJs/bootbox.min.js"></script>
<script type="text/javascript" src="$!webArtifactsJsPath$!cdnSiteJs/siteScript.js?$!refreshVersion"></script>
<script type="text/javascript" src="$!webArtifactsJsPath$!cdnModuleJs/recentlyViewed.js"></script>