<link href="$!cdnUrl$!webThemes/CMS/css/styles_CMS.css" rel="stylesheet" type="text/css" />
<link href="$!cdnUrl$!webThemes/CMS/css/banner.css" rel="stylesheet" type="text/css" />
<script src="$!cdnUrl$!webThemes/CMS/js/cms/bannerpluginv2.js"></script>
<script  src="$!cdnUrl$!webThemes/CMS/js/slider/jssor.js" type="text/javascript"></script>
<script src="$!cdnUrl$!webThemes/CMS/js/slider/jssor.slider.js" type="text/javascript"></script>
<script src="$!cdnUrl$!webThemes/CMS/js/slider/jssor.player.ytiframe.js" type="text/javascript"></script>

<script src="$!cdnUrl$!webThemes/CMS/js/slider/jsor.customJs.js" type="text/javascript"></script>
<!-- <script type="text/javascript" src="$!cdnUrl$!webThemes/CMS/js/slider/jssor.slider.min.js"></script>
<script type="text/javascript" src="$!cdnUrl$!webThemes/CMS/js/slider/jssor.slider.mini.js"></script> -->
<div id="bannerWrapper">
	<div id="bannerLeftColumn">
		<div id="previewWrapper" style="width:800px; height:400px;">
			<div id="previewContainer" ><div style="margin:40px auto;width:100%;opacity: 0.5;text-align:center;">
			<h1>Preview Block</h1></div></div>
		</div>
	</div>

	<div id="bannerRightColumn">
		<div style="height:520px;">
		<form method="get" action="bannerListCms.action">
				<input class="cms_bannerSearch" type="text" id="bannerSearchBox"  value="$!query" name="query" placeholder="Enter Banner List Name to Search"/>
				<button class="banner_addNewBtn" type="submit" style="margin-left: -4px;top:-4px;position:relative;padding: 0px 5px 7px 5px;"><i class="list-search-icn fa fa-search"></i></button>
				</form>
				<p style="color:green"></p>
				
				<ul id="bannerSelectList">
				
				#foreach($bannerData in $bannerList.resultSet)
				<li>
				<img src="$!cdnUrl$!webThemes/CMS/images/small/viewItems.png" title="Preview" style="cursor:pointer;" onclick="bannerPreview('$bannerData.id')">
				<label><input type="radio" value="$bannerData.id" name="bannerGroup">  <i class="fa fa-check fa-2x" title="Selected Banner List"></i></label>
				<a href="editBannerCms.action?bannerListId=$bannerData.id"><img src="$!cdnUrl$!webThemes/CMS/images/small/edit.png" title="Edit Banner List" style="cursor:pointer;margin:-10px 10px 0 0;"></a>
				<img src="$!cdnUrl$!webThemes/CMS/images/small/delete.png" title="Delete Banner List" style="cursor:pointer;margin:-8px 10px 0 0;height:16px;" onclick="deleteBanner($bannerData.id,'$bannerData.bannerListName')">
				<a href="editBannerCms.action?bannerListId=$bannerData.id">$bannerData.bannerListName </a><br />
				</li>
				#end
				
				</ul>
				<script>
				#set($pageNo = ($bannerList.pageNo - 1))
paginationScript($bannerList.totalPages,"bannerListCms.action?query=$!query&page=",$pageNo,1);
</script>
	 			<button onclick="useThisBanner();"  class="banner_selBtn" >Use Selected Banner List</button>
				<a href="/editBannerCms.action" class="banner_addNewBtn" style="padding: 6px 5px 10px 5px;">New Banner List</a>
				<button onclick="closeBannerPopup();" class="banner_cancelBtn">Cancel</button>
		</div>
	</div>
	<input type="hidden" name="bannerListId" value="$bannerListId" />
	<input type="hidden" id="bannerListId" value="$bannerListData.id" />
							
</div>

<style>
.pgnation {
    text-align: center;
    margin: 10px 0px;
}
.pgnation span {
        color: #fff;
        padding: 2px 8px;
        background: #1B63AB;
        font-size: 15px;
}

.pgnation a {
        color: #1B63AB;
        font-weight: 600;
        margin: 0 3px;
        padding:2px 8px;
        background:#ebebeb;
        font-size:15px;
}
.pgnation a i {
        font-size: 18px;
}

.pagebarUTH{
background: white;
    box-shadow: 0px 0px 2px #888888;
    padding: 3px;
        margin: 0 5px 0 0;
}
			    /* jssor slider arrow navigator skin 03 css */
			    /*
			    .jssora03l              (normal)
			    .jssora03r              (normal)
			    .jssora03l:hover        (normal mouseover)
			    .jssora03r:hover        (normal mouseover)
			    .jssora03ldn            (mousedown)
			    .jssora03rdn            (mousedown)
			    */
			    .jssora03l, .jssora03r, .jssora03ldn, .jssora03rdn
			    {
			     position: absolute;
			     cursor: pointer;
			     display: block;
			     overflow:hidden;
			    }
			    .jssora03l { background: url($webThemes/CMS/images/small/CMS-slider-left.png) no-repeat;top:14px !important; width:15px !important;height:15px !important;}
			    .jssora03r { background: url($webThemes/CMS/images/small/CMS-slider-right.png) no-repeat;top:14px !important;right:50px !important;width:15px !important;height:15px !important; }
			    .jssora03l:hover {background: url($webThemes/CMS/images/small/CMS-slider-left.png) no-repeat; }
			    .jssora03r:hover { background: url($webThemes/CMS/images/small/CMS-slider-right.png) no-repeat; }
			    .jssora03ldn { background-position: -243px -33px; }
			    .jssora03rdn { background-position: -303px -33px; }
			    
			    .fa-2x {
				  font-size: 1.4em;
				}
				.fwbannerContainer {
    max-width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: 0;
    right: 0;
    width: 800px;
    position: unset;
    padding:10px;
}
.fwbannerContainer .Widget_slideJssor {
visibility: unset !important;
    max-width: 100%;
    width: 1000px !important;
}
#cboxClose{
	top: 3px !important;
    right: 15px !important;
}
 @media (max-width: 1366px){
.banner_addNewBtn{
display:inline-block;
}
}
			</style>