<link href="$!cmsArtifactsPath/css/styles_CMS.css?$!refreshVersion" rel="stylesheet" type="text/css" />
<link href="$!cmsArtifactsPath/css/banner.css" rel="stylesheet" type="text/css" />
#parse("font-awesomeV5.html")
<script src="$!cmsArtifactsPath/js/cms/cmsscript.js"></script>
<script src="$!cmsArtifactsPath/js/cms/bannerpluginv2.js"></script>
<div id="bannerWrapper" class="clearfix popupWraper">
	<div class="cms_customSearch cms_customSearchRight">
		<form method="get" action="formListCms.action">
			<input type="text" id="bannerSearchBox"  value="$!query" name="query" placeholder="Enter Form Name to Search"/>
			<button type="submit"><i class="list-search-icn fa fa-search"></i></button>
		</form>
	</div>
	<div class="previewSection">
		<div class="prev_heading">
			<i class="fas fa-lg fa-eye"></i><span>Form Preview Area</span>
		</div>
		<div id="previewContainer">
			<div style="margin:40px auto;width:100%;opacity: 0.5;text-align:center;">
				<h1>Preview Block</h1>
			</div>
		</div>
	</div>
	<div class="listRightColumn">
		<table class="table cms_customTable">
			<thead>
				<tr>
					<th>Actions</th>
					<th>Serial #</th>
					<th>Form Name</th>
				</tr>
			</thead>
			<tbody>
			#set($pageNo = ($formList.pageNo - 1))
			#set($counter = $pageNo * $formList.pageSize)
			#set($count = $counter+1)
				#foreach($forms in $formList.resultSet)
				<tr>
					<td class="cms_actionIcons">
						<a href="javascript:void(0);" title="Preview" onclick="formPreview('$forms.id')">
							<i class="fas fa-lg fa-eye"></i>
						</a>
						<a href="editFormDataCms.action?formId=$forms.id" title="Edit Form List">
							<i class="fas fa-lg fa-pencil-alt"></i>
						</a>
						<a href="javascript:void(0);" title="Delete Form List" onclick="deleteForm($forms.id,'$forms.formName')">
							<i class="fas fa-lg fa-trash-alt"></i>
						</a>
					</td>
					<td class="text-center cms_slNo">$!count</td>
					<td>$forms.formName</td>
				</tr>
				#set($count = $count+1)
				#end
			</tbody>
		</table>
	</div>
	<div class="cms_pgnation clearfix clear-both">
		<div class="pgnation"></div>
		<div class="cms_formBtn">
			<button onclick="closeBannerPopup();" class="outLineBtn_left"> <i class="fa fa-times-circle"></i> Cancel</button>
			<a href="editFormDataCms.action?formId=0" class="cms_blueBtn"> Add New Form <i class="fa fa-list-alt"></i> </a>
		</div>
	</div>
</div>
<!-- <div id="cleared"></div> -->
<script>
	#set($pageNo = ($formList.pageNo - 1))
	var pagination = paginationScriptCms($formList.totalPages,"formListCms.action?query=$!query&page=",$pageNo,1);
	$(".pgnation").html(pagination);
</script>