<link href="$!webThemes/CMS/css/styles_CMS.css" rel="stylesheet" type="text/css" />
<style>
.tool-edit, .tool-delete {
	padding: 3px 10px;
	color: #456078;
}
.dropelement form > .row{
	min-height:200px;
	margin-bottom: 10px;
}
.dropelement .placeholder{
	background: #f5f5f5;
}
.dropelement .col{
	cursor: move;
}
.dropelement .col select, .dropelement .col textarea, .dropelement .col input,.btnBlock button{
	pointer-events: none;
}
.dropelement .col:hover .cms_form-btn-block,.btnBlock:hover .cms_form-btn-block {
	opacity: 1;
	bottom: 0;
}
.dropelement .form-group{
	margin-bottom: 8px;
}
.cms_form-btn-block {
	opacity: 0;
	position: relative;
	bottom: -16px;
	text-align: right;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.btnBlock .cms_form-btn-block {
	text-align: left;
}
.editing{
	background-color : #fffdca;
}
.cms_form-btn-block .colDecrease, .cms_form-btn-block .colIncrease {
	background: #456078;
	color: #FFF;
	padding: 6px 10px 3px 10px;
	float: left;
}
.ui-draggable-dragging{
	z-index: 99;
}
.editelement li span i {
	margin: 0 5px;
	padding: 8px;
	background: #c7c7c7;
	color: #FFF;
	cursor: pointer;
}
.editelement label.cms_formBtnRadio input[type=radio] {
    display: none;
}
.editelement label.cms_formBtnRadio input[type=radio]:checked + i {
	background: #456078;
}
</style>
<div class="formEditWrap clearfix">
	<div class="dragelementWrap">
		<div class="dragelement dragFormElement" data-type="input" title="Input Text">
			<span class="input-text">Abc</span>
			Input Text
		</div>
		<div class="dragelement dragFormElement" data-type="date" title="Input Date">
			<span class="input-text">mm/dd/yy</span>
			Input Date
		</div>
		<div class="dragelement dragFormElement" data-type="textarea" title="Text Area">
			<span class="text-area">Abc</span>
			Text Area
		</div>
		<div class="dragelement dragFormElement" data-type="select" title="Dropdown">
			<span class="input-select">Select</span>
			Dropdown
		</div>
		<div class="dragelement dragFormElement" data-type="radio" title="Radio Button">
			<span class="input-radio">
				<i></i>
			</span>
			Radio Button
		</div>
		<div class="dragelement dragFormElement" data-type="checkbox" title="Check Box">
			<span class="input-checkBox">
				<i class="fa fa-check-square"></i>
			</span>
			Check Box
		</div>
		<div class="dragelement dragFormElement" data-type="text" title="Display Text">
			<span class="display-text">
				<b>Abc</b>
			</span>
			Display Text
		</div>
		<div class="dragelement dragFormElement" data-type="captcha" title="Captcha">
			<span class="input-captcha">
				<i>A</i> <b>i</b> 6
			</span>
			Captcha
		</div>
	</div>
	<div class="formBuilderWrap">
		<div class="dropelementWrap">
			<h5 class="cms_sectionHeading">Form Layout Section</h5>
			<div class="dropelement">
				#if($formData.htmlCode)
					$formData.htmlCode
				#else
				<form action="SaveAndSendMail.action" onsubmit="submitThisForm(this); return false;">
					<div class="row"></div>
					<div class="text-left btnBlock" data-type='submitBtn' data-align="left">
						<button type="submit" class="button">Submit</button>
					</div>
					<input type="hidden" name="NotificationName" id="notificationName" value=''/>
					<input type="hidden" name="SaveToDb" id="saveToDB" value=''/>
					<input type="hidden" name="SendMail" id="sendMail" value=''/>
					<input type="hidden" name="Subject" id="subject" value=''/>
					<input type="hidden" name="formName" id="formName" value=''/>
					<input type="hidden" id="webthemesval" value='$!webThemes/'/>
				</form>
				#end
			</div>
		</div>
		<div class="editelementWrap">
			<h5 class="cms_sectionHeading">Form Element Details</h5>
			<div class="editelement"></div>
			<div class="cms_footerSection clearfix">
				<a href="javascript:void(0)" class="cancel-apply outLineBtn_left pull-left"><i class="fa fa-times-circle"></i> Cancel</a>
				<a href="javascript:void(0)" class="apply-changes cms_greenBtn pull-right">Apply <i class="fa fa-check-circle"></i></a>
			</div>
		</div>
	</div>
	<div class="formTitle">
		<h5 class="cms_sectionHeading">Form Details</h5>
		<form id="mainFormBuilder">
			<ul>
				<li>
					<label>Form Name <span class="text-danger">*</span> :</label> <input type="text" value="$!formData.formName" maxlength="20" name="formData.formName" id="formNameMain" />
				</li>
				<li>
					<label>Notification :</label> <select id="formNotification" name="formData.formNotification">
					<option value=""></option>
					#foreach($notification in $notificationList)
					<option  vlaue="$notification" #if($!formData.formNotification == $notification) selected #end>$notification</option>
					#end
					</select>
				</li>
				<li>
					<label>Email Subject :</label> <input type="text" value="$!formData.emailSubject" name="formData.emailSubject" id="emailSubject" />
				</li>
				<li>
					<label>Form ClassName :</label> <input type="text" value="" id="formClass" />
				</li>
				<li>
					<label class="cms_customCheckBox cms_customCheckBoxRight">
						<input name="formData.saveToDB" #if($!formData.saveToDB=="Y") checked #end id="saveToDBMain" type='checkbox'/>
						<span>Save User Entered Form Data to DB :</span>
					</label>
				</li>
				<li>
					<label class="cms_customCheckBox cms_customCheckBoxRight">
						<input type="checkbox" id="emailSent" #if($!formData.emailSent=="Y") checked #end name="formData.emailSent"/>
						<span>Send Email after User Submits Form :</span>
					</label>
				</li>
			</ul>
			<input type="hidden" name="formData.htmlCode" id="htmlCode" />
			#if($formData.id)
			<input type="hidden" name="formData.id" value="$formData.id" id="formDataId" /> 
			#end
		</form>
		<div class="save-btnBlock clearfix text-right">
			<!-- <a href="formListCms.action" class="outLineBtn_left pull-left"> <i class="fa fa-times-circle"></i> Cancel</a> -->
			<a href="javascript:void(0)" class="export-form cms_greenBtn" id="formExportBtn">Download <i class="fa fa-download"></i></a>
			<a href="javascript:void(0)" class="save-form cms_blueBtn">Save <i class="fa fa-save"></i></a>
		</div>
	</div>
</div>
<script>
var arrows = '<a title="Make Column Narrower" class="colDecrease"><i class="fa fa-lg fa-caret-left"></i></a> <a title="Make Column Wider" class="colIncrease"><i class="fa fa-lg fa-caret-right"></i></a>';
$(".dropelement .col").append('<div class="cms_form-btn-block">'+arrows+'<a href="javascirpt:void(0);" class="tool-edit"><i class="fa fa-lg fa-pencil-alt"></i></a> <a href="javascirpt:void(0);" class="tool-delete"><i class="fa fa-lg fa-trash-alt"></i></a></div>');
$(".btnBlock").append('<div class="cms_form-btn-block"><a href="javascirpt:void(0);" class="editBtnStyle"><i class="fa fa-lg fa-pencil-alt"></i></a></div>');
var frmName=document.getElementById('formName').value;
//alert(document.getElementById('formName').length);
if(frmName==='' || frmName==='undefined'){
	document.getElementById('formExportBtn').style.visibility = "hidden";
}
var dropForm = document.getElementsByClassName('dropelement')[0];
var dropFormArr = dropForm.children[0].classList;
document.getElementById('formClass').value = dropFormArr.value;
$(document).ready(function(){
	$('.editelement,.cms_sectionHeading > form').slimScroll({
		height: '486px',
		railVisible: false,
		alwaysVisible: true,
		size:'10px',
		railColor:'#ccc',
		color:'#e0e0e0',
		railOpacity: '0.5',
		opacity:'0.5',
		borderRadius : '5px',
		railBorderRadius: '0px',
		top: '10px'
	});
	$('.dropelement').slimScroll({
		height: '548px',
		railVisible: false,
		alwaysVisible: true,
		size:'10px',
		railColor:'#ccc',
		color:'#e0e0e0',
		railOpacity: '0.5',
		opacity:'0.5',
		borderRadius : '5px',
		railBorderRadius: '0px',
		top: '10px'
	});
});
</script>
