<!-- <script src="$!webThemes/CMS/js/cms/cmsscript.js"></script> -->
<div class="cms_leftMenuSlide">
	<div class="HTMLElements">
		<div class="componentWrap">
			<a href="javascript:componentCreationRedirect();" title="Add Components" >
				<i class="fa fa-plus"></i> Component
			</a>
			<div class="cms_leftMenuClose">
				<i class="fa fa-lg fa-chevron-left"></i>
			</div>  
		</div>
		<div class="componentLabel" data-toggleID="htmlEle_contents" data-react="toggle">
			HTML Elements <i class="fa fa-chevron-down"></i>
		</div>
		<ul id="htmlEle_contents" style="display:none;">						
			<li>
				<a href="javascript:void(0);">Heading <i class="fa fa-arrows"></i></a>
				<div class="hiddenContent">
					<h1>Add your heading here</h1>
				</div>
			</li>
			<li>
				<a href="javascript:void(0);" >Text <i class="fa fa-arrows"></i></a>
				<div class="hiddenContent">
					<p> Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</li>
			<li>
				<a href="javascript:void(0);">Link <i class="fa fa-arrows"></i></a>
				<div class="hiddenContent">
					<a href="javascript:void(0);" target="_self" >Add your link here</a>
				</div>
			</li>
			
			<li>
				<a href="javascript:void(0);">Image <i class="fa fa-arrows"></i></a>
				<div class="hiddenContent">
					<img src="$!webThemes/CMS/images/cms_images/person.png"  class="img-responsive"/>
				</div>
			</li>
			<li>
				<a href="javascript:void(0);">Ordered list <i class="fa fa-arrows"></i></a>
				<div class="hiddenContent">
					<ol id="orderListId">
						<li>List Item1</li>
						<li>List Item2</li>
						<li>List Item3</li>
						<li>List Item4</li>
					</ol>
				</div>
			</li>
			<li>
				<a href="javascript:void(0);">Unordered list <i class="fa fa-arrows"></i></a>
				<div class="hiddenContent">
					<ul id = "unorderListId">
						<li>List Item1</li>
						<li>List Item2</li>
						<li>List Item3</li>
						<li>List Item4</li>
					</ul>
				</div>
			</li>
			<li>
				<a href="javascript:void(0);">BlockQuote <i class="fa fa-arrows"></i></a>
				<div class="hiddenContent">
					<blockquote>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
						<small>Someone famous <cite title="Source Title">Source Title</cite></small>
					</blockquote>
				</div>
			</li>
			<li>
				<a href="javascript:void(0);">Image Slider <i class="fa fa-arrows"></i></a>
				<div class="hiddenContent">
					<div id="slidercontainer" class="Widget_slideJssor" style='position: relative; width:600px; height: 300px; overflow: hidden;' >
						<!-- Loading Screen -->
						<div u="loading" style="position: absolute; top: 0px; left: 0px;">
							<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block; background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;"></div>
							<div style="position: absolute; display: block; background: url($webThemes/CMS/images/cms_images/loading.gif) no-repeat center center;top: 0px; left: 0px;width: 100%;height:100%;"></div>
						</div>
						<!-- Slides Container -->
						<div u="slides" style='cursor: move; position: absolute; left: 0px; top: 0px; width:600px; height: 300px; overflow: hidden;'>
							<div>
								<a u="image" href="#"><img src="$!webThemes/CMS/images/cms_images/01.jpg" class="img-responsive" alt="Image1" title="Image1"/></a>
								<div u="caption" t="*" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:300px; height:30px;">slideshow transition twins</div>
							</div>
							<div>
								<a u="image" href="#"><img src="$!webThemes/CMS/images/cms_images/02.jpg" class="img-responsive" alt="Image2" title="Image2"/></a>
								<div u="caption" t="*" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:300px; height:30px;"> random caption transition </div>
							</div>
							<div>
								<a u="image" href="#"><img src="$!webThemes/CMS/images/cms_images/03.jpg" class="img-responsive" alt="Image3" title="Image3"/></a>
								<div u="caption" t="*" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:300px; height:30px;"> 
								mobile ready, touch swipe
								</div>
							</div>
							<div>
								<a u="image" href="#"><img src="$!webThemes/CMS/images/cms_images/04.jpg" class="img-responsive" alt="Image4" title="Image4"/></a>
								<div u="caption" t="*" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:300px; height:30px;"> 
								responsive, scale smoothly
								</div>
							</div>
						</div>        
						<!-- bullet navigator container -->
						<div u="navigator" class="jssorb01" style="position: absolute; bottom: 30px; right: 30px;">
							<!-- bullet navigator item prototype -->
							<div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
						</div>
						<!-- Bullet Navigator Skin End -->
						<!-- Arrow Navigator Skin Begin -->
						<!-- Arrow Left -->
						<span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 123px; left: 8px;">
						</span>
						<!-- Arrow Right -->
						<span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 123px; right: 8px">
						</span>
						<!-- Arrow Navigator Skin End -->
						<a style="display: none" href="http://www.jssor.com">jquery slider example</a>
						</div> <!-- Jssor Slider End -->						
				</div>
				<!-- Jssor Slider End -->
			</li>														
		</ul>
		
		<!-- Left menu widgets list -->
		<div class="componentLabel" data-toggleID="widgetContainer" data-react="toggle"> Widgets <i class="fa fa-chevron-down"></i></div>
		<div class="filterTextBox_widget hidden">
			<input type="text" id="box_widget" class="filterTextBox" style="width: 100%;padding: 2px 5px 2px 5px;height: 30px;border-radius: 5px;color: #797d82;" onkeyup="filterContainer(this,'widgetContainer');" value="Search Widgets" onfocus="if(this.value=='Search Widgets'){this.value='';}" onblur="if(this.value==''){this.value='Search Widgets';}">
		</div>
		<ul class="widget widgetContainer" id="widgetContainer" style="display:none;"></ul>
		<!-- Left menu widgets list -->
		
		<!-- Left menu form list -->
		<div class="componentLabel" data-toggleID="formContainer" data-react="toggle"> Forms <i class="fa fa-chevron-down"></i></div>
		<div class="filterTextBox_form hidden">
			<input type="text" id="box_form" class="filterTextBox" style="width: 100%;padding: 2px 5px 2px 5px;height: 30px;border-radius: 5px;color: #797d82;" onkeyup="filterContainer(this,'formContainer');" value="Search Forms" onfocus="if(this.value=='Search Forms'){this.value='';}" onblur="if(this.value==''){this.value='Search Forms';}">
		</div>
		<ul class="widget widgetContainer" id="formContainer" style="display:none;"></ul>
		<!-- Left menu form list -->
		
		#foreach($libraries in $libraryList.resultSet)						
		<div class="componentLabel" data-toggleID="library_$libraries.id" data-libID="$libraries.id" data-react="toggle">
			$libraries.userLibraryGroupName <i class="fa fa-chevron-down"></i>
		</div>
		<dl class="widget widgetContainer libraryContainer" id="library_$libraries.id" style="display: none;"></dl>
		#end
		
	</div>
</div>
<script>
function filterContainer(input,id){
	var valThis = jQuery(input).val().toLowerCase();
	var len = valThis.length;
	jQuery("#"+id+'>dd>a').each(function(){
		var text = jQuery(this).text();//.substr(0,len).toLowerCase();
		(text.toLowerCase().indexOf(valThis.toLowerCase()) >= 0) ? jQuery(this).parent().show() : jQuery(this).parent().hide();    
	});
}
jQuery(document).ready(function() {
	jQuery('.toggle_content li input, .toggle_content li textarea').attr('disabled', true);		
});
</script>		