<script src="$webThemes/CMS/js/cmsscript.js"></script>
<div class="HTMLElements" style="display:none;" >
	<h4>HTML Elements</h4>
	<div class="HTMLElements_Menuhide">
	    <i class="fa fa-lg fa-chevron-left">
	    </i>
	</div>   					
	<ul>						
		<li>
			<a href="javascript:void(0);">Heading
				<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
			</a>
			<div class="hiddenContent">
				<h1>Add your heading here</h1>
			</div>
		</li>
		<li>
			<a href="javascript:void(0);" >Text
				<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
			</a>
			<div class="hiddenContent">
				<p> Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</li>
		<li>
			<a href="javascript:void(0);">Link
				<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
			</a>
			<div class="hiddenContent">
				<a href="javascript:void(0);" target="_self" >Add your link here</a>
			</div>
		</li>
		
		<li>
			<a href="javascript:void(0);">Image
				<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
			</a>
			<div class="hiddenContent">
				<img src="$webThemes/CMS/images/cms_images/person.png"  class="img-responsive"/>
			</div>
		</li>
		<li>
			<a href="javascript:void(0);">Ordered list
				<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
			</a>
			<div class="hiddenContent">
				<ol id="orderListId">
					<li>List Item1</li>
					<li>List Item2</li>
					<li>List Item3</li>
					<li>List Item4</li>
				</ol>
			</div>
		</li>
		<li>
			<a href="javascript:void(0);">Unordered list
				<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
			</a>
			<div class="hiddenContent">
				<ul id = "unorderListId">
					<li>List Item1</li>
					<li>List Item2</li>
					<li>List Item3</li>
					<li>List Item4</li>
				</ul>
			</div>
		</li>
		<li>
			<a href="javascript:void(0);">BlockQuote
				<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
			</a>
			<div class="hiddenContent">
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
						<small>Someone famous <cite title="Source Title">Source Title</cite></small>
				</blockquote>
			</div>
		</li>
		<li>
			<a href="javascript:void(0);">Image Slider
				<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
			</a>
			<div class="hiddenContent">
								<div id="slidercontainer" class="Widget_slideJssor" style='position: relative; width:600px; height: 300px; overflow: hidden;' >
							<!-- Loading Screen -->
					<div u="loading" style="position: absolute; top: 0px; left: 0px;">
						<div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
							background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
						</div>
						<div style="position: absolute; display: block; background: url($webThemes/CMS/images/cms_images/loading.gif) no-repeat center center;
							top: 0px; left: 0px;width: 100%;height:100%;">
						</div>
					</div>
		
					<!-- Slides Container -->
					<div u="slides" style='cursor: move; position: absolute; left: 0px; top: 0px; width:600px; height: 300px;
						overflow: hidden;'>
						<div>
							<a u="image" href="#"><img src="$webThemes/CMS/images/cms_images/01.jpg" class="img-responsive" alt="Image1" title="Image1"/></a>
							<div u="caption" t="*" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:300px; height:30px;"> 
							slideshow transition twins
							</div>
						</div>
						<div>
							<a u="image" href="#"><img src="$webThemes/CMS/images/cms_images/02.jpg" class="img-responsive" alt="Image2" title="Image2"/></a>
							<div u="caption" t="*" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:300px; height:30px;"> 
							random caption transition
							</div>
						</div>
						<div>
							<a u="image" href="#"><img src="$webThemes/CMS/images/cms_images/03.jpg" class="img-responsive" alt="Image3" title="Image3"/></a>
							<div u="caption" t="*" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:300px; height:30px;"> 
							mobile ready, touch swipe
							</div>
						</div>
						<div>
							<a u="image" href="#"><img src="$webThemes/CMS/images/cms_images/04.jpg" class="img-responsive" alt="Image4" title="Image4"/></a>
							<div u="caption" t="*" class="captionOrange"  style="position:absolute; left:20px; top: 30px; width:300px; height:30px;"> 
							responsive, scale smoothly
							</div>
						</div>
					</div>        
	   
					<!-- bullet navigator container -->
					<div u="navigator" class="jssorb01" style="position: absolute; bottom: 30px; right: 30px;">
						<!-- bullet navigator item prototype -->
						<div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
					</div>
					<!-- Bullet Navigator Skin End -->
					<!-- Arrow Navigator Skin Begin -->
					<!-- Arrow Left -->
					<span u="arrowleft" class="jssora05l" style="width: 40px; height: 40px; top: 123px; left: 8px;">
					</span>
					<!-- Arrow Right -->
					<span u="arrowright" class="jssora05r" style="width: 40px; height: 40px; top: 123px; right: 8px">
					</span>
					<!-- Arrow Navigator Skin End -->
					<a style="display: none" href="http://www.jssor.com">jquery slider example</a>
					</div> <!-- Jssor Slider End -->						
			</div>
			<!-- Jssor Slider End -->
		</li>														
	</ul>
	<div class="widgetLabel" onclick="javascript:showWidgets();">
								Widgets
								<div class="togglePlusIcon"></div>
								<div class="clear"></div>
							</div>
							<dl class="widget widgetContainer" id="widgetContainer" style="display: none;max-height: 200px; overflow: auto;">
								<dd style="list-style-type: none;border-bottom: 1px solid #ccc;margin: 5px 0;padding: 5px;">
									<a href="" >Feature Product
										<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
									</a>
									<div class="hiddenContent">
										<div class="cmsFeatureProduct">Feature Product Block</div>
									</div>
								</dd>
							</dl>
	#foreach($libraries in $libraryList.resultSet)						
	<div class="widgetLabel" onclick="javascript:showLibrary($libraries.id);">
								$libraries.userLibraryGroupName
								<div class="togglePlusIcon"></div>
								<div class="clear"></div>
							</div>
							<dl class="widget widgetContainer" id="library_$libraries.id" style="display: none;max-height: 200px; overflow: auto;">
							<dd style="list-style-type: none;border-bottom: 1px solid #ccc;margin: 5px 0;padding: 5px;">
									<a href="" >Feature Product
										<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
									</a>
									<div class="hiddenContent">
										<div class="cmsFeatureProduct">Feature Product Block</div>
									</div>
								</dd>
							</dl>
#end														
	<div class="formLabel" onclick="javascript:showForms();">
								Forms
								<div class="togglePlusIcon"></div>
								<div class="clear"></div>
							</div>
							<dl class="widget widgetContainer" id="formContainer" style="display: none;max-height: 200px; overflow: auto;">
								<dd style="list-style-type: none;border-bottom: 1px solid #ccc;margin: 5px 0;padding: 5px;">
									<a href="" >Feature Product
										<span class="float-right dragClass"><i class="fa fa-arrows"></i></span>
									</a>
									<div class="hiddenContent">
										<div class="cmsFeatureProduct">Feature Product Block</div>
									</div>
								</dd>
							</dl>
</div>
			