#if($!responseType)
<script type="text/javascript" src="$!webThemes/$siteName/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="$!webThemes/CMS/js/cms/cmsscript.js"></script>
<script type="text/javascript" src="$!webThemes/CMS/js/jquery.colorbox.js" ></script>
<link href="$!webThemes/CMS/css/colorbox.css" rel="stylesheet" type="text/css"/>
<link href="$!webThemes/CMS/css/styles_CMS.css?v=$!session.getLastAccessedTime()" rel="stylesheet" type="text/css" /> 
<link rel="stylesheet" type="text/css" href="$!webThemes/$siteName/css/bootstrap.min.css" />
<link href="$!webThemes/CMS/css/fontawesome.min.css" rel="stylesheet">
<link href="$!webThemes/CMS/css/brands.min.css" rel="stylesheet">
<link href="$!webThemes/CMS/css/solid.min.css" rel="stylesheet">
#parse("head.html")
 <script type="text/javascript">
	var parentUrl = ""+window.parent.location;
	if (parentUrl.indexOf("cmsPageCms.action") === -1 && window.location !== window.parent.location ) {
	}else {
		alert("Unauthorized Access...!");
		if(parentUrl.indexOf("cmsPageCms.action") !== -1){
			window.location.href = "/";
			window.top.location.href = "/";
		}else{
			window.location.href = "/";
		}
	}
	function paginationScriptCms(n_pages,page_link,iindex,pgno){
	    var n_links = 1, returnString = '<div class="pagebarUTH">',n_index = (iindex/pgno)+1;
	    var start=1;
	    
	   /*  if(iindex == 1){
	    	returnString+='<a href="javascript:void(0);" class="btns-disable"><i class="fa fa-angle-double-left fa-lg fontIconArrow"></i></a><a href="'+page_link+(iindex-pgno)+'"><i class="fa fa-angle-left fa-lg fontIconArrow"></i></a>';
		}else if(iindex < 1) {
	    	returnString += '<a href="javascript:void(0);" class="btns-disable"><i class="fa fa-angle-double-left fa-lg fontIconArrow"></i></a><a href="javascript:void(0);" class="btns-disable"><i class="fa fa-angle-left fa-lg fontIconArrow"></i></a>';
		}else {
	    	returnString+='<a href="'+page_link+'0"><i class="fa fa-angle-double-left fa-lg fontIconArrow"></i></a><a href="'+page_link+(iindex-pgno)+'"><i class="fa fa-angle-left fa-lg"></i></a>';
		} */
		if(iindex > 0) {
			returnString+='<a href="'+page_link+'0"><i class="fa fa-angle-double-left fa-lg fontIconArrow"></i></a><a href="'+page_link+(iindex-pgno)+'"><i class="fa fa-angle-left fa-lg"></i></a>';
		}
		
		if(n_links){
			var n_firstLink,n_lastLink;
			if(n_index >= n_pages){
				n_firstLink = start;
				n_lastLink = n_pages;
			} else if(n_index<=0) {
				n_firstLink = start;
				n_lastLink = 1;
	        } else {
				n_firstLink = start;
				if(n_links>n_pages)
					n_lastLink = n_pages;
				else
					n_lastLink = n_firstLink + n_links-1;
	    	}
	    	var currentPage = iindex + 1;
		    returnString += '<span class="this-page">'+ currentPage +'</span>';
		}
	
	    if((n_lastLink) != n_pages){
	    	returnString+= ' of <span>'+n_pages+'<span> <a href="'+page_link+(iindex+pgno)+'"><i class="fa fa-angle-right fa-lg"></i></a>';
	    	returnString+= '<a href="'+page_link+((n_pages-1)*pgno)+'"><i class="fa fa-angle-double-right fa-lg"></i></a>';
	    } else{
	    	returnString+= ' of <span>'+n_pages+'</span>';
	    }
		returnString+='  </div>';
		return returnString;
	}
    function setThisValueToInput(obj){
	  	console.log($(obj).val());
	  	console.log($(obj).data("listtype"));
		if($(obj).data("listtype")=="BRAND"){
			alert("Selected Brand is: "+$(obj).data("name")+"\nPlease close the popup and click on Save button to update the changes");
			$("#selectBrand", parent.document.body).val($(obj).val());
			$("#brandListSpanTxt", parent.document.body).html(": <strong>"+$(obj).data("name")+"</strong>");
			//console.log("Parent : "+$("#selectBrand", parent.document.body).val());
		}else if($(obj).data("listtype")=="MANUFACTURER"){
			alert("Selected Manufacturer is: "+$(obj).data("name")+"\nPlease close the popup and click on Save button to update the changes");
			$("#selectManufacturer", parent.document.body).val($(obj).val());
			$("#manuFacturerListSpanTxt", parent.document.body).html(": <strong>"+$(obj).data("name")+"</strong>");
		}else if($(obj).data("listtype")=="CATEGORY"){
			alert("Selected Category is: "+$(obj).data("name")+"\nPlease close the popup and click on Save button to update the changes");
			$("#selectCategory", parent.document.body).val($(obj).val());
			$("#categoryListSpanTxt", parent.document.body).html(": <strong>"+$(obj).data("name")+"</strong>");
		}
	}
</script>
	#if($responseType=="Brand")
	<div class="cms_pageSelection"> 
		<div class="listPageFilterBox clearfix">
			<form method="get" id="brandForm" action="bandDetailListCms.action" class="page-inList clearfix" onsubmit="return validateSearchCMSForm();">
				<div class="cms_customSearch clearfix">
					<input class="cms_bannerSearch" type="text" id="queryTxtBox" name="query" value="$!query" placeholder="Enter Keyword to Search"/> 
					<input  type="hidden" id="pageSize" name="pageSize" value="$brandsList.pageSize" /> 
					<input type="hidden" id="type" name="type" value="$!type"/> 
					<button type="submit"><i class="fa fa-search"></i>	</button>
				</div>
			</form>
			<form class="clearStaticSearch">
				<input type="hidden" name="query" value=""/>
				<input type="hidden" name="searchColumnType" value=""/>
				<input type="hidden" id="type" name="type" value="$!type"/>   
				<input type="hidden" name="pageSize" value="$brandsList.pageSize" /> 
				<input type="hidden" name="selectedSiteId" value="$!selectedSiteId" />
				<button type="submit" class="outLineBtn_left"><i class="fa fa-lg fa-times-circle"></i> Clear Search</button>
			</form>
			<div class="displayBox">
				<form method="get" action="bandDetailListCms.action">
					<label>Display </label>
					<div class="custom-select">
						<select name="pageSize" id="pageSize" onchange="this.form.submit()">
							<option #if($brandsList.pageSize==10) selected #end value="10" >10</option>
							<option #if($brandsList.pageSize==25) selected #end value="25" >25</option>
							<option #if($brandsList.pageSize==50) selected #end value="50" >50</option> 
							<option #if($brandsList.pageSize==100) selected #end  value="100" >100</option>
						</select>
						<span>
							<i class="fas fa-chevron-down"></i>
						</span>
					</div>
					<label> #if($!brandsList.totalRows>0) of $!brandsList.totalRows Records #end</label>
					<input type="hidden" name="query" value="$!query" />
					<input type="hidden" id="type" name="type" value="$!type"/> 
					<input type="hidden" name="selectedSiteId" value="$!selectedSiteId" />
					<input type="hidden" name="searchColumnType" value="$!searchColumnType"/>
				</form>
				<!--<div class="text-right mTop-2">#if($!brandsList.totalRows>0)Showing $brandsList.rowsOnPage of $!brandsList.totalRows Records #end</div>-->
			</div>
		</div>
		<table class="table cms_customTable rwd-table" id="brandListTable">
			<thead>
				<tr>
					<th class="text-center">Serial #</th>
					<th class="width260">
						<a href="bandDetailListCms.action?sortEnabled=true&sortColumn=brandName&query=$!query&type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId" title="Ascending">&#8679;</a>
						Brand Name
						<a href="bandDetailListCms.action?sortEnabled=false&sortColumn=brandName&query=$!query&type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId" title="Descending">&#x21E9;</a>
					</th>
					<th class="text-center width50">Select One</th>
				</tr>
			</thead>
			<tbody>
			#set($pageNo = ($brandsList.pageNo - 1))
			#set($counter = $pageNo * $brandsList.pageSize)
			#if($brandsList.resultSet.size()>0)
				#set($iindex = $counter + 1)
				#foreach($brand in $brandsList.resultSet)
				<tr>
					<td class="text-center cms_slNo"> $iindex </td>
					<td>$!brand.brandName</td>
					<td class="text-center"><input type="radio" name="brandSelectRadio" data-listtype="BRAND" data-name="$!brand.brandName" value="$!brand.id" onclick="setThisValueToInput(this);"/></td>
				</tr>
				#set($iindex = $iindex + 1)
				#end
			#else
			<tr><td colspan="3" align="center"> No data </td></tr>
			#end
			</tbody>
		</table>
		<div class="pgnation"></div>
	</div>
	<script>
		var pagination = paginationScriptCms($brandsList.totalPages,"bandDetailListCms.action?type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId&query=$!query&pageSize=$!brandsList.pageSize&page=",$pageNo,1);
		$(".pgnation").html(pagination);
	</script>
	#end
	#if($responseType=="Manufacturer")
	<div class="cms_pageSelection"> 
		<div class="listPageFilterBox clearfix">
			<form method="get" id="brandForm" action="manufacturerDetailListCms.action" class="page-inList clearfix" onsubmit="return validateSearchCMSForm();">
				<div class="cms_customSearch clearfix">
					<input type="text" id="queryTxtBox" name="query" value="$!query" placeholder="Enter Keyword to Search"/> 
					<input  type="hidden" id="pageSize" name="pageSize" value="$manufacturersList.pageSize" /> 
					<input type="hidden" id="type" name="type" value="$!type"/> 
					<button type="submit"><i class="fa fa-search"></i>	</button>
				</div>
			</form>
			<form class="clearStaticSearch">
				<input type="hidden" name="query" value=""/>
				<input type="hidden" name="searchColumnType" value=""/>
				<input type="hidden" id="type" name="type" value="$!type"/>   
				<input type="hidden" name="pageSize" value="$manufacturersList.pageSize" /> 
				<input type="hidden" name="selectedSiteId" value="$!selectedSiteId" />
				<button type="submit" class="outLineBtn_left"><i class="fa fa-lg fa-times-circle"></i> Clear Search</button>
			</form>
			<div class="displayBox">
				<form method="get" action="manufacturerDetailListCms.action">
					<label>Display </label>
					<div class="custom-select">
						<select name="pageSize" id="pageSize" onchange="this.form.submit()">
							<option #if($manufacturersList.pageSize==10) selected #end value="10" >10</option>
							<option #if($manufacturersList.pageSize==25) selected #end value="25" >25</option>
							<option #if($manufacturersList.pageSize==50) selected #end value="50" >50</option> 
							<option #if($manufacturersList.pageSize==100) selected #end  value="100" >100</option>
						</select>
						<span>
							<i class="fas fa-chevron-down"></i>
						</span>
					</div>
					<label> #if($!manufacturersList.totalRows>0) of $!manufacturersList.totalRows Records #end</label>
						<input type="hidden" name="query" value="$!query" />
						<input type="hidden" id="type" name="type" value="$!type"/> 
						<input type="hidden" name="selectedSiteId" value="$!selectedSiteId" />
						<input type="hidden" name="searchColumnType" value="$!searchColumnType"/>
				</form>
				<!--<div class="text-right mTop-2">#if($!manufacturersList.totalRows>0)Showing $manufacturersList.rowsOnPage of $!manufacturersList.totalRows Records #end</div>-->
			</div>
		</div>
		<table class="table cms_customTable rwd-table" id="manufacturerListTable">
			<thead>
				<tr>
					<th class="text-center">Serial #</th>
					<th>
						<a href="manufacturerDetailListCms.action?sortEnabled=true&sortColumn=manufacturerName&query=$!query&type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId" title="Ascending">&#8679;</a>
						Manufacturer Name
						<a href="manufacturerDetailListCms.action?sortEnabled=false&sortColumn=manufacturerName&query=$!query&type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId" title="Descending">&#x21E9;</a>
					</th>
					<th class="text-center width50">Select One</th>
				</tr>
			</thead>
			<tbody>
			#set($pageNo = ($manufacturersList.pageNo - 1))
			#set($counter = $pageNo * $manufacturersList.pageSize)
			#if($manufacturersList.resultSet.size()>0)
				#set($iindex = $counter + 1)
				#foreach($manufacturer in $manufacturersList.resultSet)
				<tr>
					<td class="text-center cms_slNo"> $iindex </td>
					<td>$!manufacturer.manufacturerName</td>
					<td class="text-center">
						<label class="cms_customRadioBtn blankText">
							<input type="radio" name="manufacturerSelectRadio" data-listtype="MANUFACTURER" data-name="$!manufacturer.manufacturerName"  value="$!manufacturer.id" onclick="setThisValueToInput(this);"/>
							<span></span>
						</label>
					</td>
				</tr>
				#set($iindex = $iindex + 1)
				#end
			#else
			<tr><td colspan="3" align="center"> No data </td></tr>
			#end
			</tbody>
		</table>
		<div class="pgnation"></div>
	</div>
	<script>
		var pagination = paginationScriptCms($manufacturersList.totalPages,"manufacturerDetailListCms.action?type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId&query=$!query&pageSize=$!manufacturersList.pageSize&page=",$pageNo,1);
		$(".pgnation").html(pagination);
		</script>
	#end
	#if($responseType=="Category")
	<div class="cms_pageSelection"> 
		<div class="listPageFilterBox clearfix">
		  	<form method="get" id="categoryForm" action="categoryDetailListCms.action" class="page-inList clearfix" onsubmit="return validateSearchCMSForm();">
			  	<div class="cms_customSearch clearfix">
			  		<input class="cms_bannerSearch" type="text" id="queryTxtBox" name="query" value="$!query" placeholder="Enter Keyword to Search"/> 
			  		<input  type="hidden" id="pageSize" name="pageSize" value="$categoryList.pageSize" /> 
			  		<input type="hidden" id="type" name="type" value="$!type"/> 
					<button type="submit"><i class="fa fa-search"></i></button>
				</div>
			</form>
		  	<form class="clearStaticSearch">
		  		<input type="hidden" name="query" value=""/>
		  		<input type="hidden" name="searchColumnType" value=""/>
		  		<input type="hidden" id="type" name="type" value="$!type"/>   
			  	<input type="hidden" name="pageSize" value="$categoryList.pageSize" /> 
			  	<input type="hidden" name="selectedSiteId" value="$!selectedSiteId" />
		  		<button type="submit" class="outLineBtn_left"><i class="fa fa-lg fa-times-circle"></i> Clear Search</button>
		  	</form>
		  	<div class="displayBox">
		  		<form method="get" action="categoryDetailListCms.action">
		  			<label>Display: </label>
		  			<div class="custom-select">
			  			<select name="pageSize" id="pageSize" onchange="this.form.submit()">
							<option #if($categoryList.pageSize==10) selected #end value="10" >10</option>
							<option #if($categoryList.pageSize==25) selected #end value="25" >25</option>
							<option #if($categoryList.pageSize==50) selected #end value="50" >50</option> 
							<option #if($categoryList.pageSize==100) selected #end  value="100" >100</option>
						</select>
						<span>
							<i class="fas fa-chevron-down"></i>
						</span>
					</div>
					<label> #if($!categoryList.totalRows>0) of $!categoryList.totalRows Records #end</label>
					<input type="hidden" name="query" value="$!query" />
					<input type="hidden" id="type" name="type" value="$!type"/> 
					<input type="hidden" name="selectedSiteId" value="$!selectedSiteId" />
					<input type="hidden" name="searchColumnType" value="$!searchColumnType"/>
		  		</form>
		  		<!-- <div class="text-right mTop-2">#if($!categoryList.totalRows>0)Showing $categoryList.rowsOnPage of $!categoryList.totalRows Records #end</div> -->
		  	</div>
		</div>
		<table class="table cms_customTable rwd-table" id="categoryListTable">
			<thead>
				<tr>
					<th class="text-center">Serial #</th>
					<th>
						<a href="categoryDetailListCms.action?sortEnabled=true&sortColumn=categoryName&query=$!query&type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId" title="Ascending">&#8679;</a>
							Category Name
						<a href="categoryDetailListCms.action?sortEnabled=false&sortColumn=categoryName&query=$!query&type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId" title="Descending">&#x21E9;</a>
					</th>
					<th class="text-center">
						<a href="categoryDetailListCms.action?sortEnabled=true&sortColumn=levelNumber&query=$!query&type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId" title="Ascending">&#8679;</a>
							Category Level
						<a href="categoryDetailListCms.action?sortEnabled=false&sortColumn=levelNumber&query=$!query&type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId" title="Descending">&#x21E9;</a>
					</th>
					<th class="text-center">Taxonomy Name</th>
					<th class="text-center width50">Select One</th>
				</tr>
			</thead>
			<tbody>
			#set($pageNo = ($categoryList.pageNo - 1))
			#set($counter = $pageNo * $categoryList.pageSize)
			#if($categoryList.resultSet.size()>0)
				#set($iindex = $counter + 1)
				#foreach($category in $categoryList.resultSet)
				<tr>
					<td class="text-center cms_slNo"> $iindex </td>
					<td>$!category.categoryName</td>
					<td class="text-center">Level - $category.levelNumber</td>
					<td class="text-center">$category.taxonomyDTO.name</td>
					<td class="text-center">
						<label class="cms_customRadioBtn blankText">
							<input type="radio" name="categorySelectRadio" data-listtype="CATEGORY" data-name="$!category.categoryName" value="$!category.id" onclick="setThisValueToInput(this);"/>
							<span></span>
						</label>
					</td>
				</tr>
				#set($iindex = $iindex + 1)
				#end
			#else
			<tr><td colspan="5" align="center"> No data </td></tr>
			#end
			</tbody>
		</table>
		<div class="pgnation"></div>
	</div>
	<script>
		var pagination = paginationScriptCms($categoryList.totalPages,"categoryDetailListCms.action?type=$!type&searchColumnType=$!searchColumnType&selectedSiteId=$!selectedSiteId&query=$!query&pageSize=$!categoryList.pageSize&page=",$pageNo,1);
		$(".pgnation").html(pagination);
	</script>
	#end
#end