<!-- <link href="$!webThemes/CMS/css/styles_CMS.css" rel="stylesheet" type="text/css" /> -->
<link href="$!webThemes/CMS/css/lightslider.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$!webThemes/CMS/js/lightslider.js"></script>
<script>
jQuery(document).ready(function() {
	jQuery("#template-slider").lightSlider({
		loop:false,
        keyPress:true,
        pager:false,
        item:8
    });
});
</script>
<style>
footer,header,nav{pointer-events: none;}
ul.cimm_formContent li input[type="text"], ul.cimm_formContent li input[type="password"], ul.cimm_formContent li textarea {
 margin-top: 10px;
 }
</style>
<div class="container">
	<div class="row hideMe">
		<div class="col-sm-6 col-xs-6 readyTemplatesForm">
			<div id="template-slider" class="template-slider">
				#foreach($templateNamesList in $templateNames)
				<div>
					<a href="cmsStaticPageByPageNameCms.action?pageName=$templateNamesList.templateName">
						<img  height="26px" width="100%" src="$templateNamesList.templateImgName" />
					</a>
				</div>
				#end
			</div>
		</div>
	</div>
</div>
<div id="mycanvas">$!staticPageData.pageContent</div>   		
<div id="canvasImage" style="width:150px;height:150px;overflow:hidden"></div>