<!-- <link href="$webThemes/CMS/css/styles_CMS.css" rel="stylesheet" type="text/css" /> -->
<link href="$webThemes/CMS/css/lightslider.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$webThemes/CMS/js/lightslider.js"></script>
<script>
jQuery(document).ready(function() {
	jQuery("#template-slider").lightSlider({
		loop:false,
        keyPress:true,
        pager:false,
        item:1
    });
});
</script>
<style>
#normalHead{pointer-events: none;}
.cimm_footerEnclosure{pointer-events: none;}
ul.cimm_formContent li input[type="text"], ul.cimm_formContent li input[type="password"], ul.cimm_formContent li textarea {
 margin-top: 10px;
 }
</style>
<div class="row">
	<div class="col-md-12">
		<div class="readyTemplatesForm" >
			<div class="sampleTemplateSlider">
			<div id="template-slider" class="template-slider">				
			#foreach($templateNamesList in $templateNames)	
				<div>
					<a href="cmsStaticPageByPageNameCms.action?pageName=$templateNamesList.templateName">					
						<!--  img  height="28px" width="50px"  src="#{skinBean.imagePath}#{resourceBean.STATIC_PAGE_TEMPLATE_IMAGE_LIST}#{dynamicTemplates.templateImgName}" /-->
						<img  height="28px" width="50px"  src="$templateNamesList.templateImgName" />
					</a>								
				</div>																					
			#end
			</div>
			</div>           
			</div>
	</div>
</div>
<div id="mycanvas"><div class="container">$!staticPageData.pageContent</div></div>   		
<div id="canvasImage" style="width:150px;height:150px;overflow:hidden"></div>