<link href="$!webThemes/CMS/css/styles_CMS.css?v=$!session.getLastAccessedTime()" rel="stylesheet" type="text/css" />
<link href="$!webThemes/CMS/css/banner.css" rel="stylesheet" type="text/css" />
#parse("font-awesomeV5.html")
<script src="$!webThemes/CMS/js/cms/cmsscript.js"></script>
<script src="$!webThemes/CMS/js/cms/bannerpluginv2.js"></script>
<div id="bannerWrapper" class="clearfix popupWraper">
	<div class="cms_customSearch cms_customSearchRight">
		<form method="get" action="widgetListCms.action">
			<input type="text" id="bannerSearchBox"  value="$!query" name="query" placeholder="Enter Widget Name to Search" />
			<button type="submit"><i class="list-search-icn fa fa-search"></i></button>
		</form>
	</div>
	<div class="previewSection">
		<div class="prev_heading">
			<i class="fas fa-lg fa-eye"></i><span>Widget Preview Area</span>
		</div>
		<div id="previewContainer">
			<div style="margin:40px auto;width:100%;opacity: 0.5;text-align:center;">
				<h1>Preview Block</h1>
			</div>
		</div>
	</div>
	<div class="listRightColumn">
		<table class="table cms_customTable">
			<thead>
				<tr>
					<th>Actions</th>
					<th>Serial #</th>
					<th>Widget Name</th>
				</tr>
			</thead>
			<tbody>
				#set($pageNo = ($widgetList.pageNo - 1))
				#set($counter = $pageNo * $widgetList.pageSize)
				#set($count = $counter+1)
				#foreach($widgets in $widgetList.resultSet)
				<tr>
					<td class="cms_actionIcons">
						<a href="javascript:void(0);" title="Preview" onclick="widgetPreview('$widgets.id')">
							<i class="fas fa-lg fa-eye"></i>
						</a>
						<a href="editWidgetDataCms.action?widgetId=$widgets.id" title="Edit Widget List">
							<i class="fas fa-lg fa-pencil-alt"></i>
						</a>
						<a href="javascript:void(0);" title="Delete Widget" onclick="deleteWidget($widgets.id,'$widgets.name')">
							<i class="fas fa-lg fa-trash-alt"></i>
						</a>
					</td>
					<td class="text-center cms_slNo">$!count</td>
					<td>$widgets.name</td>
				</tr>
				#set($count = $count+1)
				#end
			</tbody>
		</table>
	</div>
	<div class="cms_pgnation clearfix clear-both">
		<div class="pgnation"></div>
		<div class="cms_formBtn">
			<button onclick="closeBannerPopup();" class="outLineBtn_left"> <i class="fa fa-times-circle"></i> Cancel</button>
			<a href="editWidgetDataCms.action?widgetId=0" class="cms_blueBtn">
				Add New Widget 
				<span class="action-icon">
					<i class="fa fa-lg fa-pencil-alt"></i>
					<sup class="fas fa-th-large"></sup>
				</span>
			</a>
			<a href="widgetTypeCms.action" class="cms_blueBtn">
				Add/Edit Widget Type
				<span class="action-icon">
					<i class="fa fa-lg fa-th-large"></i>
					<sup class="fas fa-plus-circle"></sup>
				</span>
			</a>
		</div>
	</div>
	<div id="cleared"></div>
</div>
<script>
	#set($pageNo = ($widgetList.pageNo - 1))
	var pagination = paginationScriptCms($widgetList.totalPages,"widgetListCms.action?query=$!query&page=",$pageNo,1);
	$(".pgnation").html(pagination);
</script>