<form id="editContactAddressForm" action="editContactAddressUnit.action" onsubmit="submitThisForm(this); return false;"> 
	<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<span class="text-danger"> * </span>$!locale.get("register.label.indicatesrequiredfields")
			</div>
		</div>
	</div>		
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">	
			<label for="firstName">$locale.get("register.label.firstname") <span class="text-danger">*</span></label>
			<input type="text" name="firstName" id="firstName" value="$!billAddress.firstName" class="form-control" placeholder="$!locale.get('register.label.firstname')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.firstName.notEmpty')" maxlength="20" />
		</div>
	</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">	
				<label for="lastName">$locale.get("register.label.lastname") <span class="text-danger">*</span></label>
				<input type="text" name="lastName" id="lastName" value="$!billAddress.lastName" class="form-control" placeholder="$!locale.get('register.label.lastname')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.lastName.notEmpty')" maxlength="20" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="address1">$!locale.get("register.label.address1") <span class="text-danger">*</span></label>
				<input type="text" name="address1" id="address1" value="$!billAddress.address1" class="form-control" placeholder="$!locale.get('register.label.address1')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.address.address1.notEmpty')" maxlength="100" />
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="address2">$!locale.get("register.label.address2")</label>
				<input type="text" name="address2" id="address2" value="$!billAddress.address2" class="form-control" placeholder="$!locale.get('register.label.address2')" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="city">$!locale.get("form.label.city") <span class="text-danger">*</span></label>
				<input type="text" name="city" id="city" value="$!billAddress.city" class="form-control" placeholder="$!locale.get('form.label.city')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.address.city.notEmpty')" maxlength="50" />
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="countrySelectShip">$!locale.get("form.label.country") <span class="text-danger">*</span></label>
				<select name="country" id="countrySelectShip" class="form-control selectpicker" data-type="select" data-state="stateSelectShip" data-required="Y" data-error="$!locale.get('form.user.address.country.notEmpty')"></select>
			</div>
		</div>
	</div>		
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="stateSelectShip">$!locale.get("form.label.state") <span class="text-danger">*</span></label>
				<select name="state" id="stateSelectShip" class="form-control selectpicker" data-type="select" data-required="Y" data-error="$!locale.get('form.user.address.state.notEmpty')"></select>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="zip">$!locale.get("form.label.zipCode") <span class="text-danger">*</span></label>
				<input type="text" name="zip" id="zip" value="$!billAddress.zipCode" class="form-control formatZipCode" data-type="text" data-required="Y" data-error="$!locale.get('form.user.address.zipCode.notEmpty')" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="billPhone">$!locale.get("form.label.phone") <span class="text-danger">*</span></label>
				<input type="text" name="billPhone" id="billPhone" value="$!billAddress.phoneNo" class="form-control formatPhoneNumber" data-type="number" data-required="Y" data-error="$!locale.get('form.user.address.phoneNumber.notEmpty')" data-invalid="$!locale.get('form.user.address.phoneNumber.invalid')" />
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
				<label for="email">$!locale.get("form.label.eMail") <span class="text-danger">*</span></label>
				<input type="text" name="email" id="email" value="$!billAddress.emailAddress" title="Read Only" class="form-control"  data-type="email" data-required="Y" data-error="$!locale.get('form.user.address.emailId.notEmpty')" data-invalid="$!locale.get('form.user.address.emailId.invalid')" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="form-group">
			<label class="customCheckBox2" for="getentityAddress">
				<input type="checkbox" id="getentityAddress" onclick="getContactEntityAddress(this);" />
				<span>$!locale.get("form.label.useEntityAddress")</span>
			</label>
			</div>
		</div>			
	</div>		
		<div class="row" align="center">
			<div class="col-md-12 col-sm-12 col-xs-12">
			<button type="submit" id="updateBtn" name="submit" class="button siteBtn">$!locale.get('product.button.update')</button>
			</div>
		</div>
		<input type="hidden" id="useEntityAddress" name="useEntityAddress" value="No">
		<input type="hidden" name="contactId" id="contactId" value="$!session.getAttribute('customerId')"/>
		<input type="hidden" name="entityId" id="entityId" value="$!billAddress.entityId"/>
		<input type="hidden" name="countryCode" id="countryCode" value="$!billAddress.country"/>
		<input type="hidden" name="shippingStateId" id="shippingStateId" value="$!billAddress.state"/>
		<input type="hidden" name="buyingCompanyId" id="buyingCompanyId" value="$!buyingCompanyId"/>
		<input type="hidden" name="addressBookId" id="addressBookId"value="$!addressBookId"/>
		<input type="hidden" name="countryFulNmShip" id="countryFulNmShip"/>
		<input type="hidden" name="isInternationalUser" id="isInternationalUser" value="$!internationalUser"/>
		<input type="hidden" id="billAddressState" value="$!billAddress.state"/>
		<input type="hidden" id="billAddressCountry" value="$!billAddress.country"/>
		<input type="hidden" name="erpOverrideFlag" id="erpOverrideFlag" value="Y"/>
</form>
<div id="successBlock" class="hideMe">
	<a href="$!locale.get('website.url.AccountDashboard')" class="button">$!locale.get('product.label.backToDashboard')</a>
</div>