<div class="postLoginrightContent">
<!-- datatable should add script removed from ecomm-Bond -->
#if($eventsByCategory)
#foreach($key in $eventsByCategory.keySet())
<!-- <h2><span>$key</span></h2> -->
<div class="cimm_siteTableEnclosure">
	<table id="events_$key" class="events_$key cimm_siteTable display" width="100%" cellpadding="0" cellspacing="0">
		<thead>
			<tr>
				<th>$locale.get("event.label.renderingEngine")</th>
				<th style="text-align:left;">$locale.get("event.label.name")</th> 
				<th> $locale.get("event.label.dates") </th>
				<th>$locale.get("event.thead.location")</th>
			</tr>
		</thead>
		<tbody>
			#set($eventTypeName = $key)
			#foreach($key2 in $eventsByCategory.get($key).keySet())
			#set($categoryList = $eventsByCategory.get($key).get($key2))
			#foreach($category in $categoryList)
			<tr>
				<td><h4><span>$category.eventCategory</span></h4></td>
				<td style="text-align:left;">
					<a href="$category.id/EventDetail/$category.title">$category.title</a>
				</td>
				<td>
					$category.date.substring(0,10).replaceAll('-','/') - $category.end.substring(0,10).replaceAll('-','/')
				</td>
				<td>
					<a href="eventsUnit.action?eventsLocationFilter=$category.location">$category.location</a>
				</td>
			</tr>
			#end
			#end
		</tbody>
	</table>
</div>
#end
#else
	$locale.get("event.label.noEventsOrClasses")
#end
</div>