#if($!eventsList && $!eventsList.title && $!eventsList!="")
<div class="row">
	<div class="col-md-6 col-sm-6 col-sx-12 eventInfoBlock">
		<h3 class="cimm_page-title">$!eventsList.title</h3>
		<table cellspacing="5" cellpadding="5">
			 <tr>
				<td><strong>$!locale.get("eventDetail.label.date") :</strong></td>
				<td>
					#if($eventsList.date.substring(9,11).replaceAll('-','/') == $eventsList.end.substring(9,11).replaceAll('-','/'))
						$!eventsList.date.substring(0,16).replaceAll('-','/')
					#else
						$!eventsList.date.substring(0,16).replaceAll('-','/') - $!eventsList.end.substring(0,16).replaceAll('-','/')
					#end
				</td>
			</tr>
			<tr>            		
				<td><strong>$!locale.get("eventDetail.label.time"): </strong></td>
				<td>$!eventsList.date.substring(16,25).replaceAll('-','/') - $!eventsList.end.substring(16,25).replaceAll('-','/')</td>
			</tr>
			#if($!eventsList.location.trim() != "")
			<tr>            		
				<td><strong>$!locale.get("event.label.location"): </strong></td>
				<td>$!eventsList.location</td>
			</tr>
			#end
			#if($eventsList.isCostRequired ==  "Y")
			<tr>            		
				<td><strong>$!locale.get("event.label.eventFee"): </strong></td>
				<td>$! $!eventCost</td>
			</tr>
			#end
			<tr>            		
				<td colspan="2">$!eventsList.description</td>
			</tr>
			#if($eventsList.phoneNumber!= "")
			<tr>
				<td colspan="2">
					<p><strong>$!locale.get("event.label.moreInfoPleaseContact") <a href="mailto:$!eventsList.notification" class="mailtoLink">$!eventsList.contact</a> at <a href="tel:$!eventsList.phoneNumber">$!eventsList.phoneNumber</a></strong></p>
				</td>
			</tr>
			#end
			#if($eventsList.showSeats == "Y")
			<input type="hidden" id="total" value="$!eventsList.totalSeats"/>
			#if($eventsList.totalSeats==-1)
			 <tr>            		
				<td><strong>$!locale.get("event.label.totalSeats")<span class="pull-right"> :</span></strong></td>
				<td>$!locale.get("event.seats.unlimited")</td>
			</tr>
			#else
			<tr>
				<td><strong>$!locale.get("event.label.totalSeats")<span class="pull-right"> :</span></strong></td>
	 			<td>$!eventsList.totalSeats</td>
	 		</tr>
			#end
			#set($diff = $!eventsList.totalSeats - $!eventsList.availableSeats)
			#if($eventsList.totalSeats == -1)
			#elseif($diff < 0)
			<tr>
				<td><strong>$!locale.get("event.label.availableSeats")<span class="pull-right"> : </span></strong></td>
				<td>0</td>
			</tr>
			#else
			<tr>
				<td><strong>$!locale.get("event.label.availableSeats")<span class="pull-right"> : </span> </strong></td>
				<td>$!diff</td>
			</tr>
			#end
		#end
		</table>
	</div>
	<div class="col-md-6 col-sm-6 col-sx-12 text-right">
		<img src="$!eventsList.imageUrl" alt="$!eventsList.title" onerror="this.src='$!cdnUrl$!webThemes/$!siteName/images/NoImage.png';"/>
	</div>
</div>
<div class="row eventInfoBlock">
	<div class="col-md-6 col-sm-6 col-sx-12">
		<p class="mBottom-3"><a href='/EventCalendar'>$!locale.get("event.label.backToEventsCalendar")</a></p>
		#if($eventsList.fileLocation != "No Attachment" && $eventsList.fileLocation)
		<p><img src="$!cdnUrl$!webThemes/$!siteName/images/pdf.png" alt='pdf' width="16px" class="pdfImg" alt=""> <a href="/ASSETS/DOCUMENTS/CMS/EN/$!eventsList.fileLocation" target="_blank">$!locale.get("event.label.courseSummary")</a></p>
		#end
	</div>
</div>
<div class="row eventsSidebar">        		
	<p class="mBottom-2"> $!locale.get("event.note.attendTheEvent") </p>
	<div align="center" id="chkDate">
		#if($eventsList.blockOnlineReg == "N")
			#if($eventsList.totalSeats == "-1")
				<a href="eventRegisterUnit.action?eventID=$!eventsList.id" class="btn button">$!locale.get("event.label.registerNow")</a>
			#elseif($eventsList.availableSeats >= $!eventsList.totalSeats)
				<a href="eventRegisterUnit.action?eventID=$!eventsList.id" class="btn button">$!locale.get("event.label.registerrForWaitingList")</a>
			#else
				<a href="eventRegisterUnit.action?eventID=$!eventsList.id" class="btn button">$!locale.get("event.label.registerNow")</a>
			#end
		#else
			<a href="javascript:void(0);" class="btn button">$!locale.get("event.label.registerClosed")</a>
		#end
	</div>
	<br />
</div>
#set($offset = "")
#if($!eventsList.timezoneOffset.substring(3,4) == 3)
	#set($offset = $!eventsList.timezoneOffset.substring(0,3)+".5")
#else
	#set($offset = $!eventsList.timezoneOffset.substring(0,3))
#end

#set($startTime = "")
#set($endTime = "")
#if($eventsList.date.substring(9,11).replaceAll('-','/') == $eventsList.end.substring(9,11).replaceAll('-','/'))
	#set($startTime = $!eventsList.date.substring(0,16).replaceAll('-','/')+" "+$!eventsList.date.substring(16,25).replaceAll('-','/'))
	#set($endTime = $!eventsList.date.substring(0,16).replaceAll('-','/')+" "+$!eventsList.end.substring(16,25).replaceAll('-','/'))
#else
	#set($startTime = $!eventsList.date.substring(0,16).replaceAll('-','/')+" "+$!eventsList.date.substring(16,25).replaceAll('-','/'))
	#set($endTime = $!eventsList.end.substring(0,16).replaceAll('-','/')+" "+$!eventsList.end.substring(16,25).replaceAll('-','/'))
#end
<script>
	var D1 = "$!eventsList.date";
	var D2 = new Date();
	if ((new Date(D1).getTime()) <= (new Date(D2).getTime())) {
		$("#chkDate").html('<a href="javascript:void(0);" class="btn button">$!locale.get("event.label.registerClosed")</a>');
	}

	/* function calcTime(timeStamp, offset) {
	    d = new Date(timeStamp);
	    utc = d.getTime() + (d.getTimezoneOffset() * 60000);
	    nd = new Date(utc + (3600000*offset));
	    return nd.toLocaleString();
	}
	var startTime = calcTime('$startTime', '$offset');
	var endTime = calcTime('$endTime', '$offset');
	$('#startTime').html(startTime);
	$('#endTime').html(endTime); */
	</script>
</script>
#else
	$!locale.get('product.label.noDataAvailable')
#end