#if($!userAgent == "WEBVIEW")
<!-- <div id="navbar" class="footerBgColor">
	<a id='navbar_home' href="#homePage"><img src="$!webThemes/$!siteName/images/App/FooterHome.png" alt=""/><p class="footerTextColor">Home</p></a>
	<a href="javascript:search();" id='navbar_search'><img src="$!webThemes/$!siteName/images/App/FooterSearch.png" alt=""/><p class="footerTextColor">Search</p></a>
	<a id='navbar_feedback'><img src="$!webThemes/$!siteName/images/App/FooterFeedback.png" alt=""/><p class="footerTextColor">Feedback</p></a>
	<a id="navbar_cart" href="$!locale.get('website.url.ShoppingCart')"><span id="cartCountrefresh" class="cart_badge cartCountrefresh">$!cartCount</span><img src="$!webThemes/$!siteName/images/App/FooterCart.png" alt=""/><p class="footerTextColor">Cart</p></a>
	<a id="navbar_help" ><img src="$!webThemes/$!siteName/images/App/FooterHelp.png" alt=""/><p class="footerTextColor">Help</p></a>
</div> -->
#else

#if($LayoutName=="ProductPage" || $LayoutName== "SubCategoryPage" ||  $LayoutName== "ProductList" )
<div class="row no-gutters">
	<div class="col-md-12">
		<div class="footerTopContent">
			<div class="container">
				<div class="footerTopBackgroundContent">
				<img itemprop="logo" src="$!webThemes/$!siteName/images/t_2015.png" alt="$!siteDisplayName" />
				<h2>Reach Out Us Today</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut feugiat libero, in sodales turpis. Morbi a eros dictum, tristique diam id, tincidunt urna. Curabitur nec metus sit amet ipsum condimentum fermuntum.</p>
				</div>
				<div class="col-md-12 mTop-5 footerTopContentForm">
					<div class="footerTopContentDetails">
						<h3>Contact Our industrial Experts</h3>
						<div class="footerTopContentrequired">
                        	<span class="required">*</span> Indicates a Required Field
                        </div>
                        <div class="footerTopContentDetailsform mTop-5">
                        	<ul>
                        		<li class="mBottom-4">
                        			<label>Name</label><span class="required pLeft-3">*</span> <br>
                        			<input type="text" name="" id="">
                        		</li>
                        		<li class="mBottom-4">
                        			<label>Email</label><span class="required pLeft-3">*</span> <br>
                        			<input type="text" name="" id="">
                        		</li>
                        		<li class="mBottom-4">
                        			<label>Phone Number</label><span class="required pLeft-3">*</span> <br>
                        			<input type="text" name="" id="">
                        		</li>
                        		<li class="mBottom-4">
                        			<label>Industry</label><span class="required pLeft-3">*</span> <br>
                        			<div class="footerTopContentSelect">
                        			<select class="padding-2">
    									<option value="" selected disabled>Select an industry</option>
    									<option value="">Industry A</option>
    									<option value="">Industry B</option>
    									<option value="">Industry C</option>
									</select>
									</div>
                        		</li>
                        		<li class="mBottom-4">
                        			<div class="footerTopContentButton">
										<button type="submit" class="button">Upload File</button>
										<button type="submit" class="button">Delete All</button>
									</div>
                        		</li>
                        	</ul>
                        	<ul class="footerTopContentButtonLabel">
                        		<li class="mBottom-4 mTop-3">
                        			<label>Label</label><span class="required pLeft-3">*</span> <br>
                        			<input type="text" name="" id="">
                        		</li>
                        		<li class="mBottom-4 mTop-3">
                        			<button type="submit" class="button">Submit Form</button>
                        		</li>
                        	</ul>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row no-gutters">
	<div class="col-md-12">
		<div class="footerTopNextContent">
			<div class="container">
				<div class="col-md-6 mTop-5 mBottom-5 footerTopNextContentImg">
					
				</div>
				<div class="col-md-6 mTop-5 mBottom-5 footerTopNextContentSlider">
					<h3>Success Story</h3>
					<h4>Company Name</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut feugiat libero, in sodales turpis. Morbi a eros dictum, tristique diam id, tincidunt urna. Curabitur nec metus sit amet ipsum condimentum fermentum. Aliquam pharetra eu lorem eu vehicula. Nunc gravida ex felis, sed rutrum est elementum vitae. Donec lacinia ac erat eu ullamcorper. Sed maximus ultricies semper. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					<button type="submit" class="button pull-right mTop-4">Read More</button>
				</div>
			</div>
		</div>
	</div>
</div>
#end
<div class="row no-gutters">
	<div class="col-md-12">
		<div class="footerMiddelContent">
			<div class="container pTop-5">
				<div class="col-md-3">
					<div class="row mTop-3"><a itemprop="url" href='$!hostName'><img itemprop="logo" src="$!webThemes/$!siteName/images/logo_Footer.png" alt="$!siteDisplayName" /></a></div>
					<div class="row mTop-4"><p>Turtle &amp; Hughes, established in 1923, is one of the nation's largest independent electrical and industrial distribution companies serving the industrial, construction, commercial, electrical contracting, export and utility markets.</p></div>
					<div class="row mTop-4"><img itemprop="logo" src="$!webThemes/$!siteName/images/this_Footer.png" alt="$!siteDisplayName" /></div>
					<div class="row mTop-4"><p>For over 20 years, Turtle &amp; Hughes Integrated Supply (THIS), a division of Turtle &amp; Hughes, has proven its leadership in the industrial supply market by partnering with global companies to reduce their total cost of ownership.</p></div>
					<div class="row mTop-4"><button type="button" class="btn btn-primary footer_Btn" data-toggle="modal" data-target="#myModal"><i class="far fa-file-pdf"></i>Download Our Brochure</button></div>
					<div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">
				      <div class="modal-content">
				        <div class="modal-header">
				          <h4 class="modal-title pullLeft">Download Our Brochure</h4>
				          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        </div>
				        <div class="modal-body">
				         <form>
				         	<div class="row">
				         		<div class="col-md-12">
				         			<div class="form-group">
										<label for="Your Name">Your Name<span class="text-danger"> * </span></label>
										<input type="text" placeholder="Your Name" data-type="text" class="form-control"/>
									</div>
				         		</div>
				         		<div class="col-md-12">
				         			<div class="form-group">
										<label for="Your Name">Email Address<span class="text-danger"> * </span></label>
										<input type="text" placeholder="Email Address" data-type="text" class="form-control"/>
									</div>
				         		</div>
				         	</div>
				         </form>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default siteBtn">Submit</button>
				        </div>
				      </div>
				      
				    </div>
				  </div>
				</div>
				<div class="col-md-1"></div>
				#set($count = 1)
				#foreach($!footMenu in $!footerStaticMenu) 
					<div class="col-md-3">
						<div class="footerCol">
							<h5><a href="#if($!footMenu.itemUrl) #if($!footMenu.staticPageUrl) $!footMenu.staticPageUrl #else $!footMenu.itemUrl #end #else javascript:void(0); #end">$!footMenu.level1Menu</a><i class="fa fa-plus" data-toggle="collapse" data-target="#hi$!count"></i></h5>
							#if($!footMenu.level1Menu.equals("Quick Links"))
							<ul id="hi$!count" class="footerQuickLinks">
							#elseif($!footMenu.level1Menu.equals("Contact Us"))
								<ul id="hi$!count" class="footerContactUs">
							#else
								<ul id="hi$!count" class="collapse in">
							#end
							#if($!footMenu.menuList && $!footMenu.menuList.size()>0)
								#foreach($!subStaticMenu in $!footMenu.menuList)
									#if($!subStaticMenu.level2Menu && $!subStaticMenu.level2Menu =="Request A Quote")
										#if($!userLogin)
											<li><a href="#if($!subStaticMenu.itemUrl) #if($!subStaticMenu.staticPageUrl) $!subStaticMenu.staticPageUrl #else $!subStaticMenu.itemUrl #end #else Javascript:void(0); #end"#if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='ST') #end #if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='NT')target="_blank"#end #if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='NW')onclick="window.open(this.href, 'newwindow', 'width=1350, height=1000, scrollbars=yes, menubar=yes, toolbar=yes');return false;"#end>$!subStaticMenu.level2Menu</a></li>
										#else
											<li><a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal" data-staticLink="#if($!subStaticMenu.itemUrl) #if($!subStaticMenu.staticPageUrl) $!subStaticMenu.staticPageUrl #else $!subStaticMenu.itemUrl #end #else Javascript:void(0); #end">$!subStaticMenu.level2Menu</a></li>
										#end
									#else
										<li><a href="#if($!subStaticMenu.itemUrl) #if($!subStaticMenu.staticPageUrl) $!subStaticMenu.staticPageUrl #else $!subStaticMenu.itemUrl #end #else Javascript:void(0); #end"#if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='ST') #end #if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='NT')target="_blank"#end #if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='NW')onclick="window.open(this.href, 'newwindow', 'width=1350, height=1000, scrollbars=yes, menubar=yes, toolbar=yes');return false;"#end>$!subStaticMenu.level2Menu</a></li>
									#end
								#end
							#end
							</ul>
						</div>
					</div>
					#set($count = $!count + 1)
				#end
				<div class="col-md-2">
					<div class="row text-center"><a href="javascrtipt:void(0);"><img itemprop="logo" src="$!webThemes/$!siteName/images/turtle_Footer.png" alt="$!siteDisplayName" /></a></div>
					<div class="row text-center">
						<ul class="social_Links">
								<li><a href="https://www.facebook.com/TurtleAndHughesInc" target="_blank"><i class="fab fa-facebook"></i></a></li>
								<li><a href="https://www.linkedin.com/company/turtle-&-hughes" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="https://twitter.com/turtleandhughes" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
								<li><a href="https://plus.google.com/100775999656452510956/about" target="_blank"><i class="fab fa-google-plus-square"></i></a></li>	
								<li><a href="https://www.youtube.com/channel/UCTixrY8vtRkxLRHNu4FSyJg" target="_blank"><i class="fab fa-youtube-square"></i></i></a></li>
						</ul>
					</div>	
					<div class="row text-center mTop-4"><a href="javascrtipt:void(0);"><img itemprop="logo" src="$!webThemes/$!siteName/images/certified_Logo.png" alt="$!siteDisplayName" /></a></div>
					<div class="row creditImages"><img src="$!webThemes/$!siteName/images/creditcardicons.png" alt="Payment" /></div>
				</div>
			</div>
		</div>
	</div> 
</div>
<div class="row no-gutters">
	<div class="col-md-12">
		<div class="cimm_footerDownContent">
			<div class="container alignCenter">
				<p class="foot_copy">$!locale.get('website.label.copyRight')$!locale.get('website.label.allRightsReserved')</p>
			</div>
			#if($!userAgent != "WEBVIEW")
			<p id="backToTop">
				<a href="#top"><span><i class="far fa-lg fa-arrow-alt-square-up"></i></span></a>
			</p>
			#end
		</div>
	</div>
</div>
#end
<div id="loginModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form id="modalLoginForm" method="post" data-form="login">
				<div class="modal-header">
					<h4 class="modal-title">$!locale.get("product.button.signIn")<button type="button" class="close" data-dismiss="modal">&times;</button></h4>
					<div id="pLoginErr" class="text-danger text-center mBottom-1"></div>
			    </div>
			    <div class="modal-body">
					<input type="hidden" value="popup" name="loginType">
					<div class="form-group">
						<label>$!locale.get("form.label.userName")</label>
						<input type="text" name="loginId" id="modalUserName" tabindex="2" class="form-control"/>
					</div>
					<div class="form-group">
						<label>$!locale.get("form.label.password")</label>
						<input type="password" name="loginPassword" id="modalPassword" tabindex="3" class="form-control"/>
					</div>
					<div class="form-group clearAfter">
						<label class="customCheckBox pullLeft" tabindex="4" >
							<input type="checkbox" name="rememberMe" id="modalRememberMe" />
							<span>$!locale.get("form.label.rememberMyLogin")</span>
						</label>
						<a href="$!locale.get('website.url.forgotPassword')" class="pullRight forgotPass" tabindex="5">$!locale.get("product.label.forgotPassword")</a>
					</div>
					<div class="clearAfter">
						<a href="$!locale.get('website.url.Register')" class="pullLeft cimm_button site_Btn" tabindex="7">$!locale.get("product.heading.signUp")</a>
						<button class="button pullRight site_Btn" type="submit" tabindex="6">$!locale.get('product.heading.signIn')</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="generalModel" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header noBorder">
		      	<h4 class="modal-title"><button type="button" class="close" data-dismiss="modal">&times;</button></h4>
		    </div>
		    <div class="modal-body">
		    </div>
		</div>
	</div>
</div>
<div id="cartPopModel" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header noBorder">
		      	<button type="button" class="close" data-dismiss="modal">&times;</button><h4 class="modal-title pull-left">$!locale.get('product.heading.myCart')</h4><a href="$!locale.get('website.url.ShoppingCart')" class="mRight-3 pull-right"><i class="fa fa-lg fa-shopping-cart"></i> <span class="ATCCartCount"></span> $!locale.get("header.label.items")</a>
		    </div>
		    <div class="modal-body row">
			    <div class="col-md-3 col-sm-3 col-xs-3">
					<img class="addedItemImg ATCimageName" src="$!webThemes/$!siteName/images/NoImage.png" alt="NoImage">
				</div>
				<div class="col-md-9 col-sm-9 col-xs-9">
					<div class="row mBottom-2">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3 class="productTitle ATCProductHeading"></h3>
							<p class="ATCShortDesc"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p><b>$!locale.get('product.label.partNumber'): </b><span class="ATCPartNumber"></span></p>
							<p><b>$!locale.get('product.label.mpn'): </b><span class="ATCMPartNumber"></span></p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p class="addedItemPrice priceSpan"><span class="ATCprice"></span></p>
							<p><b>$!locale.get('product.label.qty'): </b><span class="ATCQuantity"></span></p>
							<p style="display: none;"><b class="ATCavailableorLeadTime">$!locale.get('product.label.leadTime'): </b><span class="ATCLeadTime"><img src="$!webThemes/$!siteName/images/loading.gif" alt="loading" /></span></p>
						</div>
					</div>
				</div>
		    </div>
		    <div class="modal-footer">
		    	<a class="pullLeft siteBtn button" data-dismiss="modal">Continue Shopping</a>
				<a href='$!locale.get("website.url.ShoppingCart")' class="pullRight site_Btn button">$!locale.get("product.heading.viewCart")</a>
		    </div>
		</div>
	</div>
</div>
<!-- multiple add to cart -->
<div class="customPopUp" id="multipleAddToCartResult" style="display:none;"></div>
<!-- quickorder Pad Head -->
<div id="orderPadCopyHead" style="display:none;"></div>
<div class="cimm_customPopWrap" id="searchResultsWrap" style="display:none;">
	<div class="quickOrder_customPopContent">
		<a class="closeBtn" href="javascript:void(0);" onclick="closeBlockPop();"><i class="fa fa-lg fa-times-circle"></i></a>
		<div id="searchResultsHeader">
			<img src="$!webThemes/$!siteName/images/loading.gif" alt="loading" />
		</div>
	</div>
</div>

<script>
$(".cartBody").on('click', function(e){
 	e.stopPropagation();
  	$(this).tab('show');
 });
</script>