##parse("sleekNavigationMenu.html")
#parse("Macros/defaultMacro.vm")
#set ($captchaVal = "N")
#if($!CommonDBQuerySystemParameter.get('RECAPTCHAV3_STATICPAGES') == "Y")
#set ($captchaVal = "Y")
#end

<!-- v8.6.1 -->
#if($!userAgent == "WEBVIEW")
<!-- <div id="navbar" class="footerBgColor">
	<a id='navbar_home' href="#homePage"><img src="$!webThemes/$!siteName/images/App/FooterHome.png" alt=""/><p class="footerTextColor">Home</p></a>
	<a href="javascript:search();" id='navbar_search'><img src="$!webThemes/$!siteName/images/App/FooterSearch.png" alt=""/><p class="footerTextColor">Search</p></a>
	<a id='navbar_feedback'><img src="$!webThemes/$!siteName/images/App/FooterFeedback.png" alt=""/><p class="footerTextColor">Feedback</p></a>
	<a id="navbar_cart" href="$!locale.get('website.url.ShoppingCart')"><span id="cartCountrefresh" class="cart_badge cartCountrefresh">$!cartCount</span><img src="$!webThemes/$!siteName/images/App/FooterCart.png" alt=""/><p class="footerTextColor">Cart</p></a>
	<a id="navbar_help" ><img src="$!webThemes/$!siteName/images/App/FooterHelp.png" alt=""/><p class="footerTextColor">Help</p></a>
</div> -->
#else
<div class="row no-gutters">
	<div class="col-md-12">
		<div class="cimm_footer_top">
			<div class="container"></div>
		</div>
	</div>
</div>
<div class="row no-gutters">
	<div class="col-md-12">
		<div class="cimm_footer_mid">
			<div class="container paddingY-4">
				<div class="row">
					#if($!CommonDBQuerySystemParameter.get("ENABLE_MENUS_FROM_WP")=="Y")
						#generateWpFooterMenu($CIMMUtility.getWordPressMenu('WP_FOOTER_MENU'))
					#else
						#set($count = 1)
						#foreach($!footMenu in $!footerStaticMenu)
							<div class="col-md-3">
								<div class="footerCol">
									<h3><a href="#if($!footMenu.itemUrl) #if($!footMenu.staticPageUrl) $!footMenu.staticPageUrl #else $!footMenu.itemUrl #end #else javascript:void(0); #end">$!footMenu.level1Menu</a><em class="fa fa-plus"></em></h3>
									<ul id="footerMenu$!count" class="toggle_content">
									#if($!footMenu.menuList && $!footMenu.menuList.size()>0)
										#foreach($!subStaticMenu in $!footMenu.menuList)
											#if($!subStaticMenu.level2Menu && $!subStaticMenu.level2Menu =="Quick Order Pad")
												#if($!userLogin)
													<li><a href="#if($!subStaticMenu.itemUrl) #if($!subStaticMenu.staticPageUrl) $!subStaticMenu.staticPageUrl #else $!subStaticMenu.itemUrl #end #else Javascript:void(0); #end"#if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='ST') #end #if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='NT')target="_blank"#end #if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='NW')onclick="window.open(this.href, 'newwindow', 'width=1350, height=1000, scrollbars=yes, menubar=yes, toolbar=yes');return false;"#end>$!subStaticMenu.level2Menu</a></li>
												#else
													<li><a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal" data-staticLink="#if($!subStaticMenu.itemUrl) #if($!subStaticMenu.staticPageUrl) $!subStaticMenu.staticPageUrl #else $!subStaticMenu.itemUrl #end #else Javascript:void(0); #end">$!subStaticMenu.level2Menu</a></li>
												#end
											#else
												<li><a href="#if($!subStaticMenu.itemUrl) #if($!subStaticMenu.staticPageUrl) $!subStaticMenu.staticPageUrl #else $!subStaticMenu.itemUrl #end #else Javascript:void(0); #end"#if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='ST') #end #if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='NT')target="_blank"#end #if($!subStaticMenu.openPageIn && $!subStaticMenu.openPageIn=='NW')onclick="window.open(this.href, 'newwindow', 'width=1350, height=1000, scrollbars=yes, menubar=yes, toolbar=yes');return false;"#end>$!subStaticMenu.level2Menu</a></li>
											#end
										#end
									#end
									</ul>
								</div>
							</div>
							#set($count = $!count + 1)
						#end
					#end
					<div class="col-md-2">
						<div class="footerCol">
							<h3><a href="/contacto">$!locale.get('event.label.contact')</a><em class="fa fa-plus"></em></h3>
							<ul id="footerMenu$!count" class="toggle_content">
								<li><a>27 Calle 41-55 Z-5 </a></li>
								<li><a>Guatemala, Guatemala</a></li>
								<li><a>info@hp.com.gt</a></li>
								<li><a>+(502) 2499 5000</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-4">
						#set($count = $!count + 1)
						<div class="alignCenter">
							<!-- <h3><a href="javascript:void(0);">$!locale.get('footer.label.emailSignUp')</a><em class="fa fa-plus"></em></h3>
							<ul id="footerMenu$!count" class="toggle_content">
								<li><p>$!locale.get('footer.label.signupFor')</p></li>
								<li><a data-toggle="modal" data-target="#newsLetter" class="btn btn-primary btn-lg btn-signup">$!locale.get('footer.label.signMeUp')</a></li>
							</ul> -->
							<img itemprop="logo" src="$!hostName/$webThemes/$siteName/images/logo-footer.png" width="320px" height="100px" alt="$!siteDisplayName" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="socialMediaWrap">
							<ul>
							<li>
								<a href="https://www.facebook.com/hpcguatemala" target="_blank">
								  <img src="$!webThemes/$!siteName/images/facebook.png" alt="facebook">
								</a>
							  </li>
							  <li>
								<a href="https://www.instagram.com/hpcguatemala/" target="_blank">
								  <img src="$!webThemes/$!siteName/images/insta.png" alt="instgram">
								</a>
							  </li>
							  <li>
								<a href="https://api.whatsapp.com/send?phone=5575034176&text=Hola! Quisiera mas informacion" target="_blank">
								  <img src="$!webThemes/$!siteName/images/whatsapp.svg" alt="whatsapp">
								</a>
							  </li>
							</ul>
						  </div>
					</div>
					<div class="col-md-3">
	
					</div>
					<div class="col-md-6">
						<p class="cimm_footer-copyright">$!locale.get('website.label.copyRight') <span class="year"></span> $siteDisplayName. $!locale.get('website.label.allRightsReserved') </p>
					</div>
				</div>
			</div>
		</div> 
	</div>
</div>
<!-- <div class="row no-gutters">
	<div class="col-md-12">
		<div class="cimm_footer_down">
			<div class="container alignCenter">
				<p class="cimm_footer-copyright">$!locale.get('website.label.copyRight') <span class="year"></span> $siteDisplayName. $!locale.get('website.label.allRightsReserved') <a href="//www.unilogcorp.com/b2b-ecommerce-platform" target="_blank" title="B2B eCommerce platform powered by Unilog">B2B eCommerce platform</a> by Unilog</p>
			</div>
		</div>
	</div>
</div> -->
#end
<div id="loginModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form id="modalLoginForm" method="post" data-form="login">
				<div class="modal-header">
					<h4 class="modal-title">$!locale.get("product.button.signIn")<button type="button" class="close" data-dismiss="modal">&times;</button></h4>
					<div class="text-danger text-center mBottom-1 pLoginErr"></div>
			    </div>
			    <div class="modal-body">
					<input type="hidden" value="popup" name="loginType">
					<div class="form-group">
						<label for="modalUserName">$!locale.get("form.label.userName")</label>
						<input type="text" name="loginId" id="modalUserName" tabindex="2" class="form-control"/>
					</div>
					<div class="form-group">
						<label for="modalPassword">$!locale.get("form.label.password")</label>
						<input type="password" name="loginPassword" id="modalPassword" tabindex="3" class="form-control"/>
					</div>
					<div class="form-group clearAfter">
						<label for="modalRememberMe" class="customCheckBox pull-left" tabindex="4" >
							<input type="checkbox" name="rememberMe" id="modalRememberMe" />
							<span>$!locale.get("form.label.rememberMyLogin")</span>
						</label>
						<a href="$!locale.get('website.url.forgotPassword')" class="pull-right forgotPass" tabindex="5">$!locale.get("product.label.forgotPassword")</a>
					</div>
					<div class="clearAfter">
						<a href="$!locale.get('website.url.Register')" class="pull-left btn btn-primary" tabindex="7">$!locale.get("product.heading.signUp")</a>
						<button class="pull-right btn btn-primary" type="submit" tabindex="6">$!locale.get('product.heading.signIn')</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="generalModel" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header noBorder">
		      	<h4 class="modal-title"><button type="button" class="close" data-dismiss="modal">&times;</button></h4>
		    </div>
		    <div class="modal-body">
		    </div>
		</div>
	</div>
</div>
<div id="salesrepModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		    <div class="modal-body"></div>
		</div>
	</div>
</div>
<div id="cartPopModel" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header noBorder">
		      	<button type="button" class="close" data-dismiss="modal">&times;</button><h4 class="modal-title pull-left">$!locale.get('product.heading.myCart')</h4><a href="$!locale.get('website.url.ShoppingCart')" class="mRight-3 pull-right"><em class="fa fa-lg fa-shopping-cart"></em> <span class="ATCCartCount"></span> $!locale.get("header.label.items")</a>
		    </div>
		    <div class="modal-body row">
			    <div class="col-md-3 col-sm-3 col-xs-3">
					<img class="addedItemImg ATCimageName" src="$!webThemes/$!siteName/images/NoImage.png" alt="NoImage">
				</div>
				<div class="col-md-9 col-sm-9 col-xs-9">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h5 class="productTitle ATCProductHeading"></h5>
							<p class="ATCShortDesc"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p><strong>$!locale.get('product.label.partNumber'): </strong><span class="ATCPartNumber"></span></p>
							<p><strong>$!locale.get('product.label.mpn'): </strong><span class="ATCMPartNumber"></span></p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6">
							<p class="addedItemPrice priceSpan"><span class="ATCprice formatPrice"></span></p>
							<p><strong>$!locale.get('product.label.qty'): </strong><span class="ATCQuantity"></span></p>
							<p style="display: none;"><strong class="ATCavailableorLeadTime">$!locale.get('product.label.leadTime'): </strong><span class="ATCLeadTime"><img src="$!webThemes/$!siteName/images/loading.gif" alt="loading" width="24px" height="12px"/></span></p>
						</div>
					</div>
				</div>
		    </div>
		    <div class="modal-footer">
				<a href='$!locale.get("website.url.ShoppingCart")' class="pull-right button">$!locale.get("product.heading.viewCart")</a>
		    </div>
		</div>
	</div>
</div>
<div class="modal fade" id="newsLetter" role="dialog">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header alignCenter requiblack ">
				<h4>$!locale.get('footer.signUp.subject')
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button></h4>
			</div>
			<div class="modal-body clearAfter">
				<p class="text-black alignCenter">$!locale.get('footer.lable.descpcontectwithus')</p>
				<div class="col-md-10 col-md-offset-1">
		     		<form id="footerSignUp" action="SaveAndSendMail.action" onsubmit="submitThisForm(this); return false;" data-recaptcha="$captchaVal">
		       			<input type="hidden" id="Subject" name="Subject" value="Newsletter Subscription">
		       			<input type="hidden" id="mailMessage" name="mailMessage" value="">
		       			<input type="hidden" id="sendTo" name="sendTo" value="">
		       			<input type="hidden" name="NotificationName" value="NewsLetterSubscriptionForm">
		       			<input type="hidden" id="fromEmail" name="fromEmail" value="">
		       			<input type="hidden" name="formName" id="formName" value="Subscribe">
		       			<input type="hidden" name="recaptcha_staticPage" id="recaptcha_staticPage" value="$captchaVal">
						<div class="form-group clearAfter">
							<div class="col-md-12">
								<label class="control-label">Email<span class="text-danger">*</span></label>
								<input type="email" data-type="text" name="email" id="email" data-required="Y" data-error="Please enter the Email Address" class="form-control " maxlength="50">
							</div>
						</div>
						<div class="form-group clearAfter">
							<div class="col-md-12">
								<label class="control-label">First Name <span class="text-danger"></span></label>
								<input type="text" data-type="text" name="Name" id="firstname" class="form-control" onkeypress="return isAlfaNumericOnly(this);" maxlength="50">
							</div>
						</div>
						<div class="form-group clearAfter">
							<div class="col-md-12">
								<label class="control-label">Last Name <span class="text-danger"></span></label>
								<input type="text" data-type="text" name="Name1" id="Lastname" class="form-control " onkeypress="return isAlfaNumericOnly(this);" maxlength="50">
							</div>
						</div>
						<div class="form-group clearAfter">
							<div class="col-md-12">
								<label class="control-label">Company <span class="text-danger"></span></label>
								<input type="text" data-type="text" name="Company" id="company" class="form-control " maxlength="50">
							</div>
						</div>
						<div class="form-group clearAfter">
							<div class="col-md-12 text-center">
								<ul>
									<li> <input type="submit" id="modalfoot" class="btn btn-primary btn-lg btn-signup" value="$!locale.get('footer.label.signUp')"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- multiple add to cart -->
<div class="customPopUp" id="multipleAddToCartResult" style="display:none;"></div>
<!-- quickorder Pad Head -->
<div id="orderPadCopyHead" style="display:none;"></div>
<div class="cimm_customPopWrap" id="searchResultsWrap" style="display:none;">
	<div class="quickOrder_customPopContent">
		<a class="closeBtn" href="javascript:void(0);" onclick="closeBlockPop();"><em class="fa fa-lg fa-times-circle"></em></a>
		<div id="searchResultsHeader">
			<img src="$!webThemes/$!siteName/images/loading.gif" alt="loading" width="24px" height="12px"/>
		</div>
	</div>
</div>
$!footerscript