#set($home = $!locale.get('product.heading.home'))
#if($!LayoutName=="NewShippingAddressPage" || $!LayoutName=="EditAddressPage")
<ul class="breadcrumb">
	<li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
	<li><a href="$!locale.get('website.url.EditContactInfo')">$!locale.get("product.heading.editContactInfo")</a></li>
	#if($!type && $!type=='bill')
	<li class="active">$!locale.get("product.heading.billingAddress")</li>
	#elseif($!type && $!type=='ship')
	<li class="active">$!locale.get("product.heading.shippingAddress")</li>
	#else
	<li class="active">$!locale.get("breadcrumbs.label.$!LayoutName")</li>
	#end
</ul>	
<h1 class="cimm_page-title"> #if($!type && $!type=='bill') $!locale.get("product.heading.billingAddress") #elseif($!type && $!type=='ship') $!locale.get("product.heading.shippingAddress") #else $!locale.get("breadcrumbs.label.$!LayoutName") #end</h1>
#elseif($!LayoutName=="EventDetailPage" || $!LayoutName=="EventRegisterPage")
<ul class="breadcrumb">
	<li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
	<li><a href='/EventCalendar'>$!locale.get("product.heading.eventsAndClasses") </a></li><!-- /eventsUnit.action -->
	#if($!eventsList.title)
	<li class="active">$!eventsList.title</li>
	#else
	<li class="active">$!locale.get("breadcrumbs.label.$!LayoutName")</li>
	#end
</ul>
<h1 class="cimm_page-title hideMe">$!locale.get("breadcrumbs.label.$!LayoutName")</h1>
#elseif($!LayoutName=="ProductGroupPage")
<ul class="breadcrumb">
    <li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
    <li><a href="Dashboard">$!locale.get("product.heading.accountDashBoard")</a></li>
    <li><a href="/SavedGroups/Products"> $!locale.get("product.heading.myProductGroups")</a></li>
    <li class="active"><span>$!savedGroupName</span></li>
</ul>
#elseif($!LayoutName=="PromotedProductsListPage")
<ul class="breadcrumb">
	<li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
	<li><a href="Dashboard">$!locale.get("product.heading.accountDashBoard")</a></li>
	<li><a href="$!locale.get('website.url.SavedGroup.PromotedProducts')"> $!locale.get("product.heading.PromotedProducts")</a></li>
	<li><span>$!savedGroupName</span></li>
</ul>
#elseif($!LayoutName=="ApproveCart")
	<ul class="breadcrumb">
	    <li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
	    <li><a href="Dashboard">$!locale.get("product.heading.accountDashBoard")</a></li>
	    <li><a href="/SavedGroups/ApproveCart"> $!locale.get("breadcrumbs.label.responseType.ApprovedCart")</a></li>
	    <li class="active"><span>$!savedGroupName</span></li>
	</ul>
	#if($!savedGroupName.trim().length()>0)<h1 class="cimm_page-title">$!savedGroupName</h1> #end
#elseif($!LayoutName=="SavedCartPage")
<ul class="breadcrumb">
    <li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
    <li><a href="Dashboard">$!locale.get("product.heading.accountDashBoard")</a></li>
    #if($!isShared!="Y")
    <li><a href="/SavedGroups/Cart"> $!locale.get("product.heading.mySavedCart")</a></li>
    #else
    <li><a href="/SavedGroups/Cart">$!locale.get("product.heading.sharedCart")</a></li>
    #end
    <li class="active"><span>$!savedGroupName</span></li>
</ul>
#elseif($!LayoutName=="SavedGroupsPage")
	<ul class="breadcrumb">
		<li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
		<li><a href="Dashboard">$!locale.get("product.heading.accountDashBoard")</a></li>
		#if($!isShared=="Y")
			<li class="active">$!locale.get("product.heading.sharedCart")</li>
		#else
			<li class="active">$!locale.get("breadcrumbs.label.responseType.$!responseType")</li>
		#end
	</ul>
	<h1 class="cimm_page-title">$!locale.get("breadcrumbs.label.responseType.$!responseType")</h1>
#elseif($!LayoutName=="PromotedProductGroupsPage")	
<ul class="breadcrumb">
	<li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
	<li><a href="Dashboard">$!locale.get("product.heading.accountDashBoard")</a></li>
	<li>$!locale.get("product.heading.PromotedProducts")</li>
</ul>
<h1 class="cimm_page-title hideIfDashboard">$!locale.get("product.heading.PromotedProducts")</h1>
#elseif($!LayoutName=='SendThisPage')
<ul class="breadcrumb">
    <li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
    <li id="prodName"></li>
    <li class="active">$!locale.get("product.heading.share")</li>				
</ul>
#elseif($!LayoutName=="StaticPage" || $!LayoutName=="StaticPageFullPageLayout")
	#if($!isStaticHomePage!="Y" && $pageContent.trim().length()>0)
		#if($!staticPageBreadCrumbSolr && $!staticPageBreadCrumbSolr.size()>0)
			#set($breadCrumbStpSize = $!staticPageBreadCrumbSolr.size())
			#set($breadCrumbStIdx = 1 )
			<ul class="breadcrumb">
				<li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
				 #foreach($!breadCrumb in $staticPageBreadCrumbSolr)
					#if($!breadCrumbStIdx == $!breadCrumbStpSize)
						<li class="active">$!breadCrumb.linkName</li>
					#else
						<li><a href="$!breadCrumb.pageUrl">$!breadCrumb.linkName</a></li>
					#end
					#set($breadCrumbStIdx = $!breadCrumbStIdx+1)
				 #end
			</ul>
		#else
			<ul class="breadcrumb">
			    <li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
			    <li class="active">$!pageTitle</li>
			</ul>
		#end
		<!-- #if($!pageTitle.trim().length()>0)<h1 class="cimm_page-title">$!pageTitle</h1>#end -->
	#end
#elseif($!LayoutName=="ProductPage" || $!LayoutName=="SubCategoryPage")
	#set($listPageHeading = "")
	#set($pageTitleBreadCrumbFirst = "" )
	#set($pageTitleBreadCrumbLast = "" )
	#set($finalPageTitle = "" )
		#if($!breadCrumbList)
			<ul class="breadcrumb">
				<li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
				<li><a href="$!locale.get('website.url.ProductCategory')">$!locale.get("product.heading.productCategory")</a></li> 
				#set($breadCrumbSize = $!breadCrumbList.size() )
				#set($breadCrumbIdx = 1 )
				#foreach($!breadCrumb in $!breadCrumbList)
					#if($!breadCrumbIdx == $!breadCrumbSize)
						#set($listPageHeading = $!breadCrumb.categoryName)
						<li class="active">$!breadCrumb.categoryName</li>
					#else
						<li><a href="$!breadCrumb.seoUrl">$!breadCrumb.categoryName</a></li>
						#set($pageTitleBreadCrumbFirst = $!pageTitleBreadCrumbFirst+" "+ $!breadCrumb.categoryName)
					#end
					#set($pageTitleBreadCrumbLast = $!listPageHeading )
					#set($breadCrumbIdx = $!breadCrumbIdx+1)
					#if($!pageTitleBreadCrumbFirst && $!pageTitleBreadCrumbFirst!='')
						#set ( $!finalPageTitle =  $!pageTitleBreadCrumbFirst + " - " + $!pageTitleBreadCrumbLast)
					#else
						#set ( $!finalPageTitle =$!pageTitleBreadCrumbLast)
					#end
				#end
			</ul>
		#else
			<ul class="breadcrumb">
				<li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
				<li class="active">$!locale.get("product.heading.productCategory")</li>              
			</ul>
		#end
		##<!--h1 class="cimm_page-title hidden">#if($!listPageHeading && $!listPageHeading.trim().length()>0) $!listPageHeading #else $locale.get("navigation.label.shopProducts") #end</h1 --> 
#elseif($!LayoutName=="ProductList")
	#if($!breadCrumbList)
	<ul class="breadcrumb">
		<li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
		<li><a href="$!locale.get('website.url.ProductCategory')">$!locale.get("product.heading.products")</a></li>
		#if($!navigationType=='BRAND')
			<li><a href="$!locale.get('website.url.Brands')">$!locale.get("product.heading.shopByBrands")</a></li>
		#end
        #if($!navigationType=='MANF')
        <li><a href="ManufacturerLink.action">$!locale.get("navigation.label.shopBymanufacturer")</a></li>
        #end
		#set($breadCrumbSize = $!breadCrumbList.size() )
		#set($breadCrumbIdx = 1 )
		#set($LastSet = "" )
		#set($FirstSet = "" )
		#set($FirstSetCode = "" )
		#set($pageTitleBreadCrumbLast = "" )
		#set($pageTitleBreadCrumbFirst = "" )
		#set($finalPageTitle = "" )
		#set($shopByBrand = "" )
		#foreach($!breadCrumb in $!breadCrumbList)
			#if($!navigationType=='BRAND')
	    		#if($!breadCrumbIdx == $!breadCrumbSize)
					<li class="active"> $!breadCrumb.categoryName</li>
					#set($LastSet = $!breadCrumb.categoryName )
				#end
			#elseif($!navigationType=='MANF')
	    		#if($!breadCrumbIdx == $!breadCrumbSize)
					<li class="active"> $!breadCrumb.categoryName</li>
					#set($LastSet = $!breadCrumb.categoryName )
				#end
			#else
				#if($!breadCrumbIdx == $!breadCrumbSize)
					<li class="active">$!breadCrumb.categoryName</li>
					#set($LastSet = $!breadCrumb.categoryName )
				#else
					<li><a href="$!breadCrumb.seoUrl">$!breadCrumb.categoryName</a></li>
					#set($FirstSet = $!breadCrumb.categoryName)
					#set($FirstSetCode = $!breadCrumb.categoryCode )
					#set($pageTitleBreadCrumbFirst = $!pageTitleBreadCrumbFirst+" "+ $!breadCrumb.categoryName)
				#end
			#end
			#set($pageTitleBreadCrumbLast = $!LastSet )
			#set($breadCrumbIdx = $!breadCrumbIdx+1)
			#set ( $!finalPageTitle =  $!pageTitleBreadCrumbFirst + " - " + $!pageTitleBreadCrumbLast)
		#end
	</ul>
	<h1 class="cimm_page-title hideMe">$!pageTitleBreadCrumbLast</h1>
	#end
#elseif($!LayoutName=='ProductDetailPage')
	#set($itempropPosition = 0 )
	<ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemprop="item" href="$!locale.get('website.url.Welcome')"><span itemprop="name">$!home</span></a>
			#set($itempropPosition = $itempropPosition + 1 )
			<meta itemprop="position" content="$itempropPosition" />
		</li>
		<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
			<a itemprop="item" itemtype="https://schema.org/WebPage" href="$!locale.get('website.url.ProductCategory')"><span itemprop="name">$!locale.get("product.heading.products")</span></a>
			#set($itempropPosition = $itempropPosition + 1 )
			<meta itemprop="position" content="$!itempropPosition" />
		</li>
		#if($!breadCrumbList && $!breadCrumbList.size()>0)
			#set($breadCrumbSize = $!breadCrumbList.size() )
			#set($breadCrumbIdx = 1 )
				#foreach($!breadCrumb in $!breadCrumbList)
					#if($!breadCrumbIdx == $!breadCrumbSize)
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<span itemprop="name">#if($!breadCrumb.categoryName.trim().length()>0)$!breadCrumb.categoryName#else$!itemData.manufacturerPartNumber#end</span>
							#set($itempropPosition = $itempropPosition + 1 )
							<meta itemprop="position" content="$!itempropPosition" />
						</li>
					#else
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemprop="item" itemtype="https://schema.org/WebPage" href="$!breadCrumb.seoUrl"><span itemprop="name">$!breadCrumb.categoryName</span></a>
							#set($itempropPosition = $itempropPosition + 1 )
							<meta itemprop="position" content="$!itempropPosition" />
						</li>
					#end
				#set($breadCrumbIdx = $!breadCrumbIdx+1)
				#end
		#else
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemprop="item" href='$!locale.get("website.url.ProductCategory")'><span itemprop="name">$!locale.get("product.heading.products")</span></a>
				#set($itempropPosition = $itempropPosition + 1 )
				<meta itemprop="position" content="$!itempropPosition" />
			</li>
		#end
	</ul>
#elseif($!LayoutName=="PrintInvoicesPage")
	<ul class="breadcrumb">
	    <li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
	    <li><a href='$!locale.get("website.url.OrderHistory")'>$!locale.get("product.heading.orderHistory")</a></li>
	    <li class="active">$!locale.get("product.button.printInvoices")</li>
	</ul>
	#if($!orderHistoryDetailList.size() > 0)
		<div class="cimm_page-title">
			<div class="cimm_groupTitle">
				<h1 class="cimm_page-title">$!locale.get("product.heading.InvoiceList")</h1>
			</div>
			<div class="cimm_groupManipulate">
				<a href="javascript:void(0);" onclick="printInvoices();"><em class="fa fa-lg fa-print"></em> &nbsp; $!locale.get('product.button.printInvoices')</a>
			</div>
	    	<div class="clear"></div>
		</div>
	#else
		<h1 class="cimm_page-title">$!locale.get("print.heading.Noinvoices")</h1>
	#end
#elseif($!LayoutName=="OrderDetailPage")
	<ul class="breadcrumb">
	    <li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
	    #if($!requestType && $!requestType=="openQuote")
	    	<li><span class="landingLink">$!locale.get("product.label.orderNumber")$!orderDetail.orderNum</span></li>
	    #else
		    <li><a href="Dashboard">$!locale.get("product.heading.accountDashBoard")</a></li>
		    #if($!orderDetail && $!orderDetail.orderStatus.contains("Bid"))
		    	<li><a href="OpenOrderSale.action?reqType=BID&orderStatus=New">$!locale.get("product.heading.openBids")</a></li>
		    #elseif($!orderStatus && $!orderStatus=="New")
				<li><a href="OpenOrderSale.action?reqType=webOrder&orderStatus=New">$!locale.get("product.heading.openOrders")</a></li>
		    #end
		    #if($!orderStatus && $!orderStatus=="History")
				<li><a href="$!locale.get('website.url.OrderHistory')">$!locale.get("product.heading.orderHistory")</a></li>
		    #end
		    <li class="active">$!locale.get("product.heading.orderDetail")</li>
	    #end
	</ul>
	#if($orderDetail.orderStatus.contains("Bid"))
    	<h1 class="cimm_page-title">$!locale.get("product.heading.bidDetail")</h1>   
    #elseif($!requestType != "openQuote")
    	<h1 class="cimm_page-title">$!locale.get("product.heading.orderDetail")</h1>     
    #else
    	<h1 class="cimm_page-title">$!locale.get("product.heading.orderDetail")</h1>   
    #end 
#elseif($LayoutName=="EmailAuthenticationPage")
<ul class="breadcrumb">
    <li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
    <li class="active">$!locale.get("label.authenticate.useraccount")</li>				
</ul>
#elseif($LayoutName=="RequestForQuoteV2Page")
<ul class="breadcrumb">
    <li><a href="$!locale.get('website.url.Welcome')" title='$!home'>$!home</a></li>
    <li class="active">$!locale.get("breadcrumbs.label.$!LayoutName")</li>
</ul>	
#elseif($LayoutName!="ShipEntityPage" && $LayoutName!="404Page" && $LayoutName!="NoDataPage")
	<ul class="breadcrumb">
	    <li><a href="$!locale.get('website.url.Welcome')">$!home</a></li>
	    #if($!LayoutName=="OrderHistoryPage" || $!LayoutName=="AddresssesPage" || $!LayoutName=="EditContactPage" || $!LayoutName=="ChangePasswordPage" || $!LayoutName=="OpenOrdersPage" || $!LayoutName == "RequestForQuotePage" || $!LayoutName ==  "QuickOrderStdPage" || $!LayoutName == "AddNewCreditCard" || $!LayoutName == "ManagePurchaseAgentPage" || $!LayoutName == "InvoiceDetailPage" || $!LayoutName == "InvoiceListPage" || $!LayoutName == "PunchoutConfig")
	    <li><a href="Dashboard">$!locale.get("product.heading.accountDashBoard")</a></li>
	    #end
	    #if($!locale.get("breadcrumbs.label.$!LayoutName"))
	    	<li class="active">$!locale.get("breadcrumbs.label.$!LayoutName")</li>
	    #end
	</ul>
	<h1 class="cimm_page-title">$!locale.get("breadcrumbs.label.$!LayoutName")</h1>
#end