<BASE href="$!hostName">
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
#if($userAgent != "WEBVIEW")
<meta name="viewport" content="width=device-width, initial-scale=1.0">
#else
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
#end

#set($share_img = $!hostName + $!webThemes + "/" + $!siteName + "/images/logo.png")
#if($!siteLogo)
#set($share_img = $!hostName + "/ASSETS/IMAGES/LOGOS/CLIENT/" + $!siteLogo)
#end

#set($share_desc = $!locale.get('all.Pages.Default.Meta.Description'))
#set($ststicMetaDesc = $!metaDesc.trim())
#set($ststicMetaKey = $!metaTagString.trim())
#set($pageTitleVelo = $!siteDisplayName.trim())
#set($pageTitleseparator = " | ")
#set($canonical_url = $!hostName)
#set($share_imgAlt = $!siteDisplayName)
#set($seo_keywords = $!siteDisplayName)

#if($LayoutName!="ProductDetailPage")
	#if($LayoutName=="StaticPage" || $!LayoutName=="StaticPageFullPageLayout")
		#if($!ststicMetaDesc && $!ststicMetaDesc != "")
			#set($share_desc = $!ststicMetaDesc)
		#end
		#if($!ststicMetaKey && $!ststicMetaKey.trim()!="")
			#set($seo_keywords = $!ststicMetaKey)
		#end
	#end
#end
#if($!LayoutName=="SavedGroupsPage")
	#set($pageTitleVelo = $!locale.get("breadcrumbs.label.responseType.$!responseType") + $!pageTitleseparator + $!pageTitleVelo)
#elseif($!LayoutName=="ProductGroupPage" || $!LayoutName=="ApproveCart" || $!LayoutName=="SavedCartPage")
	#set($pageTitleVelo = $!savedGroupName + $!pageTitleseparator + $!pageTitleVelo)
#elseif($LayoutName=="HomePage")
	#set($pageTitleVelo = "Home"+ $!pageTitleseparator + $!pageTitleVelo)
#elseif($!LayoutName=="OrderDetailPage")
	#if($orderDetail.orderStatus.contains("Bid"))
		#set($pageTitleVelo = $!locale.get("product.heading.bidDetail") + $!pageTitleseparator + $!pageTitleVelo)
    #elseif($!requestType != "openQuote")
    	#set($pageTitleVelo = $!locale.get("product.heading.orderDetail") + $!pageTitleseparator + $!pageTitleVelo)
    #else
   		#set($pageTitleVelo = $!locale.get("product.heading.orderDetail") + $!pageTitleseparator + $!pageTitleVelo)
    #end
#elseif($LayoutName=='ProductDetailPage')
	#if($breadCrumbList && $!breadCrumbList.size()>0)
		#set($breadCrumbSize = $!breadCrumbList.size() )
		#set($breadCrumbIdx = 1)
		#set($categoryNameIndex = $!breadCrumbSize - 1)
		#foreach($!breadCrumb in $!breadCrumbList)
			#if($!breadCrumbIdx == $!categoryNameIndex)
				#if($!breadCrumb.categoryName)
					#set($pageTitleVelo = $!pageTitle + $!pageTitleseparator + $!pageTitleVelo)
				#else
					#set($pageTitleVelo = $!itemData.manufacturerPartNumber + $!pageTitleseparator + $!pageTitleVelo)
				#end
			#end
			#set($breadCrumbIdx = $!breadCrumbIdx+1)
		#end
		#set($breadCrumbIdx = 2 )
		#foreach($!breadCrumb in $!breadCrumbList)
			#if($breadCrumbIdx == $!breadCrumbSize)
				#set($BCTCat = $slugUrl.makeSlug($!breadCrumb.categoryName))
			#end 
			#set($breadCrumbIdx = $!breadCrumbIdx+1)
		#end
	#else
		#set($pageTitleVelo =  $!pageTitle + $!pageTitleseparator + $!pageTitleVelo)
	#end
	#if($itemLevelFilterData)
		#foreach($!itemData in $!itemLevelFilterData)
			#set($imgSrc = '')
			#if($productDataList && $!productDataList.size() > 0)
				#foreach($!productData in $!productDataList)
					#if($productData.imageType=="URL")
						#set($imgSrc = $!productModeImage+$!productData.imageName)
					#else
						#if($productData.imageName != "" && $!hostURI.contains("/Y/"))
							#set($imgSrc = $!hostName+$!productModeImage+$!productData.imageName)
						#else
							#set($imgSrc = $!hostName+$!detailImage+$!itemData.imageName)
						#end
						
					#end
				#end
			#else
				#if($itemData.imageType=="URL")
					#set($imgSrc = $!itemData.imageName)
				#else
					#set($imgSrc = $!hostName+$!detailImage+$!itemData.imageName)
				#end
			#end
			#set($itmPriceId = $!itemData.itemPriceId)
			#set($itemProductTitle = $!itemData.brandName+" "+$!itemData.manufacturerPartNumber)
			#set($BCTCat1 = $slugUrl.makeSlug($!itemProductTitle))
			#if($fromProductMode.trim().length()>0) #set($BCTCat1 = $fromProductMode.trim().toLowerCase()+"/"+$!BCTCat1) #end
			#set($canonical_url = $!hostName+""+$!itmPriceId+"/product/"+$!BCTCat1)
			<meta property="og:url" content="$!hostName$!itmPriceId/product/$!BCTCat1" />
			#set($share_imgAlt = $BCTCat1)
			#set($share_img = $!imgSrc)
			#if($itemData.metaDesc && $itemData.metaDesc.trim()!="")
				#set($share_desc = $!itemData.metaDesc)
			#elseif($itemData.shortDesc && $itemData.shortDesc.trim()!="")
				#set($share_desc = $!itemData.shortDesc)
			#end
		#end
	#end
#elseif($LayoutName=='PromotedProductGroupsPage')
	#set($pageTitleVelo = $!locale.get("product.heading.PromotedProducts") + $!pageTitleseparator + $!pageTitleVelo)
#elseif ($LayoutName=='PromotedProductsListPage')
	#set($pageTitleVelo = $!locale.get("product.label.PromotedProductsList") + $!pageTitleseparator + $!pageTitleVelo)
#elseif($LayoutName=="ProductList")
#set($itemParentCategoryName = "")
#set($finalPageTitle = "" )
	#if($breadCrumbList)
		#set($breadCrumbSize = $!breadCrumbList.size() )
		#set($breadCrumbIdx = 1 )
		#set($LastSet = "" )
		#set($FirstSet = "" ) 
		#set($FirstSetCode = "" )
		#set($pageTitleBreadCrumbLast = "" )
		#set($pageTitleBreadCrumbFirst = "" )
		#set($shopByBrand = "" )
		#set($forPageSeoUrl = "" )
		#set($forPageSeoUrlSeparator = "" )
		#set($forSeoDesc = "" )
		#set($forSeoDescSeparator = "" )
		#foreach($breadCrumb in $breadCrumbList)
			#if($!breadCrumb.categoryName.length()>1)
				#set($forPageSeoUrl = $forPageSeoUrl+$forPageSeoUrlSeparator+$slugUrl.makeSlug($!breadCrumb.categoryName))
				#set($forPageSeoUrlSeparator = "/" )
				#set($forSeoDesc = $!forSeoDesc+ $!forSeoDescSeparator + $!breadCrumb.categoryName)
			    #set($forSeoDescSeparator = " | " )
			#end
			#if($navigationType=='BRAND')
	    		#if($breadCrumbIdx == $!breadCrumbSize)
					#set($LastSet = $!breadCrumb.categoryName )
				#end
			#elseif($navigationType=='MANF')
	    		#if($breadCrumbIdx == $!breadCrumbSize)
					#set($LastSet = $!breadCrumb.categoryName )
				#end
			#elseif($navigationType=='SEARCH')
			
			#else
				#if($breadCrumbIdx == $!breadCrumbSize)
					#set($LastSet = $!breadCrumb.categoryName )
				#else
					#set($FirstSet = $!breadCrumb.categoryName)
					#set($FirstSetCode = $!breadCrumb.categoryCode )
					#if($pageTitleBreadCrumbFirst=="")
						#set($pageTitleBreadCrumbFirst =  $!breadCrumb.categoryName)
					#end
				#end
			#end
			#set($pageTitleBreadCrumbLast = $!LastSet )			
			#set($breadCrumbIdx = $!breadCrumbIdx+1)
			#set ($finalPageTitle = $!pageTitleBreadCrumbLast)
			#set($itemParentCategoryName = $!pageTitleBreadCrumbLast)
		#end           
	#end
	#set($pageTitleVelo = $!finalPageTitle + $!pageTitleseparator + $!pageTitleVelo)
	#set($BCTCat1 = $slugUrl.makeSlug($!finalPageTitle))
	
	#if($navigationType=='MANF')
		#if($!metaDescriptions)
			#set($share_desc = $!metaDescriptions)
		#end
		#set($canonical_url = $!hostName+""+$!manfId+"/category/"+$!BCTCat1)
	#else
		#set($canonical_url = $!hostName+""+$!codeId+"/category/"+$!BCTCat1)
	#end
#elseif($LayoutName=="ProductPage" || $!LayoutName=="SubCategoryPage")
#set($listPageHeading = "")
	#set($pageTitleBreadCrumbFirst = "" )
	#set($pageTitleBreadCrumbLast = "" )
	#set($finalPageTitle = "" )
	#set($forPageSeoUrl = "" )
	#set($forPageSeoUrlSeparator = "" )
	#set($finalPageTitle = "" )
	#if($breadCrumbList)
		#set($breadCrumbSize = $!breadCrumbList.size() )
		#set($breadCrumbIdx = 1 )
		#foreach($!breadCrumb in $!breadCrumbList)
			#set($forPageSeoUrl = $forPageSeoUrl+$forPageSeoUrlSeparator+$slugUrl.makeSlug($!breadCrumb.categoryName) )
			#set($forPageSeoUrlSeparator = "/" )
			#if($breadCrumbIdx == $!breadCrumbSize)
				#set($listPageHeading = $!breadCrumb.categoryName)
			#else
				#if($pageTitleBreadCrumbFirst=="")
					#set($pageTitleBreadCrumbFirst =  $!breadCrumb.categoryName)
				#end
			#end
			#set($pageTitleBreadCrumbLast = $!listPageHeading )		
			#set($breadCrumbIdx = $!breadCrumbIdx+1)
			#if($pageTitleBreadCrumbFirst && $!pageTitleBreadCrumbFirst!='')
				#set ($finalPageTitle =  $!pageTitleBreadCrumbFirst + $!pageTitleseparator + $!pageTitleBreadCrumbLast)
			#else
				#set ($finalPageTitle =$!pageTitleBreadCrumbLast)
			#end				
		#end
		#if($finalPageTitle)
			#set($pageTitleVelo = $!finalPageTitle + $!pageTitleseparator + $!pageTitleVelo)
			#set($BCTCat1 = $slugUrl.makeSlug($!pageTitleBreadCrumbLast))
			
		#else
			#set($pageTitleVelo = $!listPageHeading + $!pageTitleseparator + $!pageTitleVelo)
			#set($BCTCat1 = $slugUrl.makeSlug($!listPageHeading))
		#end
		#set($canonical_url = $!hostName+""+$codeId+"/category/"+$BCTCat1)
	#else
		#set($pageTitleVelo = "Products"+ $!pageTitleseparator + $!pageTitleVelo)
		#set($canonical_url = $!hostName+"/products")
	#end
	##if($!categoryDescription && $!categoryDescription.marketingText)
		##set($share_marketingText = $!categoryDescription.marketingText)
	##end
	#if($!categoryDescription.shortDesc != "")
		#set($share_desc = $!categoryDescription.shortDesc.trim())
		#set($seo_keywords = $!share_desc)
	#end
#elseif($LayoutName=="cspConfiguratorPage")
	#set($pageTitleVelo = "CSP Configurator" + $!pageTitleseparator + $!siteDisplayName.trim())
#elseif($LayoutName=="EventDetailPage")
	#set($pageTitleVelo = $!eventsList.title + " " + $!locale.get("breadcrumbs.label.$!LayoutName") + $!pageTitleseparator + $!siteDisplayName.trim())
#elseif($LayoutName=="StaticPage" || $!LayoutName=="StaticPageFullPageLayout")
	#set($pageTitleVelo = $!pageTitle.trim() + $!pageTitleseparator + $!siteDisplayName.trim())
#else
	#set($pageTitleVelo = $!locale.get("breadcrumbs.label.$!LayoutName") + $!pageTitleseparator + $!pageTitleVelo.trim())
#end
#if($navigationType=='SEARCH')
	#set($pageTitleVelo = "Search Results " + $!pageTitleVelo.trim())
#end
#set($BCTCat = "")
#if($navigationType=="NAVIGATION") 
	#set($BCTBrand = "")
	#set($BCTType = "")
	#set($breadCrumbSize = $!breadCrumbList.size() )
	#set($breadCrumbIdx = 1 )
	#foreach($!breadCrumb in $!breadCrumbList)
		#if($breadCrumbIdx == $!breadCrumbSize)
			#set($BCTCat = $!breadCrumb.categoryName)
		#end
		#set($breadCrumbIdx = $!breadCrumbIdx+1)
	#end
	 #if($attrFilteredList && $!attrFilteredList.size()>0)
		#foreach($!attributeFiltered in $!attrFilteredList)
		 #if($attributeFiltered.attrName=="brand")
			#set($BCTBrand = $!attributeFiltered.attrValue.replaceAll('\"',''))
		 #end
		 #if($attributeFiltered.attrName.replaceAll("attr_","")=="Type")
			#set($BCTType = $!attributeFiltered.attrValue.replaceAll('\"',''))
		 #end
		#end
	#end
	#if($BCTCat=="")
		#set($BCTCat =$!listPageHeading)
	#end
	#if($seoUrl!="Y")
		#set($canonicalUrl = $!hostName+"C/"+$!codeId+"/"+$!BCTCat.replaceAll(" ","-"))
	#end
	#if($seoUrl!="Y")
		#set($canonicalUrl = $!hostName+"BCT/"+$!BCTBrand.replaceAll(" ","+")+"-"+$!BCTCat.replaceAll(" ","-")+"-"+$!BCTType.replaceAll(" ","+"))
	#end
#end
#if($LayoutName!='ProductDetailPage' && $LayoutName!="ProductList" && $LayoutName!="ProductPage" && $LayoutName!="SubCategoryPage")
	#if($!canonicalUrl && $canonicalUrl.trim()!="")
		#set($canonical_url = $!canonicalUrl)
	#end
#end

#set($pageTitleVelo = $!pageTitleVelo.replace("Page","").trim())
<meta property="og:title" content="$!pageTitleVelo" />
<meta property="og:type" content="website" />
<meta property="og:image" content="$share_img" />
<meta property="og:image:alt" content="$share_imgAlt"/>
<meta property="og:image:width" content="500" /> 
<meta property="og:image:height" content="500" />
<meta property="og:site_name" content="$!siteDisplayName" />
<meta property="og:description" content="$share_desc" name="description" />
<meta name="keywords" content="$!seo_keywords">
<!-- meta property="twitter:description" content="$share_desc" />
<meta name="twitter:image" content="$share_img" / -->
<meta name="twitter:card" content="summary">
<link rel="canonical" href="$!canonical_url" />

#if(!$userLogin && ($!LayoutName=="RequestForQuotePage" || $!LayoutName=="QuickOrderStdPage" || $!LayoutName=="QuickOrderResultPage"))
<script>window.location.href = "/";</script>
#end
#if($userLogin && $!session.getAttribute('isGeneralUser')=="Y" && $responseType=="ApprovedCart" && $!LayoutName=="PunchoutConfig")
<script>window.location.href = "/";</script>
#end
<script type="text/javascript" src="$!webThemes/$siteName/js/jquery-3.4.1.min.js"></script>
#if($!CommonDBQuerySystemParameter.get("EnablePiwik") == 'Y')
<!-- Piwik -->
#set($piwikSiteID = 2)
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analyticsbeta.cimm2.com/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '$piwikSiteID']);
    _paq.push(['setUserId', '$!session.getAttribute("com.common.username")']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://analyticsbeta.cimm2.com/piwik/piwik.php?idsite=$piwikSiteID&rec=1" style="border:0;" alt="piwik image" /></p></noscript>
<!-- End Piwik Code -->
#end
#if($LayoutName != 'CMSStaticPageList')
	#parse("stylesheets.html")
#end
<title>$!pageTitleVelo.replace("Page","").trim()</title>