#if($!isCdnCmsTemplates == "Y") $globalhiddeninputWriter #else #parse("globalhiddeninput.html") #end
#set($headerStaticMenuFlag = "N")
#if($!headerStaticMenuFlag == "Y") ##Remove $headerStaticMenuFlag refrence and if ststment to enable the block
<!-- <div class="cimm_header_top">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="cimm_header_top-phone">
						<ul>
							<li>
								Call Us for Assistance:123-965-9842
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="cimm_header_top-menu hideForDevices">
						<ul class="nav navbar-right">
							#foreach($headerMenu in $headerStaticMenu)
								<li>
									<a data-toggle="dropdown" href="#if($headerMenu.itemUrl) #if($headerMenu.staticPageUrl) $!headerMenu.staticPageUrl #else /$!headerMenu.itemUrl #end #else javascript:void(0); #end" #if($headerMenu.level1Menu && $headerMenu.level1Menu=='Blog')target="_blank"#end>$!headerMenu.level1Menu #if($headerMenu.menuList && $headerMenu.menuList.size()>0) <em class="fa  fa-caret-down" aria-hidden="true"></em>#end</a>
									#if($headerMenu.menuList && $headerMenu.menuList.size()>0)
										<ul class="dropdown-menu">
										#foreach($subStaticMenu in $headerMenu.menuList)
											<li><a href="#if($subStaticMenu.itemUrl) #if($subStaticMenu.staticPageUrl) $!subStaticMenu.staticPageUrl #else /$!subStaticMenu.itemUrl #end #else javascript:void(0); #end" #if($subStaticMenu.openPageIn && $subStaticMenu.openPageIn=='ST') #end #if($subStaticMenu.openPageIn && $subStaticMenu.openPageIn=='NT')target="_blank"#end #if($subStaticMenu.openPageIn && $subStaticMenu.openPageIn=='NW')onclick="window.open(this.href, 'newwindow', 'width=1350, height=1000, scrollbars=yes, menubar=yes, toolbar=yes');return false;"#end>$!subStaticMenu.level2Menu</a></li>
										#end
										</ul>
									#end
								</li>
							#end
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
#end
<div class="cimm_header_mid">
<div class="container">
<div class="row">
	#if($userAgent != "WEBVIEW")
	<div class="col-lg-3 col-md-12">
		<div class="cimm_logo" itemtype="http://schema.org/Organization" itemscope>
			<a itemprop="url" href='$!hostName'>
				<img itemprop="logo" src="/ASSETS/IMAGES/LOGOS/CLIENT/$!siteId/$!siteLogo" width="150px" height="50px" onerror="this.src='$!webThemes/$!siteName/images/logo.png'" alt="$!siteDisplayName" />
			</a>
		</div>
	</div>
	#end
	<div class='col-lg-4 col-md-12 clearfix #if($!userAgent == "WEBVIEW")webViewSearchWrap #end'>
		<div class="cimm_mobileNavIconWrap hidden-lg">
			<button type="button" class="navbar-toggle" id="mobileNavigationTrigger">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
			</button>
		</div>
		#if($!userAgent == "WEBVIEW")
		<div class="cimm_searchWrapper">
		    <form class="cimm_searchForm webViewSearch clearAfter" id="search_Form">
	    		<input class="form-control" type="text" onkeypress="return runScript(event);" title="$!locale.get('header.searchPlaceholder.enterKeywrodOrPartNumber')" id="txtSearch" name="keyWord" value="#if($keyWord && $resultCount>0)$!keyWord #else $!locale.get('header.searchPlaceholder.enterKeywrodOrPartNumber') #end" onfocus="if(this.value==' $!locale.get('header.searchPlaceholder.enterKeywrodOrPartNumber') '){this.value='';}" onblur="if(this.value==''){this.value=' $!locale.get('header.searchPlaceholder.enterKeywrodOrPartNumber') ';}"/>
    			<button type="submit" id="performSearchBtn" class="cimm_searchIcon" title="$!locale.get('product.label.search')" onclick="return performSearch();" value="search"><em class="fa fa-2x fa-search"></em></button>
				<a class="cimm_cameraIcon" onclick="callToVisionapi();"><em class="fa fa-2x fa-camera"></em></a>
				<a class="cimm_cameraIcon mLeft-3" onclick="voiceSearch();"><em class="fa fa-2x fa-microphone"></em></a>
			</form>
		<div class='mobileCartCountWrap clearAfter'>
			#if($!session.getAttribute("isSalesUser").equals("Y"))
			<span class="pull-left">
				#if($!session.getAttribute("isSalesAdmin") && $!session.getAttribute("isSalesAdmin") != "")
		    	<b>$!locale.get("label.salesuser.admin"):</b>
		    	#else
		    	<b>$!locale.get("label.salesuser.rep"):</b>
		    	#end
		    	$!session.getAttribute("salesUserDetails").get("firstName") $!session.getAttribute("salesUserDetails").get("lastName")
		    </span>
	    	#end
	    	<span class="mRight-3"><b>$!locale.get("product.heading.welcome"):</b> $!session.getAttribute("userFirstName") $!session.getAttribute("userLastName")</span>
			<a href="$!locale.get('website.url.ShoppingCart')" class="mobileCartCount"><span id="cartCountrefresh" class="cartCountrefresh">$!cartCount</span></a>
			#if($userLogin)
			<a href="javascript:void(0);" onclick="doLogOffScript();"><em class="glyphicon glyphicon-log-out" aria-hidden="true"></em></a>
			#else
			<a href="/Login"><em class="glyphicon glyphicon-log-in" aria-hidden="true"></em></a>
			#end
		</div>
	</div>
	#else
	<div class="cimm_searchWrapper">
	    <form class="cimm_searchForm" id="search_Form">
	    	<div class="input-group">
				<input type="text" onkeypress="return runScript(event);" id="txtSearch" title="$!locale.get('product.button.placeSearch')" name="keyWord" value="#if(($keyWord || $kwdForCatOverrideSearch ) && $resultCount>0)#if($!kwdForCatOverrideSearch.trim().length()>0) $!kwdForCatOverrideSearch #else$!keyWord#end#else $!locale.get('product.button.placeSearch') #end" onfocus="if(this.value==' $!locale.get('product.button.placeSearch') '){this.value='';}" onblur="if(this.value==''){this.value='';this.value=' $!locale.get('product.button.placeSearch') ';}"  class="form-control"/>
				<div class="input-group-btn">
					<button type="submit" id="performSearchBtn" class="btn btn-primary cimm_searchIcon" title="$!locale.get('product.label.search')" onclick="return performSearch();" value="search"><em class="fa fa-lg fa-search"></em></button>
				</div>
			</div>
		</form>
		<a href="$!locale.get('website.url.ShoppingCart')" class="hidden-lg mTop-1">$!locale.get('header.label.cart') <span id="cartCountrefresh" class="cartCountrefresh">$!cartCount </span></a>
	</div>
	#end
	</div>
	<div class="col-lg-5 col-md-12 visible-lg dropdown">
		<ul class="cimm_signWrap">
		<li>
			<a>
			<img itemprop="logo" src="$!hostName/$webThemes/$siteName/images/logo-truper.png" width="130px" height="50px" alt="$!siteDisplayName" />
			</a>
		</li>
		<!-- <li>
			<ul class="cimm_contactWrap">
				<li><a href="https://api.whatsapp.com/send?phone=5575034176&text=Hola! Quisiera mas informacion" target="_blank"><i class="fab fa-whatsapp"></i>&nbsp;&nbsp;<span>+(502) 2499-5000</span></a></li>
				<li><a href="tel:+50224995000"><i class="fas fa-phone"></i>&nbsp;&nbsp; <span>+(502) 2499-5000</span></a></li>
			</ul>
		</li> -->
		<li><a href="tel:+50224995000"><i class="fas fa-phone"></i>&nbsp;&nbsp; <span>+(502) 2499-5000</span></a></li>
		#if($userLogin)
			<li class="dropdown">
				<span class="imgBox1"><em class="fa fa-user-circle"></em></span>
				<span class="blockElement"></span>
			</li>
		#else
			<li class="hideForDevices dropdown">
				<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" data-target="loginDropDown">
					<span class="imgBox"><em class="fa fa-user-circle"></em></span>	
				</a>
			</li>
        #end
        <li class='cartCountDisplayLi dropdown'>
				<a href="$!locale.get('website.url.ShoppingCart')" data-target="quickCartViewBlock"><!-- data-toggle="modal" class="dropdown-toggle" data-function="quickCartView"-->
					<!-- <span class="imgBox" title="$!locale.get('product.heading.viewCart')" data-toggle="tooltip">
						<em class="fa fa-shopping-cart"></em>
					</span> -->
					<span>
						<img itemprop="logo" src="$!hostName/$webThemes/$siteName/images/cartIcon.png" width="40px" height="24px" alt="$!siteDisplayName" />
					</span>
					<span class="cartCountrefresh blockElement"> $!cartCount</span>
				</a>
		</li>
		</ul>
		#if($userLogin)
		<span href="javascript:void(0);" class="loginblockElement">
			#if($!session.getAttribute("isSalesUser").equals("Y"))
			<span>
				#if($!session.getAttribute("isSalesAdmin") && $!session.getAttribute("isSalesAdmin") != "")
				<b>$!locale.get("label.salesuser.admin"):</b>
				#else
				<b>$!locale.get("label.salesuser.rep"):</b>
				#end
				$!session.getAttribute("salesUserDetails").get("firstName") $!session.getAttribute("salesUserDetails").get("lastName")
			</span>
			#end
			<span>$!session.getAttribute("userFirstName") $!session.getAttribute("userLastName")</span>
		</span>
		#else
		<a href="javascript:void(0);" class="dropdown-toggle loginblockElement" data-toggle="dropdown" data-target="loginDropDown">
			<span>$!locale.get('product.heading.login')</span>
		</a>
		<div class="loginWindow dropdown-menu">
			<form id="popLoginForm" method="post" data-form="login">
				<div class="text-danger text-center pLoginErr"></div>
				<input type="hidden" value="popup" name="loginType">
				<div class="form-group">
					<label for="popUserName">$!locale.get("form.label.userName")</label>
					<input type="text" name="loginId" id="popUserName" tabindex="1" class="form-control"/>
				</div>
				<div class="form-group">
					<label for="popPassword">$!locale.get("form.label.password")</label>
					<input type="password" name="loginPassword" id="popPassword" tabindex="2" class="form-control"/>
				</div>
				<div class="rememberLogWrap row">
					<div class="col-sm-12 col-md-5">
						<label for="rememberMeDrop" class="customCheckBox" tabindex="3" > 
							<input type="checkbox" name="rememberMe" id="rememberMeDrop" />
							<span>$!locale.get("form.label.rememberMyLogin")</span>
						</label>
					</div>
					<div class="col-sm-12 col-md-7">
						<button class="btn btn-primary btn-block" type="submit" tabindex="4"> $!locale.get('product.button.signIn')</button>
					<div class="clear"></div>
					<a href="/ForgotLink.action" class="forgotPassword" tabindex="5">$!locale.get("product.label.forgotPassword")</a>
					</div>
				</div>
			</form>
			<div class="register_link">
				<a href="$!locale.get('website.url.Register')" class="btn btn-secondary btn-lg btn-block">$!locale.get('product.heading.register')</a>
			</div>
		</div>
		#end
	</div>
</div>
</div>
</div>
<!-- ***********************End of Header************************-->