#if($ajaxCall=="Y" || $ajaxCall=="quickOrderResult") #parse($bodyContent) #else
<!DOCTYPE html>
<html lang="en">
<head>
    #parse("head.html")
</head>
<body>
	<div class="site-overlay" id="site-overlay"></div>
	<div class="modalPopOverlay" id="overlay"></div>
	<!-- <div class="loadAfter">#if($userAgent != "WEBVIEW")<i class="fa fa-4x fa-spin fa-spinner"></i>#end</div> -->
	<div id="fixedHead"></div>
	<div class="cimm_stickyPageWrap">
		<div id="normalHead">
			<header>
				<div class="cimm_header">
					#parse("header.html")
				</div>
			</header>
			<nav class="navbar navbar-default">
				<div class="container cimm_nav">
					#parse("navigation.html")
				</div>
			</nav>
		</div>
		<div class="cimm_bodyContentWrap">
		    <div class="container #if($LayoutName == 'ProductList' && $resultCount > 0 && $!navigationType=='SEARCH')mTop-3 #end">
		    #if($LayoutName!="HomePage" &&  $!isStaticHomePage !="Y") ## && $userAgent != "WEBVIEW"
		    	<div class="row">
			    	<div class="col-md-12">
						<div class="cimm_BreadCrumbs">
							#parse("fullBreadcrumbs.html")
						</div>
			    	</div>
		    	</div>
		    	#end
			    <div class="row">
			    	<div class="col-md-3 hidden-sm hidden-xs" id="leftMenu">
			    		#if($leftContent)
						#if($layoutName == "ProductList")
							#if($resultCount > 0)
							<div class="cimm_leftnav">
								#parse($leftContent)
							</div>
							#end
						#else
							<div class="cimm_leftnav">
								#parse($leftContent)
							</div>
						#end
					#end
			    	</div>
			    	<div class="col-md-9">
			    		<div class="cimm_mainContentEnclosure">
							#parse($bodyContent)
						</div>
						#if($rightContent)
						<div class="cimm_rightMenuEnclosure">
							#parse($rightContent)
						</div>
				        #end
			    	</div>
			    </div>
		    </div>
		</div>
	</div>
	<footer>
	    <div class="cimm_footerEnclosure">
	     	#parse("footer.html")
	    </div>
    </footer>
    <div id="slideLeft"></div>
    #if($!userAgent != "WEBVIEW")
	<p id="backToTop">
		<a href="#top"><span></span></a>
	</p>
	#end
	#parse("javascripts.html")
</body>
</html>
#end