#if($ajaxCall=="Y") #parse($bodyContent) #else
<!DOCTYPE html>
<html lang="en">
<head>
	#parse("head.html")
</head>
<body>
	<div class="site-overlay" id="site-overlay" ></div>
	<div class="modalPopOverlay" id="overlay"></div>
	<!-- <div class="loadAfter">#if($userAgent != "WEBVIEW")<i class="fa fa-4x fa-spin fa-spinner"></i>#end</div> -->
	<div id="fixedHead"></div>
	<div class="cimm_stickyPageWrap">
		<div id="normalHead">
			<header>
				<div class="cimm_header">
					#parse("header.html")
				</div>
			</header>
			<nav class="navbar navbar-default">
				<div class="container cimm_nav">
					#parse("navigation.html")
				</div>
			</nav>
		</div>
		<div class="cimm_bodyContentWrap">
			#if($LayoutName!="HomePage" &&  $!isStaticHomePage !="Y" && $userAgent != "WEBVIEW")
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="cimm_BreadCrumbs">
							#parse("fullBreadcrumbs.html")
						</div>
					</div>
				</div>
			</div>
			#end
			#parse($bodyContent)
		</div>
	</div>
	<footer>
	    <div class="cimm_footerEnclosure">
	     	#parse("footer.html")
	    </div>
    </footer>
    #if($!userAgent != "WEBVIEW")
	<p id="backToTop">
		<a href="#top"><span></span></a>
	</p>
	#end
	#parse("javascripts.html")
</body>
</html>
#end
