#if($ajaxCall=="Y") #parse($bodyContent) #else
<!DOCTYPE html>
<html lang="en">
<head>
	#parse("head.html") #parse("stylesheets.html")
</head>
<body>
	<div class="site-overlay" id="site-overlay" ></div>
	<div class="modalPopOverlay" id="overlay"></div>
	<div class="loadAfter"><img itemprop="loading" src="$webThemes/$siteName/images/turtle.gif" width="100px" height="100px" alt="Loading" /></div>
	<div id="fixedHead"></div>
	<div class="cimm_stickyPageWrap">
	#if($LayoutName!="HomePage" && $LayoutName!= "StaticPageFullPageLayout")
	<div class="inner_banner">
	<div id="normalHead">
			<header class="site_header">
				<div class="cimm_header">
					#parse("header.html")
				</div>
			</header>
		</div>
	</div>
	#else
	<div id="normalHead">
			<header class="site_header">
				<div class="cimm_header">
					#parse("header.html")
				</div>
			</header>
		</div>
	#end
		<div class="cimm_bodyContentWrap">
			<div class="container">
				#if($LayoutName!="HomePage" && $LayoutName!= "StaticPageFullPageLayout")
				<div class="row">
					<div class="col-md-12">
						<div class="cimm_BreadCrumbs">
							#parse("fullBreadcrumbs.html")
						</div>
					</div>
				</div>
				#end
				<div class="row">
					<div class="col-md-12">
						#parse($bodyContent)
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
	    <div class="cimm_footerEnclosure mTop-4">
	     	#parse("footer.html")
	    </div>
    </footer>
    <!-- #if($!userAgent != "WEBVIEW")
	<p id="backToTop">
		<a href="#top"></a>
	</p>
	#end -->
	#parse("javascripts.html")
</body>
</html>
#end
