#parse("Macros/defaultMacro.vm")
#parse("Macros/listPageMacro.vm")
#urlType($!navigationType,$!codeIdSkip,$!gallery,$!levelNo,$!sortBy,$!resultPage,$!keyWord,$!srchTyp,$!narrowKeyword,$!brandId, $urlContext)
#listPageFormUrls($!navigationType)
<h2 onclick="closeLeftSlide();" class="visible-sm-block dark-ripple visible-xs-block"><em class="fa fa-chevron-left" aria-hidden="true"></em> $!locale.get("product.label.back")</h2>
<!-- <div id="filterBar" class="cimm_advancedSearchFilter">
	<form>
		<input type="text" id="txtAdvSearch" class="AdvanceInput"  onkeypress="return runScript(event);" placeholder="Search Within #if($keyWord)$!keyWord#else $!locale.get('product.label.search') #end" />
		<input type="hidden" id="advSearchHidden" name="advSearchHidden" value="4"/>
		<input type="hidden" id="srchTypeAuto" name="srchType" value="$!srchTyp">
		<select id="selectBox1" name="advSearch" onchange="changeAdvSearchLeftMenu();" class="selectpicker">
			<option value="-1">$!locale.get("product.label.description")</option>
			<option value="3">$!locale.get("product.label.manufacturerOrPartNumber")</option>
			<option value="2">$!locale.get("product.label.upc")</option>
		</select>
		<select id="selectBox2" name="advSearchMore" id="advSearchMore" onchange="changeAdvSearchLeftMenu();" class="selectpicker">
			<option value="4">$!locale.get("search.label.allOfTheWords")</option>
			<option value="5">$!locale.get("search.label.exactWordingOfPhrase")</option> 
			<option value="6">$!locale.get("search.label.oneOrMoreOfTheseWords")</option>
		</select>
		<div class="center">
			<a href="javascript: void(0);" id="advSrchBtn" class="button" onclick="performAdvSearch();"><em class="fa fa-lg fa-search"></em> &nbsp;$!locale.get("product.label.search")</a>
		</div>
	</form>
</div> -->
<!-- ******************End of Leftmenu Single attribute Filter************************-->
<div class="cimm_filter">
	<div class="cimm_search-block">
		<div class="cimm_search-block-title">$!locale.get("product.label.search")</div>
		#if($navigationType=="SEARCH")
		<div class="cimm_searchWithin marginY-2">
			<div class="input-group">
				<input type="text" class='form-control' placeholder="$!locale.get('search.label.searchWithin') $!keyWord" name="narrowText" id="narrowText" title="$!locale.get('product.label.narrowyoursearch')" onkeypress="return runScript(event);" class="form-control"/>
				<div class="input-group-btn">
					<button type="submit" value=" $!locale.get('search.label.go')" id="nSearchBtn" onclick="performSearch();" class="btn btn-primary"><em class="fa fa-lg fa-search"></em></button>
				</div>
			</div>
		</div>
		#else
		<div class="cimm_searchWithin marginY-2">
			<form id="searchForm" action="$!searchWithInFormURL" method="get" class="clearAfter">
				<div class="input-group">
					<input type="text" name="keyWordTxt" id="keyWordTxt" title="$!locale.get('search.label.searchWithin') $!listPageHeading" onkeypress="return runScriptSearchWithIn(event);" placeholder="$!locale.get('product.label.searchwithin')" class="form-control"/>
					#listHiddenSearchWithIn($!codeIdSkip,$!levelNoSkip,$!gallery,$!resultPage,$!pageNo,$!sortBy,$!attrFilterList,$!brandId,$!keyWordTxt)
					#if($srchTyp.trim().length() > 0)
						<input type="hidden" name="srchTyp" value="$!srchTyp" />
					#else
						<input type="hidden" name="srchTyp" value="CATNAV" />
					#end
					<div class="input-group-btn">
						<button type="submit" value=" $!locale.get('search.label.go') " id="searchWithInBtn" onclick="validateSearchWithIn(); return false;" class="btn btn-primary"><em class="fa fa-lg fa-search"></em></button>
					</div>
				</div>
			</form>
		</div>
		#end
	</div>
		#if(($!attrFilteredList && $attrFilteredList.size()>0) || ($!attrFilterData && $attrFilterData.size()>0))
			#if(($!attrFilteredList && $attrFilteredList.size()>0) || ($!keyWordTxt && $keyWordTxt!=""))
			<div class="cimm_filter-block-title cleatBtn">$!locale.get("leftmenu.label.filters")<!-- <span class="pull-right fa"></span> -->
				<a href="$!navURL" class="pull-right">$!locale.get("product.label.clearAll")&nbsp;<em class="fa fa-times"></em></a>
			</div>
			<!--Refined By  : Filter Attributes-->
			<div class="cimm_filter-block">
				<div class="cimm_refinedMultiFilterResults">
					<p class="filterTypeTitle" data-toggle="collapse" data-target="#mulitFilterTrail">$!locale.get("product.label.searchFilter")</p>
					<div class="cimm_refinedAttribute" id="mulitFilterTrail">
						<ol>
							#foreach($!attributeFiltered in $!attrFilteredList)
							#generateFileter($!attributeFiltered.attrName,$!attributeFiltered.attrValueEncoded,$!attributeFiltered.attrName,$!filterList)
							<li>
								<span class="Refine-label">
								#if($attributeFiltered.attrName=="brand")$!attributeFiltered.attrName.replaceAll("attr_","").toUpperCase()
								#elseif($attributeFiltered.attrName=="category")$!attributeFiltered.attrName.replaceAll("attr_","").toUpperCase()
								
								#else
									$!attributeFiltered.attrName.replaceAll("attr_","")
								#end
								</span>
								<span class="Refine-value">$!attributeFiltered.attrValue.replaceAll('\"','')</span><a class="removeFilter pull-right" href="$!navURL#if($rUrl.length()>0)&attrFilterList=$!rUrl#end" title="$!locale.get('productGrid.label.removeThisItem')"> <em class="fa fa-times-circle"></em></a>
							</li>
							#end
						</ol>
					</div>
				</div>
			</div>
			<!--End of Refined By-->
		#end 
	#set($iVal = 0)
	#set($filterCount = 0)
	#foreach($!attrList in $!attrFilterData)
		#foreach($!attrListVal in $!attrList.attrFilterList.keySet())
			#set($displayAttribute = "Y")
			#if($attrListVal=="brand")
				#set($attrValueForSearch = "Brands")
			
			#elseif($attrListVal=="category")
				#set($attrValueForSearch = "Category")
			#else 
				#set($attrValueForSearch = $!attrListVal)
			#end
			
			#if($attrFilteredList.size()==0 && ($!navigationType=="SEARCH" ||$!navigationType=="BRAND"))
				#if($attrListVal=="brand")	
				#elseif($attrListVal=="category")	
				#else 
					##set($displayAttribute = "N")
				#end
			#end
			
			#if($displayAttribute=="Y" && ($attrValueForSearch != 'ManufacturerName' && $attrValueForSearch != 'manufacturerName'))
				<div class="cimm_filter-block"><!-- #if($filterCount > 4)hideMe #end -->
					#set($count = 0)
					<div class="cimm_filter-block-title #if($attrValueForSearch == 'Brands' || $attrValueForSearch == 'Category')  #else collapsed #end" data-toggle="collapse" data-target="#col_$!attrValueForSearch.replace(' ','_').replace('/','_').replace('(','').replace(')','').replace('.','')">
						#if($attrValueForSearch == 'Brands')
							$!locale.get('product.label.brands')
						#elseif($attrValueForSearch == 'Category')
							$!locale.get('navigation.label.categories')
						#else
							$!attrValueForSearch
						#end
					</div>
						#foreach($!filterVal in $!attrList.attrFilterList.get($!attrListVal))
							#set($count = $!count+1)
						#end
						<div class="cimm_filter_block-container collapse #if($attrValueForSearch == 'Brands' || $attrValueForSearch == 'Category')in#end" id="col_$!attrValueForSearch.replace(' ','_').replace('/','_').replace('(','').replace(')','').replace('.','')">
							#if($count>6)
							 #if($attrValueForSearch == 'Brands')
								#set($attrValueForSearchbrand = $!locale.get('product.label.brands'))
								<input type="text" id="box_$!attrValueForSearch" class="form-control filterTextBox" onkeyup="filterAttributes(this,'$attrValueForSearch.replaceAll(' ','-')');" title="Buscar attrValueForSearchbrand" value="Buscar $attrValueForSearchbrand"  onfocus="if(this.value=='Buscar attrValueForSearchbrand'){this.value='';}" onblur="if(this.value==''){this.value='Buscar attrValueForSearchbrand';}">
								<div class="cimm_filter-scrollbar">
							 #elseif($attrValueForSearch == 'Category')
								#set($attrValueForSearchcat = $!locale.get('navigation.label.categories'))
								<input type="text" id="box_$!attrValueForSearch" class="form-control filterTextBox" onkeyup="filterAttributes(this,'$attrValueForSearch.replaceAll(' ','-')');" title="Buscar $attrValueForSearchcat" value="Buscar $attrValueForSearchcat"  onfocus="if(this.value=='Buscar $attrValueForSearchcat'){this.value='';}" onblur="if(this.value==''){this.value='Buscar $attrValueForSearchcat';}">
								<div class="cimm_filter-scrollbar">
							 #else
								 <input type="text" id="box_$!attrValueForSearch" class="form-control filterTextBox" onkeyup="filterAttributes(this,'$!attrValueForSearch.replaceAll(' ','-')');" title="Buscar $!attrValueForSearch" value="Buscar $!attrValueForSearch"  onfocus="if(this.value=='Buscar $!attrValueForSearch'){this.value='';}" onblur="if(this.value==''){this.value='Buscar $!attrValueForSearch';}">
								<div class="cimm_filter-scrollbar">
							 #end 
							
							#end
							<ul class="#if($attrValueForSearch=='Amp Range' || $attrValueForSearch=='Size')sortByNumbers#end navList_$!attrValueForSearch.replaceAll(' ','-')">
								#set($k = 0)
								#foreach($!filterVal in $!attrList.attrFilterList.get($!attrListVal))
									<li>
										<label class="customCheckBox" for="multiFilter_$!{iVal}_$!{k}">
											<input type="checkbox" id="multiFilter_$!{iVal}_$!{k}" name="multiFilter_$!{iVal}" #if($CommonDBQuerySystemParameter.get("EnableLeftMenuSingleFilter")=="Y") onclick="appendSearchByCheckBox('multiFilter_$!iVal');" #end />
											<span>$!filterVal.attrValue ($!filterVal.resultCount)</span>
											<span class="hidden" id="multiFilter_$!{iVal}_$!{k}_div">$!attrValueForSearch</span>
											<span class="hidden" id="multiFilter_$!{iVal}_$!{k}_span">$!filterVal.attrValueEncoded</span>
											<em class="hidden" >$!filterVal.attrValue</em>
										</label>
									</li>
									#set($k = $!k+1)
								#end
								
								#if($k>5)
									<!-- <li class="">
										<em class="fa fa-plus"></em> <a href="javascript:void(0);" onclick="loadList(this);" data-id="col_$!attrValueForSearch.replaceAll(' ','-')" class="filerViewButton" data-title="$!attrValueForSearch.replaceAll(' ','-')">$!locale.get('leftmenu.label.seeAll') $!attrValueForSearch.replaceAll(' ','-')</a>
									</li> -->
								#end
								#set($filterCount = $!filterCount + 1)
							</ul>
							#if($count>6)
								</div>
							#end
							#if($CommonDBQuerySystemParameter.get("EnableLeftMenuSingleFilter")!="Y")
								<div class="alignCenter marginY-2">
									<button class="btn btn-primary" onclick="appendSearchByCheckBox('multiFilter_$!iVal');"><em class="fa fa-filter" aria-hidden="true"></em> $!locale.get("product.label.filter")</button>
								</div>
							#end
							#set($iVal = $!iVal+1)
						</div>
					</div>
				#end                     
			#end
		#end
				
		#if($filterCount > 5)
		<!-- <div class="cimm_filter-block alignCenter" id="loadMore">
				<a href="javascript:void(0);" class="loadMore" data-index="$!filterCount">$!locale.get('leftmenu.label.showMoreFilter')</a>
			</div> -->
		#end
	#end
</div>

#if($CommonDBQuerySystemParameter.get("EnableLeftMenuSingleFilter")=="Y")
<script>
	$(function(){
		$('.cimm_filter-block input:checkbox').removeAttr('checked');
	});
</script>
#end
<!--Refine MUlti Filter Dependency-->
#if($resultCount > 0 )
	<div style="display:none;" id="keyWordTxtTrail">$!keyWordTxt</div> 
	<div id="attrFilterList" style="display:none;">$!attrFilterList</div>
	<form action="$!itemsPerPageURL" method="get" id="categoryForm"></form>
	<form action="$!itemsPerPageURL" method="get" id="multiFilterAttr">
		#if($sortBy.trim().length() > 0)<input type="hidden" name="sortBy" value="$!sortBy" />#end
		#if($keyWordTxt.trim().length() > 0)<input type="hidden" name="keyWordTxt" id="keyWordTxtMulti" value="$!keyWordTxt" /> #end
		#if($srchTyp.trim().length() > 0) <input type="hidden" id="srchTyp" name="srchTyp" value="$!srchTyp" />
			#else <input type="hidden" id="srchTyp" name="srchTyp" value="CATNAV" /> #end
		#if($keyWord.trim().length() > 0)<input type="hidden" name="keyWord" value="$!keyWord" /> #end
		#if($navigationType=="SEARCH")
			#if($narrowKeyword.trim().length() > 0)<input type="hidden" name="narrowKeyword" value="$!narrowKeyword" /> #end
			#if($varPsid.trim().length() > 0)<input type="hidden" name="vpsid" value="$!varPsid" /> #end
		#end
		#if($resultPage.trim().length() > 0)<input type="hidden" name="resultPage" value='$!resultPage' /> #end
		<input type="hidden" id="multiFilterAttrList" name="attrFilterList" value='#if($!attrFilterList.trim().length() > 0)$!attrFilterList#end' />
	</form> 
 #end