#if($LayoutName=="SubCategoryPage" && $!CommonDBQuerySystemParameter.get('ENABLE_CATEGORY_LEVEL_ITEMS') == "Y" && $!resultCount && $resultCount > 0)
<!-- Leftmenu attribute start -->#parse("leftmenuattribute.html")<!-- Leftmenu attribute end -->
#else
<div class="cimm_filter">
#if($!LayoutName!="EventsPage")
	#if($LayoutName != "ChangePasswordPage" && $LayoutName != "ForgotPasswordPage" && $LayoutName != "DashBoardPage"  && $LayoutName != "StaticSearchPage" && $LayoutName != "SavedGroupsPage" && $LayoutName != "ProductGroupPage" && $LayoutName != "SavedCartPage" && $LayoutName != "ApproveCart" && $LayoutName != "OpenOrdersPage" && $LayoutName != "OrderDetailPage" && $LayoutName != "OrderHistoryPage" && $LayoutName != "EditContactPage" && $LayoutName != "AccountInquiryPage")
	<div class="cimm_filter-block"><div class="cimm_filter-block-title" data-toggle="collapse" data-target="#categoryMenu">$locale.get("navigation.label.shopProducts")</div>
		#if($categMenu.size()>5)
			<div class="cimm_filter_block-container collapse in" id="categoryMenu">
			<div class="cimm_filter-scrollbar collapse in"> <!-- Add scrollWrap class for scroll -->
			<ul class="pRight-3">
		#else
			<ul id="categoryMenu" class="collapse in pRight-3">
		#end
		 	#foreach($categoryMenu in $categMenu)
	           	<li><a href="$!categoryMenu.seoUrl" class="active">$!categoryMenu.categoryName</a></li>
	       	#end
		</ul>
		#if($categMenu.size()>5)
			</div>
			</div>
		#end
	</div>
	
	#if($!CommonDBQuerySystemParameter.get("EnableSideMenuBrand")=="Y")
	<div class="cimm_filter-block">
		<div class="cimm_filter-block-title" data-toggle="collapse" data-target="#brandsMenu">$!locale.get("product.label.brands")</div>
		#set($count = 0)
		#if($brandList.size()>0) 
			#set($countBrandList = 0)
			#set($brands = 0) 
			#foreach($bndName in $brandList) 
				#set($brands = $brands+1)
				#set($count = $count+1)
			#end
			#if($count>5)
				<div class="cimm_filter_block-container collapse in" id="brandsMenu">
				<!-- <input type="text" id="box_brands" class="filterTextBox" onkeyup="filterAttributes(this,'brandsMenu');"value="Search Brands"  onfocus="if(this.value=='Search Brands'){this.value='';}" onblur="if(this.value==''){this.value='Search Brands';}"> -->
				<div class="cimm_filter-scrollbar collapse in"> <!-- Add scrollWrap class for scroll -->
				<ul class="navList_brandsMenu pRight-3">
			#else
				<ul class="collapse in pRight-3 navList_brandsMenu" id="brandsMenu">
			#end
				#foreach($bndName in $brandList) #set($countBrandList = $!countBrandList + 1)
					<li><a href="$!bndName.seoUrl">$!bndName.brandName</a><label><span class="hideMe">$!bndName.brandName</span></label></li>
				#end
			</ul>
			#if($count>5)
				</div>
				</div>
			#end
		#end
	</div>
	#end

	#if($leftStaticMenu.size > 0)
	<div class="cimm_filter-block">
		<div class="cimm_filter-block-title" data-toggle="collapse" data-target="#leftUtilityMenu">$!locale.get("product.heading.quickLinks")</div>
		<ul class="collapse in" id="leftUtilityMenu">
			#foreach($headerMenu in $leftStaticMenu)
				<li>
					<a href="#if($headerMenu.itemUrl) #if($headerMenu.staticPageUrl) $headerMenu.staticPageUrl #else /$headerMenu.itemUrl #end #else javascript:void(0); #end" #if($headerMenu.level1Menu && $headerMenu.level1Menu=='Blog')target="_blank"#end>$headerMenu.level1Menu</a>
				</li>
			#end
		</ul>
	</div>
	#end
	#end
	<div class="cimm_filter-block">
		#if($LayoutName != "ChangePasswordPage" && $LayoutName != "ForgotPasswordPage" && $LayoutName != "DashBoardPage"  && $LayoutName != "StaticSearchPage" && $LayoutName != "SavedGroupsPage" && $LayoutName != "ProductGroupPage" && $LayoutName != "SavedCartPage" && $LayoutName != "ApproveCart" && $LayoutName != "OpenOrdersPage" && $LayoutName != "OrderDetailPage" && $LayoutName != "OrderHistoryPage" && $LayoutName != "EditContactPage" && $LayoutName != "AccountInquiryPage")
		<div class="cimm_myaccount-block-title">$!locale.get("product.heading.yourAccount")</div>
		#end
		<ul class='myAccountLeftMenu'>
			#parse("accountMenu.html")
		</ul>
	</div>
#else
	#if($eventsLocations.size()>0)
	<div class="cimm_filter-block">
		<div class="cimm_filter-block-title" data-toggle="collapse" data-target="#eventsLocations">$locale.get("event.label.location") </div>
			#if($eventsLocations.size()>5)
			<div class="cimm_filter_block-container collapse in" id="eventsLocations">
			<div class="cimm_filter-scrollbar collapse in"> <!-- Add scrollWrap class for scroll -->
			<ul class="pRight-3">
			#else
			<ul id="eventsLocations" class="collapse in pRight-3">
			#end
		 	#foreach($locFilter in $eventsLocations)
			<li>
			<label class="cimm_customCheckBoxWrap">
			<input type="checkbox" value="$locFilter.location" onclick='filter("$locFilter.location","$!selectedCategoryFilter",this);' name ="eventsLocationFilter" class="catEvent hideDefaultCheckbox" #if($!selectedLocationFilter==$locFilter.location) checked="checked" #end> <span class="checkBoxLabel">$locFilter.location</span></label>
			</li>
			#end
			</ul>
			#if($eventsLocations.size()>5)
			</div>
			</div>
			#end
	</div>
	#end	
			
	#if($eventCatList.size()>0)
	<div class="cimm_filter-block">
		<div class="cimm_filter-block-title" data-toggle="collapse" data-target="#eventCategoryList">$locale.get("product.label.category")</div>
		#if($eventCatList.size()>5)
		<div class="cimm_filter_block-container collapse in" id="eventCategoryList">
		<div class="cimm_filter-scrollbar collapse in"> <!-- Add scrollWrap class for scroll -->
		<ul class="pRight-3">
		#else
		<ul id="eventCategoryList" class="collapse in pRight-3">
		#end
	 	#foreach($catFilter in $eventCatList)
		<li>
		<label class="cimm_customCheckBoxWrap"><input type="checkbox" value="$catFilter.eventCategory" onclick='filterCat("$catFilter.eventCategory","$!selectedLocationFilter",this);' name ="eventsCategoryFilter" class="catEvent hideDefaultCheckbox" #if($!selectedCategoryFilter==$catFilter.eventCategory) checked="checked" #end> <span class="checkBoxLabel">$catFilter.eventCategory</span></label>
		</li>
		#end
		</ul>
		#if($eventCatList.size()>5)
		</div>
		</div>
		#end
		<input type="hidden" id="eventCat" value=""/>
		<input type="hidden" id="FirstLoadEvent" name="FirstLoadEvent" value="Y"/>
	</div>
	#end
#end
</div><!-- Leftmenu end -->
 #end