#if($session.getAttribute('isAdmin')=="Y")
<div id="notificationDiv"></div>
<div class="cimm_userManagementWrap">
	<div id="addNewUserBlock" class="hideMe">
		<div class="marginY-2 clearAfter">
			<a class="cimm_inlineButton pull-right" onclick="toggleDisplayBlocks('addNewUserBlock','usersListBlock');">$!locale.get('product.heading.backToUsersList')</a>
		</div>
		<form id="newPurchaseAgentForm" action="AddNewPurchaseAgentUnit.action" onsubmit="submitThisForm(this); return false;" method="post">
			<div class="row">
				<div class="col-md-12 ">
				<div class="form-group">
					<span class="text-danger"> * </span> $!locale.get("form.label.required")
				</div>
				</div>
			</div>	
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">	
						<label for="contactemailAddress">$!locale.get("form.label.email") <span class="text-danger">*</span></label>
						<input type="text" name="contactemailAddress" id="contactemailAddress" class="form-control" placeholder="$!locale.get('form.label.email')" data-type="email" data-required="Y" data-error="$!locale.get('form.user.address.emailId.notEmpty')" data-invalid="$!locale.get('form.user.address.emailId.invalid')"/>
						<p>$!locale.get("register.text.yourEmailAddressWillServeAsYourUserIDWhenLogin")</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">	
						<label for="contactFirstName">$!locale.get("form.label.firstName") <span class="text-danger">*</span></label>
						<input type="text" name="contactFirstName" id="contactFirstName" maxlength="20" class="form-control" placeholder="$!locale.get('form.label.firstName')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.firstName.notEmpty')"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">	
						<label for="contactLastName">$!locale.get("form.label.lastName") <span class="text-danger">*</span></label>
						<input type="text" name="contactLastName" id="contactLastName" maxlength="20" class="form-control" placeholder="$!locale.get('form.label.lastName')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.lastName.notEmpty')"/>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">	
						<label for="password">$!locale.get("form.label.password") <span class="text-danger">*</span></label>
						<input type="password" name="password" id="password" class="form-control" placeholder="$!locale.get('form.label.password')" data-type="password" data-required="Y" data-error="$!locale.get('register1B.error.enterPassword')" data-invalid="$!locale.get('form.user.password.invalid')"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">	
						<label for="confirmPassword">$!locale.get("form.label.confirmPassword") <span class="text-danger">*</span></label>
						<input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="$!locale.get('form.label.confirmPassword')" data-password="password" data-type="password" data-required="Y" data-error="$!locale.get('register1B.error.passwordConfirmation')" data-invalid="$!locale.get('form.user.password.mismatch')"/>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">	
						<label for="roleAssign">$!locale.get("form.label.roleAssignment") <span class="text-danger">*</span></label>
						<select name="roleAssign" id='roleAssign' class="form-control selectpicker" data-type="select" data-required="Y" data-error="$!locale.get('form.user.userRole.notEmpty')">
							<option data-title="" value="Ecomm Customer General User">$locale.get("form.label.generalUser")</option>
							<option data-title="$!locale.get('label.userrole.selectAPA')" value="Authorized Purchasing Agent">$locale.get("form.label.authorizedPurchasingAgent")</option>
							<option data-title="$!locale.get('label.userrole.selectSPU')" value="Super User">$locale.get("form.label.superUser")</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">
						<label class="customCheckBox2" for="getentityAddress">
							<input type="checkbox" id="getentityAddress" onclick="getEntityAddress(this);" />
							<span>$!locale.get("form.label.useEntityAddress")</span>
						</label>	
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
				<span id="roleDesc"></span>
					#if($internationalUser)
					#if($internationalUser=='Y')
					<div class="form-group">				
						<label class="customCheckBox2" for="chkInternationalUser">
						<input id="chkInternationalUser" type="checkbox" name="chkInternationalUser" onclick="RefreshPageForInternationalUser();" />
						<span>$!locale.get("product.label.internationalCustomer")</span>
						</label>
					</div>
					#end
					#end
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">	
						<label for="contactAddress1">$!locale.get("form.label.address1") <span class="text-danger">*</span></label>
						<input type="text" name="contactAddress1" id="contactAddress1" maxlength="100" class="form-control" placeholder="$!locale.get('form.label.address1')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.address.address1.notEmpty')"/>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">	
						<label for="contactAddress2">$!locale.get("form.label.address2")</label>
						<input type="text" name="contactAddress2" id="contactAddress2" maxlength="100" class="form-control" placeholder="$!locale.get('form.label.address2')"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">	
						<label for="contactCity">$!locale.get("form.label.city") <span class="text-danger">*</span></label>
						<input type="text" name="contactCity" id="contactCity" class="form-control" placeholder="$!locale.get('form.label.city')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.address.city.notEmpty')" maxlength='50'/>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">	
						<label for="countrySelect">$!locale.get("form.label.country") <span class="text-danger">*</span></label>
						<select name="contactCountry" id="countrySelect" class="form-control selectpicker" data-type="select" data-state="stateSelect" data-required="Y" data-error="$!locale.get('form.user.address.country.notEmpty')"></select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="form-group">	
						<label for="stateSelect">$!locale.get("form.label.state") <span class="text-danger">*</span></label>
						<select name="contactState" id="stateSelect" class="form-control selectpicker" data-live-search="true" data-type="select" data-required="Y" data-error="$!locale.get('form.user.address.state.notEmpty')"></select>
					</div>
				</div>
				<!-- <div class="col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">	
						<label for="zip">$!locale.get("form.label.zipCode") <span class="text-danger">*</span></label>
						<input type="text" name="zip" id="zip" class="formatZipCode form-control" placeholder="$!locale.get('form.label.zipCode')" data-type="text" data-required="Y" data-error="$!locale.get('form.user.address.zipCode.notEmpty')" onkeypress="return IsNumeric(event)"/>
					</div>
				</div> -->
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="form-group">	
					<label for="contactPhone">$!locale.get("form.label.phone") <span class="text-danger">*</span></label>
					<input type="text" name="contactPhone" id="contactPhone" class="formatPhoneVal formatPhoneNumber form-control" placeholder="$!locale.get('form.label.phone')" data-type="number" data-required="Y" data-invalid="$!locale.get('form.user.address.phoneNumber.invalid')" data-error="$!locale.get('form.user.address.phoneNumber.notEmpty')" onkeypress="return IsNumeric(event)"/>
				</div>
			</div>
			</div>
			<div class="row" align="center">
				<div class="col-md-12 col-sm-12 col-xs-12">
				<button type="submit" name="Submit" class="button">$!locale.get('product.button.submit')</button>
				</div>
			</div>
			<input type="hidden" name="locState" id="lState" value="Y" />
			<input type="hidden" name="locUser" id="locUser" value="N" />
			<input type="hidden" name="countryFulNm" id="countryFulNm"/>
			<input type="hidden" name="contactClassification" value="BUYER"/>
		</form>
	</div>
	<div id="usersListBlock">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<table class="table rwd-table table-striped table-bordered display" id="ManagePurchaseAgent">
					<thead>
						<tr>
							<th>$!locale.get("product.heading.agentName")</th>
							<th>$!locale.get("form.label.UserNameEmail")</th>               
							<th>$!locale.get("form.label.role")</th>
							<th>$!locale.get("product.heading.agentStatus")</th>
							<th class="text-center">$!locale.get("product.heading.Action")</th>
							</tr>
					</thead>
					<tbody>
						#foreach($agentsList in $agentUserList)
							#if($loggedInUserId!=$agentsList.userId)
								<tr class="odd">
									<td class="alignLeft" data-th="$!locale.get('product.heading.agentName')">
										$!agentsList.firstName $!agentsList.lastName
										#if($!agentsList.isPunchoutUser=="Y")<br/><strong><span class="text-danger">Procurement User</span></strong> #end
									</td>
									<td class="alignLeft" data-th="$!locale.get('form.label.UserNameEmail')">$!agentsList.userName</td>
									<!--<td>$agentsList.emailAddress</td>-->
									<td class="alignLeft" data-th="$!locale.get('form.label.role')">
										#if($agentsList.isSuperUser=="Y")
										<p data-toggle="tooltip" title="$locale.get('purchaseAgent.message.SuperUserRole')">$!locale.get("form.label.superUser")</p>
										#elseif($agentsList.isAuthPurchaseAgent=="Y")
										<p data-toggle="tooltip" title="$locale.get('purchaseAgent.message.authorizedPurchasingAgentRole')">$!locale.get("form.label.authorizedPurchasingAgent")</p>
										#else
										<p data-toggle="tooltip" title="$locale.get('purchaseAgent.message.generalUserRole')">$!locale.get("form.label.generalUser")</p>
										#end
									</td>
									<td class="text-center" data-th="$!locale.get('product.heading.agentStatus')">
										<strong>#if($agentsList.userStatus == "Y")<span class="text-success">Activo</span>#else<span class="text-danger">En activo</span>#end</strong>
									</td>
									<td class="text-center" data-th="$!locale.get('product.heading.Action')">
										<div class="clearAfter">
											<a class="cimm_inlineButton" onclick="editUserDetails($agentsList.userId);" data-toggle="tooltip" data-original-title="$locale.get('product.button.edit')"><em class="fa fa-lg fa-pen-square" aria-hidden="true"></em></a>
											<label class="switch" data-toggle="tooltip" data-original-title="#if($agentsList.userStatus == "Y")$!locale.get('form.label.disableUser')#else $!locale.get('form.label.enableUser') #end">
												<input type="checkbox" #if($agentsList.userStatus == "I") checked #end>
												#if($agentsList.userStatus == "Y")
												<span class="slider text-left" onclick="disableUser($agentsList.userId);" id="status_$agentsList.userId">$!locale.get('product.button.disable')</span>
												#else
												<span class="slider active text-right" onclick="enableUser($agentsList.userId);" id="status_$agentsList.userId">$!locale.get('product.button.enable')</span>
												#end
											</label>
										</div>
									</td>
								</tr>
							#end
						#end
					</tbody>
				</table>
				<input type="hidden" name="authoListAssigned" value="authoListAssigned" id="isBusyUser" />
			</div>
		</div>
	</div>
	<div id="editUserDetailsBlock">
	</div>
</div>
#else
<div class="alert alert-danger">
     <strong>$!locale.get('Managepurchaseagent.status.accessdenied')</strong>
</div>
#end