<div id="mainPage" style="width: 100%;height: 100%;">
    <div class="appIcons" width="100%" border="0">
        <ul>
        	<li>
        		#if($userLogin)
               <a href="$!locale.get('website.url.AccountDashboard')">
                    <img src="$hostName/$webThemes/$siteName/images/App/myAccount.png" alt=""/>
                    <h6>
                        My Account
                    </h6>
                </a>
                #else
                <a href="/Login">
                    <img src="$hostName/$webThemes/$siteName/images/App/myAccount.png" alt=""/>
                    <h6>
                        My Account
                    </h6>
                </a>
                #end
            </li>
            <li>
                <a href="$hostName/Products.action">
                    <img src="$hostName/$webThemes/$siteName/images/App/products.png" alt=""/>
                    <h6>
                        Products
                    </h6>
                </a>
            </li>
            <li>
            	#if($userLogin)
               <a href="$locale.get('website.url.SavedGroup.Product')">
                    <img src="$hostName/$webThemes/$siteName/images/App/savedGroup.png" alt=""/>
                    <h6>
                        My Lists
                    </h6>
                </a>
                #else
                <a href="/Login">
                    <img src="$hostName/$webThemes/$siteName/images/App/savedGroup.png" alt=""/>
                    <h6>
                        My Lists
                    </h6>
                </a>
                #end
            </li>
            <li>
                <a href="#" >
                    <img src="$hostName/$webThemes/$siteName/images/App/specials.png" alt=""/>
                    <h6>
                        Specials
                    </h6>
                </a>
            </li>
            <li>
            	#if($userLogin)
                <a href="$!locale.get('website.url.RequestForQuote')">
                    <img src="$hostName/$webThemes/$siteName/images/App/rfq.png" alt=""/>
                    <h6>
                        Request Quote
                    </h6>
                </a>
                #else
                <a href="/Login">
                    <img src="$hostName/$webThemes/$siteName/images/App/rfq.png" alt=""/>
                    <h6>
                        Request Quote
                    </h6>
                </a>
                #end
            </li>
            <li>
                <a href="/Locations">
                    <img src="$hostName/$webThemes/$siteName/images/App/locations.png" alt=""/>
                    <h6>
                        Locations
                    </h6>
                </a>
            </li>
            
            <li>
                <a onClick="callTojavaFn()" href="#">
                    <img src="$hostName/$webThemes/$siteName/images/App/photoInquiry.png" alt=""/>
                    <h6>
                        Photo Inquiry
                    </h6>
                </a>
            </li>
            <li>
                <a href="/ContactUs">
                    <img src="$hostName/$webThemes/$siteName/images/App/contact.png" alt=""/>
                    <h6>
                        Contact Us
                    </h6>
                </a>
            </li>
            <li>
                <a onClick="callToDb()" >
                    <img src="$hostName/$webThemes/$siteName/images/App/offlineCart.png" alt=""/>
                    <h6>
                        Offline Cart
                    </h6>
                </a>
            </li>
        </ul>
    </div>
    <!--End of appIcons-->
</div>
<!--End of mainPage-->