#set($totalPages = 0)
#set($totalElements = 0)
#if($session.getAttribute('isGeneralUser')!="Y")
#if($ajaxCall=="Y")
#if($!session.getAttribute("pricePrecision")=="4")
#set($numberToolFormat = "#0.0000")
#elseif($!session.getAttribute("pricePrecision")=="3")
#set($numberToolFormat = "#0.000")
#else
#set($numberToolFormat = "#0.00")
#end
<h3 class="cimm_blockHeading">$!locale.get("product.heading.openOrders")</h3>
<table class="table table-bordered table-striped display rwd-table">
	<thead>
		<tr>
			<th class="left">$!locale.get("form.label.OrderNo")</th>
			<th>$!locale.get("form.label.customerPOnumber")</th>
			<!-- <th>$!locale.get("form.label.CustomerRelease")</th> -->
			<th>$!locale.get("form.label.orderDate")</th>
			<th>$!locale.get("product.label.amount")</th>
			<!-- <th>$!locale.get("form.label.requiredByDate")</th>
			<th>$!locale.get("form.label.shipTo")</th> -->
			<th>$!locale.get("product.label.ordrStatus")</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		#set($countOrderList = 0)
		#if($orderList && $!orderList.size()>0)
		#foreach($orderDetail in $orderList)
		#set($countOrderList =	$!countOrderList + 1)
		<tr class="odd">
			<td data-th="$!locale.get('form.label.OrderNo')">
			#if($!session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS") 
			<strong><a href="OrderDetailSale.action?orderId=$!orderDetail.orderId">$!orderDetail.orderNum</a></strong>
			#else
			<strong><a href="OrderDetailSale.action?orderId=$!orderDetail.orderNum">$!orderDetail.orderNum</a></strong>
			#end
			</td>
			<td data-th="$!locale.get('form.label.customerPOnumber')">#if($orderDetail.poNumber) $!orderDetail.poNumber #else &nbsp; #end</td>
			<!-- <td data-th="$!locale.get('form.label.CustomerRelease')">#if($orderDetail.customerReleaseNumber) $!orderDetail.customerReleaseNumber #else &nbsp; #end</td> -->
			<td data-th="$!locale.get('form.label.orderDate')">$!orderDetail.orderDate</td>
			<td data-th="$!locale.get('product.label.amount')">$$!numberTool.format($!numberToolFormat,$!orderDetail.total)</td>
			<!-- <td data-th="$!locale.get('product.label.shipDate')">$!orderDetail.reqDate.substring(0,10)</td>
			<td data-th="$!locale.get('form.label.shipTo')">$!orderDetail.shipToName</td> -->
			<td data-th="$!locale.get('product.label.ordrStatus')">$!orderDetail.orderStatus</td>
			<!-- <td valign="top">$!orderDetail.orderedBy</td> -->  
			<td data-th="">
			#if($!session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS")
			<a href="OrderDetailSale.action?orderId=$!orderDetail.orderId" class="actionIcon" data-toggle="tooltip" title="$!locale.get('product.label.viewOrder')"><em class="fa fa-eye" aria-hidden="true"></em></a>
			#else
			<a href="OrderDetailSale.action?orderId=$!orderDetail.orderNum" class="actionIcon" data-toggle="tooltip" title="$!locale.get('product.label.viewOrder')"><em class="fa fa-eye" aria-hidden="true"></em></a>
			#end
			</td>
		</tr>
		#if($countOrderList == 5)
		#break
		#end
		#end
		#else
        	<td colspan=7 class="text-center">$!locale.get('product.label.noDataAvailable')</td>
		#end
	</tbody>
</table>
#if($!orderList.size() > 5)
<a class="cimm_inlineButton" href="/OpenOrderSale.action?reqType=webOrder&orderStatus=Open">$!locale.get("event.label.viewAll")</a>
#end
#else
#if($orderStatusType == "Ticket")
<h6 class="cimm_page-title">Estado del ticket</h6>
#else
<h6 class="cimm_page-title">$!locale.get("product.heading.openOrders")</h6>
#end
<div class="pull-right marginY-2">
	<input id="myInput" type="text" placeholder="Buscar Ordenes Abiertas" class="openSearchInput">
</div>
#if($orderStatusType == "Open")
<div class="cimm_siteTableEnclosure rwd-TableWrap">
	<table class="table table-striped display rwd-table" id="openTable">
	<thead>
	<tr>
	<th class="left">$!locale.get("form.label.NoFromEcom")</th>
	<th>$!locale.get("from.label.NoFromSap")</th>
	<th>$!locale.get("form.label.orderDate")</th>
	<th>$!locale.get("product.label.total")</th>
	<th>$!locale.get("product.label.ordrStatus")</th>
	<th></th>
	</tr>
	</thead>
	<tbody>
	#if($orderList && $!orderList.size()>0)
	#foreach($orderDetail in $orderList)
	#if($velocityCount==1)
    #set($totalPages = $orderDetail.totalPages)
    #set($totalElements = $orderDetail.totalElements)
    #end
	<tr>
	<td data-th="$!locale.get('form.label.OrderNo')">
	#if($!session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS")
	<strong><a href="OrderDetailSale.action?orderId=$!orderDetail.orderId">$!orderDetail.orderNum</a></strong>
	#else
	<strong><a href="OrderDetailSale.action?orderId=$!orderDetail.orderNum">$!orderDetail.orderNum</a></strong>
	#end
	</td>
	<td data-th="$!locale.get('form.label.customerPOnumber')">
	#if($orderDetail.orderNum) $!orderDetail.erpOrderNumber #else &nbsp; #end
	</td>
	<td data-th="$!locale.get('form.label.orderDate')">$!orderDetail.orderDate</td>
	<td data-th="$!locale.get('product.label.amount')">Q$!numberTool.format($!numberToolFormat,$!orderDetail.total)</td>
	<td data-th="$!locale.get('product.label.ordrStatus')">$!orderDetail.orderStatus</td>
	<td data-th="">
	#if($!session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS")
	<a href="OrderDetailSale.action?orderId=$!orderDetail.orderId" class="actionIcon" data-toggle="tooltip" title="$!locale.get('product.label.viewOrder')"><em class="fa fa-eye" aria-hidden="true"></em></a>
	#else
	<a href="OrderDetailSale.action?orderId=$!orderDetail.orderNum" class="actionIcon" data-toggle="tooltip" title="$!locale.get('product.label.viewOrder')"><em class="fa fa-eye" aria-hidden="true"></em></a>
	#end
	</td>
	</tr>
	#end
	#end
	</tbody>
	</table>
	</div>
#end
<!-- Ticket Status -->
#if($orderStatusType == "Ticket")
<div class="cimm_siteTableEnclosure rwd-TableWrap">
	<table class="table table-striped display rwd-table"  id="ticketTable">
	<thead>
	<tr>
	<th class="left">No Ilamada</th>
	<th>Clasificacion</th>
	<th>Fecha</th>
	<th>Ticket Status</th>
	</tr>
	</thead>
	<tbody>
	#if($orderList && $!orderList.size()>0)
	#foreach($orderDetail in $orderList)
	#if($velocityCount==1)
    #set($totalPages = $orderDetail.totalPages)
    #set($totalElements = $orderDetail.totalElements)
    #end
	<tr>
	<td>$!orderDetail.erpOrderNumber</td>
	<td>$!orderDetail.orderNum</td>
	<td>$!orderDetail.orderDate</td>
	<td>
	#if($!orderDetail.orderStatusDesc.length()>50)
		$!orderDetail.orderStatusDesc.substring(0, 50).replaceAll('á','&aacute;').replaceAll('é','&eacute;').replaceAll('í','&iacute;').replaceAll('ó','&oacute;').replaceAll('ú','&uacute;').replaceAll('ñ','&ntilde;')
		<a href="javascript:void(0);" role="button" data-toggle="modal" data-target="#ticketModal_$!orderDetail.erpOrderNumber">$!locale.get("product.label.more")</a>
		<div id="ticketModal_$!orderDetail.erpOrderNumber" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-body">
						$!orderDetail.orderStatusDesc.replaceAll('á','&aacute;').replaceAll('é','&eacute;').replaceAll('í','&iacute;').replaceAll('ó','&oacute;').replaceAll('ú','&uacute;').replaceAll('ñ','&ntilde;')
					</div>
				</div>
			</div>
		</div>
		#else
			$!orderDetail.orderStatusDesc.replaceAll('á','&aacute;').replaceAll('é','&eacute;').replaceAll('í','&iacute;').replaceAll('ó','&oacute;').replaceAll('ú','&uacute;').replaceAll('ñ','&ntilde;')
		#end
	</td>
	</tr>
	#end
	#end
	</tbody>
	</table>
	</div>
#end
<!-- Ticket Status -->

#end
#else
<div class="alert alert-danger">
  <strong>$!locale.get('Managepurchaseagent.status.accessdenied')</strong>
</div>
#end
#if($orderStatusType == "OPEN")

#end
<input type="hidden" value="$totalElements" id="totalEle" />
<input type="hidden" value="$totalPages" id="totalPage" />
