#if($session.getAttribute('isGeneralUser')!="Y")
#if($ajaxCall=="Y")
	#if($!session.getAttribute("pricePrecision")=="4")
	#set($numberToolFormat = "#0.0000")
	#elseif($!session.getAttribute("pricePrecision")=="3")
	#set($numberToolFormat = "#0.000")
	#else
	#set($numberToolFormat = "#0.00")
	#end
	<h1 class="cimm_blockHeading">$!locale.get("product.heading.orderHistory")</h1>
	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped table-bordered display rwd-table">
		<thead>
			<tr>
				<th class="left">$!locale.get("form.label.OrderNo")</th>
				##if($searchBy=="partNumber")
				<th class="left">$!locale.get('product.label.shipDate')</th>
				##else
				<!-- <th class="left">$!locale.get("product.heading.PostDate")</th> -->
				##end
				<th class="left">$!locale.get("product.label.description")</th>
				<!--  <th align="left">$!locale.get("form.label.CustomerRelease")</th> -->
				<th>$!locale.get("product.label.processingStatus")</th>
				<th>$!locale.get("form.label.invoicevalue")</th>
				<th width="90px">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		#set($countOrderList = 0) #if($orderList.size()>0) #foreach($orderList in $orderList) #set($countOrderList = $!countOrderList + 1)
			<tr>
			     #if($CommonDBQuerySystemParameter.get("CREATE_ORDER_IN_DB")=="Y")			 
			    <td class="alignLeft" data-th="$!locale.get('form.label.OrderNo')"><a href="OrderDetailSale.action?orderId=$!orderList.orderID&genId=$!orderList.geneId&orderStatus=Billed">$!orderList.orderNum</a></td>
				#else
			    <td class="alignLeft" data-th="$!locale.get('form.label.OrderNo')"><a href="OrderDetailSale.action?orderId=$!orderList.orderNum&genId=$!orderList.geneId&orderStatus=Billed">$!orderList.orderNum</a></td>
			    #end
				##if($searchBy=="partNumber")
				<td class="alignLeft" data-th="$!locale.get('product.label.shipDate')">#if($!orderList.shipDate)$!orderList.shipDate #else $!orderList.orderDate #end</td>
				##else
				<!-- <td class="alignLeft" data-th="$!locale.get('product.heading.PostDate')">#if($!orderList.postDate)$!orderList.postDate #else &nbsp; #end</td> -->
				##end
				<td class="alignLeft" data-th="$!locale.get('product.label.description')">PO# $!orderList.poNumber</td>
				<!--  <td data-th="$!locale.get('form.label.CustomerRelease')">#if($orderList.customerReleaseNumber)$!orderList.customerReleaseNumber #else &nbsp; #end</td> -->
				<td data-th="$!locale.get('product.label.processingStatus')">$!orderList.orderStatus</td>
				<td data-th="$!locale.get('form.label.invoicevalue')">$$!numberTool.format($!numberToolFormat,$!orderList.invoiceValue)</td>
				#if($CommonDBQuerySystemParameter.get("CREATE_ORDER_IN_DB")=="Y")	
				<td data-th="" class="text-center"><a href="OrderDetailSale.action?orderId=$!orderList.orderId&genId=$!orderList.geneId&orderStatus=Billed" class="actionIcon" data-toggle="tooltip" title="$!locale.get('product.label.viewOrder')"><em class="fa fa-eye" aria-hidden="true"></em></a></td>
				#else
				<td data-th="" class="text-center"><a href="OrderDetailSale.action?orderId=$!orderList.orderNum&genId=$!orderList.geneId&orderStatus=Billed" class="actionIcon" data-toggle="tooltip" title="$!locale.get('product.label.viewOrder')"><em class="fa fa-eye" aria-hidden="true"></em></a></td>
			    #end
			</tr>
			#if($countOrderList == 5) #break #end #end 
			#else
        		<td colspan=7 class="text-center">$!locale.get('product.label.noDataAvailable')</td>
			#end
		</tbody>
	</table>
	#if($orderList.size() > 5)
		<a class="cimm_inlineButton" href="/OrderHistory">$!locale.get("event.label.viewAll")</a>
	#end
#else
#if($!orderNumber && $orderNumber.contains("<") || $orderNumber.contains(">"))
	#set($orderNumber = "") 
#end
#if($!entityIDType && $entityIDType.contains("<") || $entityIDType.contains(">"))
	#set($entityIDType = "") 
#end
#if($!startDate && $startDate.contains("<") || $startDate.contains(">"))
	#set($startDate = "") 
#end
#if($!endDate && $endDate.contains("<") || $endDate.contains(">"))
	#set($endDate = "") 
#end
<h6 class="cimm_page-title">$!locale.get("product.heading.orderHistory")</h6>
	<div class="row">
		<div class="col-md-12 cd-sm-12 cd-xs-12">
			<input type="hidden" id="startDateVal" value="$!startDate"/>
			<input type="hidden" id="endDateVal" value="$!endDate"/>
			<!-- <h4>$!locale.get("product.label.searchBy")</h4> -->
			<form id="OrdersHistoryDetails" action="$!locale.get('website.url.OrderHistory')" method="GET">
				<input type="hidden" name="searchBy" id="searchBy"/>
				<input type="hidden" name="entityIDType" id="entityIDType"/>
				<input type="hidden" name="customerPoNumber" id="customerPoNumber"/>
				<input type="hidden" name="partNumberToERP" id="partNumberToERP"/>
				<input type="hidden" name="orderNumber" id="orderNumber"/>
				<div class="row">
					<!-- <div class="col-md-4 custom_lineform form-inline">
						<input type="text" id="orderPoSearch" onkeypress="return runScript(event);"class="form-control" value="#if($keyWord)$!keyWord #end" placeholder="$!locale.get('label.order.searchbar')" >
						<input type="button" id="orderPoSearchBtn" class="btn btn-secondary btn-md" value="Search"/>
					</div> -->
					<div class="col-md-12 custom_lineform form-inline mTop-2">
					<label for="datepicker_from" class="mRight-2 date_from">$!locale.get("product.label.from") </label>
						<div class='input-group date'>
							<input type="text" name="startDate" id="startDate" class="form-control"  data-date-end-date="0d" placeholder="MM/DD/YYYY" readonly/>
						<!-- 	<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span> -->
						</div>
						<label class="mRight-2 date_from">$!locale.get("product.label.to")</label>
						<div class='input-group date'>
							<input type="text" name="endDate" id="endDate" class="form-control"  data-date-end-date="0d" placeholder="MM/DD/YYYY" readonly/>
						<!-- 	<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span> -->
						</div>
						   <div class="input-group form-group clearform">
							    <button type="button" class="btn btn-tertiary btn-md mRight-2 order_btn" id="searchBtn" data-hasPassCode="N" data-id="applybutton" data-value="#if($entityIDType) $entityIDType.replace('','')To #else ShipTo #end" data-invoicNum="$!orderList.orderNum" onclick="processForm(this)">$!locale.get('filter.label.apply')</button>
							    <button type="reset" id="resetBtn" class="btn btn-secondary btn-md order_btn">$!locale.get('product.button.deleteQuoteRequest')</button>
						    </div>
					</div>
					<!-- <div class="col-md-4">
						<label>$!locale.get("product.label.orderNumber") </label>
						<input type="text" id="orderNumber" name="orderNumber" onkeypress="return IsNumeric(event);" onpaste="return false;" ondrop ="return false;" value="$!orderNumber" />
						<select id="orderCategory" name="type" class="form-control selectpicker" onchange="updateSearchBtn(this)">
							<option value="">- Select Category -</option>
							<option value="customerPoNumber">$!locale.get('event.label.PONumber')</option>
							<option value="orderNumber">$!locale.get('product.heading.Order')</option>
						</select>
					</div> -->
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 cd-sm-12 cd-xs-12 pTop-3">
			#if($displayAccountOrderInformation == "Y")
			<div class="cimm_tableWrap shipping">
				<table cellpadding="0 " cellspacing="0 " border="0 " width="100% " class="table table-striped table-bordered display rwd-table" id="OrdersHistoryTable">
					<thead>
						<tr>
							<th class="left">$!locale.get("form.label.OrderNo")</th>
							<th class="left">$!locale.get('product.label.shipDate')</th>
							<!-- <th class="left">$!locale.get("product.label.description")</th> -->
							<!--  <th align="left">$!locale.get("form.label.CustomerRelease")</th> -->
							<th>$!locale.get("product.label.processingStatus")</th>
							<th>$!locale.get("form.label.invoicevalue")</th>
							<th width="90px">&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						#if($orderList.size()>0)
						#foreach($orderList in $orderList)
						#if(!$!orderList.accountRegId.contains("C"))
						<tr>		
						    #if($CommonDBQuerySystemParameter.get("CREATE_ORDER_IN_DB")=="Y")					
						    <td class="alignLeft" data-th="$!locale.get('form.label.OrderNo')"><a href="OrderDetailSale.action?orderId=$!orderList.orderId&genId=$!orderList.geneId&orderStatus=Billed">$!orderList.orderNum</a></td>
							#else
							<td class="alignLeft" data-th="$!locale.get('form.label.OrderNo')"><a href="OrderDetailSale.action?orderId=$!orderList.orderNum&genId=$!orderList.geneId&orderStatus=Billed">$!orderList.orderNum</a></td>
							#end
							<td data-th="$!locale.get('product.label.shipDate')">#if($!orderList.shipDate)$!orderList.shipDate #else $!orderList.orderDate #end</td>
							<!-- <td class="alignLeft" data-th="$!locale.get('product.label.description')">$!orderList.poNumber</td> -->
							<!--  <td data-th="$!locale.get('form.label.CustomerRelease')">#if($orderList.customerReleaseNumber)$!orderList.customerReleaseNumber #else &nbsp; #end</td> -->
							<td data-th="$!locale.get('product.label.processingStatus')">$!orderList.orderStatus</td>
							<td data-th="$!locale.get('form.label.invoicevalue')">Q$!numberTool.format($!numberToolFormat,$!orderList.total)</td>
							#if($CommonDBQuerySystemParameter.get("CREATE_ORDER_IN_DB")=="Y")
							<td data-th="" class="text-center"><a href="OrderDetailSale.action?orderId=$!orderList.orderId&genId=$!orderList.geneId&orderStatus=Billed" class="actionIcon" data-toggle="tooltip" title="$!locale.get('product.label.viewOrder')"><em class="fa fa-eye" aria-hidden="true"></em></a></td>
							#else							
						    <td data-th="" class="text-center"><a href="OrderDetailSale.action?orderId=$!orderList.orderNum&genId=$!orderList.geneId&orderStatus=Billed" class="actionIcon" data-toggle="tooltip" title="$!locale.get('product.label.viewOrder')"><em class="fa fa-eye" aria-hidden="true"></em></a></td>
						    #end
						 </tr>
						#end
						#end
						#end
					</tbody>
				</table>
			</div>
			#end
		</div>
	</div>
#end
#else
<div class="alert alert-danger">
  <strong>$!locale.get('Managepurchaseagent.status.accessdenied')</strong>
</div>
#end
