<!-----------------------------------Order Confirmation Content-------------------------------->
<!-- <div class="OrderConfBtnGroup cimm_groupManipulate">
	<a href="javascript:void(0);" onclick="window.print();" class="hideForDevice" title="$!locale.get('product.button.printReceipt')"><em class="fa fa-lg fa-print"></em> &nbsp; $!locale.get('product.button.printReceipt')</a>
</div>
<div class="clear"></div>
<a href="javascript:void(0);" onclick="sendOrderConfirmation();" class="hideForDevice pull-right" title="$!locale.get('product.button.sendthispage')"><em class="fa fa-lg fa-share-square"></em></a>
<div class="clear"></div> -->
<div id="printOrderConfirm">
	<div class="orderStatus">
		#if($orderDetail.erpOrderNumber)				
			<h3>$!locale.get('product.label.yourOrderSuccess') - <span class="text-success">$!locale.get('product.label.orderSuccess')</span></h3>
		#else
			#if($!orderDetail.orderStatusDesc.toUpperCase().contains("SUCCESS"))
				<h3>$!locale.get('product.label.yourOrderSuccess') - <span class="text-success">$!locale.get('product.label.orderSuccess')</span></h3>
			#else
				#if($orderItemList.size()==0)
					<h3>$!locale.get('product.label.yourOrdernotavailable')</h3>
				#else
					<h3>$!locale.get('product.label.yourOrderCanceled') - <span class="text-danger">$!locale.get('product.label.orderFailed')</span></h3>
				#end
					#set($customerServiceNo = $commonUtility.validateString($!CommonDBQuerySystemParameter.get("CUSTOMER_SERVICE_NUMBER")))
					<p class="customerServiceNo">$!locale.get('product.label.contactCustomerService'): <a class="orangeClr" href="tel:$!customerServiceNo.replaceAll('&[#0-9]+;','')">$!customerServiceNo</a></p>
			#end
        #end
	</div>
	<div class="clear"></div>
	<div class="row marginY-3">
		<div class="col-md-4 col-sm-4 col-xs-12">
		<h4>$!locale.get("product.heading.orderDetail")</h4>
			<ul class="cimm_orderInfo">
			#if($!orderDetail.orderStatusDesc.length() > 0)
			<li>
				<strong>$!locale.get("product.heading.Status"): </strong><span class="text-capitalize">$!orderDetail.orderStatusDesc</span>
			</li>
			#end
			#if($!orderDetail.invoiceNumber.length() > 0)
			<li>
				<strong> $!locale.get("product.label.invoicNumber"): </strong><span>$!orderDetail.invoiceNumber</span>
			</li>
			#end
			#if($!orderDetail.erpOrderNumber.length() > 0)
			<li>
				#if($!orderDetail.erpOrderNumber.length() > 0)
				<strong>$!locale.get("product.label.eclipseOrderNumber"): </strong><span>$!orderDetail.erpOrderNumber</span>
				#end
			</li>
			#elseif($!orderDetail.orderNum.length() > 0)
			<li>
				<strong>$!locale.get("product.label.orderNumber"): </strong><span>$!orderDetail.orderNum</span>
			</li>
			#end
			#if($!orderDetail.orderDate.length() > 0)
			<li>
				<strong>$!locale.get("product.label.orderedDate"): </strong><span>$!orderDetail.orderDate</span>
			</li>
			#end
			#if($!orderDetail.orderedBy.length() > 0)
			<li>
				<strong>$!locale.get("form.label.orderedBy"): </strong><span>$!orderDetail.orderedBy</span>        
			</li>
			#end
			#if($!orderDetail.poNumber.length() > 0)
			<li>
				<strong>$!locale.get("product.label.poNumber"): </strong><span>$!orderDetail.poNumber</span>
			</li>
			#end
			#if($!orderDetail.ShipViaMethod.length() > 0)
			<li>
				<strong>$!locale.get("form.label.shipVia"): </strong><span>$!orderDetail.ShipViaMethod</span>
			</li>
			#end
			#if($!orderDetail.shipDate.length() > 0)
			<!-- <li>
				<strong>$!locale.get("product.label.shipDate"): </strong><span>$!orderDetail.shipDate</span>
				<input type="hidden" value="$!orderDetail.trackingInfo" >
			</li> -->
			#end
			#if($!orderDetail.trackingInfo.length() > 0)
			<!-- <li>
				<strong>$!locale.get("product.label.trackInfo"): </strong>
				<a href='http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=$!orderDetail.trackingInfo' target="_blank">$!orderDetail.trackingInfo</a>
			</li> -->
			#end
		</ul>
		</div>
	
	<div class="col-md-4 col-sm-4 col-xs-12">
       <h4>$!locale.get("product.heading.billingAddress")</h4>
		<p>
			<span> 
				#if($billEntityName.length()>0)$!billEntityName <br/> #end
				#if($orderDetail.billAddress.address1.length()>0)$!orderDetail.billAddress.address1<br /> #end
				#if($orderDetail.billAddress.address2.length()>0)$!orderDetail.billAddress.address2<br />#end  
				#if($orderDetail.billAddress.city.length()>0)$!orderDetail.billAddress.city#end
				#if($orderDetail.billAddress.state.length()>0), $!orderDetail.billAddress.state<br />#end 
				#if($orderDetail.billAddress.zipCode.length()>0)$!orderDetail.billAddress.zipCode#end
				#if($orderDetail.billAddress.country.length()>0), $!orderDetail.billAddress.country<br />#end
				#if($orderDetail.billAddress.phoneNo.length()>0) $!orderDetail.billAddress.phoneNo,<br />#end
				#if($orderDetail.billAddress.emailAddress.length()>0)$!orderDetail.billAddress.emailAddress<br />#end
			</span>
		</p>
       </div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<h4>$!locale.get("product.heading.shippingAddress")</h4>
		<p>
			<span>
				#if($shipEntityName.length()>0)$!shipEntityName#end <br/>
				#if($orderDetail.shipAddress.shipToId.length()>0)$!orderDetail.shipAddress.shipToId#end <br/>
				#if($orderDetail.shipAddress.address1.length()>0)$!orderDetail.shipAddress.address1<br />#end 
				#if($orderDetail.shipAddress.address2.length()>0)$!orderDetail.shipAddress.address2<br />#end
				#if($orderDetail.shipAddress.city.length()>0)$!orderDetail.shipAddress.city#end
				#if($orderDetail.shipAddress.state.length()>0), $!orderDetail.shipAddress.state #end 
				#if($orderDetail.shipAddress.zipCode.length()>0)$!orderDetail.shipAddress.zipCode#end
				#if($orderDetail.shipAddress.country.length()>0) $!orderDetail.shipAddress.country<br />#end
				#if($orderDetail.shipAddress.phoneNo.length()>0) $!orderDetail.shipAddress.phoneNo,<br /> #end
				<span class="mulEmail">
				#if($orderDetail.shipAddress.emailAddress.length()>0)$!orderDetail.shipAddress.emailAddress<br />#end
				</span>
			</span>
		</p>
	 </div>
       </div>
	<div class="row marginY-3">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<table class="table table-bordered table-striped rwd-table">
			<thead>
				<tr>
					<th>$!locale.get("product.label.Image")</th>
					<th>$!locale.get("product.label.description")</th>
					<th>$!locale.get("product.label.qty")</th>
					<th>$!locale.get("product.label.uom")</th>
					<th>$!locale.get("product.label.yourprice")</th>
					<th>Ext Price</th>
				</tr>
			</thead>
			<tbody>
				#set($displayCallForPriceMessage = "")
				#set($delimiterOrderDetail = "")
				#set($subTotal = 0)
				#foreach($itemList in $orderItemList)
				##set($eachItem = $!fullItemDetails.get($!itemList.itemId))
				<tr>
					<td data-th="$!locale.get('product.label.Image')">
						#if($itemList.imageName.contains("http") || $itemList.imageType=="URL" || $itemList.imageType=="360_URL")
							#if($itemList.imageType=="360_URL")
								<span class="threesixtydegreeimg">
									<img class="OrderConfImg" src="$!itemList.imageName?thumb&w=110" alt='$!itemList.brandName $!itemList.manufacturerPartNumber' onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="110" height="110" />
								</span>
							#else
								<img class="OrderConfImg" src="$!itemList.imageName" alt='$!itemList.brandName $!itemList.manufacturerPartNumber' onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="110" height="110" />
							#end
						#else
						<img class="OrderConfImg" src="$!thumbNail$!itemList.imageName" alt='$!itemList.brandName $!itemList.manufacturerPartNumber' onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="110" height="110" />
						#end                     
					</td>
					<td class="alignLeft" data-th="$!locale.get('product.label.description')">
						<p class="orderConfTitle"><strong>$!itemList.brandName $!itemList.manufacturerPartNumber</strong></p>
						<p>$!itemList.shortDesc</p>
						<p><strong>$!locale.get("product.label.partNumber"): </strong>$!itemList.partNumber</p>
						<!-- $!itemList.productKeywords -->
						#if($itemList.customerPartNumberList.size()>0)
						<ul>
							<li><strong>Customer Part Number: </strong>
								#foreach($!customerPartNumberList in $!itemList.customerPartNumberList)
									$!customerPartNumberList.partNumber <br>
								#end
							</li>
						</ul>
						#end
						#if($!itemList.lineItemComment.length()>0)
							<ul><li><strong>Line Item Comment: </strong>$!itemList.lineItemComment </li></ul>
						#end
					</td>
					<td data-th="$!locale.get('product.label.qty')">$!itemList.orderQty</td>
					<td data-th="$!locale.get('product.label.uom')">$!itemList.orderUom</td>
					#if($itemList.unitPrice>0)
					<td data-th="$!locale.get('product.label.yourprice')" class="formatPrice">#if($itemList.unitPrice>0)$$numberTool.format($numberToolFormat,$itemList.unitPrice) #end</td>
					#else
					<td data-th="$!locale.get('product.label.yourprice')" class="formatPrice">#if($itemList.listPrice>0) $$numberTool.format($numberToolFormat,$itemList.listPrice) #end</td>
					#end
					#if($itemList.statusDescription=="Y")
						#set($!displayCallForPriceMessage = $!displayCallForPriceMessage+$!delimiterOrderDetail+$!itemList.partNumber)
						#set($!delimiterOrderDetail = ",")
					#end
					<td align="left" valign="top" data-th="Ext Price" class="formatPrice">#if($itemList.extPrice>0)$$numberTool.format($numberToolFormat,$itemList.extPrice) #end</td>
				</tr>
				#end
			</tbody>
		</table>
	</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="cimm_salesBottomStrip orderConfBottomStrip">
				<div class="pull-left orderConfInst">
					<p class="cimm_instructions">$!locale.get("orderconfirmation.note.freightChargeMessage") $!siteDisplayName</p>
					#if($displayCallForPriceMessage != "")
					<p class="orangeClr">Note: The following item (s)  $!displayCallForPriceMessage, are call for price item(s). <br /> Displayed pricing is a default price. Please call customer service for accurate pricing. 
					<br /> Upon processing the order, adjusted order total will be changed by customer service.</p>
					#end
				</div>
				<ul>
					#if($orderDetail.subtotal>0)
					<li>
						<span class="priceLabel"><strong>$!locale.get("product.label.subTotal") : </strong></span>
						<span class="priceValue formatPrice">$$!numberTool.format($!numberToolFormat,$!orderDetail.subtotal) </span>
					</li>
					#end
					#if($orderDetail.tax>0)
					<li>
					     <span class="priceLabel"><strong>$!locale.get("product.label.tax") : </strong></span>
					     <span class="priceValue formatPrice"> $$!numberTool.format($!numberToolFormat,$!orderDetail.tax) </span>
					</li>
					#end
					#if($orderDetail.discount>0)
					<li>
						<span class="priceLabel"><strong>$!locale.get("product.label.discount") :</strong></span>
						<span class="priceValue formatPrice"> $$!numberTool.format($!numberToolFormat,$!orderDetail.discount)</span>
					</li>
					#end
					#if($orderDetail.freight>0)
					<li>
						<span class="priceLabel"><strong>$!locale.get("product.label.shipping") : </strong></span>
						<span class="priceValue formatPrice">$$!numberTool.format($!numberToolFormat,$!orderDetail.freight)</span>
					</li>
					#end
					#if($orderDetail.total>0)
					<li>
						<span class="priceLabel"><strong>$!locale.get("product.label.orderTotal") : </strong></span>
						<span class="priceValue formatPrice orangeClr">$$!numberTool.format($!numberToolFormat,$!orderDetail.total) </span>
					</li>
					#end
				</ul>   
				<div class="clear"></div>         
			</div>
		</div>
	</div>
	<div class="row marginY-3">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<a href="$!locale.get('website.url.ProductCategory')" class="button">$!locale.get("product.button.continueShopping")</a>	
		</div>
	</div>
</div>
<!--Order Confiramtion for Send-->
<div id="SendOrderConfirmationPage" style="display:none;">
	<table cellpadding="5" cellspacing="0" class="cimm_siteTable">
        #if($!orderDetail.invoiceNumber.length() > 0)
         <tr>
            <td><strong> $!locale.get("product.label.invoicNumber"): </strong></td>
            <td> <span>$!orderDetail.invoiceNumber</span></td>
        </tr>
        #end
        #if($!orderDetail.orderStatusDesc.toUpperCase().contains("SUCCESS"))
            #if($!orderDetail.erpOrderNumber.length() > 0)
            <tr>
                <td><strong>$!locale.get("product.label.OrderNumber"): </strong></td>
                <td><span>$!orderDetail.erpOrderNumber</span></td>
            </tr>
            #end
        #else
            #if($!orderDetail.orderNum.length() > 0)
            <tr>
                <td><strong>$!locale.get("product.label.OrderNumber"): </strong></td>
                <td><span>$!orderDetail.orderNum</span></td>
            </tr>
            #end
        #end
        
        #if($!orderDetail.orderDate.length() > 0)
        <tr>
        	<td><strong>$!locale.get("product.label.orderedDate"): </strong></td>
            <td> <span>$!orderDetail.orderDate</span></td>
        </tr>
         #end
         
        #if($!orderDetail.orderedBy.length() > 0)
        <tr>
        	<td><strong>$!locale.get("form.label.orderedBy"): </strong></td>
            <td><span>$!orderDetail.orderedBy</span></td>
        </tr>
        #end        
        #if($!orderDetail.poNumber.length() > 0)
        <tr>
        	<td><strong>$!locale.get("product.label.poNumber"): </strong></td>
            <td><span>$!orderDetail.poNumber</span></td>
        </tr>
        #end

        #if($!orderDetail.shipDate.length() > 0)
        <tr>
        	<td><strong>$!locale.get("product.label.shipDate"): </strong></td>
            <td><span>$!orderDetail.shipDate</span>    	
            <input type="hidden" value="$!orderDetail.trackingInfo" /></td>
        </tr>
        #end        
        #if($!orderDetail.trackingInfo.length() > 0)
        <tr>
        	<td><strong>$!locale.get("product.label.trackInfo"): </strong></td>
            <td><a href='http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=$!orderDetail.trackingInfo' target="_blank">$!orderDetail.trackingInfo</a></td>
        </tr>
        #end
    </table>
     <br />
    <table cellpadding="5" cellspacing="0" style="width:880px;border:1px solid #CCC;border-collapse:collapse;text-align:left;">
    	<tr>
    <th style="text-align:left;padding:5px;background:#404041;color:#FFF;border-right:1px solid #CCC;">$!locale.get("product.heading.billingAddress")</th>
    <th style="text-align:left;padding:5px;background:#404041;color:#FFF;">$!locale.get("product.heading.shippingAddress")</th>
        </tr>
        <tr>
            <td style="border-right:1px solid #CCC;"><p>
                <span> 
                    #if($billEntityName.length()>0)$!billEntityName <br/> #end
					#if($orderDetail.billAddress.address1.length()>0)$!orderDetail.billAddress.address1<br /> #end
					#if($orderDetail.billAddress.address2.length()>0)$!orderDetail.billAddress.address2<br />#end  
					#if($orderDetail.billAddress.city.length()>0)$!orderDetail.billAddress.city#end
					#if($orderDetail.billAddress.state.length()>0), $!orderDetail.billAddress.state<br />#end 
					#if($orderDetail.billAddress.zipCode.length()>0)$!orderDetail.billAddress.zipCode#end
					#if($orderDetail.billAddress.country.length()>0), $!orderDetail.billAddress.country<br />#end
					#if($orderDetail.billAddress.phoneNo.length()>0) $!orderDetail.billAddress.phoneNo,<br />#end
					#if($orderDetail.billAddress.emailAddress.length()>0)$!orderDetail.billAddress.emailAddress<br />#end
                </span>
            </p>
            </td>
            <td>
                 <p>
                   <span>
						#if($shipEntityName.length()>0)$!shipEntityName#end <br/>
						#if($orderDetail.shipAddress.shipToId.length()>0)$!orderDetail.shipAddress.shipToId#end <br/>
						#if($orderDetail.shipAddress.address1.length()>0)$!orderDetail.shipAddress.address1<br />#end 
						#if($orderDetail.shipAddress.address2.length()>0)$!orderDetail.shipAddress.address2<br />#end
						#if($orderDetail.shipAddress.city.length()>0)$!orderDetail.shipAddress.city#end
						#if($orderDetail.shipAddress.state.length()>0), $!orderDetail.shipAddress.state #end 
						#if($orderDetail.shipAddress.zipCode.length()>0)$!orderDetail.shipAddress.zipCode#end
						#if($orderDetail.shipAddress.country.length()>0) $!orderDetail.shipAddress.country<br />#end
						#if($orderDetail.shipAddress.phoneNo.length()>0) $!orderDetail.shipAddress.phoneNo,<br /> #end
						<span class="mulEmail">
						#if($orderDetail.shipAddress.emailAddress.length()>0)$!orderDetail.shipAddress.emailAddress<br />#end
						</span>
					</span>
                </p>
            </td>
        </tr>
    </table>
    <table style="width:880px;border:1px solid #CCC;border-collapse:collapse;text-align:left;" cellspacing="0" cellpadding="5">
         <thead>
          <tr>
            <th style="text-align:left;padding:5px;background:#404041;color:#FFF;border-right:1px solid #CCC;">$!locale.get("product.label.Image")</th>
            <th style="text-align:left;padding:5px;background:#404041;color:#FFF;border-right:1px solid #CCC;">$!locale.get("product.label.productDescription")</th>
            <th style="text-align:left;padding:5px;background:#404041;color:#FFF;border-right:1px solid #CCC;">$!locale.get("product.label.qty")</th>
            <th style="text-align:left;padding:5px;background:#404041;color:#FFF;border-right:1px solid #CCC;">$!locale.get("product.label.uom")</th>
            <th style="text-align:left;padding:5px;background:#404041;color:#FFF;border-right:1px solid #CCC;">$!locale.get("product.label.unitPrice")</th>
            <th style="text-align:left;padding:5px;background:#404041;color:#FFF;">$!locale.get("product.label.extPrice")</th>
          </tr>
          </thead>
          <tbody>
          #foreach($!itemList in $!orderItemList)
          <tr style="border-bottom:1px solid #CCC;">
            <td style="border-right:1px solid #CCC;">
                #if($itemData.imageName.contains("http") || $itemList.imageType=="URL")
                        <img src="$!itemList.imageName"  width="75" height="75" 
                        onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt='$!itemList.brandName $!itemList.manufacturerPartNumber'/>
                    #else
                        <img src="$!thumbNail$!itemList.imageName"  width="75" height="75" 
                        onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt='$!itemList.brandName $!itemList.manufacturerPartNumber'/>
                    #end                        
            </td>
            <td style="border-right:1px solid #CCC;">
            $!itemList.brandName $!itemList.manufacturerPartNumber
                <strong>$!locale.get("product.label.partno"): </strong>$!itemList.partNumber<br />
                $!itemList.productKeywords
                $!itemList.shortDesc 
            </td>
            <td style="border-right:1px solid #CCC;">$!itemList.orderQty</td>
            <td style="border-right:1px solid #CCC;">$!itemList.orderUom</td>
            <td style="border-right:1px solid #CCC;">$$!numberTool.format($!numberToolFormat,$!itemList.unitPrice)</td>
            <td>$$!numberTool.format($!numberToolFormat,$!itemList.total)</td>
          </tr>
          #end
         </tbody>
    </table>
    <br />
         <div class="clear"></div>         
        #if($orderDetail.orderNotes || $!orderDetail.shippingInstruction)
          <table cellpadding="5" cellspacing="0" style="width:880px;border:1px solid #CCC;border-collapse:collapse;text-align:left;">                   
            <tr>
                #if($orderDetail.shippingInstruction)
                   <th style="text-align:left;padding:5px;background:#404041;color:#FFF;"><strong>$!locale.get("form.label.shippingInstructions") </strong></th>
                #end
                 #if($orderDetail.orderNotes)
                	<th style="text-align:left;padding:5px;background:#404041;color:#FFF;"><strong>$!locale.get("form.label.orderNote")</strong></th>
                #end
                
            </tr>
            <tr>
               #if($orderDetail.shippingInstruction)
                   <td>$!orderDetail.shippingInstruction</td>
                #end 
                #if($orderDetail.orderNotes)
                	<td> $!orderDetail.orderNotes</td>
                #end
            </tr>
          </table>         
       #end
       <br />
       <table cellpadding="5" cellspacing="0" style="border:none;text-align:left;">
       	<tr>
        	<th>$!locale.get("product.label.subTotal")</th>
        	<td>$$!numberTool.format($!numberToolFormat,$!orderDetail.subtotal)</td>
        </tr>
        #if($orderDetail.tax>0)
          <tr>
            <th >$!locale.get("product.label.tax")</th>
            <td>$$!numberTool.format($!numberToolFormat,$!orderDetail.tax)</td>
          </tr>
         #end
          #if($orderDetail.discount>0)
          <tr>
            <th >$!locale.get("product.label.discount")</th>
            <td>$$!numberTool.format($!numberToolFormat,$!orderDetail.discount)</td>
          </tr>
         #end
         #if($orderDetail.freight>0)
            <tr>
                <th>$!locale.get("product.label.shipping") </th>
                <td>$$!numberTool.format($!numberToolFormat,$!orderDetail.freight)</td>
            </tr>
         #end
          <tr>
            <th>$!locale.get("product.label.orderTotal")</th>
            <td>$$!numberTool.format($!numberToolFormat,orderTotal)</td>
          </tr>
       </table>
        <!-- #if($orderDetail.discount>0)
          <tr>
            </td><strong>$!locale.get("product.label.discount")</strong></td>
            <td>$$!numberTool.format($!numberToolFormat,$!orderDetail.discount)</td>
          </tr>
        #end -->
                  <br />
         <div class="instructions" align="center">
         	<p><span class="required">* </span>$!locale.get("orderconfirmation.note.freightChargeMessage")</p>
         </div>
</div>
<!--End of Send Order Confirmation-->
<!-------------------------------------------Order Confirmation page Ends-------------------------------------->	


<div id="emailErr" class="sessonOut" style="display:none;"></div>
<div align="center" id="resultDiv" style="display:none;">
	<h3>$!locale.get("orderconfirmation.note.thankYouNote") <a href="$!locale.get('website.url.Welcome')">Go Home</a></h3>
</div>
