#parse("Macros/defaultMacro.vm")
#parse("Macros/listPageMacro.vm")
#listAndGridSwap($navigationType,$hostName,$keyWord,$srchTyp,$narrowKeyword,$varPsid,$escapeTool.url($attrFilterList),$filterList,$sortBy,$resultPage,$pageNo,$codeIdSkip,$levelNoSkip,$brandId,$keyWordTxt)
#listPageHeading($navigationType,$keyWord,$heading)
#listPageFormUrls($navigationType)
#if($LayoutName=="SubCategoryPage")
#if($topBanners)
<div class="cimm_topBannerEnclosure">
 <ul class="cimm_topBanners">
 #foreach($!topBanner in $!topBanners)
 #if($!topBanner.imageName)
 #if($!topBanner.imageURL)
 <li><a href="$!topBanner.imageURL" target="_blank"><img src="$!hostName$!bannerLogoPath$!topBanner.imageName" alt='$!topBanner.imageName'/></a></li>
 #else
 <li><img src="$!hostName$!bannerLogoPath$!topBanner.imageName" alt='$!topBanner.imageName'/></li>
 #end
 #end
 #end
 </ul>
<div class="clear"></div>
</div>
#end
#end
#set($listPageHeading = "")
#set($pageTitleBreadCrumbFirst = "" )
#set($pageTitleBreadCrumbLast = "" )
#set($finalPageTitle = "" )
#set($forPageSeoUrl = "" )
#set($forPageSeoUrlSeparator = "" )
	#if($breadCrumbList)
			#set($breadCrumbSize = $!breadCrumbList.size() )
			#set($breadCrumbIdx = 1 )
			#foreach($!breadCrumb in $!breadCrumbList)
				#set($forPageSeoUrl = $forPageSeoUrl+$forPageSeoUrlSeparator+$!breadCrumb.categoryName )
				#if($!breadCrumbIdx == $!breadCrumbSize)
					#set($listPageHeading = $!breadCrumb.categoryName)
				#else
					#set($pageTitleBreadCrumbFirst = $!pageTitleBreadCrumbFirst+" "+ $!breadCrumb.categoryName)
				#end
				#set($pageTitleBreadCrumbLast = $!listPageHeading )		
				#set($breadCrumbIdx = $!breadCrumbIdx+1)
				#if($!pageTitleBreadCrumbFirst && $!pageTitleBreadCrumbFirst!='')
					#set ( $!finalPageTitle =  $!pageTitleBreadCrumbFirst + " - " + $!pageTitleBreadCrumbLast)
				#else
					#set ( $!finalPageTitle =$!pageTitleBreadCrumbLast)
				#end
			#set($forPageSeoUrlSeparator = "/" )
			#end
	#else
		#set($forPageSeoUrl = "" )
		#set($forPageSeoUrlSeparator = "" )
	#end
	#if($!forPageSeoUrl=="")
		#set($forPageSeoUrl =$forPageSeoUrl.replaceAll(" ","-"))
	#else
		#set($forPageSeoUrl =$forPageSeoUrl.replaceAll(" ","-")+"/")
	#end
<h3 class="cimm_pageTitle categ_Head">#if($!listPageHeading && $!listPageHeading.trim().length()>0) $!listPageHeading #else $!locale.get("product.heading.productCategory") #end</h3>
<div class="cimm_productCategory">
	<div class="row mBottom-4">
		<div class="col-md-12 col-sm-12 col-xs-12">
			#if($!categoryDescription.shortDesc)
				<div class="categoryDescriptionBlock">
					$!categoryDescription.shortDesc
				</div>
			#end
		</div>
	</div>
	<div class="row mBottom-4">
		<div class="col-md-12">
			<div class="cimm_searchWithin">
				<form id="searchForm" action="itemLevelFilterPage.action" method="get">
					<div class="cimm_searchWithinWrap clearAfter">
					#set($search = "Internal Product Search Bar")
					#if($!keyWordTxt)
						<input type="text" name="keyWordTxt" id="keyWordTxt" title="$!search" placeholder="$!keyWordTxt" onkeypress="return runScriptSearchWithIn(event);">
					#else
						<input type="text" name="keyWordTxt" id="keyWordTxt" title="$!search $!listPageHeading" placeholder="$!search $!listPageHeading" onkeypress="return runScriptSearchWithIn(event);">
					#end
					<input type="hidden" name="codeId" value="$!codeId" /> 
					<input type="hidden" name="levelNo" value="$!levelNo" /> 
					<input type="hidden" name="gallery" value="$!gallery" />
					<input type="hidden" name="resultPage" value="12" /> 
					<input type="hidden" name="pageNo" value="$!pageNo" />   
					<input type="hidden" id="keyWord" name="keyWord" value="$!keyWordTxt" /> 
					<input type="hidden" name="srchTyp" value="CATNAV"> 
					<button type="submit" id="searchWithInBtn" onclick="validateSearchWithIn(); return false;" class="button"><i class="far fa-search"></i></button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		#foreach($categoryList in $categoryListData)
			<div class="col-md-4 col-sm-3 col-xs-6">
				<div class="cimm_categoryItemBlock" itemscope itemtype="http://schema.org/Product"> 
					<a href="$!categoryList.categoryCode$!locale.get('website.url.ProductCategoryLevel')$forPageSeoUrl.toLowerCase().replaceAll('&[#0-9a-z]+;','').replaceAll('[^a-zA-Z0-9\-\/\s]+','').replaceAll('--','-')$!categoryList.categoryName.replaceAll(' ','-').toLowerCase().replaceAll('&[#0-9a-z]+;','').replaceAll('[^a-zA-Z0-9\-\s]+','').replaceAll('--','-')">
						<div class="cimm_categoryImg">
							#if($categoryList.imageName.contains("http") || $categoryList.imageType.equalsIgnoreCase("URL"))
						 		<img itemprop="Image" src="$!categoryList.imageName" alt="No Image" onerror="this.src='$webThemes/$siteName/images/NoImage.png';"/>
							#else
						 		<img itemprop="Image" src="$!taxonomyImage$!categoryList.imageName" alt="No Image" onerror="this.src='$webThemes/$siteName/images/NoImage.png';"/>
							#end
						</div> 
					 	#if($categoryList.categoryName.length()>18)
					 		<p class="cimm_categoryHeading" data-toggle="tooltip" itemprop="Name" title="$!categoryList.categoryName"> $!categoryList.categoryName.substring(0, 18)...</p>
					 	#else
					 		<p class="cimm_categoryHeading" itemprop="Name"> $!categoryList.categoryName </p>
					 	#end
					</a>
				</div>
			</div>
		#end
	</div>
</div>
		
<!--Bottom Banner List-->	
#if($bottomBanners)
<div class="cimm_bottomBannerEnclosure">
<ul class="cimm_bottomBanners">
#foreach($bottomBanner in $bottomBanners)
#if($bottomBanner.imageType=="URL")
	<li><a href=""> <img src="$!bottomBanner.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" /></a></li>
#else
	<li><a href=""> <img src="$!bannerLogoPath$!bottomBanner.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" /></a></li>
#end
#end
</ul>
</div>
#end
<style type="text/css">
.cimm_leftCategoryBanners{width:25%;position:relative;float:left;}
.cimm_rightCategoryBanners{width:25%;position:relative;float:right;}
.cimm_categoryEnclosure{float:left;}
</style>
<!----------------------------------------End of Category Page---------------------------------------->

#if($!CommonDBQuerySystemParameter.get("EnablePiwik") == 'Y')
<script>
/*  PIWIK Category Page Views */
window.onload = function(){
	piwik.populateOnCategoryPage();
}
/*  PIWIK Category Page Views */
</script>
#end