<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<script type="text/javascript" src="$!webThemes/$siteName/js/bootstrap.min.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/bootbox.min.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/masonry.pkgd.min.js"></script>
#parse("jquery-migrate-1-2-1-min.html")<!-- <script type="text/javascript" src="$!webThemes/$siteName/js/jquery-migrate-1.2.1.min.js"></script> -->
<script type="text/javascript" src="$!webThemes/$siteName/js/ajax.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/jAlert.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/Encoder.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/cookies.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/hashtable.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/respond.min.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/jqueryNumber.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/jquery.i18n.properties-1.0.9.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/slick.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/nprogress.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/jquery.autocomplete.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/addToCarts.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/PriceLoading.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/datatables.min.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/countryState.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/formValidation.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/jquery.form.js"></script>
<script type="text/javascript" src="$!webThemes/$siteName/js/siteScript.js"></script>
<title>Submit Document</title>
</head>
<body onload="submitCxmlDoc();">

<form method="post" name="submitCxml" id="submitCxml" action="$punchoutUrl">
<input type="hidden"  name="cxml-urlencoded" value='$punchoutOutputDoc' />
</form>
</body>
</html> 
                                 