<input type="hidden" id="QUICK_ORDER_RECORD_LIMIT" value='#if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")) $!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT") #else 50 #end'/>
<div class="multiTab" id="quickOrderTab">
	<ul class="multiTabHeading clearAfter">
		<li><a href="#typeItems">Speed Entry</a></li>
		<li><a href="#copyPaste">Copy Paste</a></li>
		<li><a href="#fileUpload">File Upload</a></li>
	</ul>
	<div class="multiTabContent">
		<div id="typeItems">
			<div class="row">
				<div class="col-lg-4 col-md-5 col-ms-6 col-xs-12">
					<input type="hidden" name="responseType" id="responseType" value="$!responseType"/>
					<div id="example1" class="hot handsontable"></div>
					<h4>If Duplicates in input:</h4>
					<div class="cimm_radioBtnWrap">
						<label for="Combine1"  class="customRadioBtn">
							<input type="radio" name="QuickOrderPad" value="Combine" id="Combine1" checked>
							<span>Combine</span>
						</label>
						<label for="Separate1" class="customRadioBtn">
							<input type="radio" name="QuickOrderPad" value="Separate" id="Separate1">
							<span>Separate</span>
						</label>
						<label for="Remove1" class="customRadioBtn">
							<input type="radio" name="QuickOrderPad" value="Remove" id="Remove1">
							<span>Remove</span>
						</label>
					</div>
					
					<div id="orderPadCopy" style="display:none;"></div>
					<div class="quickOrdeAddtoCart mTop-3">
						<input class="button" type="submit" value="$locale.get('quickorder.button.submit')" id="submitBtnPad" onclick="QuickOrder.validateOrderPad();"/>
					</div>
				</div>
				<div class="col-lg-8 col-md-7 col-ms-6 col-xs-12">
					<ol class="quickcartclass">
						<li>Copy and Paste feature are available as key shortcuts (Ctrl (Cmd) + C and Ctrl (Cmd) + V respectively).</li> 
						<li>The following Menu option are given when right clicked on the table.
							<ul class="contextmenu">
								<li>Remove Row</li>
								<li>Insert Row Above</li>
								<li>Insert Row Below</li>
								<li>Undo</li>
								<li>Redo</li>
							</ul>
						</li> 
						<li>You can add a new row by using "Enter" key when in the last row.</li> 
						<li>You can switch to a new row by using "Enter" key or "Tab" key</li> 
						<li>Speed Entry supports up to #if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")) $!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT") #else 50 #end records</li>
						<li>If there are duplicates in the given input ? Choose one from below 3 option
							<ul class="contextmenu">
								<li>Combine: quantity will be combined</li>
								<li>Separate: will be processed according to given input</li>
								<li>Remove: duplicates will be filtered out</li>
							</ul> 
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="copyPaste" class="clearAfter">
			<!-- <div class="row">
				<div class="col-md-12 col-ms-12 col-xs-12">
					<h5 class="mTop-0">Part# [TAB or COMMA] Quantity</h5>
				</div>
			</div> -->
			<div class="row">
				<div class="col-lg-4 col-md-5 col-ms-6 col-xs-12">
					<textarea id="copyPasteText" name="copyPasteText" class="copyPaste" title="" class="" rows='#if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT"))$!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")#else 100 #end' cols="60"></textarea>
					<div class="quickOrdeAddtoCart mTop-3" >
						<input class="button" type="submit" value="$locale.get('quickorder.button.submit')" id="submitBtnQOCP" onclick="return QuickOrder.quickOrderCopyPaste();">
					</div>
					<h4>If Duplicates in input:</h4>
					<div class="cimm_radioBtnWrap">
						<label for="Combine2" class="customRadioBtn">
							<input type="radio" name="QuickOrderCopyPaste" value="Combine" id="Combine2" checked>
							<span>Combine</span>
						</label>
						<label for="Separate2" class="customRadioBtn">
							<input type="radio" name="QuickOrderCopyPaste" value="Separate" id="Separate2">
							<span>Separate</span>
						</label>
						<label for="Remove2" class="customRadioBtn">
							<input type="radio" name="QuickOrderCopyPaste" value="Remove" id="Remove2">
							<span>Remove</span>
						</label>
					</div>
				</div>
				<div class="col-lg-8 col-md-7 col-ms-6 col-xs-12">
					<ol class="quickcartclass">
						<li>$!locale.get("product.heading.enterOrCopyPaste")</li> 
						<li>Copy paste order pad supports up to #if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")) $!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT") #else 50 #end rows</li> 
						<li>If there are duplicates in the given input ? Choose one from below 3 option
							<ul class="contextmenu">
								<li>Combine: quantity will be combined</li>
								<li>Separate: will be processed according to given input</li>
								<li>Remove: duplicates will be filtered out</li>
							</ul> 
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="fileUpload" class="clearAfter">
			<div class="row">
				<div class="col-lg-4 col-md-5 col-ms-6 col-xs-12">
					<div class="clearAfter uploadImage_wrap">
						<form id="uploadForm" method="post" enctype="multipart/form-data" action="QuickOrderFileUpload.slt">
							<input type="hidden" id="trigerPoint" value="quickorder"/>
							<div id="cimm_customFileUpload" class="uploadFile">
								<span>Choose File</span>
								<input type="file" name="datafile" id="datafile">
							</div>
							<input type="submit" class="button pull-left" value="$locale.get('button.label.Upload')" onclick="return QuickOrder.validateFileUpload();">
							<div class="clear"></div>
						</form>
					</div>
					<h4>If Duplicates in input:</h4>
					<div class="cimm_radioBtnWrap">
						<label for="Combine3" class="customRadioBtn">
							<input type="radio" name="QuickOrderFileUpload" value="Combine" id="Combine3" checked>
							<span>Combine</span>
						</label>
						<label for="Separate3" class="customRadioBtn">
							<input type="radio" name="QuickOrderFileUpload" value="Separate" id="Separate3">
							<span>Separate</span>
						</label>
						<label for="Remove3" class="customRadioBtn">
							<input type="radio" name="QuickOrderFileUpload" value="Remove" id="Remove3">
							<span>Remove</span>
						</label>
					</div>
				</div>
				<div class="col-lg-8 col-md-7 col-ms-6 col-xs-12">
					<ol class="quickcartclass">
						<li>File Upload is supported by .xlsx <a href="$webThemes/$siteName/images/QuickCartExample.xlsx">Click Here</a> To Download Sample File</li> 
						<li>Use Speed Entry to manually enter part number or UPC to upload it to quickly create a cart.</li>
						<li>File upload feature supports up to #if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")) $!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT") #else 50 #end records</li> 
						<li>If there are duplicates in the given input ? Choose one from below 3 option
							<ul class="contextmenu">
								<li>Combine: quantity will be combined</li>
								<li>Separate: will be processed according to given input</li>
								<li>Remove: duplicates will be filtered out</li>
							</ul> 
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="searchResults" style="display: none;"></div>
<div id="popupContact1" style="display:none;">		
	<h3>$locale.get("quickOrder.label.QuickCart") <a id="popupContactClose1" onclick="closeUI();"><i class="fa fa-times pull-right"></i></a></h3>
	<div id="contentArea" class="quickCart-table-Wrap" style="text-align:left;"></div>
	<div id="quikOrdrSubmit"></div>
</div>