<input type="hidden" id="QUICK_ORDER_RECORD_LIMIT" value='#if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")) $!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT") #else 50 #end'/>
<div class="multiTab" id="quickOrderTab">
	<ul class="multiTabHeading clearAfter">
		<li><a href="#typeItems">$!locale.get('label.quickOrder.speed')</a></li>
		<li><a href="#copyPaste">$!locale.get('label.quickOrder.copypaste')</a></li>
		<li><a href="#fileUpload">$!locale.get('label.quickOrder.FileUpload')</a></li>
	</ul>
	<div class="multiTabContent">
		<div id="typeItems">
			<div class="row">
				<div class="col-lg-4 col-md-5 col-ms-6 col-xs-12">
					<input type="hidden" name="responseType" id="responseType" value="$!responseType"/>
					<div id="example1" class="hot handsontable"></div>
					<h4>$!locale.get('label.quiclOrder.DuplicateInput'):</h4>
					<div class="cimm_radioBtnWrap">
						<label for="Combine1"  class="customRadioBtn">
							<input type="radio" name="QuickOrderPad" value="Combine" id="Combine1" checked>
							<span>$!locale.get('label.item.combine')</span>
						</label>
						<label for="Separate1" class="customRadioBtn">
							<input type="radio" name="QuickOrderPad" value="Separate" id="Separate1">
							<span>$!locale.get('label.item.seprate')</span>
						</label>
						<label for="Remove1" class="customRadioBtn">
							<input type="radio" name="QuickOrderPad" value="Remove" id="Remove1">
							<span>$!locale.get('product.label.remove')</span>
						</label>
					</div>
					
					<div id="orderPadCopy" style="display:none;"></div>
					<div class="quickOrdeAddtoCart mTop-3">
						<input class="button" type="submit" value="$locale.get('quickorder.button.submit')" id="submitBtnPad" onclick="QuickOrder.validateOrderPad();"/>
					</div>
				</div>
				<div class="col-lg-8 col-md-7 col-ms-6 col-xs-12">
					<ol class="quickcartclass">
						<li>$!locale.get('label.quickOrder.cpnote3') (Ctrl (Cmd) + C Y Ctrl (Cmd) + V).</li> 
						<li>$!locale.get('label.quickOrder.cpnote4')
							<ul class="contextmenu">
								<li>Eliminar fila</li>
								<li>Insertar fila arriba</li>
								<li>Insertar fila debajo</li>
								<li>Deshacer</li>
								<li>Rehacer</li>
							</ul>
						</li> 
						<li>$!locale.get('label.quickOrder.cpnote5').</li> 
						<li>$!locale.get('label.quickOrder.cpnote6')</li> 
						<li>$!locale.get('label.quickOrder.cpnote7') #if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")) $!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT") #else 50 #end $!locale.get('label.quickOrder.records')</li>
						<li>$!locale.get('label.quickOrder.DuplicateOption')
							<ul class="contextmenu">
								<li>$!locale.get('label.item.combine'): $!locale.get('label.quickOrder.CNote')</li>
								<li>$!locale.get('label.item.seprate'): $!locale.get('label.quickOrder.SNote')</li>
								<li>$!locale.get('product.label.remove'): $!locale.get('label.quickOrder.RNote')</li>
							</ul> 
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="copyPaste" class="clearAfter">
			<!-- <div class="row">
				<div class="col-md-12 col-ms-12 col-xs-12">
					<h5 class="mTop-0">Part# [TAB or COMMA] Quantity</h5>
				</div>
			</div> -->
			<div class="row">
				<div class="col-lg-4 col-md-5 col-ms-6 col-xs-12">
					<div id="copyPasteInstruction"></div>
					<textarea id="copyPasteText" name="copyPasteText" class="copyPaste" title="" class="" rows='#if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT"))$!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")#else 100 #end' cols="60"></textarea>
					<div class="quickOrdeAddtoCart mTop-3" >
						<input class="button" type="submit" value="$locale.get('quickorder.button.submit')" id="submitBtnQOCP" onclick="return QuickOrder.quickOrderCopyPaste();">
					</div>
					<h4>$!locale.get('label.quiclOrder.DuplicateInput'):</h4>
					<div class="cimm_radioBtnWrap">
						<label for="Combine2" class="customRadioBtn">
							<input type="radio" name="QuickOrderCopyPaste" value="Combine" id="Combine2" checked>
							<span>$!locale.get('label.item.combine')</span>
						</label>
						<label for="Separate2" class="customRadioBtn">
							<input type="radio" name="QuickOrderCopyPaste" value="Separate" id="Separate2">
							<span>$!locale.get('label.item.seprate')</span>
						</label>
						<label for="Remove2" class="customRadioBtn">
							<input type="radio" name="QuickOrderCopyPaste" value="Remove" id="Remove2">
							<span>$!locale.get('product.label.remove')</span>
						</label>
					</div>
				</div>
				<div class="col-lg-8 col-md-7 col-ms-6 col-xs-12">
					<ol class="quickcartclass">
						<li>$!locale.get("product.heading.enterOrCopyPaste")</li> 
						<li>$!locale.get('label.quickOrder.cpnote8') #if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")) $!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT") #else 50 #end rows</li> 
						<li>$!locale.get('label.quickOrder.DuplicateOption')
							<ul class="contextmenu">
								<li>$!locale.get('label.item.combine'): $!locale.get('label.quickOrder.CNote')</li>
								<li>$!locale.get('label.item.seprate'): $!locale.get('label.quickOrder.SNote')</li>
								<li>$!locale.get('product.label.remove'): $!locale.get('label.quickOrder.RNote')</li>
							</ul> 
						</li>
					</ol>
				</div>
			</div>
		</div>
		<div id="fileUpload" class="clearAfter">
			<div class="row">
				<div class="col-lg-4 col-md-5 col-ms-6 col-xs-12">
					<div class="clearAfter uploadImage_wrap">
						<form id="uploadForm" method="post" enctype="multipart/form-data" action="QuickOrderFileUpload.slt">
							<input type="hidden" id="trigerPoint" value="quickorder"/>
							<div id="cimm_customFileUpload" class="uploadFile">
								<span>$!locale.get('product.label.chooseFile')</span>
								<input type="file" name="datafile" id="datafile">
							</div>
							<input type="submit" class="button pull-left" value="$locale.get('button.label.Upload')" onclick="return QuickOrder.validateFileUpload();">
							<div class="clear"></div>
						</form>
					</div>
					<h4>$!locale.get('label.quiclOrder.DuplicateInput'):</h4>
					<div class="cimm_radioBtnWrap">
						<label for="Combine3" class="customRadioBtn">
							<input type="radio" name="QuickOrderFileUpload" value="Combine" id="Combine3" checked>
							<span>$!locale.get('label.item.combine')</span>
						</label>
						<label for="Separate3" class="customRadioBtn">
							<input type="radio" name="QuickOrderFileUpload" value="Separate" id="Separate3">
							<span>$!locale.get('label.item.seprate')</span>
						</label>
						<label for="Remove3" class="customRadioBtn">
							<input type="radio" name="QuickOrderFileUpload" value="Remove" id="Remove3">
							<span>$!locale.get('product.label.remove')</span>
						</label>
					</div>
				</div>
				<div class="col-lg-8 col-md-7 col-ms-6 col-xs-12">
					<ol class="quickcartclass">
						<li>$!locale.get('label.quickOrder.fileUploadnote1') <a href="$!webThemes/$siteName/images/QuickCartExample.xlsx">$!locale.get('product.label.clickHere')</a> $!locale.get('label.quickOrder.download')</li> 
						<li>$!locale.get('label.quickOrder.fileUploadnote4').</li>
						<li>$!locale.get('label.quickOrder.fileUploadnote3') #if($!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT")) $!CommonDBQuerySystemParameter.get("QUICK_ORDER_RECORD_LIMIT") #else 50 #end $!locale.get('label.quickOrder.records')</li> 
						<li>$!locale.get('label.quickOrder.DuplicateOption')
							<ul class="contextmenu">
								<li>$!locale.get('label.item.combine'): $!locale.get('label.quickOrder.CNote')</li>
								<li>$!locale.get('label.item.seprate'): $!locale.get('label.quickOrder.SNote')</li>
								<li>$!locale.get('product.label.remove'): $!locale.get('label.quickOrder.RNote')</li>
							</ul>
						</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="searchResults" style="display: none;"></div>
<div id="popupContact1" style="display:none;">		
	<h3>$locale.get("quickOrder.label.QuickCart") <a id="popupContactClose1" onclick="closeUI();"><em class="fa fa-times pull-right"></em></a></h3>
	<div id="contentArea" class="quickCart-table-Wrap" style="text-align:left;"></div>
	<div id="quikOrdrSubmit"></div>
</div>