<!-- #fd9c4fe9827e00a8d8a8d5b24a27872cfb6e3c0f3555dcb0d2093885e86ce574# -->
#set ($captchaVal = "N")
#if($!CommonDBQuerySystemParameter.get('RECAPTCHAV3_REGISTRATIONS') == "Y")
#set ($captchaVal = "Y")
#end

<div class="multiTab" id="cimm_regBlock">
	<ul class="multiTabHeading clearAfter">
		<li><a href="#firstTimeOrder" class="dark-ripple"><span>$locale.get('register.label.customerOnAccount')</span></a></li>
		<!-- <li><a href="#newCommertialCustomer" class="dark-ripple"><span>New commercial account</span></a></li>
		<li><a href="#newRetailCustomer" class="dark-ripple"><span>New retail customer account</span></a></li> -->
		<!-- <li><a href="#crteditApplication"><span>Credit Application</span></a></li> -->
	</ul>
	<div class="multiTabContent">
		<div id="firstTimeOrder">
			<form id="form1B" action="OnAccountReg.action" onsubmit="submitThisForm(this); return false;" data-hideBlock="cimm_regBlock" data-recaptcha="$captchaVal" method="post">
				<h6>$locale.get("register.text.newOnAccountWebStoreAccessRequest")<div class="pull-right"><span class="required">*</span> $locale.get("form.label.required")</div></h6>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="accountNo1B">$locale.get("form.label.accountNumber")<span class="text-danger"> * </span></label>
							<input type="text" name="accountNo1B" id="accountNo1B" placeholder="$locale.get('form.label.accountNumber')" data-type="text" data-required="Y" data-error="$locale.get('form.user.accountNumber.notEmpty')" class="form-control"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="firstName1B">$locale.get("form.label.firstName")<span class="text-danger"> * </span></label>
							<input type="text" name="firstName1B" id="firstName1B" placeholder="$locale.get('form.label.firstName')" data-type="text" data-required="Y" data-error="$locale.get('form.user.firstName.notEmpty')" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="lastName1B">$locale.get("form.label.lastName")<span class="text-danger"> * </span></label>
							<input type="text" name="lastName1B" id="lastName1B" placeholder="$locale.get('form.label.lastName')" data-type="text" data-required="Y" data-error="$locale.get('form.user.lastName.notEmpty')" class="form-control"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="emailAddress1B">$locale.get("form.label.email")<span class="text-danger"> * </span></label>
							<input type="text" name="emailAddress1B" id="emailAddress1B" placeholder="$locale.get('form.label.email')" data-type="email" data-required="Y" data-error="$locale.get('form.user.address.emailId.notEmpty')" data-invalid="$locale.get('form.user.address.emailId.invalid')" class="form-control"/>
							<small>$locale.get("register.text.yourEmailAddressWillServeAsYourUserIDWhenLogin")</small>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="newPassword1B">$locale.get("form.label.password")<span class="text-danger"> * </span></label>
							<input type="password" name="newPassword1B" id="newPassword1B" autocomplete="off" placeholder="$locale.get('form.label.password')" data-type="password" data-required="Y" data-error="$locale.get('form.user.password.password')" data-invalid="$locale.get('form.user.password.invalid')" class="form-control"/>
							<span class="pwdCriteria">$locale.get("form.label.password.criteria")</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="newPasswordConfirm1B">$locale.get("product.label.passwordConfirmation")<span class="text-danger"> * </span></label>
							<input type="password" name="newPasswordConfirm1B" id="newPasswordConfirm1B" autocomplete="off" placeholder="$locale.get('product.label.passwordConfirmation')" data-password="newPassword1B" data-type="password" data-required="Y" data-error="$locale.get('form.user.password.confirmPassword')" data-invalid="$locale.get('form.user.password.mismatch')" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="center">
					$!locale.get("register.label.termsAccept")	
				</div>
		        <input type="hidden" name="isAuthorizationRequest" id="isAuthorizationRequest" value="N" />
				<input type="hidden" name="locUser1B" id="locUser1B" value="N" />
				<div class="cimm_formBtn clearAfter"><input type="submit" class="pull-right button" id="RegisterWSA" value="$locale.get('register.label.iaccept')" /></div>
			</form>
		</div>
	</div>
</div>

<div  class="hideMe" id="registrationComplete">
	<h4>$!afterRegistration</h4>
	<br />
	<div class="afterRegInstructions">
	<p><em class="fa fa-lg fa-info"></em> &nbsp;$locale.get("register.label.WelcomeTo") $siteDisplayName, $locale.get("register.message.registerSuccessMessage")</p> 
	<br />
	<div class="clear"></div>
	<a href='$locale.get("website.url.Welcome")' class="button">$locale.get("product.heading.home")</a>
	<span>
	<a href="javascript:void(0);" onclick="showLogin();" class="button">$locale.get("product.button.login")</a>
	</span>
	<div class="clear"></div>
	<br />
	</div>
	<div class="clear"></div>
	<br />
</div>

<div  class="hideMe" id="retailRegistrationComplete">
	<h4>$!afterRegistration</h4>
	<br />
	<div class="afterRegInstructions">
	<p><em class="fa fa-lg fa-info"></em> &nbsp;$locale.get("register.label.WelcomeTo") $siteDisplayName, $locale.get("register.message.retailRegisterSuccessMessage")</p> 
	<br />
	<div class="clear"></div>
	<a href='$locale.get("website.url.Welcome")' class="button">$locale.get("product.heading.home")</a>
	<span id="RegCompleteLoginConti">
	<a href="javascript:void(0);" onclick="showLogin();" class="button">$locale.get("product.button.login")</a>
	</span>
	<div class="clear"></div>
	<br />
	</div>
	<div class="clear"></div>
	<br />
</div>
<!-- Dom Tab end -->
<div id="successBlock" class="hideMe">
	<a href="/" class="button">$!locale.get('product.heading.home')</a>
</div>
