#if($!responseType)
	#if($responseType=="ProductGroupList")
		#if($allItemData)
			<div class="productGroupPopWrap">
				<div class="addToCartHeaderContent">
		            <h3 class="cimm_page-title" id="addToCartHeaderContent">$!locale.get('marketBasket.button.addToProductGroup')</h3>
		        </div>
		        <div id="multipleProductGroupContent">
			        <div class="addNewPgWrap">
			        		<input type="text" id="newProductGroupName" maxlength="40"/>
			        		<input type="button" class="button" onclick="BulkAction.addNewProductGroup()" value="$!locale.get('product.group.heding.newFavrito')" />
			        	<div class="clear"></div>
			        </div>
			        <div class="existingPgListWrap">
			        	<h4>$!locale.get('product.group.existingFav')</h4>
			        	<ul>
			        		#foreach($!pListDate in $!productListData)
				        		<li>
			        				<label for="Pgroup_$!pListDate.productListId" class="customCheckBox"><input type="checkbox" id="Pgroup_$!pListDate.productListId" class="multipleProuctGroupCheckbox" data-listid="$!pListDate.productListId" data-listname="$!pListDate.productListName"/><span>$!pListDate.productListName</span></label>
				        		</li>
			        		#end
			        	</ul>
			        </div>
			        <div class="selectedItemsWrap">
			        	<h4>$!locale.get('product.button.selectedItems')</h4>
			        	<div class="itemsList">
			        		#set($itemIndex = 0)
			        		#foreach($!itemData in $!userItemData)
			        			#set($eachItemData = $!allItemData.get($!itemData.itemId))
			        			#set($idText = $!itemIndex+"_"+$!itemData.itemId)
				        		<div class="row" id="multipleItemCart_$!idText">
				        			<div class="col-md-2 col-sm-12 col-xs-6">
				        				<div class="selectedItemImg alignCenter">
					        			#if($!eachItemData.imageType=="URL" || $!eachItemData.imageType=="360_URL")
					        				#if($!eachItemData.imageType=="360_URL")
						        				<span class="threesixtydegreeimg">
						        					<img src="$!eachItemData.imageName?thumb&w=50" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="50" height="50" alt="$!eachItemData.brandName $!eachItemData.manufacturerPartNumber"/>
						        				</span>
					        				#else
					                        	<img src="$!eachItemData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="50" height="50" alt="$!eachItemData.brandName $!eachItemData.manufacturerPartNumber"/>
					                        #end
										#else 
											<img src="$!thumbNail$!eachItemData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="50" height="50" alt="$!eachItemData.brandName $!eachItemData.manufacturerPartNumber"/>
					                    #end
				        				</div>
				        			</div>
				        			<div class="col-md-8 col-sm-12 col-xs-6">
				        				<div class="selectedItemDesc">
						        			#if($!eachItemData.partNumber && $!eachItemData.partNumber!="")
							        			<p><strong>$!locale.get("product.label.partNumber"): </strong>$!eachItemData.partNumber</p>
							        		#end
							        		#if($!eachItemData.manufacturerPartNumber && $!eachItemData.manufacturerPartNumber!="")
							        			<p><strong>$!locale.get("product.label.mpn"): </strong>$!eachItemData.manufacturerPartNumber</p>
							        		#end
						        			<div class="clear"></div>
					        			</div>
				        			</div>
				        			<div class="col-md-2 col-sm-12 col-xs-12">
				        				<a href="javascript: void(0);" data-toggle="tooltip" title="$!locale.get('label.remove.fromlist')"  class="delBtn alignCenter" onclick="BulkAction.cancelAddToCart($!itemData.itemId, $itemIndex)"><i class="fa fa-lg fa-times-circle"></i></a>
				        			</div>
				        		</div>
				        		#set($itemIndex = $itemIndex+1)
				        	#end
			        	</div>
			        </div>
			        <div class="alignCenter submitProductGroup">
			        	<a href="javascript:void(0);" onClick="BulkAction.processMyProductGroup();" class="button">$!locale.get("label.cpn.add")</a>
			        	<a href="javascript:void(0);" onClick='jQuery("#generalModel").modal("hide");'class="button" >$!locale.get("label.item.cancel")</a>
			        </div>
		        </div>
			</div>
		#else
			#if($!fromPage == "fileUpload")
				<li><input type="text" maxlength="25" onkeypress="return noenter()" onkeyup="if(event.keyCode == 13){addItemList(this.value,0);}"/></li>
			#else
				<li><input type="text" maxlength="25" onkeypress="return noenter()" placeholder="$!locale.get('product.label.enterNewGroupName')" onkeyup="if(event.keyCode == 13){addToProductList(this);}"/></li>
			#end
			#foreach($!pListDate in $!productListData)
				<li><a id="$!pListDate.productListId" onclick="addToProductList(this);" data-groupName="$!pListDate.productListName">$!pListDate.productListName</a></li>
			#end
		#end
	#end
	#if($responseType=="CartGroupList")
		<li><input type="text" maxlength="25" onkeyup="if(event.keyCode == 13){submitSaveCart(this.value,0,this);return false;}" placeholder="$!locale.get('label.savedcart.entername')"/></li>
		#foreach($!pListDate in $!productListData)
			<li><a id="$!pListDate.productListId" onclick="submitSaveCart('',this.id,this);" data-groupName="$!pListDate.productListName">$!pListDate.productListName</a></li>
		#end
	#end
	#if($!responseType=="PromotedProductGroupList")
		<li><input type="text" maxlength="25" onkeyup="if(event.keyCode == 13){submitSaveCart(this.value,0,this);return false;}" /></li>
		#foreach($!pListDate in $!promotedProductGroupListData)
			<li><a id="$!pListDate.productListId" onclick="submitSaveCart('',this.id,this);" data-groupName="$!pListDate.productListName">$!pListDate.productListName</a></li>
		#end
	#end
	#if($!responseType=="CustomerPartNumberList")
		<li><input type="text" maxlength="25" id="newCustomerPartNumber" name="newCustomerPartNumber" value="$!locale.get('customerPartNumber.label.enterNewCustomerpartNumber')" onfocus="if(this.value=='$!locale.get('customerPartNumber.label.enterNewCustomerpartNumber')'){this.value='';}" onblur="if(this.value==''){this.value='';this.value='$!locale.get('customerPartNumber.label.enterNewCustomerpartNumber')';}" onkeypress="return runScriptAddCustPnum(event);"/></li>
		#foreach($!customerpartNumber in $!customerPartNumberList)
		<li>
			<label class="customCheckBoxRight"> 
				<input type="checkbox" id="$!customerpartNumber.idList" name="customPartNumList" value="$!customerpartNumber.partNumber"/>
				<span class="CPN_Sel">$!customerpartNumber.partNumber</span>
			</label>
		</li>
		#end
		<li class="clearAfter">
			<button type="button" id="add" class="button" onclick="manageCustomerPartNumber(this)">$!locale.get("label.cpn.add")</button>
			#if($!customerPartNumberList.size()>0)
				<button type="button" id="update" class="button" onclick="manageCustomerPartNumber(this)">$!locale.get("label.cpn.update")</button>
				<button type="button" id="remove" class="button" onclick="manageCustomerPartNumber(this)">$!locale.get("label.cpn.remove")</button>
			#end
		</li>
	#end
	#if($!responseType=="quickOrder" || $!responseType=="STD")
		#foreach($!resData in $!resultData)
			$!resData.itemId|$!resData.PartNumber|$!resData.shortDesc|$!shoppingCartCount|$!responseType --
		#end
	#end
	#if($!responseType=="MultipleAddToCart")
	<script>
		if(jQuery(".cartCountDisplayLi > a > .cartCountrefresh").length>0){
			jQuery(".cartCountrefresh").html("$!cartCount");
		}else{
			jQuery(".cartCountDisplayLi").addClass("ItemsInCart");
			jQuery(".cartCountDisplayLi").html('<a href="$!locale.get("website.url.ShoppingCart")"><em class="fa fa-shopping-cart"></em><span id="cartCountrefresh" class="cartCountrefresh">$!cartCount </span></a>');
		}
		if($("#isWebview").val() == "WEBVIEW"){
			getCartCount($!cartCount)
		}
	</script>
	#if($!productListData.get(0).requestType=="SEPERATE" || $!productListData.get(0).requestType=="UPDATE")
		#set($singleItem=$!productListData.get(0))
		#set($eachData = $!itemDetailData.get($!singleItem.itemId))
		#if($!eachData.manufacturerPartNumber != "" && $!eachData.manufacturerPartNumber)
			#set($itemTitle = $!eachData.brandName+" "+$!eachData.manufacturerPartNumber)
		#else
			#set($itemTitle = $!eachData.brandName)
		#end
		#set($itemIndex = $!eachData.itemIndex)
		#if($singleItem.status=="Y")
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-6">
				#if($!eachData.imageType=="360_URL")
					<img src="$!eachData.imageName?thumb&w=80" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
				#else
					#if($eachData.imageType=="URL")
						<img src="$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
					#else
						<img src="$!thumbNail$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
					#end
				#end									
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="mulAddtoCartDesp">
						<p class="mulBrandTitle">$!itemTitle</p>
						#if($!eachData.partNumber && $!eachData.partNumber!="")
							<p><strong>$!locale.get("product.label.partNumber"): </strong>$!eachData.partNumber</p>
						#end
						#if($!eachData.manufacturerPartNumber && $!eachData.manufacturerPartNumber!="")
							<p><strong>$!locale.get("product.label.mpn"): </strong>$!eachData.manufacturerPartNumber</p>
						#end
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="mulAddtoCartStatus alignCenter">
						<p class="text-success"><i class="fa fa-check-circle"></i> $!locale.get('label.success.addedsuccess')</p>
					</div>
				</div>
			</div>
		#else
			<div class="row">
				<div class="col-md-2 col-sm-6 col-xs-6">
				#if($!eachData.imageType=="360_URL")
					<img src="$!eachData.imageName?thumb&w=80" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
				#else
					#if($!eachData.imageType=="URL")
						<img src="$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
					#else
						<img src="$!thumbNail$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
					#end
				#end									
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6">
					<div class="mulAddtoCartDesp">
						<p class="mulBrandTitle">$!itemTitle</p>
						#if($!eachData.partNumber && $!eachData.partNumber!="")
							<p><strong>$!locale.get("product.label.partNumber"): </strong>$!eachData.partNumber</p>
						#end
						#if($!eachData.manufacturerPartNumber && $!eachData.manufacturerPartNumber!="")
							<p><strong>$!locale.get("product.label.mpn"): </strong>$!eachData.manufacturerPartNumber</p>
						#end
						<p><strong>$!locale.get("product.label.minorderqty"): </strong>$!eachData.minOrderQty</p>
						<p><strong>$!locale.get("product.label.qtyinterval"): </strong>$!eachData.orderInterval</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<div class="mulAddtoCartStatus alignCenter">
						<p class="error"><i class="fa fa-exclamation-triangle"></i> Min Order / Qty Interval Error</p>
						<p class="error" id="errorPtag_$!eachData.itemId" style="display: none;"></p>
						<!-- <form> -->
						<span>Qty</span>
						<input type="hidden" id="dataForCOS_$!eachData.itemId" data-qty="$!eachData.qty" data-partnumber="$!eachData.partNumber"  data-itempriceid="$!eachData.itemPriceId" data-orderinterval="$!eachData.orderInterval" data-minorderqty="$!eachData.minOrderQty" data-price="$!eachData.price" data-uom="$!eachData.uom" data-availqty="$!eachData.availQty"  data-itemindex="$!itemIndex"/>
						<input type="text" class="quantity" maxlength="4" data-itemidrefrence="$!eachData.itemId" data-minorderqty="$!eachData.minOrderQty" data-orderinterval="$!eachData.orderInterval" onkeyup="BulkAction.checkMinorderAndOrderInterval(this)"/>
						<input type="submit" class="button btns-disable" disabled="disabled" id="Update_$!eachData.itemId" data-requestype="UPDATE"  data-itemid="$!eachData.itemId" onclick="BulkAction.processSeperateOrCombine(this)" value="update"/>
						<input type="button" class="button" value="cancel" onclick="BulkAction.cancelAddToCart($!eachData.itemId, $itemIndex)" />
						<!-- </form> -->
					</div>
				</div>
			</div>
		#end
	#else
		<div class="mulAddTocartWrap">
			<div class="addToCartHeaderContent clearAfter">
				<h3 class="cimm_page-title pull-left">$!locale.get('product.heading.myCart')</h3>
				<div class="cartTotalCount pull-right">
					<a href="$!locale.get('website.url.ShoppingCart')"><em class="fa fa-lg fa-shopping-cart"></em>#if($!cartCount > 0)<span id="cartCountRefresh" class="cartCountrefresh">$!cartCount </span>#else 0 #end</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="muladdtoCartItemsWrap">
				#if($!productListData.size()>0)
					#set($itemIndex = 0)
					#foreach($!eachCartData in $!productListData) 
						#set($eachData = $!itemDetailData.get($!eachCartData.itemId))
						#if($!eachData.manufacturerPartNumber != "" && $!eachData.manufacturerPartNumber)
							#set($itemTitle = $!eachData.brandName+" "+$!eachData.manufacturerPartNumber)
						#else
							#set($itemTitle = $!eachData.brandName)
						#end
						#if($!eachCartData.status=="Y")
							<div class="row">
								<div class="col-md-12">
									#set($idText = $!itemIndex+"_"+$!eachData.itemId)
									<div class="muladdtoCartItems" id="multipleItemCart_$!idText">
										<div class="row">
											<div class="col-md-2 col-sm-6 col-xs-6">
												#if($!eachData.imageType=="URL" || $!eachData.imageType=="360_URL")
													#if($!eachData.imageType=="360_URL")
													<span class="threesixtydegreeimg">
														<img src="$!eachData.imageName?thumb&w=75" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
													</span>
													#else
														<img src="$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
													#end
												#else
													<img src="$!thumbNail$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
												#end											
											</div>
											<div class="col-md-4 col-sm-6 col-xs-6">
												<div class="mulAddtoCartDesp">
													<p class="mulBrandTitle">$!itemTitle</p>
													#if($!eachData.partNumber && $!eachData.partNumber!="")
													<p><strong>$!locale.get("product.label.partNumber"): </strong>$!eachData.partNumber</p>
													#end
													#if($!eachData.manufacturerPartNumber && $!eachData.manufacturerPartNumber!="")
													<p><strong>$!locale.get("product.label.mpn"): </strong>$!eachData.manufacturerPartNumber</p>
													#end
												</div>
											</div>
											<div class="col-md-6 col-sm-12 col-xs-12">
												<div class="mulAddtoCartStatus alignCenter">
													<p class="text-success"><i class="fa fa-check-circle"></i> $!locale.get('label.success.addedsuccess')</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						#elseif($!eachCartData.status=="EXIST")
							<div class="row">
								<div class="col-md-12">
									#set($idText = $!itemIndex+"_"+$!eachData.itemId)
									<div class="muladdtoCartItems" id="multipleItemCart_$!idText">
										<div class="row">
											<div class="col-md-2 col-sm-6 col-xs-6">
											#if($!eachData.imageType=="360_URL")
												<img src="$!eachData.imageName?thumb&w=80" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
											#else
												#if($!eachData.imageType=="URL")
													<img src="$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
												#else
													<img src="$!thumbNail$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
												#end
											#end										
											</div>
											<div class="col-md-4 col-sm-6 col-xs-6">
												<div class="mulAddtoCartDesp">
													<p class="mulBrandTitle">$!itemTitle</p>
													#if($!eachData.partNumber && $!eachData.partNumber!="")
														<p><strong>$!locale.get("product.label.partNumber"): </strong>$!eachData.partNumber</p>
													#end
													#if($!eachData.manufacturerPartNumber && $!eachData.manufacturerPartNumber!="")
														<p><strong>$!locale.get("product.label.mpn"): </strong>$!eachData.manufacturerPartNumber</p>
													#end
												</div>
											</div>
											<div class="col-md-6 col-sm-12 col-xs-12">
												<div class="mulAddtoCartStatus alignCenter">
													<p class="alreadyExist"><i class="fa fa-question-circle"></i> $!locale.get('label.alert.items')</p>
													<input type="hidden" id="dataForCOS_$!eachData.itemId" data-qty="#if($!eachData.qty>0)$!eachData.qty#else$!eachData.minOrderQty#end" data-partnumber="$!eachData.partNumber"  data-itempriceid="$!eachData.itemPriceId" data-orderinterval="$!eachData.orderInterval" data-minorderqty="$!eachData.minOrderQty" data-price="$!eachData.price" data-uom="$!eachData.uom" data-availqty="$!eachData.availQty" data-itemindex="$!itemIndex"/>
													<input type="button" class="button" data-requestype="UPDATE"  data-itemid="$!eachData.itemId" onclick="BulkAction.processSeperateOrCombine(this)" value="$locale.get('label.item.combine')" />
													<input type="button" class="button" data-requestype="SEPERATE"  data-itemid="$!eachData.itemId"  onclick="BulkAction.processSeperateOrCombine(this)" value="$locale.get('label.item.seprate')" />
													<input type="button" class="button" value="$locale.get('label.item.cancel')" onclick="BulkAction.cancelAddToCart($!eachData.itemId, $itemIndex)"/>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						#else
							<div class="row">
								<div class="col-md-12">
									#set($idText = $!itemIndex+"_"+$!eachData.itemId)
									<div class="muladdtoCartItems" id="multipleItemCart_$!idText">
										<div class="row">
											<div class="col-md-2 col-sm-6 col-xs-6">
											#if($!eachData.imageType=="360_URL")
												<img src="$!eachData.imageName?thumb&w=80" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
											#else
												#if($!eachData.imageType=="URL")
													<img src="$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
												#else
													<img src="$!thumbNail$!eachData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" width="75" height="75" alt="$!eachData.brandName $!eachData.manufacturerPartNumber"/>
												#end
											#end
											</div>
											<div class="col-md-4 col-sm-6 col-xs-6">
												<div class="mulAddtoCartDesp">
													<p class="mulBrandTitle">$!itemTitle</p>
													#if($!eachData.partNumber && $!eachData.partNumber!="")
														<p><strong>$!locale.get("product.label.partNumber"): </strong>$!eachData.partNumber</p>
													#end
													#if($!eachData.manufacturerPartNumber && $!eachData.manufacturerPartNumber!="")
														<p><strong>$!locale.get("product.label.mpn"): </strong>$!eachData.manufacturerPartNumber</p>
													#end
													<p><strong>$!locale.get("product.label.minorderqty"): </strong>$!eachData.minOrderQty</p>
													<p><strong>$!locale.get("product.label.qtyinterval"): </strong>$!eachData.orderInterval</p>
												</div>
											</div>
											<div class="col-md-6 col-sm-12 col-xs-6">
												<div class="mulAddtoCartStatus alignCenter">
													<p class="error"><i class="fa fa-exclamation-triangle"></i> Min Order / Qty Interval Error</p>
													<p class="error" id="errorPtag_$!eachData.itemId" style="display: none;"></p>
													<!-- <form> -->
													<span>Qty</span>
													<input type="hidden" id="dataForCOS_$!eachData.itemId" data-qty="$!eachData.qty" data-partnumber="$!eachData.partNumber"  data-itempriceid="$!eachData.itemPriceId" data-orderinterval="$!eachData.orderInterval" data-minorderqty="$!eachData.minOrderQty" data-price="$!eachData.price" data-uom="$!eachData.uom" data-availqty="$!eachData.availQty"  data-itemindex="$!itemIndex"/>
													<input type="text" class="quantity" maxlength="4" data-itemidrefrence="$!eachData.itemId" data-minorderqty="$!eachData.minOrderQty" data-orderinterval="$!eachData.orderInterval" onkeyup="BulkAction.checkMinorderAndOrderInterval(this)"/>
													<input type="submit" class="button btns-disable" disabled="disabled" id="Update_$!eachData.itemId" data-requestype="UPDATE"  data-itemid="$!eachData.itemId" onclick="BulkAction.processSeperateOrCombine(this)" value="update" disabled="disabled"/>
													<input type="button" class="button" onclick="BulkAction.cancelAddToCart($!eachData.itemId, $itemIndex)" value="cancel" />
													<!-- </form> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>				
						#end 
						#set($itemIndex = $!itemIndex+1)
					#end
				#else 
					No Items to Display 
				#end
			</div>
			<div class="popCheckout clearAfter"> 
				<a href="javascript:void(0);" onclick='BulkAction.removeSliderAfterAddToCart();' class="pull-left button">$!locale.get("product.button.continueShopping")</a>
				<a href='$!locale.get("website.url.ShoppingCart")' class="pull-right button">$!locale.get("product.heading.viewCart")</a> 
			</div>
			#if($!productListData.size()>0)
				<span class='text-danger'>$!locale.get('label.savecart.modalNote')</span>
			#end
		</div>
	#end
	#end
#end
	#if($!responseType=="recentlyViewed")
		#if($!itemDataList.size()>0)
		#set($count = 0)
		#set($c = $!itemDataList.size())
		#foreach($!item in $!itemDataList)
			#set($c = $!c - 1)
			#set($item = $!itemDataList.get($!c))
			#set($mpn = "") #if($!item.manufacturerPartNumber.trim().length() > 0) #set($mpn = $!item.manufacturerPartNumber) #end
			#set($itemProductTitle = $!item.shortDesc)
			#if($!item.altPartNumber2.length() > 0)
				#set($itemProductTitle = $!item.altPartNumber2)
			#elseif($!item.productName.length() > 0)
				#if($!item.productName.length() > 30)
					#set($itemProductTitle = $!item.productName.substring(0, 30)+"...")
				#else
					#set($itemProductTitle = $!item.productName)
				#end
			#elseif($!itemProductTitle.length() > 30)
				#set($itemProductTitle = $!itemProductTitle.substring(0, 30)+"...")
			#end<!--#set($itemTitle=$!item.productName+" "+$!item.manufacturerPartNumber) -->
			<li >
				<div class="cimm_caroImgDespWrap">
					<div class="cimm_slideItemImg">
						<a data-select="itemAnchor" href="$!item.seoUrl">
							<span data-select="imageSpanToSetID">
							#set($itemImg = $!item.imageName.replace('%26','&amp;') )
							#if($!item.imageType=="360_URL")
								<img src="$!item.imageName?thumb&w=300" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!item.brandName $!item.manufacturerPartNumber"/>
							#else
								#if($itemImg.toUpperCase().contains("HTTP"))
									<img data-select="imageSpanToSetSrc" src="$!itemImg.replace('&','&amp;')" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!item.brandName $!item.manufacturerPartNumber"/>
								#else
									<img data-select="imageSpanToSetSrc" src="$!itemImage$!itemImg.replace('&','&amp;')" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!item.brandName $!item.manufacturerPartNumber"/>
								#end
							#end
							</span>
						</a>
					</div>
					<div class="cimm_slideItemDesp">
						<ul><li><h4><a class="productTitle" data-select="itemAnchor" data-selectName="setItemName" title="$!item.shortDesc"  href="$!item.seoUrl">$!itemProductTitle</a></h4></li></ul>
					</div>
				</div>
			</li>
		#end
		#end
	#end
	#if($responseType && $responseType=="itemSuggest")
	#parse("Macros/itemDetailPageMacro.vm")
		#if($queryString!="CATNAV")
		<div class="autocomplete-header clearAfter">
			<div class="parent-title">
				Recommended Products for <strong>$!queryString</strong>
				<a href="/$!BrandIDSelected/brand/$!queryString" class="button">$!locale.get('product.label.shopAll')</a>
			</div>
		</div>
		#end
		#foreach($productListData in $itemLevelFilterData)
		#set($itemTitle = $!productListData.brandName+" "+$!productListData.manufacturerPartNumber)
		<div class="cat-product clearAfter">
			<div class="cat_img">
				#if($productListData.imageType=="URL")
				<a href="$!productListData.seoUrl"><img id="imageName$!productListData.itemId" src="$!productListData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" /></a>
				#else
				<a href="$!productListData.seoUrl"><img id="imageName$!productListData.itemId" src="$!thumbNail$!productListData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" /></a>
				#end
			</div>
			<div class="info">
				<div class="ac_titleWrap">
					<a href="$!productListData.seoUrl" id="itemTitle$!productListData.itemId"> $!itemTitle</a>
					#if($!productListData.shortDesc.length()>55)
					<p id="itemShortDesc$!productListData.itemId">$!productListData.shortDesc.substring(0, 55) ...</p>
					#else
					<p id="itemShortDesc$!productListData.itemId">$!productListData.shortDesc</p>
					#end
				</div>
				<div class="ac_priceWrap">
					<div>
						#if($!userLogin)
							<strong>$!locale.get('product.label.yourprice'): </strong>
						#else
							<strong>$!locale.get('product.label.price'): </strong>
						#end
						<span id="span_$!productListData.partNumber" data-select='priceData'>
							#if($!productListData.price>0)
								$$!numberTool.format($!pricePrecisionFormate,$!productListData.price)
							#else
								<span class="text-danger">$!locale.get('product.label.callforprice')</span>
							#end
						</span>
					</div>
					<span>
						<strong>$!locale.get('product.label.qty'): </strong>$!productListData.minOrderQty
						<input type="hidden" name="itemTxtQty$!productListData.itemId"  maxlength="6" value="$!productListData.minOrderQty" id="itemTxtQty$!productListData.itemId" onkeypress="return IsNumeric(event);" onpaste="return false;" ondrop = "return false;" class="quantity" />
					</span>
					#if($productListData.price > 0)
					<a href="javascript:void(0);" class="btn btn-addtocart addToCart" id="enableCart_$!productListData.partNumber" data-itemId="$!productListData.itemId" data-itemPriceId="$!productListData.itemPriceId">$!locale.get("product.button.addtocart")</a>
					<input type="hidden" value="$!productListData.manufacturerPartNumber" id="MPNValue_$!productListData.partNumber">
					#detailPageHiddenFields($!productListData.partNumber.replaceAll('\s+','_'),$!productListData.qty,$!productListData.price,$!productListData.salesUom,$!productListData.saleQty,$!productListData.ItemId,$!productListData.brandName,$!productListData.manufacturerPartNumber,$!productModeitemData.availQty)
					#end
				</div>
			</div>
		</div>
		#end
	#end
	#if($responseType && $responseType=="customerAlsoViewed")
	 #if($customerAlsoViewedItemList.size()>0) 
	 	#set($customerViewItemCount = 0)
	   <div id="customerAlsoViwedDiv">
	   #foreach($customerViewed in $customerAlsoViewedItemList)
	   #set($customerViewedItemTitle = $!customerViewed.brandName+" "+$!customerViewed.manufacturerPartNumber) 
		<li>
		<div class="cimm_linkItemImg">
		<a class="cimm_linkProdTitle" href="$!customerViewed.seoUrl"><img id="imageName$!customerViewed.itemId" src="$!customerViewed.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';"/></a>
		</div>
		<div class="cimm_linkItemDesp"><ul><li><h4><a class="cimm_linkProdTitle" href="$!customerViewed.seoUrl">$!customerViewedItemTitle</a></h4></li></ul></div>  
		</li>
			#set($customerViewItemCount = $!customerViewItemCount+1)
			#if($customerViewItemCount==5)
		   		#break
		    #end      
	   #end
	   </div>
	 #end
	#end
	
	#if($responseType=="loadPage")
	#parse("Macros/defaultMacro.vm")
	#parse("Macros/listPageMacro.vm")
	#listAndGridSwap($!navigationType,$!hostName,$!keyWord,$!srchTyp,$!narrowKeyword,$!varPsid,$!escapeTool.url($!attrFilterList),$!filterList,$!sortBy,$!resultPage,$!pageNo,$!codeIdSkip,$!levelNoSkip,$!brandId,$!keyWordTxt,$!pageViewMode,$urlContext)
	#listPageHeading($!navigationType,$!keyWord,$!heading)
	#listPageFormUrls($!navigationType)
	#foreach($!itemData in $!itemListData) 
	#set($itemTitle = $!itemData.brandName+" "+$!itemData.manufacturerPartNumber)
	#set($itemTitleForURL = $!itemData.brandName+"-"+$!itemData.manufacturerPartNumber)
	<li class="listView" data-getchangemode='getchangemode'>
		<ul class="gridFixHeight clearAfter">
			<li class="sessionImg">
				<a href="$!itemData.seoUrl">
					<div class="prodImage">
					#if($itemData.productItemCount>1 && $!itemData.productCategoryImageName && $itemData.productCategoryImageName.trim().length() > 1)
						#if($itemData.productCategoryImageName.contains("http") || $itemData.productCategoryImageType=="URL")
							<img id="imageName$!itemData.itemId" width="250" src="$!itemData.productCategoryImageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!itemTitle" />
						#else
							<img id="imageName$!itemData.itemId" width="250" src="$!productListImage$!itemData.productCategoryImageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!itemTitle" />
						#end
					#else
						#if($itemData.imageName.contains("http") || $itemData.imageType=="URL")
							<img id="imageName$!itemData.itemId" width="250" src="$!itemData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!itemTitle" />
						#else
							<img id="imageName$!itemData.itemId" width="250" src="$!itemImage$!itemData.imageName" onerror="this.src='$!webThemes/$!siteName/images/NoImage.png';" alt="$!itemTitle" />
						#end
						#if($itemData.clearance=="Y")
							<span class="clearenceTag"></span>
						#end
					#end
					</div>
				</a>
				
				<div class="checkToCompare">
					#if($itemData.productItemCount<1)
					<label class="customCheckBox">
						<input type="checkbox" value="$!itemData.itemPriceId" name="compareId" id="check_$!itemData.itemPriceId" onclick="compareItemList(this);" title="$!locale.get('product.heading.compare')"/>
						<span><a href="javascript:void(0);" onclick="compareItems();">$!locale.get("product.heading.compare")</a></span>
						<input type="hidden" value="imageName$!itemData.itemId" id="imgId_$!itemData.itemPriceId" />
						<input type="hidden" value="itemTitle$!itemData.itemId" id="titleId_$!itemData.itemPriceId" /> 
						<input type="hidden" value="$!itemData.manufacturerPartNumber" id="partNumber_$!itemData.itemPriceId" /> 
					</label>
					#end
					#if($!CommonDBQuerySystemParameter &&  $!CommonDBQuerySystemParameter.get("EnableCSPConfigurator")=="Y" && $!itemData.customFieldVal.get("custom_CSP_CONFIGURATOR_ITEM") && $!itemData.customFieldVal.get("custom_CSP_CONFIGURATOR_ITEM")=="Y")
					<span style="float: right;">
						<a href="javascript:void(0);" id="cspConfig_$!itemData.partNumber" data-productid="$!itemData.productId" data-itemid="$!itemData.itemId" data-itempriceid="$!itemData.itemPriceId" onclick="callCSPConfigurator(this);">
							<i class="fa fa-lg fa-upload text-primary" aria-hidden="true"></i>
							<b>$!locale.get("product.button.cspConfigurator")</b>
						</a>
					</span>
					#end
				</div>
			</li>
			#if($itemData.productItemCount>1)
				<!-- Product Mode -->
				<li class="sessionDesp">
					<h3 class="productTitle" >
						<a class="clickStream" data-itemid="$!itemData.itemId" data-clicktype="click" href="$!itemData.seoUrl" id="itemTitle$!itemData.itemId" data-toggle="tooltip"
						#if($itemData.productName && $!itemData.productName.length() > 1) #if($itemData.productName.length() > 22) title="$!itemData.productName" #end #else #if($itemTitle.length() > 22) title="$!itemTitle" #end #end>
							#if($itemData.productName && $!itemData.productName.length() > 1)
								#if($itemData.productName.length() > 22)
									$!itemData.productName.substring(0, 22)... 
								#else
									$!itemData.productName
								#end
							#else
								#if($itemTitle.length() > 22)
									$!itemTitle.substring(0, 22)... 
								#else
									$!itemTitle
								#end
							#end
						</a>
					</h3>
					<div class="listGridItemDesc clearAfter">
						#if($itemData.productDescription && $!itemData.productDescription.length() > 1)
							<p id="itemShortDesc$!itemData.itemId">$!itemData.productDescription</p>
						#else
							<p id="itemShortDesc$!itemData.itemId">$!itemData.shortDesc</p>
						#end
					</div>
					<!-- <div id="attrFilterContent_$!itemData.itemPriceId" class='cimm_attrFilterContent'></div> -->
					<div class="itemCountList">
						<button class="btn btn-viewallchoice clickStream" onclick="ProductMode.submitProductModeFilterForm($!itemData.itemPriceId);"><em class="fa fa-lg fa-eye"></em> $!locale.get("event.label.viewAll") $!itemData.productItemCount $!locale.get("product.label.choices")</button>
						<form method="get" class="multiSelectForm" id="multiFilterAttributeForm$!itemData.itemPriceId">
							<input type="hidden" name="productId" id="productId_$!itemData.itemPriceId" value="$!itemData.productId" />
							<input type="hidden" name="codeId" id="codeId_$!itemData.itemPriceId" value="$!itemData.categoryCode" />
							<input type="hidden" name="attrFilterList" id="multiFilterAttrList_$!itemData.itemPriceId"  value='' />
							<input type="hidden" name="resultPage" id="resultPage_$!itemData.itemPriceId" value='0' />
						</form>
				 	</div>
				 	<div class="itemCountGrid">
				 		<a class="btn btn-primary clickStream" data-itemid="$!itemData.itemId" data-clicktype="click" href="$!itemData.seoUrl"><em class="fa fa-lg fa-eye"></em> $!locale.get("event.label.viewAll") $!itemData.productItemCount $!locale.get("product.label.choices")</a>
				 	</div>
				 	#if($!CommonDBQuerySystemParameter &&  $!CommonDBQuerySystemParameter.get("EnableCSPConfigurator")=="Y" && $!itemData.customFieldVal.get("custom_CSP_CONFIGURATOR_ITEM") && $!itemData.customFieldVal.get("custom_CSP_CONFIGURATOR_ITEM")=="Y")
					<!-- <span>
						<button class="btn btn-primary" id="cspConfig_$!itemData.partNumber" data-productid="$!itemData.productId" data-itemid="$!itemData.itemId" data-itempriceid="$!itemData.itemPriceId" onclick="callCSPConfigurator(this);">
							<i class="fa fa-lg fa-upload" aria-hidden="true"></i>
							<b>$!locale.get("product.button.cspConfigurator")</b>
						</button>
					</span> -->
					#end
				</li>
				<li class='selectCompareGroupBlock'>
					<div class="itemDetailInfoList">
						<a href="javascript:void(0);" class='itemDetailInfoList_$itemData.itemPriceId' onclick="ProductMode.submitProductModeFilterForm($itemData.itemPriceId);"> $!locale.get('label.productmode.expand')</a>
					</div>
				</li>
				<li id="productModeItemsDiv_$!itemData.itemPriceId" class="productModeItemsDiv" style="display: none;">
					<div id="productModeItemContent_$!itemData.itemPriceId" class="productModeItemContent"></div>
				</li>
				<li id="productModeAllBranchAvailabilityDiv_$!itemData.itemPriceId" class="productModeBranchDiv"></li>
				<!-- Product Mode -->
			#else
				<li class="sessionDesp">
					<h3 class="productTitle">
						<a href="$!itemData.seoUrl" class="clickStream" data-itemid="$!itemData.itemId" data-clicktype="click" id="itemTitle$!itemData.itemId" #if($itemTitle.length() > 22) data-toggle="tooltip" title="$!itemTitle" #end >
							#if($itemTitle.length() > 22)
								$!itemTitle.substring(0, 22)... 
							#else
								$!itemTitle
							#end
						</a>
					</h3>
					#if($itemData.shortDesc.length()>65)
						<span id="itemShortDesc$!itemData.itemId" class="hideMe">$!itemData.shortDesc</span>
						<p class='listGridItemDesc' >$!itemData.shortDesc.substring(0, 65) &nbsp;<span><a href="$!itemData.seoUrl">$!locale.get("product.label.more")</a></span></p>
					#else
						<p id="itemShortDesc$!itemData.itemId" class='listGridItemDesc'>$!itemData.shortDesc</p>
					#end
					<ul class="skuStyle">
						#if($itemData.manufacturerName.trim() != "")
							<li ><strong>$!locale.get("product.label.manufacturers"): </strong><span>$!itemData.manufacturerName.trim()</span></li>
						#end
						#if($itemData.brandName.trim() != "")
							<li ><strong>$!locale.get("product.label.brand"): </strong><span>$!itemData.brandName.trim()</span></li>
						#end
						<li ><strong>$!locale.get("product.label.partNumber"): </strong><span id="partNumber$!itemData.itemId">$!itemData.partNumber</span></li>
						#if($itemData.manufacturerPartNumber.trim() != "")
						<li >
							<strong>$!locale.get("product.label.mpn"): </strong><span>$!itemData.manufacturerPartNumber</span>
							<input type="hidden" value="$!itemData.manufacturerPartNumber" id="MPNValue_$!itemData.partNumber" />
						</li>
						#end
						<!-- #if($itemData.customerPartNumber || $!itemData.customerPartNumberList.size()>0)
						<li>
							<strong>$!locale.get("product.label.cpn"): </strong>
							<span>
							#if($itemData.customerPartNumber)$!itemData.customerPartNumber, #end
							#if($itemData.customerPartNumberList.size()>0)
							#set($seperator = "")
							#set($partList = "")
							#foreach($!customerPart in $!itemData.customerPartNumberList)
							#set($partList = "#if($partList)$!partList#end#if($seperator)$!seperator#end#if($customerPart.partNumber)$!customerPart.partNumber#end")
							#set($seperator = ", ")
							#end
							#if( $!partList.length() > 85)
							$!partList.substring(0, 85)...
							#else
							$!partList
							#end
							#end
							</span>
						</li>
						#end -->
						#if($itemData.upc != "" && $!itemData.upc)<li><strong>$!locale.get("product.label.upc"): </strong><span>$!itemData.upc</span></li>#end
						
						#if($itemData.uom != "" && $!itemData.uom)<li><strong>$!locale.get("product.label.uom"): </strong><span>$!itemData.uom</span></li>#end
						
						<!-- <li class="productLeadTime productLeadTime_$!itemData.partNumber" style="display:none;">
							<strong>$!locale.get("product.label.leadTime"): </strong>
							<span class="orangeClr leadTime_$!itemData.partNumber"><img src="$!webThemes/$!siteName/images/loading.gif" alt="loading" width="24px" height="12px"/></span>
						</li> --> 
						<li class="productAvail_$!itemData.partNumber">
							<strong class="availLabel">$!locale.get("product.label.availability"): </strong>
							#if($session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS")
								#set($Integer = 0)
								#if($itemData.availQty && $Integer.parseInt($itemData.availQty) > 0)
									<span class="orangeClr Avail_$!itemData.partNumber">$itemData.availQty</span>
								#else
									<span class='text-danger'>Call for Availability</span>
								#end
								<input type="hidden" id="avail_$!itemData.partNumber" name="avail_$!itemData.partNumber" value="$!itemData.availQty"/>
							#else
								<span class="orangeClr Avail_$!itemData.partNumber" data-select='availability'><img src="$!webThemes/$!siteName/images/loading.gif" alt="loading" width="24px" height="12px"/></span>
								<input type="hidden" id="avail_$!itemData.partNumber" name="avail_$!itemData.partNumber"/>
							#end
						</li>
						 <li id="allBranchAvail_$!itemData.partNumber">
							<span class="priceSpanFa"><a href="javascript:void(0);" data-toggle="modal" data-target="#branchavail_$!itemData.partNumber.replaceAll(' ','_')"><strong>Branch Availability</strong></a></span>
						</li> 
							
						#if($itemData.minOrderQty>0 && $!itemData.orderInterval>0)
						<li><strong>$!locale.get("product.label.minorderqty"): </strong><span> $!itemData.minOrderQty</span></li>
						<li><strong>$!locale.get("product.label.qtyinterval"): </strong><span> $!itemData.orderInterval</span>
							<input type="hidden" value="$!itemData.minOrderQty" id="MinOrderQty_$!itemData.partNumber" name="MinOrderQty_$!itemData.partNumber"/>
							<input type="hidden" value="$!itemData.minOrderQty" id="minOrderQty_$!itemData.itemId"/>
							<input type="hidden" value="$!itemData.orderInterval" id="OrderQtyInterval_$!itemData.partNumber" name="OrderQtyInterval_$!itemData.partNumber"/>
						</li>
						#end
					</ul>
					<ul>
						#if($!itemData.packDesc && $itemData.packDesc.trim() != "")<li class="packDesc"><strong>$!locale.get("product.label.packageDesc"): </strong><span class="packageDesc">$!itemData.packDesc</span></li>#end
						<li class="cimm_priceWrap">
						#if($session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS")
							<span id="span_$!itemData.partNumber" class="priceSpan formatPrice">
								#if($itemData.price>0)
					    			$$!numberTool.format($!pricePrecisionFormate,$!itemData.price)
					    		#else
					    			<span class='priceSpan'>$!locale.get('product.label.callforprice')</span>
					    		#end
							</span>
						#else
							#if($itemData.overRidePriceRule=="Y" && $itemData.price>0)
								<span id="span_$!itemData.partNumber" class="priceSpan formatPrice">$$!numberTool.format($!pricePrecisionFormate,$!itemData.price)</span>
							#else
								<span id="span_$!itemData.partNumber" class="priceSpan formatPrice" data-select='priceData'>
									<img src="$!webThemes/$!siteName/images/loading.gif" alt="loading" width="24px" height="12px"/>
								</span>
							#end
					    #end
						</li>
						<li class="cimm_qtyWrap">
							<strong>$!locale.get("form.label.tableQty") </strong>  
							<span class='mRight-1'>
								<input type="text" name="itemTxtQty$!itemData.itemId"  maxlength="6" value="$!itemData.minOrderQty" id="itemTxtQty$!itemData.itemId" onkeypress="return IsNumeric(event);" onpaste="return false;" ondrop = "return false;" class="quantity" title="$!locale.get('form.label.tableQty')"/>
							</span>
							#if($!session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS")
								#if($userLogin || $!CommonDBQuerySystemParameter.get("EnableAnonymousCheckout")=="Y" || $!CommonDBQuerySystemParameter.get("EnableAddToCartBeforeLogin")=="Y")
									#if($!itemData.price>0)
										<span data-select='addtoCartbtn_$!itemData.partNumber'>
											<a href="javascript:void(0);" class="btn btn-addtocart addToCart" id="enableCart_$!itemData.partNumber clickStream" data-clicktype="addcart" data-itemId="$!itemData.itemId" data-itemPriceId="$!itemData.itemPriceId">$!locale.get("product.button.addtocart")</a>
										</span>
									#else
										<span data-select='addtoCartbtn_$!itemData.partNumber'>
											<a href="javascript:void(0);" class="btn btn-addtocart btns-disable" id="enableCart_$!itemData.partNumber" data-itemId="$!itemData.itemId clickStream" data-clicktype="addcart" data-itemPriceId="$!itemData.itemPriceId">$!locale.get("product.button.addtocart")</a>
										</span>
									#end
								#else
									<a href="javascript:void(0);" class="btn btn-addtocart" data-toggle="modal" data-target="#loginModal">$!locale.get("product.button.addtocart")</a>
								#end
							#else
								#if($userLogin || $!CommonDBQuerySystemParameter.get("EnableAnonymousCheckout")=="Y" || $!CommonDBQuerySystemParameter.get("EnableAddToCartBeforeLogin")=="Y")
									<span data-select='addtoCartbtn_$!itemData.partNumber'>
										<a href="javascript:void(0);" class="btn btn-addtocart btns-disable clickStream" data-clicktype="addcart" id="enableCart_$!itemData.partNumber" data-itemId="$!itemData.itemId" data-itemPriceId="$!itemData.itemPriceId">$!locale.get("product.button.addtocart")</a>
									</span>
								#else
									<a href="javascript:void(0);" class="btn btn-addtocart" data-toggle="modal" data-target="#loginModal">$!locale.get("product.button.addtocart")</a>
								#end
							#end
							<span id="uomPk_$!itemData.partNumber"></span>
						</li>
						<li class='pTop-2'>
							<!-- My Product Group-->
							<div class="productGroupBtn dropdown">
								#if($userLogin)
								<!-- popup display on item added to group -->
								#set($groupPop = "ulg"+$!itemData.itemId+"_pop")
								<a id="$!groupPop" class="popMsg hideMe"></a>
								<!-- popup display on item added to group -->
									<a id='linkg$!itemData.itemId' class="dropdown-toggle" data-toggle="dropdown" data-target="dropdown-menu" data-itemId="$!itemData.itemId" data-listTarget="ulg$!itemData.itemId" data-function="productGroupDropDown">
										<em class="fa fa-lg fa-heart"></em>$!locale.get("marketBasket.button.addToProductGroup")
									</a>
								#else
									<a data-toggle="modal" data-target="#loginModal"><em class="fa fa-lg fa-heart"></em><span>$!locale.get("marketBasket.button.addToProductGroup")</span></a>
								#end
								<ul id="ulg$!itemData.itemId" class="dropdown-menu">
									<li class="alignCenter"><em class="fa fa-spin fa-spinner"></em></li>
								</ul>
								<input type="hidden" value="$!itemData.itemId" id="uomValue_$!itemData.itemId"/>
							</div>
							<!--My Product Group-->
						</li>
						<li class="selectItemBlock pTop-2">
							<label class="customCheckBox">
								#set($addToCartCheckFlag = "N")
								#if($session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS")
							    	##if(($!CommonDBQuerySystemParameter.get("EnableAnonymousCheckout")=="Y" || $!CommonDBQuerySystemParameter.get("EnableAddToCartBeforeLogin")=="Y"))
							    		#if($itemData.price>0)
							    			#set($addToCartCheckFlag = "Y")
								   		#end
							    	##end
							    #else
								   	#set($addToCartCheckFlag = "Y")
							    #end
				
								#if($session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS")
									#if($itemData.price>0)
									<input type="checkbox" class="selectedItems" onclick="BulkAction.addItemsToCookie(this)" data-addtocartflag='$!addToCartCheckFlag' id="selectItemCheckbox_$!itemData.itemId" data-itemid="$!itemData.itemId" data-partnumber="$!itemData.partNumber"  data-itemPriceId="$!itemData.itemPriceId" title="$!locale.get('product.label.selectItem')"/>
						    		#else
						    		<input type="checkbox" class="selectedItems" id="selectItemCheckbox_$!itemData.itemId" disabled="disabled" title="$!locale.get('product.label.selectItem')"/>
						    		#end
							    #else
							    	<input type="checkbox" class="selectedItems" onclick="BulkAction.addItemsToCookie(this)" data-addtocartflag='$!addToCartCheckFlag' id="selectItemCheckbox_$!itemData.itemId" data-itemid="$!itemData.itemId" data-partnumber="$!itemData.partNumber"  data-itemPriceId="$!itemData.itemPriceId" disabled="disabled" title="$!locale.get('product.label.selectItem')"/>
							    #end
				
							  <span>$!locale.get("product.label.selectItem")</span>
							</label>
						</li>
					</ul>
				</li>
			#end
			<li style="display: none;">
				#itemListHiddenFields($!itemData.partNumber, $!itemData.itemPriceId, $!itemData.qty, $!itemData.uom, $!itemData.price, $!itemData.saleQty, $!itemData.itemId, $!itemData.displayFrieghtAlert, $!itemData.packageQty, $!itemData.availQty, $!itemData.srchTyp, $!navigationType)
				<span id="quantityBreakPricingDetails_$!itemData.partNumber" style="display: none;"></span>
				<!-- <input type="hidden" id="displayPrice_$!itemData.partNumber" value="$!itemData.displayPricing"/> -->
			</li>
		</ul>
		<!--Branch Availabiltiy List Section -->
		<div id="branchavail_$!itemData.partNumber.replaceAll(' ','_')" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content yellowTheme bold">
					<div class="modal-header">
				      	<h4 class="modal-title">Branch Availability<button type="button" class="close" data-dismiss="modal">&times;</button></h4>
				    </div>
				    <div class="modal-body size-13">
				    	<table class="table">
				    		<thead>
								<tr>
									<th>$!locale.get("product.label.branchName")</th>
									<th class="center">$!locale.get("product.label.available")</th>
								</tr>
							</thead>
				    		<tbody id="allBranchHTML$!itemData.partNumber">
				    			<tr id="allBranchHTML_NoRec_$!itemData.partNumber"><td colspan="2"> No Records Found</td></tr>
				    		</tbody>
				    	</table>
				    </div>
				</div>
			</div>
		</div>
		<!--Branch Availabiltiy List Section-->
	</li>
	#end 
	#if($responseType=="AuthorizeDotNet")
<input type="hidden" name="customerProfileId" id="customerProfileId" value="$customerProfileId" />
#end
#end



#if($responseType=="cardDetails")
<div id="">
<input type="hidden" name="creditCardCount" id="creditCardCount" value="$!cardDetails.size()"/>
<div class="cimm_siteTableEnclosureNew">
    <table width="100%" class="cimm_siteTableNew" id="creditCardList">
	#if($!cardDetails.size()>0)
      <thead>
          <tr style="text-align: center;">
              <th>$locale.get("product.label.cardType")</th>
              <!--<th>$locale.get("product.label.cardNumber")</th>-->
              <th>EXPIRATION MONTH</th>
              <th>EXPIRATION YEAR</th>
              <th></th>
              <!--<th>&nbsp;</th>
          --></tr>
      </thead>
	  #end
      <tbody>
      #set($count = 0)	
      #foreach($cardDetail in $cardDetails)
      #set( $count = $count + 1 )
       <tr style="text-align: center;">
          <td><input type="radio" id="r_$count" class="addedCardDetails" onclick="paymentProcessor.selectCardOnRadio(this);" value="$cardDetail.customerPaymentId" name="radioBtn" />
    <span id="cTyper_$count">
   
    <img src="$!webThemes/$siteName/images/credit-card-generic.png" class="CCLogo">
    <span class="CCText">$!cardDetail.creditCardType.trim()</span> card ending with number <span id="cNumr_$count" class="ccNum">$!cardDetail.creditCardNumber</span>
   
    </span><br>
   #if($fromPage=="AccountPage" && $fromPage!="")
   
   #else
    <span id="cvvWrap_$count" class="hideMe" style="display:none">CVC:<input type="text" class="hideMe" id="cvv_$count" maxlength="4" name="cvv" style="margin-left: 5px;"></span>
   #end
    </td>
          <!--<td id="cNumr_$count">$!cardDetail.creditCardNumber</td>-->
          <td id="cExpr_$count">$!cardDetail.creditCardExpiryMonth</td>
          <td id="cExpr_$count">$!cardDetail.creditCardExpiryYear</td>
    <td><a class="submitBtn" href="javascript:void(0);" id="deletePayment" data-cardnumber="$!cardDetail.creditCardNumber" data-index="$cardDetail.customerPaymentId" name="deletePayment" onclick="paymentProcessor.deleteCard(this);" value="$cardDetail.customerPaymentId">Delete</a></td> 
          </tr>
      #end
	   <tr id="creditCardForm" style="display:none;">
		<td colspan="5"  style="padding: 10px;">

    <div class="checkout-header">
      <h1 class="checkout-title">
      #if($fromPage=="AccountPage" && $fromPage!="")#else
		<input type="radio" id="r_$count" class="addNewCardRadioBtn" name="radioBtn" data-card ="radio"  #if($!cardDetails.size()==0) checked #end /> NEW CREDIT CARD 
     #end
     <br>
      <img src="$!webThemes/$siteName/images/credit-cards.png" class="CCLogo">
     
      </h1>
    </div>
    <ul class="cimm_formContent fullWidthForm">
      <li>
     <span>Name on card</span><br>
     <input type="text" class="checkout-input checkout-name" autofocus id="FULL_NAME" value="" maxlength="64" autocomplete="off" data-errorMsg="Please Enter Name on Card.">
      </li>
      <li>
     <span>Credit card number</span>
     <input type="text" class="checkout-input checkout-card"  id="CARDNUMBER_ID" value="" maxlength="16" autocomplete="off" data-errorMsg="Please Enter Credit Card Number.">
      </li>
      <li>
     <span>MM</span>
     <input type="text" class="checkout-input checkout-exp"  id="EXPIRY_MONTH_ID" value="" maxlength="2" autocomplete="off" data-errorMsg="Please Enter Card Expire Month.">
      </li>
      <li>
     <span>YY</span>
     <input type="text" class="checkout-input checkout-exp" id="EXPIRY_YEAR_ID" value="" maxlength="4" autocomplete="off" data-errorMsg="Please Enter Card Expire Year.">
     </li>
      <li>
     <span>CVC</span>
     <input type="text" class="checkout-input checkout-cvc" id="CARD_CODE_ID" value="" maxlength="4" autocomplete="off" data-errorMsg="Please Enter CVC code.">
      </li>
      <li>
       <span>Zip Code</span>
       <input type="text" class="checkout-input checkout-cvc"  id="ZIP_CODE" value="" maxlength="20" autocomplete="off" data-errorMsg="Please Enter Zip Code.">
      </li>
     </ul>
     #if($fromPage=="AccountPage" && $fromPage!="")
    <p>
      
    </p>
    #else
    <p>
    <input type="checkbox" id="saveCard"/> Save new credit card for future use
    </p>
    #end

		</td>
		</tr>
      </tbody>
  </table>
  </div>


 <div class="center clearAfter">
	  <input type="hidden" value="$orderGrandTotal" name="TotalAmount"  />
	 <input type="hidden" class="fromPage" name="fromPageResult" value="$fromPage"/>
	 
	  #if($!cardDetails.size()>0)
		  #if($fromPage=="AccountPage" && $fromPage!="")
		  <button type="button" onclick="$('#creditCardForm').toggle();$('#addNewCreditCardButton').toggle();$('#cancelCreditCardButton').toggle();paymentProcessor.addNewRequest=true; paymentProcessor.unHighLight();$('.addNewCardBtn').show();"  id="addNewCreditCardButton" class="button pull-right">Add new credit card</button>
		  <button type="button" onclick="$('#creditCardForm').toggle();$('#addNewCreditCardButton').toggle();$('#cancelCreditCardButton').toggle();paymentProcessor.addNewRequest=false;$('.addNewCardBtn').hide();" style="display:none;" id="cancelCreditCardButton" class="button">Cancel</button>
		  #else
		  <button type="button" onclick="paymentProcessor.userNewCreditCardUI();" id="addNewCreditCardButton" class="button pull-right">Use new credit card</button>
		  <button type="button" onclick="$('#creditCardForm').toggle();$('#addNewCreditCardButton').toggle();$('#cancelCreditCardButton').toggle();paymentProcessor.addNewRequest=false;" style="display:none;" id="cancelCreditCardButton" class="button">Cancel</button>
		  #end
	  #end
	  #if($fromPage=="AccountPage" && $fromPage!="")
		<input type="button" id="saveBtn" value="Save" class="buttonGrad addNewCardBtn" style="display:none;" onclick="paymentProcessor.startProcessingCard();" />
	  #else
		<input type="button" value="$locale.get('product.button.placeOrder')" class="buttonGrad" onclick="paymentProcessor.addNewRequest=true;paymentProcessor.startProcessingCard();" />
	  #end
  </div>
  </div>
#end

#if($requestType.equalsIgnoreCase("CustomersForSalesUser"))
#if($customers.size() > 0)
<table id="customersList" class="table display rwd-table">
	<thead>
		<tr>
			<th>$locale.get("label.salesuser.customer.account.number") </th>
			<th>Name & $locale.get("label.salesuser.address1")</th>
			<th>$locale.get("label.salesuser.location")</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		#foreach($customer in $customers)
		<tr>
			<td data-th="$!locale.get('label.salesuser.customer.account.number')">#if($!customer.accountNumber.getAsString().trim().length() > 0) $!customer.accountNumber.getAsString() #else &nbsp; #end</td>
			<td data-th="$!locale.get('label.salesuser.address1')">$!customer.customerName.getAsString()<br/> $!customer.address1.getAsString()</td>
			<td data-th="$!locale.get('label.salesuser.location')">$!customer.city.getAsString(), $!customer.state.getAsString(), $!customer.country.getAsString(), $!customer.zipCode.getAsString()</td>
			<td><button class="usersForCustomer button" data-customerid="$!customer.customerId.getAsString()" data-accountnumber="$!customer.accountNumber.getAsString()">$!locale.get('form.label.select')</button></td>
		</tr>
		#end
	</tbody>
</table>
<script>
	$(document).ready(function(){
		$("#customersList").DataTable({
			"language": {
			"url": "https://cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json"
		}
		});
	});
</script>
#else
<h3>$!locale.get('label.noactive.customer')</h3><a href="javascript:void(0);" onclick="doLogOffScript();" class="btn btn-primary">$!locale.get('label.name.exit')</a>
#end
#end

#if($requestType.equalsIgnoreCase("UsersByCustomer"))
#if($users.size() > 0)
<table id="usersList" class="table display rwd-table">
	<thead>
		<tr>
			<th>$locale.get("label.salesuser.username")</th>
			<th>$locale.get("label.salesuser.firstName")</th>
			<th>$locale.get("label.salesuser.address1")</th>
			<th>$locale.get("label.salesuser.location")</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		#foreach($user in $users)
		<tr>
			<td data-th="$!locale.get('label.salesuser.username')">#if($!user.userName.getAsString().trim().length() > 0) $!user.userName.getAsString() #else &nbsp; #end</td>
			<td data-th="$!locale.get('label.salesuser.firstName')">$!user.firstName.getAsString()</td>
			<td data-th="$!locale.get('label.salesuser.address1')">$!user.address1.getAsString()</td>
			<td data-th="$!locale.get('label.salesuser.location')">$!user.city.getAsString(), $!user.state.getAsString(), $!user.country.getAsString(), $!user.zipCode.getAsString()</td>
			<td><button class="persistUserDetails button" data-username="$!user.userName.getAsString()">$!locale.get('form.label.select')</button></td>
		</tr>
		#end
	</tbody>
</table>
<script>
	$(document).ready(function(){
		$("#usersList").DataTable({
			"language": {
			"url": "https://cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json"
		}
		});
	});
</script>
#else
<h3>$!locale.get('label.noactive.customer')</h3><a href="javascript:void(0);" onclick="doLogOffScript();" class="button">$!locale.get('label.name.exit')</a>
#end
#end
