#parse("Macros/listPageMacro.vm")
#set($cartTotal = 0.00)
#if($productListData && $productListData.size()>0)
	#set($cartTotal =$productListData.get(0).Total)
#end

#if($!savedGroupName && $!savedGroupName!="" && $!savedGroupId)
	<div id="notificationDiv"></div>
	<div class="row mBottom-3">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<h1 class="cimm_page-title mBottom-0" id="groupName">$savedGroupName</h1>					
			<div class="form-inline" id="editBox" style="display: none;">
				<input type="hidden" value="$savedGroupName" id="oldGroupName" />
				<input type="hidden" value="$savedGroupId" id="GroupId" />
				<input type="hidden" value="C" id="GroupType" />
				<input type="text" id="editedName" value="$savedGroupName" maxlength="25" class="form-control">
				<button class="cimm_inlineButton" onclick="editGroupName();" id="groupNameSaveBtn">$!locale.get('savedCart.button.save')</button>
				<button class="cimm_inlineButton" onclick="cancelEditGroup();">$!locale.get('savedCart.button.cancel')</button>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12 text-right grpNameEditWrap">
			#if($isShared!="Y")
			<button class="cimm_inlineButton" onclick="editGroup();" data-toggle="tooltip" title="$!locale.get('savedCart.button.editCartName')"><em class="glyphicon glyphicon-edit"></em> $!locale.get('savedCart.button.cartName')</button>
			<button class="cimm_inlineButton" onclick="deleteSavedProductGroup('deleteGroupPage.action?savedGroupId=$savedGroupId&reqType=C');" data-toggle="tooltip" title="$!locale.get('savedCart.button.deleteCart')"><em class="glyphicon glyphicon-trash"></em>  $!locale.get('header.label.cart')</button>
			<button class="cimm_inlineButton" data-toggle="modal" data-target="#sharePop"><em class="glyphicon glyphicon-share"></em> $locale.get('product.heading.share')</button>
			#end
		</div>
	</div>
	<div class="row mBottom-3">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<select class="form-control selectpicker" onchange="bulkActions(this);" id="bulkActionSelect">
				<option value="">$!locale.get("product.option.select")</option>
				<option value="deleteOption">$!locale.get("product.button.deleteSelected")</option>
				<option value="updateOption">$!locale.get("product.button.updateSelected")</option>
				<option value="addSelectedOption">$!locale.get("product.button.addSelectedItemsToCart")</option>
			</select>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 text-right">
			<form action="myProductGroupPage.action" method="get" id="myProductGroup" class="form-inline">
				<label>$!locale.get('product.label.itemsperpage'): </label>
				<div class="form-group">
					<input type="hidden" name="savedGroupId" value="$savedGroupId" />
					<input type="hidden" value="$!savedGroupName" name="savedGroupName" /> 
					<input type="hidden" name="sortBy" value="$!sortBy"/>
					<input type="hidden" name="pageNo" value="$pageNo" />
					<input type="hidden" value="C" name="reqType"/>
					<input type="hidden" value="$isShared" name="shared" id="isShared2"/>
					<select name="resultPage" class="form-control selectpicker quantity" id="resultPage" onchange="PageItemsChange();">
						<!-- <option value="-1">Select</option> -->
						<option value="12" #if($resultPage=='12') selected #end >12</option>
						<option value="24" #if($resultPage=='24') selected #end >24</option>
						<option value="48" #if($resultPage=='48') selected #end >48</option>
					</select>
				</div>
			</form>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12 text-right">
			<form action="myProductGroupPage.action" id="sortByForm" class="form-inline">
				<label>$!locale.get('product.label.sortBy'): </label>
				<div class="form-group">
					<input type="hidden" value="$savedGroupId" name="savedGroupId" />
					<input type="hidden" value="$savedGroupName" name="savedGroupName" />
					<input type="hidden" name="resultPage" value="$resultPage" />
					<input type="hidden" value="C" name="reqType"/>
					<input type="hidden" value="$isShared" name="shared" id="shared1"/>
					#if($searchkeyWord)	            	
						<input type="hidden" name="searchkeyWord" value="$searchkeyWord" />
					#end
					<input type="hidden" name="pageNo" value="$pageNo" />
					<select name="sortBy" id="sortByBrand" onchange="sortByManuPartNo();" class="form-control selectpicker quantity">
						<option value="">-- Select --</option>
						<!-- <option value="ProdNameA" #if($sortBy=='ProdNameA') selected #end >Brand (A-Z)</option>
						<option value="ProdNameB" #if($sortBy=='ProdNameB') selected #end >Brand (Z-A)</option> -->
						<option value="PartA" #if($sortBy=='PartA') selected #end >Part Number (Asc)</option>
						<option value="PartD" #if($sortBy=='PartD') selected #end >Part Number (Desc)</option>
						<option value="MPNA" #if($sortBy=='MPNA') selected #end >Manf Part# (Asc)</option>
						<option value="MPND" #if($sortBy=='MPND') selected #end >Manf Part# (Desc)</option>
						<!-- <option value="CPNDesc" #if($sortBy=='CPNDesc') selected #end >CPN (Desc)</option>
						<option value="CPNAsc" #if($sortBy=='CPNAsc') selected #end >CPN (Asc)</option>
						<option value="UpcA" #if($sortBy=='UpcA') selected #end >UPC (Asc)</option>
						<option value="UpcD" #if($sortBy=='UpcD') selected #end >UPC (Desc)</option>
						<option value="DescA" #if($sortBy=='DescA') selected #end >Description (Asc)</option>
						<option value="DescD" #if($sortBy=='DescD') selected #end >Description (Desc)</option>--> 
					</select>
				</div>
			</form>
		</div>
	</div>
		<div class="row mBottom-3">
		<div class="col-md-9 col-sm-6 col-xs-12">
			<div class="form-inline">
				<form action="myProductGroupPage.action" id="productSearchForm" class="form-group">
					<input type="hidden" value="$savedGroupId" name="savedGroupId" />
					<input type="hidden" value="$!savedGroupName" name="savedGroupName" />
					<input type="hidden" name="resultPage" value="$resultPage" />
					<input type="hidden" name="sortBy" value="$!sortBy"/>   
					<input type="hidden" name="pageNo" value="$pageNo" />
					<input type="hidden" value="$reqType" name="reqType"/>
					<input type="hidden" value="$isShared" name="shared" id="isShared"/>
					<input type="hidden" value="$!searchkeyWord" name="searchkeyWord" id="searchkeyWord"/>
					<input type="text" class="form-control" placeholder="Search" id="searchKey" value="$!searchkeyWord" onkeypress="return runScript(event);"  maxlength="25" />
					<button type="button" class="cimm_inlineButton" id="searchBtn" onclick="return validateProductSearch();">$locale.get('search.label.go')</button>
					<input type="button" class="cimm_inlineButton" value="$locale.get('search.label.clearSearch')" id="clearsearchBtn" onclick="return clearProductSearch();" />
				</form>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<select onchange="hideAndShowViews();" name="views" id="views" class="form-control selectpicker">
				<option id="expandView" value="collapse">$!locale.get("content.view.collapseView")</option>
				<option id="collapseView" class="active" value="expand">$!locale.get("content.view.expandView")</option>
			</select>
		</div>
	</div>
	#if($paginate>1)
	<div class="pgnation"></div>
	#end
	<div class="hidden-lg hidden-md mBottom-3">
		<label class="customCheckBox2">
			<input type="checkbox" class="deviceSelectAllChkBox" onclick="deviceSelectAll();" data-selectall="CheckBox" />
			<span>$!locale.get("product.label.selectAll")</span>
		</label>
	</div>
	<form action="updateGroupItemsPage.action" id="productGroupForm">
		<table class="table rwd-table table-striped table-bordered display">
			<thead>
				<tr>
					<th class="text-center">$locale.get("product.label.Image")</th>
					<th>$locale.get("product.label.productDescription")</th>
					<!-- <th>$locale.get("product.heading.substituteItem")</th> -->
					<th class="text-center">$locale.get("form.label.tableQty")</th>
					<!--  <th>$locale.get("product.label.listPrice")</th> -->
					<th class="text-center">$locale.get("product.label.yourprice")</th>
					<th class="text-center">$locale.get("product.label.extPrice")</th>
					<th class="text-center"><div class="pgCheckboxWrap"><label for="chkSelectall" class="customCheckBox"><input type="checkbox" id="chkSelectall" name="chkSelectall" onclick="checkSelectAll(this)" data-selectall="CheckBox" /><span>$locale.get("product.label.selectAll")</span></label></div></th>
				</tr>
			</thead>
			<tbody class="text-center">
				#if($productListData && $productListData.size()>0)
				#foreach($itemData in $productListData)
				#set($itemTitle= $itemData.brandName+" "+ $itemData.manufacturerPartNumber)
				<tr itemscop itemtype="http://schema.org/Product">
					##if($session.getAttribute("userCustomFieldValue").get("PRODUCT_GROUP_IMAGE_DISPLAY")=="Y")
					<td data-th="$locale.get('product.label.Image')">                         
						<a href="$itemData.itemPriceId$locale.get('website.url.ProductDetail')n/$itemTitle.replace(' ','-').toLowerCase().replaceAll('&[#0-9a-z]+;','').replaceAll('[^a-zA-Z0-9\-\s]+','').replaceAll('--','-')">
							<span id="imageName$itemData.itemId">
							#if($itemData.imageName.contains("http") || $itemData.imageType=="URL")
							<img src="$itemData.imageName" itemprop="image" class="PgImg" width="75" height="75" id="mainImage" onerror="this.src='$!webThemes/$siteName/images/NoImage.png';" alt='$itemTitle'/>
							#else
							<img src="$detailImage$itemData.imageName" itemprop="image" class="PgImg" width="75" height="75" onerror="this.src='$!webThemes/$siteName/images/NoImage.png';" alt='$itemTitle'/>
							#end
							</span>
						</a>
					</td>
					##end
					<td data-th="$locale.get('product.label.productDescription')">
						<ul class="text-left">
							<li itemprop="name">
								<h5 class="cimm_itemTitle"><a href="$itemData.itemPriceId$locale.get('website.url.ProductDetail')n/$itemTitle.replace(' ','-').toLowerCase().replaceAll('&[#0-9a-z]+;','').replaceAll('[^a-zA-Z0-9\-\s]+','').replaceAll('--','-')">$itemData.brandName $!itemData.manufacturerPartNumber</a></h5>
							</li>
							<li class="hideForCollapse hideMe">
								<p itemprop="description">$!itemData.shortDesc </p>
							</li>
							<li>
								<p itemprop="sku"><strong>$locale.get("product.label.partNumber"): </strong><span>$itemData.partNumber</span></p>
								#if($!itemData.manufacturerPartNumber)<p itemprop="mpn"><strong>$locale.get("product.label.mpn"): </strong><span>$itemData.manufacturerPartNumber</span></p>#end
								#if($itemData.upc)<p itemprop="sku"><strong>$locale.get("product.label.upc"): </strong><span>$!itemData.upc</span></p>#end
							</li>
							#if($itemData.customerPartNumber || $!itemData.customerPartNumberList.size()>0)
							<li itemprop="sku" class="hideToHover">
								<strong>$!locale.get("product.label.cpn"): </strong>
								<span>
								#if($itemData.customerPartNumber)$!itemData.customerPartNumber, #end
								#if($itemData.customerPartNumberList.size()>0)
								#set($seperator = "")
								#set($partList = "")
								#foreach($!customerPart in $!itemData.customerPartNumberList)
								#set($partList = "#if($partList)$!partList#end#if($seperator)$!seperator#end#if($customerPart.partNumber)$!customerPart.partNumber#end")
								#set($seperator = ", ")
								#end
								#if( $!partList.length() > 85)
								$!partList.substring(0, 85)...
								#else
								$!partList
								#end
								#end
								</span>
							</li>
							#end
							#if($itemData.availQty>0) 
					    		<strong>$!locale.get("product.label.available"): </strong>
								<span>$!itemData.availQty</span>
					    	#else
					    		<span class='text-danger'>Call for Availability</span>
					    	#end
							#set($leadTime = "N")
							#set($available = "N")
							#set($allBranch = $itemData.branchAvail)
							#foreach($eachBranch in $allBranch)
							#if($eachBranch.branchID==$session.getAttribute("shipBranchId"))
							#if($eachBranch.branchAvailability=="0")
							#if($eachBranch.earliestMoreDays>0)
							#set($leadTime = $eachBranch.earliestMoreDays)
							#else
							#set($leadTime = $eachBranch.plentyDays)
							#end
							#else
							#set($available = $eachBranch.branchAvailability)
							#end
							#break
							#end
							#end
							#if($leadTime!="N")
							<li class="productLeadTime_$itemData.partNumber" id="leadTimes" >
								<strong>$locale.get("product.label.leadTime"): </strong><span class="orangeClr leadTime_$itemData.partNumber">$leadTime Days</span>
							</li>
							#elseif($available!="N")
							<li class="productAvail_$itemData.partNumber" id="leadTimes" >
								<strong>$locale.get("product.label.availableQuantity"): </strong><span class="Avail_$itemData.partNumber">$available</span>
							</li>
							#end
						</ul>
					</td>
					<!-- <td data-th="$locale.get('product.heading.substituteItem')">
					<ul class="group_substitutes">
					#set($linkedItems = $itemData.linkedItemsList)
					#foreach($LinkedItemData in $linkedItems.get("Substitute"))
					#set($itemTitle = $LinkedItemData.brandName + " " + $!LinkedItemData.manufacturerPartNumber)
					<li>
					<a href="$!hostName/$LinkedItemData.itemPriceId$locale.get('website.url.ProductDetail')n/$itemTitle.replace(' ','-').toLowerCase().replaceAll('&[#0-9a-z]+;','').replaceAll('[^a-zA-Z0-9\-\s]+','').replaceAll('--','-')">$itemTitle</a>
					</li>
					#end
					</ul>
					</td> -->
					<td data-th="$locale.get('form.label.tableQty')">
						<input type="text" id="itemTxtQty$itemData.itemId" name="shoppingCartQty" value="$itemData.qty" maxlength="6" onkeypress="return IsNumeric(event);" onpaste="return false;" ondrop = "return false;" class="quantity" />
						<input type="hidden" value="$itemData.partNumber" id="PartNumber_$itemData.partNumber" name="partnumberStrArray"/>
						<input type="hidden" value="$itemData.minOrderQty" id="minOrderQty_$itemData.itemId"/>
						<input type="hidden" value="$itemData.orderInterval" id="OrderQtyInterval_$itemData.partNumber" name="orderQuantityInterval"/> 
						<input type="hidden" id="itemTxtSXAvail$itemData.partNumber" name="itemTxtSXAvail$itemData.partNumber" value="$itemData.availQty"/>
						<input type="hidden" id="itemTxtAvail$itemData.itemId" name="itemTxtAvail$itemData.itemId" value="$itemData.availQty"/>
						<input type="hidden" name="shoppingCartId" value="$itemData.productListId"/>
						<input type="hidden" name="lineItemIdList" id="tempItemId_$itemData.partNumber" value="$itemData.itemId"/>
						<input type="hidden" name="idListItem" value="$itemData.partNumber"/>
						<input type="hidden" id="priceValue_$itemData.partNumber" value='$itemData.price' />
						<input type="hidden" id='priceValueID_$itemData.itemPriceId' value='$itemData.price' />
						<input type="hidden" name="itemPriceIdList" value="$itemData.itemPriceId" />
						<input type="hidden" name="shopqty" id="shopqty$itemData.productListId" value="$itemData.qty" />
						<input type="hidden" name="itempriceid" id="itempriceid$itemData.productListId" value="$itemData.itemPriceId" />
						<input type="hidden" name="partnumberStr" id="PartNumber$itemData.productListId" value="$itemData.partNumber" />
						<input type="hidden" name="price"  value="$itemData.price" />
						<input type="hidden" value="$itemData.minOrderQty" id="minOrderQty$itemData.productListId"/>
						<input type="hidden" value="$itemData.orderInterval" id="OrderQtyInterval$itemData.productListId" name="orderQuantityInt"/> 		
						<input type="hidden" value="$itemData.minOrderQty" id="MinOrderQty_$itemData.partNumber"/>				
					</td>
					<!--  <td data-th="$locale.get('product.label.listPrice')">  
					#set($customValue = $itemData.manufacturerId+"_SHOW_LIST_PRICE")
					#if($manfCustomField.get($customValue)=="Y"  && $!session.getAttribute("customerCustomFieldValue").get("SHOW_LIST_PRICE_CUSTOMER_LEVEL")=="Y")
					<span data-select='priceData'>$numberTool.format($numberToolFormat,$itemData.listPrice) </span>
					<span data-select='priceData'>#if($itemData.listPrice > 0) $numberTool.format($numberToolFormat,$itemData.listPrice) #else $locale.get("product.label.callforprice") #end</span>
					<em>#if($!itemData.qtyUOM && $itemData.qtyUOM.length() > 0 && $itemData.listPrice > 0) / $!itemData.qtyUOM #end</em>
					#end 
					</td> -->
					<td data-th="$locale.get('product.label.yourprice')">
						<span>
							#if($!session.getAttribute("erpType") && $!session.getAttribute("erpType").toUpperCase()=="DEFAULTS")
								#if($itemData.price>0)
								<span class="priceSpan">$$numberTool.format($pricePrecisionFormate,$itemData.price)</span>
								#else
								<span class='priceSpanFa'><em class="fa fa-phone fa-lg"></em> for Price</span>
								#end
							#else
								#if($itemData.price>0)
								<span class="priceSpan">$$numberTool.format($pricePrecisionFormate,$itemData.price)</span>
								#else
								<span class='priceSpanFa'><em class="fa fa-phone fa-lg"></em> for Price</span>
								#end
							<!-- <span id="span_$itemData.partNumber" data-select='priceData'>
							<img src="$!hostName$webThemes/$siteName/images/loading.gif" />
							</span> -->
							#end
						</span>
					</td>
					<td data-th='$locale.get("product.label.extPrice")' class="priceSpan">
						<span class='priceSpan'>
							#if($itemData.total>0) $$numberTool.format("$numberToolFormat",$itemData.total) #else N/A #end
						</span>
						<!-- <span class="productGrpRightAlign"><span id="spanEx_$itemData.partNumber" data-select='extPriceData'>
						<img src="$!cdnUrl$!webThemes/$siteName/images/loading.gif" /></span></span> -->
					</td>
					<td data-th="select">
						<label class="customCheckBox2">
							#set($addToCartCheckFlag = "N")
							#if($itemData.price>0)
							#set($addToCartCheckFlag = "Y")
							#end
							<!-- <input type="checkbox" name="idList" value="$itemData.productListId" id="chkSelect1$itemData.partNumber" data-addtocartflag="$addToCartCheckFlag" onclick="eachCheckBox(this)/> -->
							<input type="checkbox" name="idList" value="$itemData.productListId" id="selectItemCheckbox_$itemData.itemId" data-addtocartflag="$addToCartCheckFlag" onclick="BulkAction.addGroupItemsToCookie(this)" data-partnumber="$itemData.partNumber" data-itemPriceId="$itemData.itemPriceId" data-itemId="$itemData.itemId"/>
							<span></span>
						</label>
					</td>
				</tr>
				##itemListHiddenFields($itemData.partNumber, $itemData.itemPriceId, $itemData.qty, $itemData.uom, $itemData.price, $itemData.saleQty, $itemData.itemId, $itemData.displayFrieghtAlert, $itemData.packageQty, $itemData.availQty, $itemData.srchTyp, $navigationType)
				#end
				#else
				<tr>
					<td colspan="6">No results found</td>
				</tr>
				#end
			</tbody>
		</table>
		<input type="hidden" value="$savedGroupId" name="savedGroupId" />
		<input type="hidden" value="$!savedGroupName" name="savedGroupName" />
		<input type="hidden" name="resultPage" value="$resultPage" />
		<input type="hidden" name="sortBy" value="$!sortBy"/>   
		<input type="hidden" name="pageNo" value="$pageNo" />
		<input type="hidden" value="$reqType" name="reqType"/>
		<input type="hidden" value="$isShared" name="shared" />
		<input type="hidden" value="$!searchkeyWord" name="searchkeyWord" />
	</form>
<!-- <div class="cimm_salesBottomStrip">
	<ul class="clearAfter">
		<li>
			<span class="priceLabel">$locale.get("product.label.total") : </span>
			<span class="priceValue orangeClr">$$numberTool.format("$numberToolFormat",$savedCartTotal)</span>
		</li>
	</ul>
</div> -->
#if($paginate>1)
<div class="pgnation hideForPrint"></div>
#end
<!-- Modal -->
<div id="sharePop" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4>$locale.get("savedcart.heading.shareWithinYourCompany")<button type="button" class="close" data-dismiss="modal">&times;</button></h4>
			</div>
			<div class="modal-body">
				<div id="pLoginErr" align="center"></div>
				<form id="popShareForm" class="form-horizontal" onsubmit="return false;">
					<div class="form-group row no-gutters">
						<label class="control-label col-md-4 col-sm-4 col-xs-12" for="popkeyword">$locale.get("savedcart.lable.userNameOrEmail"):&nbsp;</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<input type="text" name="keyword" id="popkeyword" onkeypress="return runScript(event)" class="form-control" placeholder="$locale.get('savedcart.lable.userNameOrEmail')"/>
						</div>
					</div>
					<input type="hidden" value="$savedGroupName" id="oldGroupName"/>
					<input type="hidden" value="@savedGroupId" id="GroupId"/>
				</form>
			</div>
			<div class="modal-footer clearAfter">
				<div class="row">
			    	<div class="col-md-8 col-sm-8 col-xs-8 text-left"> $locale.get("savedcart.label.keywordsUserNameorEmailID") </div>
			    	<div class="col-md-4 col-sm-4 col-xs-4"><button class="button pull-right" data-onclick="searchUsers" id="popLoginBtn" onclick="validateShare();" />$locale.get('product.label.search')</button></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="sharePopupDiv" class="modal fade" role="dialog"></div>
#else
$locale.get("product.label.noDataAvailable")
#end

<script type="text/javascript" src="$!cdnUrl$!webThemes/$siteName/js/BulkAction.js"></script>