<script type="text/javascript">
jQuery(function(){
	sendThisPageScript();
});
</script>
<style type="text/css">
.hideForPrint{
	display:none !important;
}
</style>

<ul class="cimm_breadcrumbs">
    <li><a href="$locale.get('website.url.Welcome')">$locale.get('product.heading.home')</a></li>
    <li><span class="cimm_breadcrumbsIcon">..</span>$locale.get("product.button.sendthispage")</li>
    <div class="clear"></div>		
</ul>

<div class="clear"></div>	
	<!-- <h2 class="pageTitle">$locale.get("product.button.sendthispage")</h2> -->
        	<div id="notificationDiv" style="display:none;">
                <span class="successMsg" id="message"></span>
                <span class="errMsg" id="errorMsg"></span>
            </div>	
            <div class="clear"></div>
			<div id="SendItem">           
            <form method="post" id="sendPageForm">
			 <div class="cimm_formEnclosure">
			<!-- <div class="regForm">                   
				<div class="cimm_caption"><span class="required">*</span> $locale.get("form.label.required")</div>                    
			</div> -->
			<ul class="cimm_formContent forgotPassWrap">
				<li>
					<input name="toName" type="text" maxlength="50" size="50" id="toName" />
					<label>$locale.get("form.label.FriendName")  <span class="required"> * </span> </label>
			    <li>
					<input name="toEmail" type="text" maxlength="100" size="50" id="toEmail"  />
					<label>$locale.get("form.label.FriendEmailAddress") <span class="required"> * </span> </label>
			    </li>
				<li>
					<input name="fromName" type="text" maxlength="50" size="50" id="fromName" />
					<label>$locale.get("form.label.FromName") <span class="required"> * </span></label>
				</li>
				<li>
					<input name="fromEmail" type="text" maxlength="100" size="50" id="fromEmail"  />
					<label>$locale.get("form.label.FromEmailAddress") <span class="required"> * </span></label>
			    </li>
			    <li>
					<input name="mailSubject" type="text" maxlength="50" size="50" id="mailSubject" />
					<label>$locale.get("form.label.Subject") <span class="required"> * </span> </label>
			    </li>
			</ul>
            <input type="hidden" value="" id="mailLink" name="mailLink"/>
            <input type="hidden" value="" id="mailBody" name="mailBody"/>
            <input type="hidden" value="" id="imgPart" name="imgPart"/>
            <input type="hidden" value="" id="contentPart" name="contentPart"/>
            <input type="hidden" value="" id="pricePart" name="pricePart"/>
            <input type="hidden" value="" id="descPart" name="descPart"/>
            <input type="hidden" value="sharePageForAll" id="mailTemplateName" name="mailTemplateName" />
            <div class="cimm_formBtn">
            	<input type="submit" name="save" id="sendBtn" class="button" value="$locale.get('form.button.send')" onclick="return validateSendMailForAll();" />
            </div> 			
    </div>
	<div class="clear"></div>
	<div id="mailContent" class="prodInformation"></div>
</form>
</div>

    <script>
jQuery(function(){
	document.title = "Send This page";
});
</script>
<style>
#groupName
{
	font-weight:400;
}
</style>