<div class="shippingAddres" id="ShipDiv">
#set($jsPath = $!webArtifactsJsPath+$!cdnModuleJs+"/"+$LayoutName+".js?"+$!refreshVersion)
<script type="text/javascript" src="$jsPath"></script>

#if($shipEntity.size()>0)
<input type="hidden" id="validEmailAddress" name="validEmailAddress" value="$!validEmailAddress">
	<div class="shipping">
		<div class="row mBottom-3">
			<div class="col-md-6 col-sm-6 text-left">
				<h6>$!locale.get("breadcrumbs.label.$!LayoutName")</h6>
			</div>
			<div class="col-md-6 col-sm-6 text-right">
				<a href="javascript:void(0);" onclick="scynInitiateV2();" class="cimm_refreshList"><em class="fa fa-lg fa-sync-alt"></em> &nbsp;$!locale.get("product.label.refreshShippingInformation")</a>
				<div id="progressBar" class="text-success mTop-1">
					#if($!session.getAttribute("scynEntityStatus")!="Completed" && $!session.getAttribute("scynEntityStatus")!="Synchronization Process Started")
					$!session.getAttribute("scynEntityStatus")
					#end
				</div>
			</div>
			 <!-- <div class="col-md-6 col-sm-6 col-xs-6 text-right">
				<a class="cimm_inlineButton" id="selectButton" onclick="submitShippingAddress();"><span>$!locale.get("button.label.useSelectedAddress")</span></a>
			</div> --> 
		</div>
		<div id="fwContainer">
			<table cellpadding="0" cellspacing="0" class="table table-striped table-bordered display rwd-table" id="example" width="100%">
				<thead>
					<tr>
					<th class="left">$!locale.get("form.label.shipToName")</th>
					<th class="left">$!locale.get("form.label.address")</th>
					<th>$!locale.get("form.label.city")</th>
					<th>$!locale.get("form.label.state")</th>
					<th>$!locale.get("form.label.zipCodes")</th>
					</tr>
				</thead>
				<tbody>
					#foreach($shippAddressList in $shipEntity)
					<tr>
						<td class="alignLeft" data-th="$!locale.get('form.label.shipToName')">
						<label class="customRadioBtn">
								<input type="radio" name="useThisAddress" data-addressBookId="$!shippAddressList.addressBookId" data-buyingCompanyId="$!shippAddressList.buyingCompanyId" data-entityId="$!shippAddressList.entityId" data-customerName="$!shippAddressList.customerName" data-zipCode="$!shippAddressList.zipCodeStringFormat" onclick="submitShippingAddress(this);">
								<span>$!shippAddressList.firstName $!shippAddressList.lastName</span> ##$!shippAddressList.customerName
							</label>
						</td>
						<td class="alignLeft" data-th="$!locale.get('form.label.address')">
							$!shippAddressList.address1<br />
							#if($!shippAddressList.address2)
							$!shippAddressList.address2
							#end
							#if($shippAddressList.parentId<1)
								<input type="hidden" id="parentId" value="$!shippAddressList.buyingCompanyId" />
							#end
						</td>
						<td data-th="$!locale.get('form.label.city')">$!shippAddressList.city</td>
						<td data-th="$!locale.get('form.label.state')">$!shippAddressList.state</td>
						<td data-th="$!locale.get('form.label.zipCodes')">$!shippAddressList.zipCodeStringFormat</td>
					</tr>
					#end
				</tbody>
			</table>
		</div>
		<form action="userHome" id="selectShipAddress">
		<input type="hidden" value="" id="shipId" name="defaultShipToId" >
		<input type="hidden" value="" id="bcId" name="buyingCompanyId" >
		<input type="hidden" value="" id="entityId" name="entityId" >
		<input type="hidden" value="" id="custName" name="custName" >
		<input type="hidden" value="" id="homeBranchZipCode" name="homeBranchZipCode" >
		</form>
	</div>
	#end
</div>