<div class="hiddenDiv"></div>
<div class="row cimm_brandAtoZletters">
	<div class="col-md-3 col-xs-12 pTop-2">
		<input id="searchGrid" class="form-control" type="text" name="filterContent"  maxlength="100" placeholder="Search By Manufacturers"/>
	</div>
	<div class="col-md-9 col-xs-12">
		<ul>
			#set($!idxCnt = 1)
			#foreach($manufactureIdx in $manufacturerIndex)
			#if($idxCnt == $manufacturerIndex.size())
			<li>
				<a href="javascript:void(0);" class="ln-last" onclick="manufacturerListScroll('$manufactureIdx');">$!manufactureIdx</a>
			</li>
			#else
			<li>
				<a href="javascript:void(0);" onclick="manufacturerListScroll('$manufactureIdx');">$!manufactureIdx</a>
			</li>
			#end
			#set($!idxCnt = $!idxCnt+1)
			#end
		</ul>
	</div>
</div>

<div class="row brandListCont">
	<div class="col-md-12 col-xs-12">
		#foreach($key in $manfListAsMap.keySet())
		#set($manfListByIndex = $manfListAsMap.get($key))
		<div class="pBottom-2 mfgListRow" id="displayBrand_$key">
			<h2>$key</h2>
			<div class="row">
				#foreach($manf in $manfListByIndex)
					<div class="col-md-3 col-sm-6 col-xs-12"><a href="/$!manf.manufacturerId/manufacturer/$slugUrl.makeSlug($!manf.manufacturerName)" class="sBlack">$!manf.manufacturerName</a></div>
				#end
			</div>
			
		</div>
		#end
	</div>
</div>