<!--Quick navigation links for Device -->
<div class="sleekNavigationLinks">
   <div class="cimm_slideIconWrap">
      <div class="cimm_slideMobileNavIcon" id="slideIcon"><a href="javascript:void(0);"><span></span></a></div>
   </div>
   <div class="cimm_slide first">
      <h2>MENU</h2>
      <ul>
         <li><a href="$locale.get('website.url.ProductCategory')">$locale.get("navigation.label.shopProducts")</a><i class="fa fa-lg fa-chevron-right" aria-hidden="true"  id="$locale.get('navigation.label.shopProducts').replace(' ','_')"></i></li>
         #if($!CommonDBQuerySystemParameter.get("EnableShopByBrand")=="Y")
         <li><a href='$locale.get("website.url.Brands")'>$locale.get("product.label.brands")</a><i class="fa fa-lg fa-chevron-right" aria-hidden="true"></i></li>
         #end
         #if($!CommonDBQuerySystemParameter.get("EnableShopByManufacturer")=="Y")
         <li><a href='$locale.get("website.url.Manufacturers")'>$locale.get("product.label.manufacturers")</a><i class="fa fa-lg fa-chevron-right" aria-hidden="true"></i></li>
         #end
         #foreach($topMenu in $topStaticMenu)
         <li><a href="#if($topMenu.itemUrl) #if($topMenu.staticPageUrl) $topMenu.staticPageUrl #else /$topMenu.itemUrl #end #else javascript:void(0); #end" #if($topMenu.level1Menu && $topMenu.level1Menu=='Blog')target="_blank"#end>$topMenu.level1Menu</a>
         #if($topMenu.menuList && $topMenu.menuList.size()>0)
         <i class="fa fa-lg fa-chevron-right" aria-hidden="true" id="top_$topMenu.level1Menu.replace(' ','_')"></i>
         #end
         </li>
         #end
         <li><a>My Account</a><i class="fa fa-lg fa-chevron-right" aria-hidden="true" id="myAccount"></i></li>
      </ul>
   </div>
   <div class="cimm_slide sec" data-itemID="$locale.get('navigation.label.shopProducts').replace(' ','-')">
      <h2>$locale.get("navigation.label.shopProducts")</h2>
      <ul>
         #foreach($categoryMenu in $categMenu)
         <li>
            #set($test = "$!categoryMenu.categoryCode$!locale.get('website.url.ProductCategoryLevel')$!categoryMenu.categoryName.replaceAll(' ','-')")
            #foreach($key in $secondLevelMenu.keySet())
            #if($categoryMenu.categoryCode==$!key)
            #set($test = "javascript:void(0);")
            #end
            #end
            <a href="$!test" class="ripple-btn">$!categoryMenu.categoryName</a>
            #foreach($key in $secondLevelMenu.keySet())
            #if($categoryMenu.categoryCode==$!key)
            <i class="fa fa-lg fa-chevron-right" aria-hidden="true" id="item_$!categoryMenu.categoryCode.replace(' ','-')"></i>
            #end
            #end
         </li>
         #end
      </ul>
   </div>
   #foreach($topMenu in $topStaticMenu)
   <div class="cimm_slide sec moveRight" data-itemID="top_$topMenu.level1Menu.replace(' ','-')">
   <h2>$topMenu.level1Menu</h2>
      <ul>#foreach($subStaticMenu in $topMenu.menuList)<li>
			<a href="#if($subStaticMenu.itemUrl) #if($subStaticMenu.staticPageUrl) $subStaticMenu.staticPageUrl #else /$subStaticMenu.itemUrl #end #else javascript:void(0); #end" #if($subStaticMenu.openPageIn && $subStaticMenu.openPageIn=='ST') #end #if($subStaticMenu.openPageIn && $subStaticMenu.openPageIn=='NT')target="_blank"#end #if($subStaticMenu.openPageIn && $subStaticMenu.openPageIn=='NW')onclick="window.open(this.href, 'newwindow', 'width=1350, height=1000, scrollbars=yes, menubar=yes, toolbar=yes');return false;"#end>$subStaticMenu.level2Menu</a>
		</li>#end</ul>
   </div>
   #end
   <div class="cimm_slide sec" data-itemID="myAccount">
      <h2>My Account</h2>
      <ul>
         #if($userLogin)
         	#parse("accountMenu.html")
         #else
         	<li><a href="Login">Sign In</a></li>
         	<li><a href="Register">Register</a></li>
         #end
      </ul>
   </div>
</div>