<!--Quick navigation links for Device -->
<div class="sleekNavigationLinks">
   <div class="cimm_slideIconWrap">
      <div class="cimm_slideMobileNavIcon" id="slideIcon"><a href="javascript:void(0);"><span></span></a></div>
   </div>
   <div class="cimm_slide first">
      <h3>Menu</h3>
      <ul>
         <li><a href="$locale.get('website.url.ProductCategory')">$locale.get("navigation.label.shopProducts")</a><em class="fa fa-lg fa-chevron-right" aria-hidden="true"  id="$locale.get('navigation.label.shopProducts').replace(' ','_')"></em></li>
         #if($!CommonDBQuerySystemParameter.get("EnableShopByBrand")=="Y")
         <li><a href='$locale.get("website.url.Brands")'>$locale.get("product.label.brands")</a><em class="fa fa-lg fa-chevron-right" aria-hidden="true"></em></li>
         #end
         #if($!CommonDBQuerySystemParameter.get("EnableShopByManufacturer")=="Y")
         <li><a href='$locale.get("website.url.Manufacturers")'>$locale.get("product.label.manufacturers")</a><em class="fa fa-lg fa-chevron-right" aria-hidden="true"></em></li>
         #end
         #foreach($topMenu in $topStaticMenu)
         <li><a href="#if($topMenu.itemUrl) #if($topMenu.staticPageUrl) $topMenu.staticPageUrl #else /$topMenu.itemUrl #end #else javascript:void(0); #end" #if($topMenu.level1Menu && $topMenu.level1Menu=='Blog')target="_blank"#end>$topMenu.level1Menu</a>
         #if($topMenu.menuList && $topMenu.menuList.size()>0)
         <em class="fa fa-lg fa-chevron-right" aria-hidden="true" id="top_$topMenu.level1Menu.replace(' ','_')"></em>
         #end
         </li>
         #end
         <li>
         	<li><a href='javascript:void(0)'>$!locale.get("product.heading.accountDashBoard")</a><em class="fa fa-lg fa-chevron-right" id="myAccount" aria-hidden="true"></em>
         </li>
      </ul>
   </div>
   <div class="cimm_slide sec" data-itemID="myAccount">
		<h3>$locale.get("product.heading.accountDashBoard")</h3>
		<ul>
		#parse("accountMenu.html")
		</ul>
   </div>
   <div class="cimm_slide sec" data-itemID="$locale.get('navigation.label.shopProducts').replace(' ','_')">
      <h3>$locale.get("navigation.label.shopProducts")</h3>
      <ul>
         #foreach($categoryMenu in $categMenu)
         <li>
            #set($test = "$!categoryMenu.categoryCode$!locale.get('website.url.ProductCategoryLevel')$!categoryMenu.categoryName.replaceAll(' ','-')")
            #foreach($key in $secondLevelMenu.keySet())
            #if($categoryMenu.categoryCode==$!key)
            #set($test = "javascript:void(0);")
            #end
            #end
            <!-- <a href="">$!categoryMenu.categoryName </a> -->
            <a href="$!test" class="ripple-btn">$!categoryMenu.categoryName</a>
            #foreach($key in $secondLevelMenu.keySet())
            #if($categoryMenu.categoryCode==$!key)
            <em class="fa fa-lg fa-chevron-right" aria-hidden="true" id="item_$!categoryMenu.categoryCode.replace(' ','_')"></em>
            #end
            #end
         </li>
         #end
      </ul>
   </div>
   #foreach($categoryMenu in $categMenu)
   <div class="cimm_slide third moveRight" data-itemID="item_$!categoryMenu.categoryCode.replace(' ','_')">
      <h3>$!categoryMenu.categoryName</h3>
      <ul>
         #foreach($key in $secondLevelMenu.keySet())
         #if($categoryMenu.categoryCode==$!key)
         #foreach($secondLvlMenu in $secondLevelMenu.get($!key))
         <li>
            #set($test = "$!secondLvlMenu.categoryCode$!locale.get('website.url.ProductCategoryLevel')$!secondLvlMenu.categoryName.replaceAll(' ','-')")
            #foreach($key3 in $secondLevelMenu.keySet())
            #if($secondLvlMenu.categoryCode==$!key3)
            #set($test = "javascript:void(0);")
            #end
            #end
            <a href="$!test" class="ripple-btn">$!secondLvlMenu.categoryName</a>
            #foreach($key3 in $secondLevelMenu.keySet())
            #if($secondLvlMenu.categoryCode==$!key3)
            <em class="fa fa-lg fa-chevron-right" aria-hidden="true" id="item_$!secondLvlMenu.categoryCode.replace(' ','_')"></em>
            #end
            #end
         </li>
         #end
         #end
         #end
      </ul>
   </div>
   #end
   #foreach($categoryMenu in $categMenu)
   #foreach($key in $secondLevelMenu.keySet())
   #if($categoryMenu.categoryCode==$!key)
   #foreach($secondLvlMenu in $secondLevelMenu.get($!key))
   #foreach($key3 in $secondLevelMenu.keySet())
   #if($secondLvlMenu.categoryCode==$!key3)
   <div class="cimm_slide last moveRight" data-itemID="item_$!secondLvlMenu.categoryCode">
      <h3>$!secondLvlMenu.categoryName</h3>
      <ul>
         #foreach($thirdLvlMenu in $secondLevelMenu.get($!key3))
         <li>
            <a href="$!thirdLvlMenu.categoryCode$!locale.get('website.url.ProductCategoryLevel')$!thirdLvlMenu.categoryName.replaceAll(' ','-')" class="ripple-btn">$!thirdLvlMenu.categoryName</a>
         </li>
         #end
      </ul>
   </div>
   #end
   #end
   #end
   #end
   #end
   #end
   #foreach($topMenu in $topStaticMenu)
   <div class="cimm_slide sec moveRight" data-itemID="top_$topMenu.level1Menu.replace(' ','_')">
   <h3>$topMenu.level1Menu</h3>
      <ul>
	   	#foreach($subStaticMenu in $topMenu.menuList)
			<li>
				<a href="#if($subStaticMenu.itemUrl) #if($subStaticMenu.staticPageUrl) $subStaticMenu.staticPageUrl #else /$subStaticMenu.itemUrl #end #else javascript:void(0); #end" #if($subStaticMenu.openPageIn && $subStaticMenu.openPageIn=='ST') #end #if($subStaticMenu.openPageIn && $subStaticMenu.openPageIn=='NT')target="_blank"#end #if($subStaticMenu.openPageIn && $subStaticMenu.openPageIn=='NW')onclick="window.open(this.href, 'newwindow', 'width=1350, height=1000, scrollbars=yes, menubar=yes, toolbar=yes');return false;"#end>$subStaticMenu.level2Menu</a>
			</li>
		#end
		</ul>
   </div>
   #end
</div>