<link rel="shortcut icon" href="$webThemes/$siteName/images/favicon.ico">
#parse("font-awesome.html")<!-- <link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/font-awesome.min.css" /> -->
#if($LayoutName != "HomePage" && $!isStaticHomePage != "Y")
<link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/plugins/bootstrap-select.min.css" media="all" />
<link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/plugins/datatables.min.css" media="all">
<link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/plugins/dataTables.bootstrap.min.css" media="all">
<link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/plugins/bootstrap-datepicker.standalone.min.css" media="all">
#end
#if($LayoutName=="ProductDetailPage")
<link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/plugins/prettyPhoto.css" media="all"/>
#elseif($LayoutName=="CalendarEventsPage" || $LayoutName=="EventDetailPage")
<!-- <link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/unilogEventCss.css" media="all" /> -->
#elseif($LayoutName=="StaticPage" || $LayoutName=="StaticPageFullPageLayout" || $LayoutName=="ProductList" || $LayoutName=="SubCategoryPage")
<link rel="stylesheet" type="text/css" href="/ASSETS/CSS_FILES/CustomCss.css" media="all" />
#end
<link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/unilogweb.css" media="all" />
#if($LayoutName=="QuickOrderStdPage")
<link rel="stylesheet" media="screen" href="$webThemes/$siteName/css/plugins/handsontable.full.css">
#end
#if($userAgent == "WEBVIEW")<link rel="stylesheet" media="screen" href="$webThemes/$siteName/css/unilogweb_app.css">#end
<!--[if IE 9]>
	<link rel="stylesheet" type="text/css" href="$webThemes/$siteName/css/IE9.css">
<![endif]-->
#if($LayoutName=="StaticPage" || $LayoutName=="StaticPageFullPageLayout" || $LayoutName=="ProductList" || $LayoutName=="SubCategoryPage")
<style type="text/css">
.jssorb01 {float: right;}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
 filter: alpha(opacity=70);
 opacity: .7;
 overflow:hidden;
 cursor: pointer;
}
.jssora05ldn, .jssora05rdn{
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a17.png) no-repeat;
	overflow:hidden;
}
.jssora05l {
	display: block;
	background: #FFF;
	top: 48% !important;
	position: absolute;
	left: 0 !important;
	width: 30px !important;
	cursor: pointer;
	box-shadow: 1px 2px 10px -1px #ABABAB;
}
.jssora05r {
	display: block;
	background: #FFF;
	top: 48% !important;
	position: absolute;
	right: 0 !important;
	width: 30px !important;
	cursor: pointer;
	box-shadow: 1px 2px 10px -1px #ABABAB;
}
.jssora05l:before, .jssora05r:before {
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #46acee;
    position: absolute;
    top: 10px;
    left: 12px;
}
.jssora05l::before {
    content: "\f0d9";
}
.jssora05r:before {
	content: "\f0da";
}
.jssora05l:hover,.jssora05r:hover {background: #FFF;}
.jssora05l:hover:before,.jssora05r:hover:before{color: #797d82;}
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }
</style>
#elseif($LayoutName=="ProductDetailPage")
<style type="text/css">
.popProduct {
	position: absolute;
	padding: 10px;
	margin: 5px 0px;
	display:none;
	background: #3468d6;
	opacity: 0.8;
	border-radius: 5px;
	background: linear-gradient(top, #f9d835, #f3961c);
	top: -35px;
}
.popProductClone{
	position: absolute;
	padding: 10px;
	margin: 5px 0px;
	display:none;
	background: #3468d6;
	opacity: 0.8;
	border-radius: 5px;
	top: 40px;
	width: 320px;
	right: 0;
}
 </style>
#end