$color:(
    primary: #46acee,
    secondary: #404040,
    tertiary: #f9f9f9,

    white: #ffffff,
    black: #000000,
    red: #ee3426,
    blue: #00a9e7,
    green: #37ff3b,

    gray: #A1A1A1,
    darkgray:#585858,
    lightgray:#EBEBEB,
    yellow: #e4de33,
    borderColor: #A1A1A1
);

$primary_color:  color(primary);
$secondary_color: color(secondary);
$tertiary_color: color(tertiary);

$black: color(black);
$white: color(white);
$red: color(red);
$blue: color(blue);
$green: color(green);

$gray: color(gray);
$darkgray: color(darkgray);
$lightgray: color(lightgray);
$yellow: color(yellow);
$border-color: color(borderColor);

//Font family declartion
$font: (
    primary: 'RobotoRegular',
    secondary: 'RobotoBlack'
    /*tertiary: 'Robotocondensed-bolditalic',
    quaternary: 'Robotocondensed-light',
    quinary: 'Robotocondensed-italic',
    senary: 'Robotocondensed-bolditalic',
    septenary: 'Robotocondensed-lightitalic',*/
);

//Font size declaration
$font-size: (
    xs: 10px,
    sm: 12px,
    md: 14px,
    lg: 16px,
    xlg: 18px,
    xxlg: 20px
);

$font_xs: font-size(xs);
$font_sm: font-size(sm);
$font_md: font-size(md);
$font_lg: font-size(lg);
$font_xlg: font-size(xlg);
$font_xxlg: font-size(xxlg);


//Font Colors
$default_font-color: color(secondary);
$primary-font_color: color(primary);
$secondary-font_color: color(secondary);

//Header
$header_bg: $secondary_color;
$header_top-bg: $secondary_color;
$header-midcontent-bg: transparent;

//Main Navigation background color
$mnav_bg: $secondary_color;
$mnav_lf-color: $white; //Main Navigation (lf=link text font) color

$mnav_lh-bg: $primary_color; //Main navigation (lh = link hover) bg
$mnav_lhf-color: $white; //Main navigation (lhf = link hover font) color 

$mnav_la-bg: $primary_color; //Main navigation (la = link active) bg 
$mnav_laf-color: $white; //Main navigation (la = link active font) color


//Main sub navigation
$msnav_bg: $lightgray;
$msnav_lf-color: $secondary-font_color;
$msnav_lh-bg: $secondary-font_color;
$msnav_la-color: $secondary-font_color;

//Left Navigation
$lnav_title-bg: $white;
$lnav_title_text-color: $black;
$lnav_icon-color: $primary_color;

//Footer 
$footer_bg: transparent;
$footer-topcontent_bg: $secondary_color;
$footer-midcontent_bg: $secondary_color; 
$footer-btmcontent_bg: $primary_color;

//Footer a heading (hf = heading font)
$fnav_hf-color: $white;
$fp_f-color: $white;
$footer_copyright-fSize: $font_xs;
$footer_copyright-fcolor: $white;

$border-color: $border-color;

//Categories Heading 
$category_hf-color: $primary-font_color;
 

$btncolors: (
    primary: (
        bg-color: $primary_color, 
        btnf-color: $white, 
        hbg-color: $darkgray, 
        btnhf-color: $white,
        abg-color: $darkgray
    ), 
    secondary: (
        bg-color: $secondary_color,
        btnf-color: $white, 
        hbg-color: $black, 
        btnhf-color: $white,
        abg-color: $darkgray
    )
);

$headings:(
    pageTitle:(
        fontfamily: font(primary),
        texttransform: uppercase,
        color: $default_font-color,
        fontsize: $font_lg
    ),
    blockTitle:(
        fontfamily: font(primary),
        texttransform: capitalize,
        color: $default_font-color,
        fontsize: $font_xlg,
        marginvalue: 0
    )
);