$color:(
    //Temp Theme
    primary: #404040,
    secondary: #46acee,
    tertiary: #f9f9f9,

    // EECO Theme
    // primary: #001E38, 
    // secondary: #00549F,
    // tertiary: #FABC00,

    // ETNa Theme
    // primary: #710D20,
    // secondary: #87888D,
    // tertiary: #FABC00,
    
    //Aaron
    // primary: #333333,
    // secondary: #ED1B25,
    // tertiary: #FFCC00,

    white: #ffffff,
    black: #000000,
    red: #ee3426,
    blue: #00a9e7,
    green: #37ff3b,

    gray: #A1A1A1,
    darkgray:#585858,
    lightgray:#EBEBEB,
    yellow: #e4de33
);

$primary_color:  color(primary);
$secondary_color: color(secondary);
$tertiary_color: color(tertiary);

$black: color(black);
$white: color(white);
$red: color(red);
$blue: color(blue);
$green: color(green);

$gray: color(gray);
$darkgray: color(darkgray);
$lightgray: color(lightgray);
$yellow: color(yellow);

//Font family declartion
$font: (
    primary: 'RobotoRegular',
    secondary: 'RobotoBlack'

    /*primary: 'RobotoCondenseRegular',
    secondary: 'RobotoCondensedBold',
    
    tertiary: 'Robotocondensed-bolditalic',
    quaternary: 'Robotocondensed-light',
    quinary: 'Robotocondensed-italic',
    senary: 'Robotocondensed-bolditalic',
    septenary: 'Robotocondensed-lightitalic',*/
    // octonary: '',
    // nonary: '',
    // denary: ''
    
);

//Font size declaration
$font-size: (
    xs: 10px,
    sm: 12px,
    md: 14px,
    lg: 16px,
    xlg: 18px,
    xxlg: 20px
);

$font_xs: font-size(xs);
$font_sm: font-size(sm);
$font_md: font-size(md);
$font_lg: font-size(lg);
$font_xlg: font-size(xlg);
$font_xxlg: font-size(xxlg);

$btncolors: (
    primary: (
        bg-color: $secondary_color, 
        btnf-color: $white, 
        hbg-color: $darkgray, 
        btnhf-color: $white
    ), 
    secondary: (
        bg-color: $primary_color, 
        btnf-color: $white, 
        hbg-color: $black, 
        btnhf-color: $white
    ),
    success: (
        bg-color: $tertiary_color, 
        btnf-color: $black, 
        hbg-color: $secondary_color, 
        btnhf-color: $white
    ),
    danger: (bg-color: $red, btnf-color: $white, hbg-color: $primary_color, btnhf-color: $white),
    warning: (bg-color: $yellow, btnf-color: $white, hbg-color: $primary_color, btnhf-color: $white),
    info: (bg-color: $blue, btnf-color: $white, hbg-color: $primary_color, btnhf-color: $white),
    light: (bg-color: $lightgray, btnf-color: $primary_color,   hbg-color: $black, btnhf-color: $white),
    dark: (bg-color: $gray, btnf-color: $primary_color, hbg-color: $black, btnhf-color: $white)
);



//Font Colors
$default_font-color: color(primary);

$primary-font_color: color(primary);
$secondary-font_color: color(secondary);


$headings:(
    pageTitle:(
        //font: 12px,
        color: $primary-font_color,
        size: $font_md
    )
    // blockTitle:(),
    // blockHeading:(),
    // CaroBlockTitle:( )
);

//Header
$header_bg: $primary_color;
$header_top-bg: $secondary_color;
$header-midcontent-bg: transparent;

//Main Navigation background color
$mnav_bg: $primary_color;
$mnav_lf-color: $white; //Main Navigation (lf=link text font) color

$mnav_lh-bg: $secondary_color; //Main navigation (lh = link hover) bg
$mnav_lhf-color: $white; //Main navigation (lhf = link hover font) color 

$mnav_la-bg: $secondary_color; //Main navigation (la = link active) bg 
$mnav_laf-color: $white; //Main navigation (la = link active font) color


//Main sub navigation
$msnav_bg: $lightgray;
$msnav_lf-color: $primary-font_color;
$msnav_lh-bg: $secondary-font_color;
$msnav_la-color: $secondary-font_color;

//Left Navigation
$lnav_title-bg: $white;
$lnav_title_text-color: $black;
$lnav_icon-color: $secondary_color;

//Footer 
$footer_bg: transparent;
$footer-topcontent_bg: $primary_color;
$footer-midcontent_bg: $primary_color; 
$footer-btmcontent_bg: $secondary_color;

//Footer a heading (hf = heading font)
$fnav_hf-color: $white;
$fp_f-color: $white;
$footer_copyright-fSize: $font_xs;
$footer_copyright-fcolor: $white;

$border-color: $darkgray;

//Categories Heading 
$category_hf-color: $primary-font_color;
 
