$black: #000 !default;
$gray-darker: lighten($black, 13.5%) !default; // #222
$gray-dark: lighten($black, 20%) !default;   // #333
$gray: lighten($black, 33.5%) !default; // #555
$gray-light: lighten($black, 46.7%) !default; // #777
$gray-lighter: lighten($black, 93.5%) !default; // #eee
$gray-lighten: lighten($black, 89.7%) !default; // #E5E5E5

$primary_color:  #46acee;
$secondary_color: #404040;
$tertiary_color: #f9f9f9;
$white: #FFF;
$red: #ee3426;
$blue: #00a9e7;
$green: #37ff3b;
$yellow: #e4de33;
$border-color: #A1A1A1;
$shadow-color : lighten($black, 68%) !default;

//** Background color for `<body>`.
$body-bg: $white !default;
//** Global text color on `<body>`.
$default_font-color: $gray-dark !default;

//** Global textual link color.
$link-color: $gray-dark !default;
$link-hover-color: darken($link-color, 15%) !default;

$border-radius: 4px !default;

$color:(
    primary: #46acee,
    secondary: #404040,
    tertiary: #f9f9f9,
);

//Font family declartion
$font: (
    primary: 'RobotoRegular',
    secondary: 'RobotoBlack'
    /*tertiary: 'Robotocondensed-bolditalic',
    quaternary: 'Robotocondensed-light',
    quinary: 'Robotocondensed-italic',
    senary: 'Robotocondensed-bolditalic',
    septenary: 'Robotocondensed-lightitalic',*/
);

//Font size declaration
$font-size: (
    xs: 10px,
    sm: 12px,
    md: 14px,
    lg: 16px,
    xlg: 18px,
    xxlg: 20px
);

$font_xs: font-size(xs);
$font_sm: font-size(sm);
$font_md: font-size(md);
$font_lg: font-size(lg);
$font_xlg: font-size(xlg);
$font_xxlg: font-size(xxlg);

// Font family ==VAR
$default_font-family: font(primary);
$secondary_font-family: font(secondary);

$button_font_family: $default_font-family;

//Font Colors
$primary-font_color: $primary_color;
$secondary-font_color: color(secondary);

//Header
$header_bg: $secondary_color;
$header_top-bg: $secondary_color;
$header-midcontent-bg: transparent;

//Main Navigation background color
$mnav_bg: $secondary_color;
$mnav_lf-color: $white; //Main Navigation (lf=link text font) color

$mnav_lh-bg: $primary_color; //Main navigation (lh = link hover) bg
$mnav_lhf-color: $white; //Main navigation (lhf = link hover font) color 

$mnav_la-bg: $primary_color; //Main navigation (la = link active) bg 
$mnav_laf-color: $white; //Main navigation (la = link active font) color


//Main sub navigation
$msnav_bg: $gray-lighter;
$msnav_lf-color: $secondary-font_color;
$msnav_lh-bg: $secondary-font_color;
$msnav_la-color: $secondary-font_color;

//Left Navigation
$lnav_title-bg: $white;
$lnav_title_text-color: $black;
$lnav_icon-color: $primary_color;

//Footer 
$footer_bg: transparent;
$footer-topcontent_bg: $secondary_color;
$footer-midcontent_bg: $secondary_color; 
$footer-btmcontent_bg: $primary_color;

//Footer a heading (hf = heading font)
$fnav_hf-color: $white;
$fp_f-color: $white;
$footer_copyright-fSize: $font_xs;
$footer_copyright-fcolor: $white;

$border-color: $border-color;

//Categories Heading 
$category_hf-color: $primary-font_color;
 

$btncolors: (
    primary: (
        bg-color: $primary_color, 
        btnf-color: $white, 
        hbg-color: $gray-dark, 
        btnhf-color: $white,
        abg-color: $gray-dark
    ), 
    secondary: (
        bg-color: $secondary_color,
        btnf-color: $white, 
        hbg-color: $black, 
        btnhf-color: $white,
        abg-color: $gray-dark
    )
);

$headings:(
    pageTitle:(
        fontfamily: font(primary),
        texttransform: uppercase,
        color: $default_font-color,
        fontsize: $font_lg
    ),
    blockTitle:(
        fontfamily: font(primary),
        texttransform: capitalize,
        color: $default_font-color,
        fontsize: $font_xlg,
        marginvalue: 0
    )
);


$headerNavLinkColor: #FFF;
$headerNavLinkFontSize: 12px;

$mainNavBackground: #404040;
$mainNavLinkColor: #FFF;
$mainNavLinkFontSize: 14px;
$navDropdownBg: #EBEBEB;

$leftNavTitleBackgroud: #FFF;
$leftNavTitleFontSize: 14px;
$leftNavTitleFontColor: #404040;
$leftNavLabelFontSize: 12px;
$leftNavLabelFontColor: #404040;
$leftNavTitleFontFamily: $secondary_font-family;

$footerLinkFontSize: 12px;
$footerHeadingColor: $white;
$footerCopyRightFontSize: 10px;

$tabHeadingBackgroundColor: #ebebeb;
$tabHeadingFontColor: #404040;
$tabHeadingActiveBackgroundColor: #404040;
$tabHeadingActiveFontColor : $white;
$tabHeadingIconContent: "\e113";
$tabHeadingActiveIconContent: "\e114";
$tabHeadingIconFontFamily: 'Glyphicons Halflings';
$tabHeadingFontSize: 14px;

$packDescColor: #ed7118;
$eventTabBg: #A1A1A1;

$autocomleteBg: #e6e6e6
