* {
    outline: none;
}

html {
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}


.blockElement {
    display: block;
}

.hideMe,
.showInDevice {
    display: none;
}

.clear {
    clear: both;
}

.clearAfter::after {
    clear: both;
    display: block;
    content: '';
}

.alignCenter {
    text-align: center;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.noBorder {
    border: none !important;
}

.dropdown-backdrop {
    cursor: wait;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
    z-index: unset;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background: $primary_color;
}
abbr[data-original-title],
abbr[title] {
    cursor: text;
    border-bottom: none;
}

.modal-body {
    color: $default_font-color;
}
.required{
	color: #F00;
}

/* no-gutters Class Rules */

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
    >[class^="col-"], >[class*=" col-"]{
        padding-right: 0;
        padding-left: 0;
        position: relative;
    }
}
dt,
label {
    font-weight: normal;
}

dl,
p { 
    margin: 0px;
}

ul,
ul li,
ol,
ol li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.row-space{
    margin: 15px 0px;
    border: 0px;
    @include clearfix();
}