.mTop-0 {
    margin-top: 0!important;
}

.mRight-0 {
    margin-right: 0!important;
}

.mBottom-0 {
    margin-bottom: 0!important;
}

.mLeft-0 {
    margin-left: 0!important;
}

.marginX-0 {
    margin-right: 0!important;
    margin-left: 0!important;
}

.marginY-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.margin-1 {
    margin: 4px!important;
}

.mTop-1 {
    margin-top: 4px!important;
}

.mRight-1 {
    margin-right: 4px!important;
}

.mBottom-1 {
    margin-bottom: 4px!important;
}

.mLeft-1 {
    margin-left: 4px!important;
}

.marginX-1 {
    margin-right: 4px!important;
    margin-left: 4px!important;
}

.marginY-1 {
    margin-top: 4px!important;
    margin-bottom: 4px!important;
}

.margin-2 {
    margin: 8px!important;
}

.mTop-2 {
    margin-top: 8px!important;
}

.mRight-2 {
    margin-right: 8px!important;
}

.mBottom-2 {
    margin-bottom: 8px!important;
}

.mLeft-2 {
    margin-left: 8px!important;
}

.marginX-2 {
    margin-right: 8px!important;
    margin-left: 8px!important;
}

.marginY-2 {
    margin-top: 8px!important;
    margin-bottom: 8px!important;
}

.margin-3 {
    margin: 16px!important;
}

.mTop-3 {
    margin-top: 16px!important;
}

.mRight-3 {
    margin-right: 16px!important;
}

.mBottom-3 {
    margin-bottom: 16px!important;
}

.mLeft-3 {
    margin-left: 16px!important;
}

.marginX-3 {
    margin-right: 16px!important;
    margin-left: 16px!important;
}

.marginY-3 {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.margin-4 {
    margin: 24px!important;
}

.mTop-4 {
    margin-top: 24px!important;
}

.mRight-4 {
    margin-right: 24px!important;
}

.mBottom-4 {
    margin-bottom: 24px!important;
}

.mLeft-4 {
    margin-left: 24px!important;
}

.marginX-4 {
    margin-right: 24px!important;
    margin-left: 24px!important;
}

.marginY-4 {
    margin-top: 24px!important;
    margin-bottom: 24px!important;
}

.margin-5 {
    margin: 48px!important;
}

.mTop-5 {
    margin-top: 48px!important;
}

.mRight-5 {
    margin-right: 48px!important;
}

.mBottom-5 {
    margin-bottom: 48px!important;
}

.mLeft-5 {
    margin-left: 48px!important;
}

.marginX-5 {
    margin-right: 48px!important;
    margin-left: 48px!important;
}

.marginY-5 {
    margin-top: 48px!important;
    margin-bottom: 48px!important;
}

.padding-0 {
    padding: 0!important;
}

.pTop-0 {
    padding-top: 0!important;
}

.pRight-0 {
    padding-right: 0!important;
}

.pBottom-0 {
    padding-bottom: 0!important;
}

.pLeft-0 {
    padding-left: 0!important;
}

.paddingX-0 {
    padding-right: 0!important;
    padding-left: 0!important;
}

.paddingY-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
}

.padding-1 {
    padding: 4px!important
}

.pTop-1 {
    padding-top: 4px!important
}

.pRight-1 {
    padding-right: 4px!important
}

.pBottom-1 {
    padding-bottom: 4px!important
}

.pLeft-1 {
    padding-left: 4px!important
}

.paddingX-1 {
    padding-right: 4px!important;
    padding-left: 4px!important
}

.paddingY-1 {
    padding-top: 4px!important;
    padding-bottom: 4px!important
}

.padding-2 {
    padding: 8px!important
}

.pTop-2 {
    padding-top: 8px!important
}

.pRight-2 {
    padding-right: 8px!important
}

.pBottom-2 {
    padding-bottom: 8px!important
}

.pLeft-2 {
    padding-left: 8px!important
}

.paddingX-2 {
    padding-right: 8px!important;
    padding-left: 8px!important
}

.paddingY-2 {
    padding-top: 8px!important;
    padding-bottom: 8px!important
}

.padding-3 {
    padding: 16px!important
}

.pTop-3 {
    padding-top: 16px!important
}

.pRight-3 {
    padding-right: 16px!important
}

.pBottom-3 {
    padding-bottom: 16px!important
}

.pLeft-3 {
    padding-left: 16px!important
}

.paddingX-3 {
    padding-right: 16px!important;
    padding-left: 16px!important
}

.paddingY-3 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}

.padding-4 {
    padding: 24px!important
}

.pTop-4 {
    padding-top: 24px!important
}

.pRight-4 {
    padding-right: 24px!important
}

.pBottom-4 {
    padding-bottom: 24px!important
}

.pLeft-4 {
    padding-left: 24px!important
}

.paddingX-4 {
    padding-right: 24px!important;
    padding-left: 24px!important
}

.paddingY-4 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}

.padding-5 {
    padding: 48px!important
}

.pTop-5 {
    padding-top: 48px!important
}

.pRight-5 {
    padding-right: 48px!important
}

.pBottom-5 {
    padding-bottom: 48px!important
}

.pLeft-5 {
    padding-left: 48px!important
}

.paddingX-5 {
    padding-right: 48px!important;
    padding-left: 48px!important
}

.paddingY-5 {
    padding-top: 48px!important;
    padding-bottom: 48px!important
}

.margin-auto {
    margin: auto!important
}