$margin-zero: 0 !important;
$margin-xs: 4px !important;
$margin-sm: 8px !important;
$margin-md: 16px !important;
$margin-lg: 24px !important;
$margin-xlg: 48px !important;

$padding-zero: 0 !default;
$padding-sx: 4px !default;
$padding-sm: 8px !default;
$padding-md: 16px !default;
$padding-lg: 24px !default;
$padding-xlg: 48px !default;

.mTop-0 {
    margin-top: $margin-zero;
}

.mRight-0 {
    margin-right: $margin-zero;
}

.mBottom-0 {
    margin-bottom: $margin-zero;
}

.mLeft-0 {
    margin-left: $margin-zero;
}

.marginX-0 {
    margin-right: $margin-zero;
    margin-left: $margin-zero;
}

.marginY-0 {
    margin-top: $margin-zero;
    margin-bottom: $margin-zero;
}

.margin-1 {
    margin: $margin-xs;
}

.mTop-1 {
    margin-top: $margin-xs;
}

.mRight-1 {
    margin-right: $margin-xs;
}

.mBottom-1 {
    margin-bottom: $margin-xs;
}

.mLeft-1 {
    margin-left: $margin-xs;
}

.marginX-1 {
    margin-right: $margin-xs;
    margin-left: $margin-xs;
}

.marginY-1 {
    margin-top: $margin-xs;
    margin-bottom: $margin-xs;
}

.margin-2 {
    margin: $margin-sm;
}

.mTop-2 {
    margin-top: $margin-sm;
}

.mRight-2 {
    margin-right: $margin-sm;
}

.mBottom-2 {
    margin-bottom: $margin-sm;
}

.mLeft-2 {
    margin-left: $margin-sm;
}

.marginX-2 {
    margin-right: $margin-sm;
    margin-left: $margin-sm;
}

.marginY-2 {
    margin-top: $margin-sm;
    margin-bottom: $margin-sm;
}

.margin-3 {
    margin: $margin-md;
}

.mTop-3 {
    margin-top: $margin-md;
}

.mRight-3 {
    margin-right: $margin-md;
}

.mBottom-3 {
    margin-bottom: $margin-md;
}

.mLeft-3 {
    margin-left: $margin-md;
}

.marginX-3 {
    margin-right: $margin-md;
    margin-left: $margin-md;
}

.marginY-3 {
    margin-top: $margin-md;
    margin-bottom: $margin-md;
}

.margin-4 {
    margin: $margin-lg;
}

.mTop-4 {
    margin-top: $margin-lg;
}

.mRight-4 {
    margin-right: $margin-lg;
}

.mBottom-4 {
    margin-bottom: $margin-lg;
}

.mLeft-4 {
    margin-left: $margin-lg;
}

.marginX-4 {
    margin-right: $margin-lg;
    margin-left: $margin-lg;
}

.marginY-4 {
    margin-top: $margin-lg;
    margin-bottom: $margin-lg;
}

.margin-5 {
    margin: $margin-xlg;
}

.mTop-5 {
    margin-top: $margin-xlg;
}

.mRight-5 {
    margin-right: $margin-xlg;
}

.mBottom-5 {
    margin-bottom: $margin-xlg;
}

.mLeft-5 {
    margin-left: $margin-xlg;
}

.marginX-5 {
    margin-right: $margin-xlg;
    margin-left: $margin-xlg;
}

.marginY-5 {
    margin-top: $margin-xlg;
    margin-bottom: $margin-xlg;
}

.padding-0 {
    padding: $padding-zero;
}

.pTop-0 {
    padding-top: $padding-zero;
}

.pRight-0 {
    padding-right: $padding-zero;
}

.pBottom-0 {
    padding-bottom: $padding-zero;
}

.pLeft-0 {
    padding-left: $padding-zero;
}

.paddingX-0 {
    padding-right: $padding-zero;
    padding-left: $padding-zero;
}

.paddingY-0 {
    padding-top: $padding-zero;
    padding-bottom: $padding-zero;
}

.padding-1 {
    padding: $padding-sx;
}

.pTop-1 {
    padding-top: $padding-sx;
}

.pRight-1 {
    padding-right: $padding-sx;
}

.pBottom-1 {
    padding-bottom: $padding-sx;
}

.pLeft-1 {
    padding-left: $padding-sx;
}

.paddingX-1 {
    padding-right: $padding-sx;;
    padding-left: $padding-sx;
}

.paddingY-1 {
    padding-top: $padding-sx;;
    padding-bottom: $padding-sx;
}

.padding-2 {
    padding: $padding-sm;
}

.pTop-2 {
    padding-top: $padding-sm;
}

.pRight-2 {
    padding-right: $padding-sm;
}

.pBottom-2 {
    padding-bottom: $padding-sm;
}

.pLeft-2 {
    padding-left: $padding-sm;
}

.paddingX-2 {
    padding-right: $padding-sm;;
    padding-left: $padding-sm;
}

.paddingY-2 {
    padding-top: $padding-sm;;
    padding-bottom: $padding-sm;
}

.padding-3 {
    padding: $padding-md;
}

.pTop-3 {
    padding-top: $padding-md;
}

.pRight-3 {
    padding-right: $padding-md;
}

.pBottom-3 {
    padding-bottom: $padding-md;
}

.pLeft-3 {
    padding-left: $padding-md;
}

.paddingX-3 {
    padding-right: $padding-md;;
    padding-left: $padding-md;
}

.paddingY-3 {
    padding-top: $padding-md;;
    padding-bottom: $padding-md;
}

.padding-4 {
    padding: $padding-lg;
}

.pTop-4 {
    padding-top: $padding-lg;
}

.pRight-4 {
    padding-right: $padding-lg;
}

.pBottom-4 {
    padding-bottom: $padding-lg;
}

.pLeft-4 {
    padding-left: $padding-lg;
}

.paddingX-4 {
    padding-right: $padding-lg;;
    padding-left: $padding-lg;
}

.paddingY-4 {
    padding-top: $padding-lg;;
    padding-bottom: $padding-lg;
}

.padding-5 {
    padding: $padding-xlg;
}

.pTop-5 {
    padding-top: $padding-xlg;
}

.pRight-5 {
    padding-right: $padding-xlg;
}

.pBottom-5 {
    padding-bottom: $padding-xlg;
}

.pLeft-5 {
    padding-left: $padding-xlg;
}

.paddingX-5 {
    padding-right: $padding-xlg;;
    padding-left: $padding-xlg;
}

.paddingY-5 {
    padding-top: $padding-xlg;;
    padding-bottom: $padding-xlg;
}

.margin-auto {
    margin: auto!important
}