
@include font-face(RobotoRegular, 'https://cdnassets.unilogcorp.com/fonts/Roboto-Regular-webfont', normal, normal, eot woff ttf svg, robotoregular);
@include font-face(RobotoBlack, 'https://cdnassets.unilogcorp.com/fonts/Roboto-Black-webfont', normal, normal, eot woff ttf svg, robotoblack);
@include font-face(RobotoCondensedBold, 'https://cdnassets.unilogcorp.com/fonts/RobotoCondensed-Bold-webfont', normal, normal, eot woff ttf svg, roboto_condensedbold);

@include font-face(MaisonNeueLight, 'https://cdnassets.unilogcorp.com/fonts/MaisonNeue-Light', normal, normal, eot woff ttf svg, maisonneuelight);
@include font-face(MaisonNeueMedium, 'https://cdnassets.unilogcorp.com/fonts/MaisonNeue-Medium', normal, normal, eot woff ttf svg, maisonneuemedium);
@include font-face(MaisonNeueBold, 'https://cdnassets.unilogcorp.com/fonts/MaisonNeue-Bold', normal, normal, eot woff ttf svg, maisonneuebold);

@include font-face(Glyphicons Halflings, 'https://cdnassets.unilogcorp.com/fonts/glyphicons-halflings-regular', normal, normal, eot woff ttf svg, glyphicons_halflingsregular);

/*@include font-face(RobotoCondenseRegular, './fonts/robotocondensed-regular-webfont', normal, normal, eot woff ttf svg, robotocondensedregular);
@include font-face(Robotocondensed-bolditalic, './fonts/robotocondensed-bolditalic-webfont', bold, italic, eot woff ttf svg, robotocondensedbolditalic);
@include font-face(Robotocondensed-italic, './fonts/robotocondensed-italic', normal, italic, eot woff ttf svg, robotocondenseditalic);
@include font-face(Robotocondensed-light, './fonts/robotocondensed-light-webfont', normal, normal, eot woff ttf svg, robotocondensedlight);
@include font-face(Robotocondensed-lightitalic, './fonts/robotocondensed-lightitalic-webfont', normal, italic, eot woff ttf svg, robotocondensed-lightitalic);*/

/*________________Categories_____________________*/
//Categories
$category_hf-family: $default_font-family;
$category_hf-size: $font_md;

/*________________Footer navigation link_____________________*/
$fnav_lf-color: $default_font-color;
$fnav_lf-family: $default_font-family;
$fnav_lf-size: $font_sm;
