$defaultFont: 'RobotoRegular';
$headingFont: 'RobotoBlack';
$buttonFont: 'RobotoRegular';

$primaryColor: #46acee;
$secandaryColor: #949ca0;

$bodyFontColor: #404040;

$darkGrayColorTwo:#585858;
$lightGrayColorOne:#E5E5E5;
$lightGrayColorTwo:#F5F5F5;
$lightShadowColor: #ABABAB;

$white: #FFF;
$black:#000;

$headerNavLinkColor: #FFF;
$headerNavLinkFontSize: 12px;

$mainNavBackground: #404040;
$mainNavLinkColor: #FFF;
$mainNavLinkFontSize: 14px;
$navDropdownBg: #EBEBEB;

$leftNavTitleBackgroud: #FFF;
$leftNavTitleFontSize: 14px;
$leftNavTitleFontColor: #404040;
$leftNavLabelFontSize: 12px;
$leftNavLabelFontColor: #404040;
$leftNavTitleFontFamily: $headingFont;

$footerLinkFontSize: 12px;
$footerHeadingColor: $white;
$footerCopyRightFontSize: 10px;

$tabHeadingBackgroundColor: #ebebeb;
$tabHeadingFontColor: #404040;
$tabHeadingActiveBackgroundColor: #404040;
$tabHeadingActiveFontColor : $white;
$tabHeadingIconContent: "\e113";
$tabHeadingActiveIconContent: "\e114";
$tabHeadingIconFontFamily: 'Glyphicons Halflings';
$tabHeadingFontSize: 14px;

$packDescColor: #ed7118;
$eventTabBg: #A1A1A1;

$autocomleteBg: #e6e6e6