header {
    .cimm_header {
        font-family: $headingFont;
        .cimm_headerTopContent {
            position: relative;
            height: 40px;
            font-family: $defaultFont;
            background: $bodyFontColor;
            .headerInfoBlock {
                float: left;
                ul {
                    li {
                        color: $white;
                        padding: 10px;
                    }
                }
            }
            .cimm_headerUtilityMenu {
                float: right;
                text-align: right;
                ul{
                    li{
                        text-transform: capitalize;
                        display: inline-block;
                        position: relative;
                        &:hover ul{
                            display: block;
                        }
                        ul.dropdown-menu{
                            padding:0;
                            li{
                                border-bottom:1px solid $borderColor;
                                width:100%;
                                a{
                                    color:$bodyFontColor;
                                    padding: 5px 10px;
                                }
                            }
                        }
                        a{
                            color:$white;
                            padding: 10px;
                            display: block;
                        }
                    }
                }
            }
        }
        .cimm_headerMidContent {
            .cimm_headerLeft {
                margin: 0;
                .cimm_logo {
                    width: 250px;
                    height: 120px;
                    position: relative;
                    img {
                        width: auto;
                        max-width: 100%;
                        height: auto;
                        max-height: 100%;
                        display: block;
                        vertical-align: middle;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                    }
                }
            }
            .cimm_searchWrapper {
                text-align: center;    
                float: left;
                width: 65%;
                margin: 55px 0 18px 0;
				position: relative;
                input[type='text'] {
                    float: left;
                    width: calc(100% - 50px);
                    border: 1px solid $borderColor;
                    height: 35px;
                    padding: 5px 7px;
                    font-family: $defaultFont;
                }
                .cimm_searchIcon {
                    width: 50px;
                    float: left;
                    border: 1px solid $borderColor;
                    border-left: none;
                    height: 35px;
                    background: $primaryColor;
                    color: $white;
                    font-size: 20px;
                }
            }
            .cimm_headerRight {
                margin: 18px 0;
                float: right;
                .cimm_signWrap {
                    text-align: right;
                    li {
                        display: inline-block;
                        position: relative;
                        text-align: center;
                        width: 100px;
                        a {
                            display: block;
                            color: $bodyFontColor;
                            font-size: $headerNavLinkFontSize;
                            font-weight: bold;
                        }
                        span {
                            font-weight: normal;
                            font-family: $defaultFont;
							text-transform: uppercase;
							margin-top: 4px;
							min-height: 18px;
                        }
                        span.imgBox {
                            display: block;
                            width: 50px;
                            height: 50px;
                            background: $primaryColor;
                            position: relative;
                            margin: 0 auto 8px auto;
                            overflow: hidden;
                            i {
								position: absolute;
								left: 10px;
								color: $white;
								top: 10px;
								font-size: 32px;
                            }
                        }
                        .loginWindow {
                            position: absolute;
                            top: 50px;
                            background: $white;
                            right: 38px;
                            width: 370px;
                            min-height: 300px;
                            left: auto;
                            border: none;
                            border-radius: 0;
							padding: 0;
							margin: 0;
							border: 2px solid $borderColor;
							font-family: RobotoRegular;
							font-size: 12px;
							form {
								background: $navDropdownBg;
								padding: 18px;
								.form-control {
									height: 42px;
									box-shadow: none;
									border: 1px solid $borderColor;
									border-radius: 2px;
								}
								.form-group{
									label{
										text-transform: uppercase;
									}
								}
							}
                            ul,
                            ul li {
                                width: 100%;
                                text-transform: none;
                                font-family: $defaultFont
                            }
                            .rememberLogWrap {
                                text-transform: none;
								padding-top: 6px;
								.button {
									width: 192px;
									box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
								}
                            }
                            .customCheckBox {
								span{
									text-transform: capitalize;
								}
                            }
                            .forgotPassword {
                                font-family: $defaultFont;
                                margin-top: 15px;
                                font-weight: normal;
                                text-decoration: underline;
                                text-align: right;
                            }
                            a.cimm_button {
                                color: $white;
                                margin: 26px 18px;
								font-size: 16px;
								box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
                            }
                        }
                        .myAccountMenu {
                            position: absolute;
                            top: 48px;
                            background: $navDropdownBg;
                            right: 38px;
                            width: 275px;
                            /*min-height: 300px;*/
                            left: auto;
                            border: 1px solid $borderColor;
                            border-radius: 2px;
							padding: 0;
                            li {
                                width: 100%;
                                text-transform: none;
                                font-family: $defaultFont;
                                text-align: left;
                               /* border-bottom: 1px solid $borderColor;*/
                                a {
                                    font-weight: normal;
                                    color: $bodyFontColor;
                                    font-size: 16px;
                                    padding: 3px 10px;
                                    i {
                                        margin-right: 10px;
                                        font-size: 16px;
                                    }
                                }
								&.loginLink{
									margin-top: 15px;
									padding: 15px 0;
									background: $white;
									text-align: center;
									a{
										background: $bodyFontColor;
										color: $white;
										display: inline-block;
										padding: 10px;
									}
								}
                                &:last-child {
                                    border-bottom: none;
                                }
								&.logoutBtn{
									background: $white;
									text-align: center;
									a{
										background: $bodyFontColor;
										color: $white;
										display: inline-block;
										padding: 12px;
										margin: 25px 0;
										box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
									}
								}
                            }

                        }
                    }
                    >li:first-child {
                        width: 125px;
                    }
                }
                .cimm_signWrap li.cartCountDisplayLi a span.cartCountrefresh {
                    display: block;
                }
                .cimm_signWrap li.cartCountDisplayLi a svg {
                    width: 35px;
                    fill: $white;
					position: absolute;
					top: 10px;
					left: 5px;
                }
            }
        }
    }
}