// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff ttf svg, $svgFont: null) {
	$src: null;

	$extmods: (
		eot: '?#iefix',
		woff: '',
		ttf: '',
		svg: '#' + $svgFont,
	);

	$formats: (
		eot: 'embedded-opentype',
		woff: 'woff',
		ttf: 'truetype',
		svg: 'svg'
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url("'"+quote($path + "." + $extmod)+"'") format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}