@media print {
    @page {
        //size: auto;
        // margin: 10px;
    }
    body {
        height: auto;
    }
	a[href]:after {
		content: none !important;
	}
    .container {
        -webkit-print-color-adjust: exact;
    }
    .cimm_footerEnclosure,
    .cimm_stickyPageWrap:after {
        height: 0;
    }
    .cimm_stickyPageWrap {
        margin: 0;
    }
	#leftMenu +.col-md-9{
		width: 100%;
	}
    header,
    nav,
    footer,
    .hideForPrint,
    .cimm_BreadCrumbs,
    .imgEnlargeIcon,
    #linkedItemSectionContent,
    .multiTabHeading,
    .documentStack li a {
        display: none !important;
    }
    .cimm_pdfLink {
        display: block !important;
        color: $primary_color;
    }
    .multiTab.detailPage .multiTabContent div ul.documentStack li {
        float: none;
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .multiTabContent>div {
        display: block !important;
        border: 0 !important;
        padding: 5px 0 !important;
    }
    .multiTabContent>h3 {
        display: block !important;
        border: 0 !important;
        padding: 15px 0 5px 0 !important;
        font-weight: 600 !important;
    }
    .multiTab .multiTabContent>h3:after,
    .multiTab .multiTabContent>h3.active:after {
        content: "";
    }
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    {
        float: left;
    }
    .col-sm-12,
    .col-md-12 {
        width: 100%;
    }
    .col-sm-11,
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-sm-10,
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-sm-9,
    .col-md-9 {
        width: 75%;
    }
    .col-sm-8,
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-sm-7,
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-sm-6,
    .col-md-6 {
        width: 50%;
    }
    .col-sm-5,
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-sm-4,
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-sm-3,
    .col-md-3 {
        width: 25%;
    }
    .col-sm-2,
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-sm-1,
    .col-md-1 {
        width: 8.33333333%;
    }
}