@import "customVariables";
@import "1-base/0-base";
@import "2-layouts/0-layouts";
@import "3-modules/0-modules";
@import "4-pages/0-pages";


body {
    padding-top: 2px;
    position: relative;
    height: 100%;
    font-family: $body_font-family;
	font-size: $body_font-size;
    color: $body_font-color;
	overflow-x: hidden;
}

$pagination_bg: $primary_color;
$pagination_border-color: $primary_color;

$backtotop-bg: $gray;

$modal_titlef-color: $primary_font-color;
$modal_btn-color: $primary_font-color;
$modal_closebtn-color: $primary_font-color;


.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: $pagination_bg;
    border-color: $pagination_border-color;
}

#backToTop {
    text-align: center;
    width: 45px;
    height: 45px;
    background: $backtotop-bg;

    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    z-index: 99;
 
    a {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;

        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;

        &:after {
            -webkit-animation-name: backToTop-arrow;
            animation-name: backToTop-arrow;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            z-index: 10;
        }
        @include icon(after, uparrow, $color: $white, $size: 18px, $left: 14px, $top: 10px);
    }
    &:hover {
        opacity: 1;
        background: $default_font-color;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    } 
}


footer,
.cimm_stickyPageWrap:after {
    height: 355px;
}

// .container {
//     max-width: 1200px;
//     width: 1200px;
// }

.cimm_bodyContentWrap {
    margin-bottom: 30px;
    height: 100%;
}

/*___________________Poup Modal____________________*/
.modal-title {
    position: relative;
    color: $modal_titlef-color;
    
    .backBtn {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        font-size: 14px;
        color: $modal_btn-color;
        cursor: pointer;
    }
    .close {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 20px;
        height: 20px;
        font-size: 24px;
        color: $modal_closebtn-color;
        opacity: 1;
    }
}

.modal-body {
    ul {
        li {
            a.forgotPass {
                margin-top: 10px;
            }
        }
    }
}

.dummyHeight {
    height: 30px;
}

/*___________________Pagination____________________*/
.pgnation {
    .pagebarUTH {
        text-align: right;
        padding: 6px 0 0 0;
        font-family: $headingFont;
        span {
            color: $primaryColor;
            font-size: 20px;
            padding: 0 3px;
        }
        a {
            color: $default_font-color;
            font-size: 16px;
            padding: 0 3px;
            &:hover {
                color: $primaryColor;
            }
        }
    }
}

/*___________________Prince____________________*/
.priceSpan {
    font-family: $headingFont;
    font-size: 20px;
    img {
        width: auto !important;
        display: inline-block !important;
    }
}
.price {
    font-family: $headingFont;
    font-size: 16px;
    img {
        width: auto;
        display: inline-block;
    }
	//.priceLabel {}
	//.priceValue {}
}

/*___________________Breadcrumb____________________*/

.cimm_BreadCrumbs{
	.breadcrumb {
        background: none;
        padding: 0px;
        
        li+li:before {
            content: "|";
        }
    }
}


/*___________________Search Results____________________*/
.searchResults{
	color: $default_font-color;
	font-family: 'RobotoRegular';
	font-size: 16px;
	font-weight: bold;
	.spellCheckWrap{
		color: $primaryColor;
		.spellCheckHighlight{
			font-style: italic;
		}
	}
}

/*___________________All Page Title____________________*/
.cimm_pageTitle {
    //color: $page_titlef-color;
    font-family: $page_titlef-family;
    //font-size: $page_titlef-size;
    text-transform: uppercase;
}

/*___________________Single Block Title____________________*/
.cimm_blockTitle {
    color: $block_titlef-color;
    font-family: $block_titlef-family;
    font-size: $block_titlef-size;
    letter-spacing: 1px;
    text-transform: capitalize;
}


.cimm_blockHeading {
    margin: 0 0 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    a {
        color: $primaryColor;
    }
}

.quantity {
    width: 50px;
    text-align: center;
	height: 32px;
	padding: 5px;
	text-align: center;
}

.productTitle {
	margin: 0;
    color: $default_font-color;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $headingFont;
}


.cimm_refinedMultiFilterResults {
    .narrowSearchText {
        color: $leftNavLabelFontColor;
        font-family: $leftNavTitleFontFamily;
        font-size: $leftNavTitleFontSize;
    }
    ol {
        li {
            padding: 5px 20px;
            text-transform: capitalize;
            span.Refine-value {
                display: block;
                padding-left: 15px;
            }
        }
    }
}

.cimm_compareControls {
    margin-top: 6px;
    display: block;
}

.groupList{
	cursor: pointer;
	position: relative;
	font-size: 14px;
	ul {
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		width: 100%;
		padding: 5px;
		background: $white;
		border: 1px solid $border-color;
		li {
			width: 100%;
			border-bottom: 1px solid $border-color;
			&:last-child {
				border: none;
			}
			input {
				height: 35px;
				padding: 10px;
				width: 100%;
			}
			a {
				color: $default_font-color;
				text-transform: capitalize;
				display: block;
				padding: 5px;
				&:hover {
					background: $primaryColor;
					color: $white;
				}
			}
		}
	}
}

.skuStyle b {
	font-weight: 500;
}
.skuStyle span {
	color: $primaryColor;
	font-weight: 600;
}
.cimm_qtyWrap span {
	display: inline-block;
}
#generalModel {
    .modal-dialog {
        min-width: 840px;
    }
    .modal-body {
        max-height: 500px;
        overflow-y: auto;
    }
}

.dataTables_wrapper {
    color: $default_font-color;
}

.productGroupPopWrap {
    color: $default_font-color;
    .addNewPgWrap {
        .button {
            width: 130px;
            float: left;
        }
        input {
            width: calc(100% - 130px);
            float: left;
            height: 40px;
            padding: 5px 10px;
        }
    }
    .existingPgListWrap {
        h4 {
            color: $primaryColor;
        }
        ul {
            li {
                width: 25%;
                display: inline-block;
            }
        }
    }
    .selectedItemsWrap {
        h4 {
            color: $primaryColor;
        }
        div {
            margin: 10px 0;
            .row {
                border-bottom: 1px solid $border-color;
                a.delBtn {
                    display: block;
                }
            }
        }
    }
    .submitProductGroup a {
        display: inline-block;
    }
    .addNewPgResponse {
        ul {
            li {
                a {
                    color: $primaryColor;
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}

.ratingModalWrap {
    .modal-header {
        padding: 10px 15px 0;
        h3 {
            margin: 0;
        }
    }
    .modal-body {
        ul {
            li {
                div {
                    width: 100% !important;
                }
            }
        }
    }
}

.mulAddTocartWrap {
    .addToCartHeaderContent {
        p {
            color: $primaryColor;
            font-size: 16px;
            i {
                margin-right: 10px;
            }
        }
    }
    .muladdtoCartItemsWrap {
        .muladdtoCartItems {
            padding: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid $border-color;
        }
    }
    .popCheckout {
        margin-bottom: 10px;
    }
}



.cimm_salesBottomStrip {
    ul {
        width: 40%;
        float: right;
        li {
            color: $primaryColor;
            font-size: 20px;
            font-weight: bold;
            text-align: right;
        }
    }
}



.popMsg {
    background: #6b6a6a !important;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    width: 250px;
    top: 25px;
    font-size: 14px;
    color: #fff !important;
    z-index: 10;
}

.cimm_instructions {
    width: 70%;
    margin: 40px auto;
    ul {
        list-style-type: disc;
        padding-left: 30px;
        li {
            list-style-type: disc;
			i{
				vertical-align: middle;
			}
        }
    }
}

.cimm_refreshList {
    font-size: 16px;
    margin-bottom: 10px;
}

.profileImage {
    img {
        width: 100%;
    }
}

.uploadImage_wrap {
    .uploadImage {
        width: calc(100% - 150px);
        float: left;
        border: 2px solid $default_font-color;
        height: 35px;
        cursor: pointer;
        position: relative;
        span {
            text-align: center;
            display: block;
            padding: 6px;
            color: $default_font-color;
            position: absolute;
            width: 100%;
        }
        input {
            opacity: 0;
            height: 35px;
            width: 100%;
            cursor: pointer;
        }
    }
    .uploadFile {
        @extend .uploadImage;
        width: calc(100% - 75px);
    }
    .button {
        margin-right: 3px;
        float: left;
        height: 35px;
        padding: 5px 10px;
    }
}

.userInfoWrap {
    height: 160px;
    >span {
        float: right;
        width: 80%;
    }
    b {
        float: left;
        width: 20%;
    }
    h4 {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 14px;
    }
}


.searchBoxWrap {
    background: $default_font-color;
    .gotoWrap {
        h4.header {
            float: left;
            color: $white;
        }
        .brandsShortCut li {
            float: left;
            margin: 12px 0 0 10px;
            a {
                color: $white;
                &:hover {
                    color: $primaryColor;
                }
            }
        }
    }
}

.cimm_brandAtoZletters {
    width: 100%;
    margin: 0;
    background: $primaryColor;
    ul {
        margin: 5px 0;
        border-radius: 6px;
        padding: 0 10px;
        li {
            display: inline-block;
            padding: 10px 5px;
            a {
                color: $white;
            }
        }
    }
	&.cimm_brandLetter{
		background: none;
		ul {
			padding: 0;
			li {
				padding: 0 6px 0 4px;
				border-right: 1px solid $default_font-color;
				line-height: 14px;
				font-size: 14px;
				a {
					padding: 0 8px;
					color: $default_font-color;
				}
				&:first-child{
					padding: 0 6px 0 0;
					a {
						padding: 0 8px 0 0 ;
					}
				}
				&:last-child{
					border-right: none;
				}
			}
		}
	}
}

.cimm_brandAtoZletters.fixIt {
    position: fixed;
    top: 0;
    width: 1170px;
    z-index: 2;
}

#sharePop {
    .modal-body {
        max-height: 190px;
        overflow: auto;
    }
}

.hideOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#updateSelectedItems {
    -ms-transform: translate(-239px, 0%);
    -webkit-transform: translate(-239px, 0%);
    transform: translate(-239px, 0%);
}

#updateSelectedItems.slideBtns-hide {
    -ms-transform: translate(-239px, 100%);
    -webkit-transform: translate(-239px, 100%);
    transform: translate(-239px, 100%);
}

.fixed {
    position: fixed;
    top: -50px;
    width: 100%;
    background: $white;
    z-index: 115;
    padding: 5px 0;
    ul {
        max-width: 1180px;
        margin: 0 auto;
    }
}

.brandsListRow {
    border-bottom: 1px solid $border-color;
    &.grid-item {
        border: 0;
    }
}

.registerRightBox {
    background: $lightGrayColorOne;
    padding: 20px;
    font-weight: bold;
    h6 {
        font-size: 13px;
        color: $black;
    }
    ul li a {
        color: $primaryColor;
        &:hover {
            text-decoration: underline;
        }
    }
}

.registerLeftBox {
    h5 {
        font-size: 13px;
        color: $black;
        font-weight: bold;
    }
    label {
        color: $black;
        font-weight: bold;
        vertical-align: top;
        a {
            color: $primaryColor;
        }
    }
    ul {
        margin: 20px 0;
        li {
            line-height: 20px;
            color: $black;
            >i {
                color: $secandaryColor;
                font-size: 18px;
            }
        }
    }
    .accountSelectionWrap {
        background: $lightGrayColorOne;
        padding: 10px;
        display: inline-block;
        margin: 0 0 20px;
    }
    label.customCheckBox {
        margin-bottom: 20px;
    }
}

.orderSummaryWrap {
    h3 {
        margin: 0 0 6px 0;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $headingFont;
    }
    a {
        color: $primaryColor;
        text-decoration: underline;
        font-weight: 700;
    }
    .table {
        thead {
            tr {
                th {
                    border-bottom: 1px solid $default_font-color;
                }
            }
        }
        tbody {
            text-align: center;
            tr {
                td {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .cimm_salesBottomStrip {
        border-top: 1px solid $default_font-color;
        padding: 6px 0 10px 0;
        ul {
            width: 100%;
            float: none;
            li {
				font-size: 18px;
                .priceLabel {
                    float: left;
                    text-transform: capitalize;
                }
                .priceValue {
                    float: right;
                }
            }
        }
    }
}

.actionIcon {
    background: none;
    border: 0;
    font-size: 22px;
    padding: 0;
    margin: 0 6px;
    color: $primaryColor;
    &:active {
        color: $primaryColor;
    }
}

.copyPaste {
    width: 100%;
    height: 200px;
}

#example1 {
    height: 260px;
    overflow: auto;
}

.quickcartclass {
    li {
        list-style-type: decimal;
        margin-left: 15px;
        ul {
            li {
                display: block;
                float: none;
                position: relative;
                &:after {
                    content: "";
                    height: 6px;
                    width: 6px;
                    background: #585858;
                    position: absolute;
                    left: -12px;
                    border-radius: 50%;
                    top: 6px;
                }
            }
        }
    }
}

.cimm_regCapthaWrap {
    margin-bottom: 10px;
    input {
        float: left;
        padding: 4px 10px;
        width: 50%;
        height: 30px;
    }
    input[type='button'] {
        float: left;
    }
}

.select_attributeBody {
    >ul {
        >li {
			&.selectOptions{
				float: left;
				width: 31.33%;
				margin-bottom: 20px;
				padding:0;
				margin-right: 2%;
				.slideBlock{
				width: 100%;
				margin: 0;
					li {
						width: 100%;
						margin-right: 0;
						float: none;
						padding: 5px 0;
					}
					&.open{
						display: block;
					}
				}
			}
            div.select_attributeList {
                cursor: pointer;
                padding: 5px;
                font-size: 16px;
                color: $primaryColor;
                text-decoration: underline;
                font-family: $headingFont;
            }
			div.toggle_attributeList{
				display: inline-block;
				padding: 6px 25px 6px 12px;
				margin-bottom: 0;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.42857143;
				text-align: left;
				white-space: nowrap;
				vertical-align: middle;
				cursor: pointer;
				border: 1px solid $border-color;
				border-radius: 4px;
				color: #333;
				background-color: #fff;
				width: 100%;
				position: relative;
				.caret{
					position: absolute;
					top: 50%;
					right: 12px;
					margin-top: -2px;
					vertical-align: middle;
				}
			}
            ul {
                padding: 5px;
               /* max-height: 120px;*/
                overflow: auto;
                li {
                    width: 30%;
                    margin-right: 10px;
                    float: left;
                    padding: 4px 5px 4px;
                }
            }
        }
    }
}

.cimm_multiAddcart {
    width: 150px;
}

.site-overlay,
.modalPopOverlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.18);
    z-index: 116;
    cursor: wait;
}

.cartHead {
    h5 {
        float: left;
        margin: 0;
        padding: 4px 15px 8px;
        background: $primaryColor;
        a {
            padding: 0 !important;
            font-size: 12px !important;
            &.active {
                text-decoration: underline;
            }
        }
    }
}

.cartBody {
    padding: 10px;
}

#quickOrderPadDrop {
    width: 342px;
    border: 0;
}

#headerCopyPasteText {
    width: 100%;
    height: 150px;
}

#ManagePurchaseAgent_wrapper {
    .dt-buttons {
        float: left;
    }
    .dataTables_filter {
        float: right;
        margin-bottom: 5px;
    }
    table {
        tbody {
            tr {
                td {
                    a.cimm_inlineButton {
                        float: left;
                        height: 30px;
                    }
                    label.switch {
                        float: right;
                    }
                }
            }
        }
    }
}

.fileUploadDescription {
    a {
        background: none !important;
        color: $primaryColor !important;
        padding: 0 !important;
        font-size: 14px !important;
        font-weight: bold;
    }
}

.grid-item {
    width: 20%;
    height: auto;
    float: left;
    margin-bottom: 25px;
}


.sleekNavigationLinks{
    width: 300px;
    position:fixed;
    z-index:10000;
    bottom: 0;
    top: 0;
    left: -450px;
    transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
   	-webkit-transition: 0.5s ease;
    overflow-x:hidden;
    overflow-y: auto;
    height: 100%;
    background: $white;
    ul{
        margin:0;
        padding:0;
        background: $white;
        height: calc(100% - 80px);
        overflow-x: auto;

        li{
            position:relative;
            margin:0;
            padding: 0;
            a{
                font-size:14px;
                display:block;  
                padding: 10px 40px 10px 5px;
                &:hover i{
                    padding: 10px 8px 10px 12px;
                    color: #000;
                    right: 0px;
                }
                i {
                    position: absolute;
                    right: 4px;
                    padding: 10px 8px 10px 8px;
                    top: 4px;
                    cursor: pointer;
                    transition: padding 0.25s ease,right 0.25s ease;
                }
            }

            i{
                position: absolute;
                top:10px;
                right:10px;
                color: $default_font-color;
            }

            ul{
                display: none;
            }

            &.myAccountList ul{
                display: block;
            }

            &.menuHead{
                background: #444;
                color: #FFF;
                margin: 0;
                padding: 8px 10px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}

.tog_myAccount{
	cursor:pointer;
}
.tog_myAccount span{
	float: right;
}
.site-overlay,.modalPopOverlay {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	z-index: 112;
	cursor: wait;
}
.loadAfter{
	height: 100%;
	width: 100%;
	position: fixed;
	background: rgba(255, 255, 255, 1);
	z-index: 112;
	cursor: wait;
	img{
		max-width: 100%;
		display: block;
		//vertical-align: middle;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	i{
		display: block;
		//vertical-align: middle;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 48px;
		height: 48px;
	}
}
.cimm_slide {
    position: absolute;
    top: 20px;
    left: 0;
    height: calc(100% - 40px);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    width: 100%;
    background: $white;
    opacity: 1;
    overflow: auto;
    padding: 0 20px;
    z-index: 112;

    h2 {
        padding: 12px 30px;
        text-align: center;
        cursor: pointer;
        position: relative;
        font-size: 24px;
        font-weight: 200;
        margin: 0;
        color: $default_font-color;

        i {
            position: absolute;
            left: 5px;
            color: #888;
        }
    }

    li {
        position: relative;
    }
}

.cimm_slideWrap {
    width: 200px;
    position: relative;
	height: 150px;
	overflow: hidden;
}
.moveRight.cimm_slide {
    left: 100%;
	opacity:0;
	visibility: hidden;
}
.moveLeft.cimm_slide {
	left: -100%;
	opacity:0;
	visibility: hidden;
}

.cimm_slideIconWrap {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 20px;
	top: 30px;
	pointer-events: none;
}
.cimm_slideMobileNavIcon{
	height: 25px;
	overflow: hidden;
	position: relative;
	width: 100%;
    z-index: 113;
    a{
        height: 25px;
        width: 25px;
        position: absolute;
        left: 0px;
        bottom: 0;
    }
    span {
        display: block;
        position: absolute;
        top: 13px;
        right: 0px;
        height: 2px;
        width: 25px;
        background: #444;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        &:after{
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: #444;
            top: 0;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &.active{
            top: 20px;
            right: 8px;
            width: 12px;
            &:after {
                left: -6px;
                top: -6px;
                width: 12px;
            }
        }
    }
}

.site-overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    z-index: 112;
    cursor: wait;
}

#multipleResult {
    .bulkActionBtn {
        width: 150px;
        margin: 0 auto 12px auto;
    }
}

.cimm_resultSelect {
    background: $lightGrayColorOne;
    padding: 5px 10px;
    a {
        color: $primaryColor;
        font-weight: 600;
    }
}

.cimm_genericSearch {
    padding: 10px 5px;
    margin: 0 0 15px 0;
    border: 1px solid $border-color;
    a {
        color: $primaryColor;
        font-weight: 600;
    }
}

.multipleResult {
    font-size: 12px;
    text-align: center;
    padding: 8px;
    background: $lightGrayColorOne;
}

#slideLeft {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background: $white;
    padding: 10px;
    transition: cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition: left 0.5s cubic-bezier(0.2, 0.05, 0.05, 0.8);
    height: calc(100% - 40px);
    overflow: auto;
    @extend .cimm_slide;
    h2 {
        text-align: left;
    }
	&.active {
		left: 0;
	}
}

.poppupEnabled {
    overflow: hidden;
}
#googleMap, #panel, #map_canvas {
	height: 500px;
	overflow: hidden;
}
#map_canvas{
    width: 100%;
    top: -100%;
}
.locationZipcode{
    width: 100%;
    margin-bottom: 20px;
}
.labelWrap{
	float: left;
	width: 95px;
	margin: 6px 15px 0 0;
	text-align: right;
}
.inputWrap{
	float: left;
	width: calc(100% - 110px);
	input{
		width: 100%;
		padding: 5px;
	}
}
.locationSearch{
	+a{
		color: $primaryColor;
		text-decoration: underline;
		display: block;
		text-align: right;
		margin: 14px 0;
	}
}
.location-search{
    input{
        height: 34px;
        padding:5px 10px;
        float: left;
        margin-right: 3px;
    }
    .cimm_inlineButton{
        height: 34px;
        display: inline-block;
    }
}
.locationDataWrap{
    .store-list{
        li{
            &:first-child{
                padding: 0 0 10px;
            }
            div{
                cursor: pointer;
				color: $primaryColor;
				font-family: $defaultFont;
                span.iconToggle{
                    float: left;
                    width: 8%;
                    font-size: 20px;
                }
                span.pullLeft{
                    width:62%;
					color: $primaryColor;
					font-family: $defaultFont
                }
                span.pullRight{
                    width:26%;
                }
            }
            .locationDetailList li{
                padding:2px 2px 2px 20px;
				&.Phone{
					margin: 10px 0;
				}
				&.Note {
					display: none;
				}
            }
        }
    }
}
.crdirections {
	text-decoration: underline;
}
.locDetailWrap{
    ul{
        li{
            padding:3px 0;
        }
    }
}
.locationDetails{
	font-size: 14px;
	.searchHeading{
		font-size: 16px;
		color: $primaryColor;
		margin: 0 0 16px 0;
	}
	.locationHeading{
		font-size: 20px;
		color: $primaryColor;
		text-transform: uppercase;
		margin: 0 0 12px 0;
	}
}
.compareWrap{ 
	.cimm_multiAddcart{
		float: right;
		margin-right: 20px;
	}
}
.packDesc{
	color: $packDescColor;
	font-size: 14px;
}
.divWrap {
    margin-top: 10px;
}

.cimm_topBanners{
    margin-bottom: 20px;
    min-height: 200px;
    border: 1px solid #e9e9e9;
    vertical-align: middle;
    text-align: center;
    line-height: 180px;

	.slick-list{
		padding: 0;
	}
}
.cimm_itemTitle{
	margin: 0;
	padding: 5px 0;
	font-family: 'RobotoBlack';
	text-transform: uppercase;
	font-size: 14px;
}
#customerPartNumSubmit {
	left: auto;
	right: 0;
	width: 300px;
}
div.dataTables_wrapper .cartPagination div.dataTables_paginate {
	text-align: left;
}
.cartTotalBlock{
	color: $primaryColor;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}
.cartTotal_Top{
	text-align: right;
	margin-bottom: 25px;
	span {
		background: #A1A1A1;
		color: #FFF;
		font-size: 14px;
		padding: 12px 25px;
		border-radius: 2px;
		display: inline-block;
	}
	a{
		display: inline-block;
	}
}
.eMailLogo{
	background:#FFF; 
	padding: 10px;
	border-top:2px solid $border-color;
	border-bottom:2px solid $border-color;
	margin-bottom: 20px;
}
#sortByForm {
	.dropdown-menu {
		left: -60px;
	}
}

.dropdown-menu.customDropDown{
	padding: 5px;
	background: $white;
	border: 1px solid $border-color;
	li{
		width: 100%;
		border-bottom: 1px solid $border-color;
		text-align: left;
		padding: 3px 0;
		input{
			height: 35px;
			padding: 10px;
			width: 100%;
		}
		a{
			color: $default_font-color !important;
			text-transform: capitalize;
			display: block;
			padding: 5px;
		}
		&.text-center{
			text-align: center;
		}
	}
}
@import "unilogResponsiveLayout";
@import "print";