@import "1-base/base";
@import "2-layouts/layouts";
@import "4-pages/pages";


body {
    position: relative;
    height: 100%;
    font-family: $body_font-family;
	font-size: $body_font-size - 2;
    color: $body_font-color;
    overflow-x: hidden;
    outline: none;
}

$pagination_bg: $primary_color;
$pagination_border-color: $primary_color;

$backtotop-bg: $gray;

$modal_titlef-color: $default_font-color;
$modal_btn-color: $default_font-color;
$modal_closebtn-color: $default_font-color;


.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: $pagination_bg;
    border-color: $pagination_border-color;
}

#backToTop {
    text-align: center;
    width: 45px;
    height: 45px;
    background: $backtotop-bg;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: none;
    position: fixed;
    bottom: 75px;
    right: 30px;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    z-index: 99;
 
    a {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        transition: 1s;

        &:after {
            -webkit-animation-name: backToTop-arrow;
            animation-name: backToTop-arrow;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            z-index: 10;
        }
        @include icon(after, arrow-up, $color: $white, $size: 18px, $left: 14px, $top: 10px);
    }
    &:hover {
        opacity: 1;
        background: $default_font-color;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    } 
}

.cimm_bodyContentWrap {
    margin-bottom: 30px;
    height: 100%;
}

.cimm_stickyPageWrap:after {
    height: 355px
}

/*___________________Poup Modal____________________*/
.modal-title {
    position: relative;
    color: $modal_titlef-color;
    
    .backBtn {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 20px;
        height: 20px;
        font-size: 14px;
        color: $modal_btn-color;
        cursor: pointer;
    }
    .close {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 20px;
        height: 20px;
        font-size: 24px;
        color: $modal_closebtn-color;
        opacity: 1;
    }
}

.modal-body {
    ul {
        li {
            a.forgotPass {
                margin-top: 10px;
            }
        }
    }
}

.dummyHeight {
    height: 30px;
}
.fixIt,#fixedHead{
    position: fixed;
    background: $white;
    width: 100%;
    z-index: 999;
    top: 0;
    -webkit-transition: top .5s ease-in-out;
    -moz-transition: top .5s ease-in-out;
    -o-transition: top .5s ease-in-out;
    transition: top .5s ease-in-out;
}

/*___________________Pagination____________________*/
.pgnation {
    .pagebarUTH {
        text-align: right;
        padding: 6px 0 0 0;
        font-family: $secondary_font-family;
        span {
            color: $primary_color;
            font-size: 20px;
            padding: 0 3px;
        }
        a {
            color: $default_font-color;
            font-size: $font_sm;
            padding: 0 3px;
            &:hover {
                color: $primary_color;
            }
        }
    }
}

/*___________________Price____________________*/
.priceSpan {
    font-family: $secondary_font-family;
    font-size: $font_lg;
    color: $primary_color;
    font-weight: bold;
    img {
        width: auto !important;
        display: inline-block !important;
    }
}
.price {
    font-family: $secondary_font-family;
    font-size: $font_lg;
    color: $primary_color;
    font-weight: bold;
    img {
        width: auto;
        display: inline-block;
    }
	//.priceLabel {}
	//.priceValue {}
}

/*___________________Breadcrumb____________________*/

.cimm_BreadCrumbs{
	.breadcrumb {
        background: none;
        padding: 0px;
        margin: 15px 0;
        li+li:before {
            content: "|";
        }
        li.active, li:last-child{
            color: $primary_color !important;
        }
        li{
            a{
                color: $secondary_color;
            }
         }
    }
}

/*___________________Search Results____________________*/
.searchResults{
	color: $default_font-color;
	font-family: 'RobotoRegular';
	font-size: 16px;
	font-weight: bold;
	.spellCheckWrap{
		color: $primary_color;
		.spellCheckHighlight{
			font-style: italic;
		}
	}
}

.cimm_blockHeading {
    margin: 0 0 10px 0;
    text-transform: capitalize;
    font-size: 16px;
    a {
        color: $primary_color;
    }
}

.quantity {
    width: 50px;
    text-align: center;
	height: 32px;
	padding: 5px;
	text-align: center;
}

.invoiceQuantity {
    width: 50px;
	height: 20px;
	padding: 5px;
	text-align: center;
}

.productTitle {
    color: $primary_color;
    a{
	margin: 0;
    color: $primary_color;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $secondary_font-family;
    }
}

.cimm_compareControls {
    margin-top: 6px;
    display: block;

    em{
        color: $primary_color;
    }
}

.groupList{
	cursor: pointer;
	position: relative;
	font-size: 14px;
	ul {
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		width: 100%;
		padding: 5px;
		background: $white;
		border: 1px solid $border-color;
		li {
			width: 100%;
			border-bottom: 1px solid $border-color;
			&:last-child {
				border: none;
			}
			input {
				height: 35px;
				padding: 10px;
				width: 100%;
			}
			a {
				color: $default_font-color;
				text-transform: capitalize;
				display: block;
				padding: 5px;
				&:hover {
					background: $primary_color;
					color: $white;
				}
			}
		}
	}
}

.cimm_item-skus{
	li{
		padding: 2px 0px;
		strong{
			font-weight: 500;
		}
		span{
			color: $primary_color;
			font-weight: 600;
		}		
	}
}
.cimm_qtyWrap span {
	display: inline-block;
}
.cimm_qtyWrap strong{
    color: $green;
}
#generalModel {
    .modal-dialog {
        min-width: 840px;
    }
    .modal-body {
        max-height: 500px;
        overflow-y: auto;
    }
}

.dataTables_wrapper {
    color: $default_font-color;
}

.productGroupPopWrap {
    color: $default_font-color;
    .addNewPgWrap {
        .button {
            width: 235px;
            float: left;
            margin-left: 3px;

        }
        input {
            width: calc(100% - 240px);
            float: left;
            height: 40px;
            padding: 5px 5px;
        }
    }
    .existingPgListWrap {
        h4 {
            color: $primary_color;
        }
        ul {
            li {
                width: 25%;
                display: inline-block;
            }
        }
    }
    .selectedItemsWrap {
        h4 {
            color: $primary_color;
        }
        div {
            margin: 10px 0;
            .row {
                border-bottom: 1px solid $border-color;
                a.delBtn {
                    display: block;
                }
            }
        }
    }
    .submitProductGroup a {
        display: inline-block;
    }
    .addNewPgResponse {
        ul {
            li {
                a {
                    color: $primary_color;
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}
.mulAddTocartWrap {
    .addToCartHeaderContent {
        a {
            color: $primary_color;
            font-size: 16px;
            em {
                margin-right: 10px;
            }
        }
    }
    .muladdtoCartItemsWrap {
        .muladdtoCartItems {
            padding: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid $border-color;
        }
    }
    .popCheckout {
        margin-bottom: 10px;
        a:focus, a:hover{
            outline: 0 !important;
            color: $white;
        }
    }
}

.cimm_salesBottomStrip {
    ul {
        width: 40%;
        float: right;
        li {
            color: $primary_color;
            font-size: 20px;
            font-weight: bold;
            text-align: right;
        }
    }
}

.popMsg {
    background: #6b6a6a !important;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    width: 250px;
    top: 25px;
    font-size: 14px;
    color: #fff !important;
    z-index: 10;
    right:0;
}

.cimm_instructions {
    width: 70%;
    margin: 40px auto;
    ul {
        list-style-type: disc;
        padding-left: 30px;
        li {
            list-style-type: disc;
			em{
				vertical-align: middle;
			}
        }
    }
}

.cimm_refreshList {
    font-size: 16px;
    margin-bottom: 10px;
}

.profileImage {
    img {
        width: 150px;
    }
}

.uploadImage_wrap {
    .uploadImage {
        width: calc(100% - 160px);
        float: left;
        border: 2px solid $default_font-color;
        height: 35px;
        cursor: pointer;
        position: relative;
        span {
            text-align: center;
            display: block;
            padding: 6px;
            color: $default_font-color;
            position: absolute !important;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        input {
            opacity: 0;
            height: 35px;
            width: 100%;
            cursor: pointer;
            border: none;
        }
    }
    .uploadFile {
        @extend .uploadImage;
        width: calc(100% - 78px);
        background: $white;
    }
    .button {
        margin-right: 3px;
        float: left;
        height: 35px;
        padding: 5px 10px;
    }
}

.userInfoWrap {
    height: 180px;
    h4 {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 14px;
    }
}

.searchBoxWrap {
    background: $default_font-color;
    .gotoWrap {
        h4.header {
            float: left;
            color: $white;
        }
        .brandsShortCut li {
            float: left;
            margin: 12px 0 0 10px;
            a {
                color: $white;
                &:hover {
                    color: $primary_color;
                }
            }
        }
    }
}

.cimm_brandAtoZletters {
    width: 100%;
    margin: 0;
    background: $primary_color;
    ul {
        margin: 5px 0;
        border-radius: 6px;
        padding: 0 10px;
        li {
            display: inline-block;
            padding: 10px 5px;
            a {
                color: $white;
            }
        }
    }
	&.cimm_brandLetter{
		background: none;
		ul {
			padding: 0;
			li {
				padding: 0 6px 0 4px;
				border-right: 1px solid $default_font-color;
				line-height: 14px;
				font-size: 14px;
				a {
					padding: 0 8px;
					color: $default_font-color;
				}
				&:first-child{
					padding: 0 6px 0 0;
					a {
						padding: 0 8px 0 0 ;
					}
				}
				&:last-child{
					border-right: none;
				}
			}
		}
	}
}

.cimm_brandAtoZletters.fixIt {
    position: fixed;
    top: 0;
    max-width: 1170px;
    z-index: 2;
}

#sharePop {
    .modal-body {
        max-height: 190px;
        overflow: auto;
    }
}

.hideOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#updateSelectedItems {
    -ms-transform: translate(-239px, 0%);
    -webkit-transform: translate(-239px, 0%);
    transform: translate(-239px, 0%);
}

#updateSelectedItems.slideBtns-hide {
    -ms-transform: translate(-239px, 100%);
    -webkit-transform: translate(-239px, 100%);
    transform: translate(-239px, 100%);
}

.fixed {
    position: fixed;
    top: -50px;
    width: 100%;
    background: $white;
    z-index: 115;
    padding: 5px 0;
    ul {
        max-width: 1180px;
        margin: 0 auto;
    }
}

.brandsListRow {
    border-bottom: 1px solid $border-color;
    &.grid-item {
        border: 0;
    }
}

.registerRightBox {
    background: $gray-lighten;
    padding: 20px;
    font-weight: bold;
    h6 {
        font-size: 13px;
        color: $black;
    }
    ul li a {
        color: $primary_color;
        &:hover {
            text-decoration: underline;
        }
    }
}

.registerLeftBox {
    h5 {
        font-size: 13px;
        color: $black;
        font-weight: bold;
    }
    label {
        color: $black;
        font-weight: bold;
        vertical-align: top;
        a {
            color: $primary_color;
        }
    }
    ul {
        margin: 20px 0;
        li {
            line-height: 20px;
            color: $black;
            >em {
                color: $gray-lighter;
                font-size: 18px;
            }
        }
    }
    .accountSelectionWrap {
        background: $gray-lighten;
        padding: 10px;
        display: inline-block;
        margin: 0 0 20px;
    }
    label.customCheckBox {
        margin-bottom: 20px;
    }
}

.orderSummaryWrap {
    h3 {
        margin: 0 0 6px 0;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $secondary_font-family;
    }
    a {
        color: $primary_color;
        text-decoration: underline;
        font-weight: 700;
    }
    .table {
        thead {
            tr {
                th {
                    border-bottom: 1px solid $default_font-color;
                }
            }
        }
        tbody {
            text-align: center;
            tr {
                td {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .cimm_salesBottomStrip {
        border-top: 1px solid $default_font-color;
        padding: 6px 0 10px 0;
        ul {
            width: 100%;
            float: none;
            li {
				font-size: 18px;
                .priceLabel {
                    float: left;
                    text-transform: capitalize;
                }
                .priceValue {
                    float: right;
                }
            }
        }
    }
}

.actionIcon {
    background: none;
    border: 0;
    font-size: 22px;
    padding: 0;
    margin: 0 6px;
    color: $primary_color;
    &:active {
        color: $primary_color;
    }
}

.copyPaste {
    width: 100%;
    height: 200px;
}

#example1 {
    height: 280px;
    overflow: auto;
}

.quickcartclass {
    li {
        list-style-type: decimal;
        margin-left: 15px;
        ul {
            li {
                display: block;
                float: none;
                position: relative;
                &:after {
                    content: "";
                    height: 6px;
                    width: 6px;
                    background: #585858;
                    position: absolute;
                    left: -12px;
                    border-radius: 50%;
                    top: 6px;
                }
            }
        }
    }
    a {
        color: $primary_color;
        font-weight: 600;
    }
}

.cimm_regCapthaWrap {
    margin-bottom: 10px;
    input {
        float: left;
        padding: 4px 10px;
        width: 50%;
        height: 30px;
    }
    input[type='button'] {
        float: left;
    }
}

.select_attributeBody {
    >ul {
        >li {
			&.selectOptions{
				float: left;
				width: 31.33%;
				margin-bottom: 20px;
				padding:0;
				margin-right: 2%;
				.slideBlock{
				width: 100%;
				margin: 0;
					li {
						width: 100%;
						margin-right: 0;
						float: none;
						padding: 5px 0;
					}
					&.open{
						display: block;
					}
				}
			}
            div.select_attributeList {
                cursor: pointer;
                padding: 5px;
                font-size: 16px;
                color: $primary_color;
                text-decoration: underline;
                font-family: $secondary_font-family;
            }
			div.toggle_attributeList{
				display: inline-block;
				padding: 6px 25px 6px 12px;
				margin-bottom: 0;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.42857143;
				text-align: left;
				white-space: nowrap;
				vertical-align: middle;
				cursor: pointer;
				border: 1px solid $border-color;
				border-radius: 4px;
				color: #333;
				background-color: #fff;
				width: 100%;
				position: relative;
				.caret{
					position: absolute;
					top: 50%;
					right: 12px;
					margin-top: -2px;
					vertical-align: middle;
				}
			}
            ul {
                padding: 5px;
               /* max-height: 120px;*/
                overflow: auto;
                li {
                    width: 30%;
                    margin-right: 10px;
                    float: left;
                    padding: 4px 5px 4px;
                }
            }
        }
    }
}

.cimm_multiAddcart {
    width: 150px;
}

.site-overlay,
.modalPopOverlay,
.menuOverlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.18);
    z-index: 116;
    cursor: wait;
}

.cartHead {
    h5 {
        float: left;
        margin: 0;
        padding: 4px 15px 8px;
        font-weight: 100;
        a {
            padding: 0 !important;
            font-size: 12px !important;
            color: $primary_color;
            &.active {
                text-decoration: underline;
                color: $white;
            }
        }
    }
}

.cartBody {
    padding: 10px;
}

#quickOrderPadDrop {
    width: 342px;
    border: 0;
    background: $secondary_color;
    color: $white;
}

#headerCopyPasteText {
    width: 100%;
    height: 150px;
    color: $secondary_color;
}

#ManagePurchaseAgent_wrapper {
    .dt-buttons {
        float: left;
    }
    .dataTables_filter {
        float: right;
        margin-bottom: 5px;
    }
    table {
        tbody {
            tr {
                td {
                    a.cimm_inlineButton {
                        float: left;
                        height: 30px;
                    }
                    label.switch {
                        float: right;
                    }
                }
            }
        }
    }
}

.fileUploadDescription {
    a {
        background: none !important;
        color: $primary_color !important;
        padding: 0 !important;
        font-size: 14px !important;
        font-weight: bold;
    }
}

.grid-item {
    width: 20%;
    height: auto;
    float: left;
    margin-bottom: 25px;
}

.tog_myAccount{
	cursor:pointer;
}
.tog_myAccount span{
	float: right;
}
.site-overlay,.modalPopOverlay {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	z-index: 112;
	cursor: wait;
}
.loadAfter{
	height: 100%;
	width: 100%;
	position: fixed;
	background: rgba(255, 255, 255, 1);
	z-index: 112;
	cursor: wait;
	img{
		max-width: 100%;
		display: block;
		//vertical-align: middle;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	i{
		display: block;
		//vertical-align: middle;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 48px;
		height: 48px;
	}
}
.site-overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    z-index: 112;
    cursor: wait;
}

#multipleResult {
    .bulkActionBtn {
        width: 150px;
        margin: 0 auto 12px auto;
    }
}

.cimm_resultSelect {
    background: $gray-lighten;
    padding: 5px 10px;
    a {
        color: $primary_color;
        font-weight: 600;
    }
}

.cimm_genericSearch {
    padding: 10px 5px;
    margin: 0 0 15px 0;
    border: 1px solid $border-color;
    a {
        color: $primary_color;
        font-weight: 600;
    }
}

.multipleResult {
    font-size: 12px;
    text-align: center;
    padding: 8px;
    background: $gray-lighten;
}


.poppupEnabled {
    overflow: hidden;
}
#googleMap, #panel, #map_canvas {
	height: 500px;
	overflow: hidden;
}

.compareWrap{ 
	.cimm_multiAddcart{
		float: right;
		margin-right: 20px;
	}
}
.packDesc{
	color: $packDescColor;
	font-size: 14px;
}
.divWrap {
    margin-top: 10px;
}
.cimm_itemTitle{
	margin: 0;
	padding: 5px 0;
	font-family: 'RobotoBlack';
	text-transform: uppercase;
	font-size: 14px;
}
#customerPartNumSubmit {
	left: auto;
	right: 0;
	width: 300px;
    z-index: 99;
}
div.dataTables_wrapper .cartPagination div.dataTables_paginate {
	text-align: left;
}
.cartTotalBlock{
	color: $primary_color;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
}
.cartTotal_Top{
	text-align: right;
	margin-bottom: 25px;
	span {
		//background: $primary_color;
		color: $white !important;
		border-radius: 2px;
	}
}
.eMailLogo{
	background:$white; 
	padding: 10px;
	border-top:2px solid $border-color;
	border-bottom:2px solid $border-color;
	margin-bottom: 20px;
}
#sortByForm {
	.dropdown-menu {
        z-index: 99;
	}
}

.dropdown-menu.customDropDown{
	padding: 5px;
	background: $white;
    border: 1px solid $border-color;
    min-width: 310px;
	li{
		width: 100%;
		border-bottom: 1px solid $border-color;
		text-align: left;
		padding: 3px 0;
		input{
			height: 35px;
			padding: 10px;
			width: 100%;
		}
		a{
			color: $default_font-color !important;
			text-transform: capitalize;
			display: block;
            padding: 5px;
            &:hover{
                background: $primary_color;
                color: $white !important;
            }
		}
		&.text-center{
			text-align: center;
		}
	}
}
.dropdown-menu{
    z-index: 998;
}
.searchZero {
    p {
        font-size: 20px;
        font-weight: 600;
        a:not(.cimm_inlineButton){
            color: $primary_color;
            text-decoration: underline;
        }
    }
}
.clearenceTag{
    background: url(../images/Clearance_Icon.png) no-repeat 0 0;
    height: 20px;
    width: 110px;
    display: block;
    background-size: contain;
    position: absolute;
    top: -22px;
    left: -20px;
    &.clearenceTagSmall {
        height: 45px;
        width: 45px;
    }
}
.tabelImage{
    a{
        display: inline-block;
        position: relative;
    }
}
.cimm_staticPageWrap{
    .container-fluid{
        padding: 0;
    }
}
.locationDataWrap .panel {
    margin: 0;
    box-shadow: none;
}

.loadMore {
  text-align: center;
  margin: 15px 0 15px 0;
  font-size:16px;
}
.overflowHidden{
    overflow: hidden;
    white-space: nowrap;
}
.pagination{
    >li{
        >a, >span{
            padding: 6px 8px;
        }
    }
}
#OrdersHistoryTable_wrapper{
    .dataTables_filter{
        display: none;
    }
}
#OrdersHistoryDetails {
    #endDate, #startDate{
        background: url(../images/calIcon.png) 96%/20px no-repeat;
        border-radius: 4px;
        cursor: pointer;
        margin-left: -5px;
    }
}
.propwarningmsg {
    margin: 5px 0;
    i {
        color: #bdaf00;
        margin-right: 5px;
    }
}
.borderLine {
    border-left: 1px solid $primary_color;
    height: 300px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}
.eventsiteresult{
    display: none;
}
#searchResultsStatic .btntab li.active a{
    background-color: $primary_color;
    color: $white;
}
#searchResultsStatic .btntab li a{
    background-color: $tertiary_color;
    color: $black;
}
.multiTab {
    width: 100%
}
.multiTab ul.btntab {
    position: relative
}
.multiTab ul.btntab li {
    float: left
}
.multiTab ul.btntab li a {
    padding: 10px 15px;
    display: block
}


.invDetPrintPage   {
    .printInvoice{
        font-size: $font_lg;
        padding: 4px;
        em {
            margin-right: 3px;
        }
    }
    .table-bordered {
        border-color: $secondary_color !important;
        >thead>tr>th,>tbody>tr>td{
            border-color: $secondary_color !important;
        }
    }
    .addrSection {
        border: 1px solid $secondary_color;
        padding: 4px;
        .addrHeading {
            font-weight: 900;
            font-size: $font_md;
        }
    }
    .invNumDet {    
        border: 1px solid $secondary_color;
        li{
            padding: 4px;
            &:not(:last-child) {
                border-bottom: 1px solid $secondary_color;
            }
        }
    }
}
.cimm_color5, .priceSpanFa{
    color: $primary_color;
    font-size: $font_md;
}
.suggestColor{
    color: $suggestPrice_color;
    font-size: $font_sm;
}
#headermultipleResult{
    
    .slick-track{
        width: 1488px !important;
    } 
    li{
        width: 233px !important;
    } 
}
#searchResults{
    .slick-track{
        width: 1664px !important;
    } 
    li{
        width: 259px !important;
    } 
}
.cartPointer{
    cursor:initial;
}
#triggerOrderButtonDiv{
    float: right;
}
#orderList{
    .form-control{
        font-size: $font_xs;
    }
}
.form-control {
    &.input-sm{
        width: 170px !important;
    }
}

.ardDivTab {
    font-size: 14px;
    border: 2px solid #e0e0e0;
.row{
    height: auto;
    margin: 0;
    >div{
        padding: 10px;
    }
}
.row:nth-child(even){
    background-color: #f7f7f7;
  }
}

.fillRateBg {
    background-color: $secondary_color;
    height: 40px;
    padding: 10px;
    border-right: 4px solid white;
    &:not(:first-child){ 
        text-align: center;
    }
    >span{  
        font-size: 14px;
        color: $white;
    }
}

.fillRatePerBg{
    background-color: $white;
    height: 40px;
    padding: 10px;
    &:not(:first-child){ 
        text-align: center;
    }
    span{  
        font-size: 14px;
    }
}
.fillRateBtm{
    border-bottom: 1px solid $primary_color;
}
.fillRateAvgBg{
    background-color: $white;
    height: 40px;
    padding: 10px;  
    font-size: 14px;
    color: $secondary_color;
}

.orderWrap, .reviewOrderWrap{
    max-height: 450px;
    height: auto;
    overflow-y: scroll;
}
@import "3-modules/modules";