.cimm_productCategory {
	.cimm_searchWithin {
		padding: 10px 0px;
        background: $lightGrayColorTwo;
		.cimm_searchWithinWrap {
			width: 255px;
        }
        .btn{
            border-radius: 0px;
        }
	}

	.cimm_categoryItemBlockWrap{
		.cimm_categoryImg {
			padding: 10px;
			@include border(1px, solid, $border-color);
			outline: $lightGrayColorTwo solid 5px;
			width: 100%;
			position: relative;
			height: 200px;

			a {
				display: block;

				img {
					height: 180px;
					padding: 2px;
					max-width: 100%;
					display: block;
					//vertical-align: middle;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: auto;
				}
			}
		}
		.cimm_categoryHeading {
			color: $category_hf-color;
			font-size: $category_hf-size;
			font-family: $category_hf-family;
			font-weight: normal;
			text-align: center;
			text-transform: uppercase;
			margin: 0;
			padding: 10px;
			height: 60px;
			a{
				&:hover {
					color: $primaryColor;
					text-decoration: underline;
				}
			}
		}
    }
}