.cimm_listGridTopControls {
    padding: 15px 0;
    border-bottom: 1px solid $border-color;
    .cimm_listGridTopLeftCtrls {
        padding: 10px 0;
		//.bulkActionBtn{}
    }
    .cimm_listGridTopRightCtrls {
        form {
            display: inline;
			margin-right: 10%;
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                width: 130px;
				li>a{
					padding: 3px 15px;
				}
            }
			.selected{
				span{
					font-size: 18px;
					font-weight: 600;
				}
			}
        }
        #ItemsperPageForm {
            .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
                width: 60px;
				display: none;
            }
			margin-right: 0px;
        }
    }
}

.listGridContainer {
    .listView {
        width: 100%;
        min-height: 260px;
        border: 1px solid $border-color;
        padding: 15px 10px;
		border-radius: 2px;
		margin-top: 25px;
		outline: 5px solid #f5f5f5;
        ul {
            li {
                float: left;
            }
            li.sessionImg {
                width: 250px;
                margin-right: 20px;
                a {
                    display: block;
                    .prodImage {
                        width: 100%;
                        position: relative;
                        height: 220px;
                        img {
                            height: 220px;
                            padding: 2px;
                            max-width: 100%;
                            display: block;
                            //vertical-align: middle;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: auto;
                        }
                    }
                }
            }
            li.sessionDesp {
                width: calc(100% - 270px);
                float: left;
                height: 220px;
                position: relative;
				ul{
					float: left;
					width:50%;
					padding-right: 8px;
					li{
						width: 100%;
						float: none;
						font-size: 12px;
						padding: 0 0 5px 0;
						font-family: $defaultFont;
					}
				}
                .listGridItemDesc {
                    padding: 8px 0;
					a{
						font-weight: 600;
					}
                }
                .itemCountList {
                    margin: 20px 20px 0 0;
					text-align: right;
					.button{
						display:inline-block;
						padding: 8px;
						font-family: $defaultFont;
						letter-spacing: normal;
						font-size: 14px;
						width: 205px;
						border-radius: 2px;
						i{
							margin-right: 12%;
						}
					}
                }
				.itemCountGrid {
					display: none;
				}
            }
            li.prodModeItemCountGrid{
                width: 100%;
            }
            li.productModeItemsDiv{
                width: 100%;
				margin-top: 10px;
            }
			li.selectCompareGroupBlock{
                width: 100%;
				float: none;
				padding-top: 6px;
				clear: both;
				.itemDetailInfoList {
					a {
						padding-left: 20px;
						position: relative;
						background: $white;
						border-radius: 10px;
						&:after {
							content: "";
							height: 14px;
							width: 14px;
							background: $white;
							position: absolute;
							left: 0;
							top: 1px;
							border: 1px solid $border-color;
						}
						&.active{
							&:before {
								width: 0;
								height: 0;
								border-top: 7px solid $black;
								border-left: 5px solid transparent;
								border-right: 5px solid transparent;
								position: absolute;
								left: 2px;
								top: 5px;
								content: "";
								z-index: 11;
							}
						}
					}
				}
            }
        }
    }
    .gridView {
        width: 30.5%;
        float: left;
        margin: 25px 0.5% 0 0.5%;
        position: relative;
		height: 450px;
		.gridFixHeight{
			padding: 15px;
			height: 450px;
			border: 1px solid $border-color;
			outline: 5px solid #f5f5f5;
			width: 100%;
			min-height: 450px;
		}
		&:hover{
			.gridFixHeight{
				height: auto;
				position: absolute;
				z-index: 9;
				background: $white;
			}
			.sessionDesp {
				.hideToHover {
					display: block;
				}
			}
		}
		&:nth-child(3n+2) {
			margin: 25px 3.2% 0 3.2%;
		}
		.skuStyle{
			//height: 170px;
		}
        ul {
            li {
                width: 100%;
            }
            li.sessionImg {
                width: 100%;
                a {
                    display: block;
                    .prodImage {
                        width: 100%;
                        position: relative;
                        height: 220px;
                        img {
                            height: 220px;
                            padding: 2px;
                            max-width: 100%;
                            display: block;
                            vertical-align: middle;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            width: auto;
                        }
                    }
                }
            }
            li.sessionDesp {
                width: 100%;
				margin-top: 10px;
				ul{
					li{
						padding: 0 0 5px;
						&.hideToHover{
							display: none;
						}
					}
				}
                .listGridItemDesc {
                    padding:8px 0;
					a{
						font-weight: 600;
					}
                }
                .itemCountList {
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    width: 100%;
					display: none;
                }
				.itemCountGrid {
					position: absolute;
					bottom: 15px;
					text-align: center;
					width: 100%;
					left: 0;
					a{
						display:inline-block;
						padding: 8px;
						width: 80%;
						font-family: $defaultFont;
						letter-spacing: normal;
						font-size: 14px;
						border-radius: 2px;
						i{
							margin-right: 12%;
						}
					}
				}
            }
            li.prodModeItemCountGrid,
            li.productModeItemsDiv,
            li.productModeItemsDiv {
                width: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                left: 0;
                .itemDetailInfoList {
                    background: $primaryColor;
                    width: 180px;
                    margin: 0 auto;
                    padding: 10px;
                    a {
                        color: $white;
                        font-family: $headingFont;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                    }
                }
                .itemCountList {
                    display: none;
                }
            }
			li.selectCompareGroupBlock{
				display: none;
			}
        }
    }
}