.cimm_listGridTopControls {
  padding: 15px 0;
  border-bottom: 1px solid $border-color;
  .cimm_listGridTopLeftCtrls {
    padding: 10px 0;
    //.bulkActionBtn{}
  }
  .cimm_listGridTopRightCtrls {
    form {
      display: inline;
      margin-right: 10%;
      .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 130px;
        li > a {
          padding: 3px 15px;
        }
      }
      .selected {
        span {
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
    #ItemsperPageForm {
      .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 60px;
        display: none;
      }
      margin-right: 0px;
    }
  }
}

.listGridContainer {
  .listView {
    width: 100%;
    min-height: 260px;
    border: 1px solid $border-color;
    padding: 15px 10px;
    border-radius: 2px;
    margin-top: 25px;
    outline: 5px solid #f5f5f5;
    ul {
      li {
        float: left;
      }
      li.sessionImg {
        width: 250px;
        margin-right: 20px;
        a {
          display: block;
          .prodImage {
            width: 100%;
            position: relative;
            height: 220px;
            img {
              height: 220px;
              padding: 2px;
              max-width: 100%;
              display: block;
              //vertical-align: middle;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: auto;
            }
          }
        }
      }
      li.sessionDesp {
        width: calc(100% - 270px);
        float: left;
        min-height: 220px;
        position: relative;
        ul {
          float: left;
          width: 50%;
          padding-right: 8px;
          li {
            width: 100%;
            float: none;
            font-size: 12px;
            padding: 0 0 5px 0;
            font-family: $default_font-family;
          }
        }
        .listGridItemDesc {
          padding: 8px 0;
          a {
            font-weight: 600;
          }
        }
        .itemCountList {
          margin: 20px 20px 0 0;
          text-align: right;
          .button {
            display: inline-block;
            padding: 8px;
            font-family: $default_font-family;
            letter-spacing: normal;
            font-size: 14px;
            width: 205px;
            border-radius: 2px;
            em {
              margin-right: 12%;
            }
          }
        }
        .itemCountGrid {
          display: none;
        }
      }
      li.prodModeItemCountGrid {
        width: 100%;
      }
      li.productModeItemsDiv {
        width: 100%;
        margin-top: 10px;
      }
      li.selectCompareGroupBlock {
        width: 100%;
        float: none;
        padding-top: 6px;
        clear: both;
        .itemDetailInfoList {
          a {
            padding-left: 20px;
            position: relative;
            background: $white;
            border-radius: 10px;
            &:after {
              content: "";
              height: 14px;
              width: 14px;
              background: $white;
              position: absolute;
              left: 0;
              top: 1px;
              border: 1px solid $border-color;
            }
            &.active {
              &:before {
                width: 0;
                height: 0;
                border-top: 7px solid $black;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                left: 2px;
                top: 5px;
                content: "";
                z-index: 11;
              }
            }
          }
        }
      }
    }
  }
  .gridView {
    width: calc((100% / 3) - 1.5%);
    float: left;
    margin: 25px 0.5% 0 0.5%;
    position: relative;
    height: 725px;
    .gridFixHeight {
      padding: 15px;
      height: 725px;
      border: 1px solid $border-color;
      outline: 5px solid lighten($black, 95%);
      width: 100%;
    }
    /*&:hover{
			.gridFixHeight{
				height: auto;
				position: absolute;
				z-index: 9;
				background: $white;
			}
			.sessionDesp {
				.hideToHover {
					display: block;
				}
			}
		}*/
    &:nth-child(3n + 2) {
      margin: 25px 1.2% 0 1.2%;
    }
    .skuStyle {
      //	height: 170px;
    }
    ul {
      li {
        width: 100%;
      }
      li.sessionImg {
        width: 100%;
        a {
          display: block;
          .prodImage {
            width: 100%;
            position: relative;
            height: 220px;
            img {
              height: 220px;
              padding: 2px;
              max-width: 100%;
              display: block;
              vertical-align: middle;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              width: auto;
            }
          }
        }
      }
      li.sessionDesp {
        width: 100%;
        margin-top: 10px;
        ul {
          li {
            padding: 0 0 5px;
            font-size: 12px;
            &.hideToHover {
              display: none;
            }
          }
        }
        .listGridItemDesc {
          padding: 8px 0;
          a {
            font-weight: 600;
          }
        }
        .itemCountList {
          position: absolute;
          bottom: 0;
          text-align: center;
          width: 100%;
          display: none;
        }
        .itemCountGrid {
          position: absolute;
          bottom: 15px;
          text-align: center;
          width: 100%;
          left: 0;
          a {
            display: inline-block;
            padding: 8px;
            width: 80%;
            font-family: $default_font-family;
            letter-spacing: normal;
            font-size: 14px;
            border-radius: 2px;
            em {
              margin-right: 5%;
            }
          }
        }
      }
      li.prodModeItemCountGrid,
      li.productModeItemsDiv,
      li.productModeItemsDiv {
        width: 100%;
        position: absolute;
        bottom: 0;
        text-align: center;
        left: 0;
        .itemDetailInfoList {
          background: $primary_color;
          width: 180px;
          margin: 0 auto;
          padding: 10px;
          a {
            color: $white;
            font-family: $secondary_font-family;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
        .itemCountList {
          display: none;
        }
      }
      li.selectCompareGroupBlock {
        display: none;
      }
    }
  }
  .cimm_productModeDetailWrap {
    ul {
      li {
        float: none;
      }
    }
  }
}
.cimm_mainContentEnclosure {
  .row {
    .container {
      width: 100%;
    }
  }
}
.bulkActionBtn{
  max-width: 200px;
}
.assignedStaticPageWrap {
  height: 210px;
  overflow: hidden;
  position: relative;
  .overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    z-index: 5;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.59) 46%,
      rgba(255, 255, 255, 1) 78%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(255, 255, 255, 0)),
      color-stop(46%, rgba(255, 255, 255, 0.59)),
      color-stop(78%, rgba(255, 255, 255, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.59) 46%,
      rgba(255, 255, 255, 1) 78%
    );
    background: -o-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.59) 46%,
      rgba(255, 255, 255, 1) 78%
    );
    background: -ms-linear-gradient(
      top,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.59) 46%,
      rgba(255, 255, 255, 1) 78%
    );
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.59) 70%,
      rgba(255, 255, 255, 1) 90%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    &:after {
      font-family: "Font Awesome 5 Free";
      content: "\f103  Show More";
      color: #46acee;
      font-size: 16px;
      position: absolute;
      left: 45%;
      bottom: 20px;
      font-weight: 900;
    }
  }
  .recal_overlay {
    &:after {
      font-family: "Font Awesome 5 Free";
      content: "\f102  Show Less";
      color: #46acee;
      font-size: 16px;
      font-weight: 900;
    }
  }
}
