.cimm_slide {
    position: absolute;
    top: 20px;
    left: 0;
    height: calc(100% - 40px);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    width: 100%;
    background: $white;
    opacity: 1;
    overflow: auto;
    padding: 0 20px;
    z-index: 112;

    h3 {
        padding: 12px 30px;
        text-align: center;
        cursor: pointer;
        position: relative;
        font-size: 24px;
        font-weight: 200;
        margin: 0;
        color: $default_font-color;

        em {
            position: absolute;
            left: 5px;
            color: #888;
        }
    }

    li {
        position: relative;
    }
}

.cimm_slideWrap {
    width: 200px;
    position: relative;
	height: 150px;
	overflow: hidden;
}
.moveRight.cimm_slide {
    left: 100%;
	opacity:0;
	visibility: hidden;
}
.moveLeft.cimm_slide {
	left: -100%;
	opacity:0;
	visibility: hidden;
}

.cimm_slideIconWrap {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 20px;
	top: 30px;
	pointer-events: none;
}
.cimm_slideMobileNavIcon{
	height: 25px;
	overflow: hidden;
	position: relative;
	width: 100%;
    z-index: 113;
    a{
        height: 25px;
        width: 25px;
        position: absolute;
        left: 0px;
        bottom: 0;
    }
    span {
        display: block;
        position: absolute;
        top: 13px;
        right: 0px;
        height: 2px;
        width: 25px;
        background: #444;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        &:after{
            content: "";
            position: absolute;
            display: block;
            left: 0;
            width: 25px;
            height: 2px;
            background-color: #444;
            top: 0;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &.active{
            top: 20px;
            right: 8px;
            width: 12px;
            &:after {
                left: -6px;
                top: -6px;
                width: 12px;
            }
        }
    }
}

.sleekNavigationLinks{
    width: 300px;
    position:fixed;
    z-index:10000;
    bottom: 0;
    top: 0;
    left: -450px;
    transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
   	-webkit-transition: 0.5s ease;
    overflow-x:hidden;
    overflow-y: auto;
    height: 100%;
    background: $white;
    ul{
        margin:0;
        padding:0;
        background: $white;
        height: calc(100% - 80px);
        overflow-x: auto;

        li{
            position:relative;
            margin:0;
            padding: 0;
            a{
                font-size:14px;
                display:block;  
                padding: 10px 40px 10px 5px;
                &:hover em{
                    padding: 10px 8px 10px 12px;
                    color: #000;
                    right: 0px;
                }
                em {
                    position: absolute;
                    right: 4px;
                    padding: 10px 8px 10px 8px;
                    top: 4px;
                    cursor: pointer;
                    transition: padding 0.25s ease,right 0.25s ease;
                }
            }

            em{
                position: absolute;
                top:10px;
                right:10px;
                color: $default_font-color;
            }

            ul{
                display: none;
            }

            &.myAccountList ul{
                display: block;
            }

            &.menuHead{
                background: #444;
                color: #FFF;
                margin: 0;
                padding: 8px 10px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}
#slideLeft {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    background: $white;
    padding: 10px;
    transition: cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition: left 0.5s cubic-bezier(0.2, 0.05, 0.05, 0.8);
    height: calc(100% - 40px);
    overflow: auto;
    @extend .cimm_slide;
    h2 {
        text-align: left;
    }
	&.active {
		left: 0;
	}
}
