.appIcons ul li {
	float:left;
	width:33.33%;
	list-style:none;
	text-align:center;
	padding: 6% 0;
}
.appIcons ul li img{
	width:60%;
	height:auto;
}
.appIcons ul li h6{
	font-size: 12px;
	font-weight: 600;
	color: #404040;
	text-transform: uppercase;
}
.mobileCartCountWrap {
	text-align: right;
	margin-top: 5px;
}
.mobileCartCountWrap .mobileCartCount {
	background: url(../images/App/shoppingBasket.png) 0 0/contain no-repeat;
	width: 46px;
	height: 22px;
	display: inline-block;
	padding-left: 25px;
	vertical-align: middle;
}
.mobileCartCountWrap .mobileCartCount span{
	background: #46acee;
	color: #FFF;
	padding: 3px 0;
	display: block;
	margin-top: 2px;
	border-radius: 15px;
	font-size: 10px;
	height: 20px;
	text-align: center;
	position: relative;
	top: -7px;
	left: -11px;
}
.mobileCartCountWrap a i{
	font-size: 24px;
	vertical-align: middle;
	color: #BFBFBF;
}
header .cimm_header .cimm_headerMidContent .cimm_searchWrapper .webViewSearch input[type='text'] {
	width: calc(100% - 80px);
}
header .cimm_header .cimm_headerMidContent .cimm_searchWrapper .webViewSearch .cimm_searchIcon{
	width: 40px;
}
header .cimm_header .cimm_headerMidContent .cimm_searchWrapper .webViewSearch .cimm_cameraIcon{
	height: 32px;
	border: 0;
	background: 0 0;
	color: #FFF;
	font-size: 20px;
	float: left;
	width: 40px;
	padding: 3px 0;
}
header .cimm_header .cimm_headerMidContent .cimm_searchWrapper .webViewSearch .cimm_cameraIcon i{
	color: #A1A1A1;
}
