@charset "utf-8";
@media (max-width: 1024px) {
	.cimm_shopByBrand {
		height: 520px;
	}
	.gridView .gridFixHeight {
		padding: 0 10px 10px 10px;
	}
	.listGridContainer li.gridView {
	    width: 32%;
	    margin: 15px 2% 15px 0;
	}
	.cimm_itemDetailWrap .cimm_itemDescription .addToCartFloat,
	.detailPageBtnsAlign .custparNoBtn,
	.detailPageBtnsAlign dl.dropdown{
		float: none;
		margin: 0 0 10px 0;
	}
	.mTab > ul > li {
	    width: 24%;
	}
	.cimm_listGridTopControls .cimm_listGridTopRightCtrls form {
		padding: 0 1%;
	}
	.cimm_orderHistSearchByWrap .cimm_dateRange input[type="text"] {
		width: 45%;
	}
	.cimm_headerTopLinks .cimm_searchForm .cimm_searchWrapper {
		width: 100%;
	}
	.cimm_headerTopLinks .cimm_searchForm .cimm_searchWrapper input[type="text"] {
		width: calc(100% - 60px);
	}
	.cimm_btnGroupEnclosure ul li {
		/* width: 33%; */
		margin-bottom: 5px;
		text-align: center;
	}
	.cimm_btnGroupEnclosure ul li .button,.cimm_btnGroupEnclosure dl.saveCart_dropdown,#detailClone {
		width: 100%;
	}
	.locationMap{
		width:100%;
	}
}
@media only screen and (max-width: 980px){
	#fixedHead .cimm_headerLeft {
	    margin: 0;
	}
	#fixedHead .cimm_headerMidContent{
		padding: 5px 0;
	}
	.clonePrice,.cloneTitle{
		margin: 5px 0 0 5%;
	}
	.cimm_listGridTopControls .cimm_listGridTopRightCtrls form {
	    margin: 10px 0 0 0;
	    padding: 0;
	    float: none;
	}
	.accountSummary .halfBlokWrap{
		width: 50%;
	}
	.halfBlokWrap{
		width: 100%;
	}
	.foot_copy,.foot_social{
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.cimm_itemDetailWrap .cimm_itemMainImage{
		float: none;
		margin: 0 auto 15px auto;
		width: 300px;
	}
	.cimm_itemDetailWrap .cimm_itemDescription {
		width:100%;
		float: none;
		margin: 0;
	}
	.cimm_itemDetailWrap {
		padding-top: 10px;
	}
	ul.cimm_formContent > li,.mTab .divsWrap ul.cimm_formContent > li,ul.cimm_formContent.forgotPassWrap > li {
		margin: 0 0 15px 0;
		width: 100%;
		float: none;
	}
	.cimm_formEnclosure .cimm_formBtn .pullRight {
		float: none;
	}
	.swMain ul.anchor li {
		width: 100%;
		padding-top:0px;
	}
	ul.toggle_content {
		padding-bottom: 10px;
	}
	ul.cimm_signWrap li.hideForDevices {
		display: none;
	}
	.cimm_navigationBar ul > li {
		display: none;
	}
	.cimm_navigationBar {
		padding: 0 3px;
		background: none;
	}
	.cimm_navigationBar ul > li .cimm_searchForm{
		width: 100%;
	}
	.cimm_stickyPageWrap, .cimm_footerEnclosure {
		height: auto;
		/* margin: 0; */
	}
	.cimm_stickyPageWrap:after  {
		/* height: auto; */
	}
	p.searchMatches{
		margin: 0;
	}
	.cimm_listGridTopControls .cimm_listGridTopRightCtrls, .cimm_listGridTopControls .cimm_listGridTopLeftCtrls { 
		float: none;
		width: 315px;
		margin: 10px 0 0 0;
	}
	.searchMatchPaginatnEncl{
		padding: 0 0 10px 0;
	}
	.cimm_groupTitle,
	.cimm_groupManipulate{
		width:100%;
		float:none;
		display: block;
		padding:0;
		clear: both;
		text-align: left;
		margin-top: 5px;
	}
	.detailreview_printWrap{
		width: 100%;
	}
	.detailPageBtnsAlign{
		padding: 0;
	}
	.price{
		padding: 5px 0;
	}
	.mTab > ul {
		display: none;
	}
	.mTab > .divsWrap > h3 {
		display: block;
	}
	.mTab > .divsWrap > h3.active{
		
	}
	.addressBlock .cimm_halfBlockColumns {
		float: none;
		width: 100%;
	}
	.addressBlock .cimm_halfBlockColumns {
		float: none;
		width: 100%;
	}
	.editCartBtn {
		float: none;
	}
	.cimm_siteTableEnclosure,.rwd-Tab{
		overflow-x:auto;
	}
	.cimm_logInEnclosure form.mainLoginForm, .cimm_logInEnclosure form.guestCheckout {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.searchMatchPaginatnEncl .pgnation {
		width: 100%;
		text-align: center;
	}
	.orderStatus, .cimm_orderInfo {
		width: 100%;
		float: none;
	}
	.cimm_orderHistSearchByWrap .cimm_dateRange,
	.cimm_searchOrderNo,
	.cimm_searchCustPo{
		width:100%;
		float:none;
		padding:0;
		margin:10px 0;
	}
	.cimm_orderHistSearchByWrap .cimm_dateRange label {
		margin: 10px;
	}
	.cimm_addcartSlider{
		top: 20%;
	}
	.footerLogos,.footerLogosRight,.footerLogosLeft {
		width: 100%;
		float: none;
	}
	.footerMiddelContent ol {
		float: none;
		width: 100%;
		display: inline-block;
	}
	.cimm_cartSalesBottomStrip {
		float: none;
		width: auto;
		margin: 0;
	}
	.cimm_salesBottomStrip ul {
		float: none;
		margin: 0;
	}
	.cimm_salesBottomStrip ul li .priceLabel {
		width: auto;
	}
	.cimm_btnGroupEnclosure,.saveCart_dropdown dd ul{
		width: 100%;
	}
	.cimm_btnGroupEnclosure ul li .dropdown dd ul li {
		margin: 0;
		text-align: left;
	}
	.cloneAddtocartWrap {
	    float: none;
	    margin-top: 0;
	    clear: both;
	    text-align: center;
	}
	#googleMap, #panel, #map_canvas {height: 400px;}
	#storeImage {width: 100%;float: none;padding: 0;margin-top: 15px;}
	.locationDetailWrap #map_canvas {width: 100% ! important;height: 460px;float: left;margin-left: 0 !important;}
	#currentStore {width: 100%;float: none;}
/*******************/
.modalPopup .modalPopBody{
	max-width:300px;
	top:10%;
	left:10%;
	width:auto;
	}

}
@media only screen and (max-width: 768px) {
	header .cimm_header .cimm_headerMidContent .cimm_headerLeft .cimm_logo{
		width:100%;
	}
.muladdtoCartItemsWrap {
	    text-align:center;
	}
	.listGridContainer > li.gridView {
		width: 49%;
		margin: 0px 2% 15px 0;
		height: 495px;
	}
	.listGridContainer > li.gridView:nth-child(odd) {
	    clear: both;
	    margin-right: 2%;	
	}
	.listGridContainer > li.gridView:nth-child(even) {
		margin-right: 0;
	}
	.listGridContainer li.gridView ul > li .productQty a.log-addTocart-btn.addToCart {
	    padding: 12px 10px;
	}
	.cimm_productCategory .cimm_categoryItemBlock{
		width: 32%;
	}
	.cimm_productCategory .cimm_categoryItemBlock:nth-child(3n+3){
		margin-right: 0;
	}
	.cimm_productCategory .cimm_categoryItemBlock:nth-child(4n+4){
		margin-right: 2%;
	}
	.cimm_productCategory .cimm_categoryItemBlock h5.cimm_categoryHeading{
		font-size: 12px
	}
	.gridView .gridFixHeight {
		height: 495px;
	}
	.cimm_prodGroupTopControlsWrap .cimm_prodGroupItemsPerPage{
		width: 100%;
	    margin: 0 0 10px 0;
	    float: none;
	}
	.cimm_prodGroupTopControlsWrap .cimm_prodGroupSortBy {
		width: 100%;
	    margin: 0;
	    float: none;
	}
	.tablesWrap {
		overflow-x: auto;
	}
	.cimm_siteTableEnclosure .tablesWrap table.cimm_siteTable {
		width: 768px;
	}
	.tabFooter .dataTables_paginate {
		float: none;
	    text-align: center;
	    padding: 15px 0 0 0;
	    width: 100% !important;
	}
	.selectOptions {
		width: 48%;
	}
	#quickCartHiddenInfo .alignLeft {
		width: auto;
	}


	.cimm_searchOrderNo .chosen-container{
		width: 100% !important;
	}
	.tabelPrice {
		width: auto;
	}
	.cimm_siteTableEnclosure .cimm_siteTable td .lineItemComments {
		width: 100%;
	}

	.cimm_btnGroupEnclosure ul li {
		width: 50%;
	}
	.cimm_orderInfo, .orderConfInst, .orderConfBottomStrip ul, .orderDetailBottomStrip ul {
		width: 100%;
		float: none;
	}
	.cimm_navigationBar .cimm_searchForm {
		display: block;
	}
	.jqzoom,.zoomPad{
		float:none !important;
		cursor:default !important;
		width:100%;
		text-align:center;
		}
	.zoomPreload,.zoomPup,.zoomWindow,.zoomWrapper,.zoomIframe{
		display:none !important;
		float:none !important;	
	}
	.cimm_uploadForm {
		float: none;
		width: 100%;;
	}
	#marketBasketResultContent .cimm_moduleHeadEnclosure .log-addTocart-btn {
		float: none;
	}
	.cimm_oneThirdColumns{
		width:100%;
		float:none;
		height:auto;
	}
	.blockUI.blockMsg.blockPage {
	   	width: 70% !important;
	   	margin-left: -35% !important;
	   	top: 50% !important;
	   	left: 50% !important;
	}
	.blockUI.blockMsg.blockPage h1 {
		font-size: 20px;
	}
	.cimm_pgBulkActionWrap {
		width: 100%;
	    float: none;
	}
	.sortItemsPerPageWrap {
		width: 100%;
	    float: none;
		margin-top: 15px;
	}
	.elseCondition .log-addTocart-btn{
		margin:10px 0;
	}
	.compareTableWrap {
		overflow-x:auto;
		overflow-y:hidden;
	}
	.reviewOrderWrap .rwd-table td img {
		width: 75px;
		height: 75px;
	}
	.expndCollapseViews {
		float: none;
		clear: both;
	}
	.cimm_prodGroupSearchClearWrap {
		margin-bottom: 10px;
	}
	.deviceSelectAllWrap{
		display: block;
	}
	#accountInquiryForm .cimm_siteTableEnclosure .cimm_siteTable{
		width: 800px;
	}
	/*********popUp style*************/
	.addToCartContentWrap, #box{
		width:90%;
		left:5% !important;
		margin-left:0;
	}
	.addToCartContent .addedItemImg {
		width: 75px !important;
		height: 75px !important;
	}
	.productGroupPopWrap {
		width: 90%;
		margin-left: -45%;
	}
	/*******************************/
	.cimm_homePageCategory ul li{
		width:30%;
	}
	.cimm_prodGroupTopControlsWrap .expndCollapseViews{
		float:left;
		width:auto;
		}
	.modalPopupContent .cimm_siteTableEnclosure{
		max-height:250px;
		overflow:auto;
	}
}

@media (max-width: 480px) {

	.cimm_logo a{
		width: 80%;
		margin-left: 10px;
	}
	.listGridContainer > li.gridView {
		width: 100%;
		float: none;
		height: auto;
	}
	.listGridContainer > li.gridView:nth-child(odd) {
	    margin-right: 0;	
	}
	.listGridContainer > li.gridView:nth-child(even) {
		margin-right: 0;
	}
	.listGridContainer li.gridView ul > li > .prodImage > a > img {
	    max-width: 290px;
	    width: 100%;
	}
	.gridView .gridFixHeight{
		height: auto;
	}
	.gridView .hideToHover{
		display: block;
	}
	.listGridContainer li.gridView:hover .gridFixHeight.test{
		position: inherit;
	}
	.gridView .prodModeItemCountGrid{
		position: inherit;
		bottom: 0;
	}
	.gridView .hideToHover.hideForDevices{
		display: none;
	}
	.cimm_productCategory .cimm_categoryItemBlock{
		margin: 0px 0 20px 0;
		width: 49%;
	}
	.cimm_productCategory .cimm_categoryItemBlock:nth-child(2n+2){
		margin-left: 2%;
	}
	.cimm_productCategory .cimm_categoryItemBlock:nth-child(3n+3),
	.cimm_productCategory .cimm_categoryItemBlock:nth-child(4n+4){
		margin-right: 0;
	}
	.prodSharePrintWrap a {
		margin-bottom: 10px;
	}
	.userImage{
		width:100%;
		float:none;
		text-align:center;
	}
	.userInfo{
		width:100%;
		float:none;
	}
	.uploadImage{
		width: 82%;
	    margin: 0 auto;
	}
	.cimm_formEnclosure ul.cimm_formContent,
	.cimm_listEnclosure ul li{
		width:100%;
		float:none;
		text-align:left;
		height: auto;
	}
	.cimm_logInEnclosure{
		width: 100%;
	}
	.cimm_btnGroupEnclosure ul li {
		width: 100%
	}
	.cimm_customPopWrap:after{
		height: auto;
	}
	.cimm_orderHistSearchByWrap .cimm_dateRange input[type="text"] {
		margin: 5px 0;
		width: 118px;
	}
	#popup_panel>input[type="button"] {
		margin: 5px 0;
	}
	.cimm_btnGroupEnclosure, .cimm_salesBottomStrip.cimm_cartSalesBottomStrip {
		width: 100%;
		float: none;
		margin: 0;
	}
	.addToCartContent .addedItemDetail {
		width: calc(100% - 0px);
		margin:0;
	}
	.dropdownAddCustom dd ul{
		width:100%;
	}
	.cimm_btnGroupEnclosure ul li a,
	.cimm_btnGroupEnclosure ul li input[type="submit"],
	.cimm_btnGroupEnclosure ul li input[type="button"]{
		display:block;
		text-align:center;
		width:100%;
	}
	.cimm_siteTableEnclosure .cimm_siteTable th{
		padding:1px;
	}
	.shareCartTableBtns .cartShare,
	.shareCartTableBtns .cartReset {
		width: auto;
	}
	.cimm_listGridTopControls .cimm_listGridTopRightCtrls, .cimm_listGridTopControls .cimm_listGridTopLeftCtrls {
		width: 100%;
	}
	.cimm_checkoutHalfBlock,
	#displayBrand ul li,
	#displayManufacturer ul li{
		width:100%;
		float:none;
		text-align:left;
		line-height: normal;
	}
	.pgnation{
		width:100%;
		float:none;
		text-align:left;
		line-height: 30px;
	}
	.cimm_prodGroupSearchWrap .cimm_prodGroupClearSearch,
	.cimm_prodGroupTopControlsWrap .expndCollapseViews {
		float:none;
		padding:2px 0;
		width:100%;
		clear: both;
		margin: 8px 0 0 0;
	}
	#piechart_3d{
		zoom: 0.73;
	}
	.cimm_btnGroupEnclosure dl.dropdown {
		float:none;
		/* padding:2px 0; */
		width:100%;
		clear: both;
		/* margin: 8px 0 0 0; */
	}
	.cimm_prodGroupSearchWrap .cimm_prodGroupSearch{
		float: none;
	}
	.blockUI.blockMsg.blockPage {
		width: 90% !important;
		margin-left: -45% !important;
	}
	#googleMap, #panel, #map_canvas {height: 300px;}
	.locationDetailWrap .store-list {width: 100%;float: none;}
	.storeDetailview {float: none;width: 100%;}
	/********************************/
	.cimm_homePageCategory ul li{
		margin:1%;
		width:48%;
	}
	.pushbtnGroup .compareSimDiffBtns, .pushbtnGroup a {
		display: block !important;
		text-align: center;
		margin-bottom: 10px;
	}
.cartQuickView{
	width:310px;
	right: -10px;
}
.cimm_prodGroupTopControlsWrap .expndCollapseViews select {
	width:100% !important;
}
#clickforAllBranch{
	display:block;
	width:100%;
}
.modalPopup,
.modalPopup .modalPopBody{
	margin:0;
	top:10%;
	left:5%;
	}
.cartQuickView{
	width:303px;
	}
.cimm_eventCategory,.eventCalendar-wrap{
	float:none;
	width:100%;
	clear:both;
	}
.editCartBtn {
	margin-bottom: 20px;
}
.orderDetailBottomStrip ul li .priceLabel {
	width: auto;
}
.cimm_cartCheckout {
	margin-top: 15px;
	text-align: left;
	float: none;
}
.cimm_itemInstructions {
	width: 100%;
	float: none;
}
.cimm_prodDetailHeadTitle, .prodSharePrintWrap, .cimm_itemDetailWrap .cimm_itemPriceAvailabilWrap {
	width: 100% !important;
	float: none !important;
	margin-left: 0;
}
.cimm_listGridTopLeftCtrls .cimm_compareControls {
	display: none;
}
.cimm_threeCols {
	width: 100%;
	margin-right: 0;
	float: none;
}
.modalPopupContent .modalPopupTitle {
	padding-right: 30px;
}
/* jalert popup */
	#popup_container {
		width: 100% !important;
		max-width: 100% !important;
		min-width: 100% !important;
		left: 0% !important;
	}
	#popup_panel {
		margin-left: 0 !important;
	}
	/* jalert popup */
	.imgEnlargeIcon {
	display: none;
	}
	.muladdtoCartItems img {
		width: 50px;
		height: 50px;
	}
	.mulAddtoCartStatus input {
	    margin-right: 5px;
    	padding: 8px;
    	width: auto !important;
	}
	.mulAddtoCartStatus input.quantity {
		padding: 8px;
	}
	.productGroupPopWrap {
		width: 100%;
		height: 100% !important;
		margin: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
.existingPgListWrap ul {
	height: 150px !important;
}

.existingPgListWrap ul li {
    width: 100%;
    margin-right: 0;
}
.existingPgListWrap ul li:nth-child(3n+3) {
	margin-right: 0;
}
.selectedItemsWrap ul {
	height: 200px !important;
}
.selectedItemsWrap ul li p {
	vertical-align: top;
}
.addNewPgResponse ul.msg {
    height: 400px;
}
#reviewOrder h1 {
	float: none;
}
#reviewOrder a.button {
	float: none;
	margin-top: 15px;
}

}
/*iphone 5 - portrait*/
@media only screen and (min-device-width: 320px) 
and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) 
and (orientation: portrait), 
only screen and (min-width: 320px) 
and (max-width: 568px) and (orientation: portrait) {
	
.addToCartmobImg .ATCimageName {
	float: none;
}
.addedItemQty {
	width: 100%;
	float: none;
}
.addedItemDesc p, .addedItemQty p {
	line-height: 1.2;
}
.addedItemQty {
	margin-top: 10px;
}
#reload-slider, #reload-slider + dd {
		display: none;
	}
	.productGroupPopWrap {
		width: 100vw;
		height: 100vh;
		margin: 0;
		top: 0;
		left: 0;
	}
	.existingPgListWrap ul {
		height: 15vh;
	}
	.existingPgListWrap ul li {
		width: 100%;
		margin-right: 0;
	}
	.existingPgListWrap ul li:nth-child(3n+3) {
		margin-right: 0;
	}
	.selectedItemsWrap ul {
		height: 30vh;
	}
	.selectedItemsWrap ul li p {
		vertical-align: top;
	}
	.addNewPgWrap {
		padding: 5px 0;
	}
	.existingPgListWrap h4, .selectedItemsWrap h4 {
		padding: 0;
	}
	.selectedItemsWrap .selectedItemImg {
		margin: auto;
		float: none;
	}
	.selectedItemDesc {
		margin: 0;
	}
	.selectedItemsWrap ul li .delBtn {
		top: 10px;
		margin-top: 0;
	}
	.addNewPgResponse ul.msg {
	    height: 100vh;
	}
	
}

/*iphone 5 - landscape*/
@media only screen and (min-device-width: 320px) 
and (max-device-width: 568px) 
and (-webkit-min-device-pixel-ratio: 2) 
and (orientation: landscape), 
only screen and (min-width: 320px) 
and (max-width: 568px) and (orientation: landscape) {

	.ATCProductHeading, .addedItemDesc, .addedItemQty p {
		font-size: 14px;
	}
	.addedItemDesc p, .addedItemQty p {
		line-height: 1.5;
	} 
	#reload-slider, #reload-slider + dd {
		display: none;
	}
	.productGroupPopWrap {
		width: 100vw;
		height: 100vh;
		margin: 0;
		top: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.addNewPgResponse ul.msg {
	    height: 100vh;
	}
	.signUpLink {
		display: block;
		margin-left: 0;
	}
	
}
/*iphone 6 - landscape*/
@media only screen and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) 
and (orientation: landscape), 
only screen and (min-width: 375px) 
and (max-width: 667px) and (orientation: landscape) { 

.cimm_salesBottomStrip ul, .editCartBtn {
	float: none;
}
.editCartBtn {
	margin-bottom: 20px;
}
.cimm_cartCheckout {
	float: none;
	text-align: left;
}
.cimm_itemInstructions {
	float: none;
	width: 100%;
}
.cimm_checkoutHalfBlock {
	width: 100%;
	float: none;
}
.searchMatchPaginatnEncl .cimm_compareControls {
    	display: block !important;
    	margin-bottom: 20px;
	}
	.changeSelectionOrder {
		width: 100%;
		margin-bottom: 15px;
	}
	.changeSelectionOrder select {
	    padding: 12px;
	    width: 100%;
	    margin-top: 5px;
	}
	.cimm_popupLogin {
		width: 100%;	
	}
	.blockUI.blockMsg.blockPage {
    	width: 90% !important;
    	margin-left: -45% !important;
	}
	#reload-slider, #reload-slider + dd {
		display: none;
	}
	/* jalert popup */
	#popup_container {
		width: 90% !important;
		max-width: 90% !important;
		min-width: 90% !important;
		top: 20% !important;
	}
	#popup_panel {
		margin-left: 0 !important;
	}	
	.imgEnlargeIcon {
	display: none;
	}
	.mulAddTocartWrap {
	    width: 90%;
	    margin-left: -45%;
	}
	.muladdtoCartItemsWrap {
	    height: 230px;
	}
	.muladdtoCartItems img {
		width: 50px;
		height: 50px;
	}
	.mulAddtoCartStatus {
		width: 100%;
    	float: none;
    	margin: 10px 0 0 0;
	}
	.mulAddtoCartStatus input {
	    margin-right: 5px;
    padding: 8px;
    width: auto !important;
	}
	.mulAddtoCartStatus input.quantity {
		padding: 8px;
	}
	.mulAddTocartWrap {
	width: 90%;
	margin-left: -45%;
	height: 320px;
    margin-top: -160px;
	}
		
	.muladdtoCartItemsWrap {
	    height: calc(100% - 90px);
	}
	.muladdtoCartItems img {
		width: 50px;
		height: 50px;
	}
	.mulAddtoCartStatus input {
	    margin-right: 5px;
    padding: 8px;
    width: auto !important;
	}
	.mulAddtoCartStatus input.quantity {
		padding: 8px;
	}
	#contentArea {
		height: 200px;
	}
	.productGroupPopWrap {
		width: 100vw;
		height: 100vh;
		margin: 0;
		top: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.addNewPgResponse ul.msg {
	    height: 100vh;
	}
		
}
/*iphone 6 - portrait*/
@media only screen and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) 
and (orientation: portrait), 
only screen and (min-width: 375px) 
and (max-width: 667px) and (orientation: portrait) { 

.editCartBtn {
	margin-bottom: 20px;
}
.cimm_cartCheckout {
	float: none;
	text-align: left;
}
.cimm_itemInstructions {
	float: none;
	width: 100%;
}
.cimm_checkoutHalfBlock {
	width: 100%;
	float: none;
}
	.changeSelectionOrder {
		width: 100%;
		margin-bottom: 15px;
	}
	.changeSelectionOrder select {
	    padding: 12px;
	    width: 100%;
	    margin-top: 5px;
	}
	#reload-slider, #reload-slider + dd {
		display: none;
	}
.productGroupPopWrap {
	width: 100vw;
	height: 100vh;
	margin: 0;
	top: 0;
	left: 0;
}
.existingPgListWrap ul {
	height: 15vh;
}
.existingPgListWrap ul li {
    width: 100%;
    margin-right: 0;
}
.existingPgListWrap ul li:nth-child(3n+3) {
	margin-right: 0;
}
.selectedItemsWrap ul {
	height: 35vh;
}
.selectedItemsWrap ul li p {
	vertical-align: top;
}
.addNewPgResponse ul.msg {
    height: 100vh;
}
#reviewOrder h1 {
	float: none;
}
#reviewOrder a.button {
	float: none;
	margin-top: 15px;
}

}
