#macro (itemDetailsPlugin $mpnList)
#set($itemDetailsPlugin = $getItemDetails.arrayOfPartNumbers("$mpnList"))
#if($itemDetailsPlugin.size()>0)
<table>
#foreach($list in $itemDetailsPlugin)<tr><td>$list.itemId - $list.partNumber - $list.shortDesc</td></tr>
#end</table>
#end
#end
#macro(urlType $navigationType,$codeIdSkip,$gallery,$levelNoSkip,$sortBy,$resultPage,$keyWord,$srchTyp,$narrowKeyword,$brandId,$urlContext)
#if($navigationType=="SEARCH" || $!keyWord.trim().length() > 0)
#set($navURL = "searchPage.action?keyWord=$escapeTool.url($!keyWord)#if($srchTyp.trim().length() > 0)&srchTyp=$srchTyp#end#if($narrowKeyword.trim().length() > 0)&narrowKeyword=$narrowKeyword#end#if($sortBy.trim().length() > 0)&sortBy=$sortBy#end&resultPage=$resultPage")
#else
#set($navURL = "$urlContext?#if($sortBy.trim().length() > 0)sortBy=$sortBy#end#if($resultPage.trim().length() > 0)&resultPage=$resultPage#end#if($srchTyp.trim().length() > 0)&srchTyp=$srchTyp#end")
#end
#end

#macro(generateFileter $attrName,$attrValueEncoded,$attrNameEncoded,$filterList)
#set($testVal = $attrName)
#if($attrName=="brand")
#set($rString = "attr_$attrName%3A$attrValueEncoded")
#elseif($attrName=="category")
#set($rString = "attr_$attrName%3A$attrValueEncoded")
#else
#set($attrReplace = $attrName.replaceAll(" ","+"))
#set($rString = "${attrReplace}%3A$attrValueEncoded")
#end

#if($filterList.replace("~$rString","").replace("$rString","").length()>0)
#set($filterUrl = $filterList.replace("%7E$rString","").replace("$rString",""))
#set($rUrl="=$filterUrl")
#set($rUrl=$rUrl.replace("=%7E","").replace("=",""))
#end

#end
#macro(myProductGroupScript)
<script type="text/javascript">
$(document).ready(function(){
//------- My Product Group Start
	// sticky header productGroupLable
	$(".dropdownClone dt a").click(function() {
		var toggleIdClone = "#" + this.id.replace(/cloneLink/,"cloneUl");
		var itemIdClone = this.id.replace(/^cloneLinkg/,"");
		var productGroupLableClone = '$locale.get("product.heading.myProductGroups")';
		$(toggleIdClone+"item").html(productGroupLableClone);
		$("#group_idClone").val(toggleIdClone);
		$("#hidden_idClone").val(itemIdClone);
		$(".dropdownClone dt a span").not(toggleIdClone+"item").html(productGroupLableClone);
		$(".dropdownClone dd ul").not(toggleIdClone).hide();
		$("#popSelectorClone div").not(toggleIdClone+"pop").fadeOut();
		$(toggleIdClone).toggle();
		
		if($(toggleIdClone).css("display") == "none"){
			$(this).removeClass("selected");
		}else{
			$(this).addClass("selected");
		}
		if($(toggleIdClone).is(":visible")){
			getProductListClone(itemIdClone);
		}
	});
	$(".dropdown dd ul li a").click(function() {
		// This is the default behaviour for all links within the menus
		$("#group_name").val($(this).html());
		addToProductList("",this.id);
	});
	
	$(document).bind('click', function(e) {
	// Lets hide the menu when the page is clicked anywhere but the menu.
	var $clicked = $(e.target);
		if (! $clicked.parents().hasClass("dropdown")){
			$("#popSelector div").fadeOut();
		    $(".dropdown dd ul").hide();
			$(".dropdown dt a").removeClass("selected");
		}
	});
//------- My Product Group End
});
</script>
	
#end


##-------------------------  Recently Viewed
#macro(recentlyViewedItems)
<div class="cimm_sliderWrap" >
	<h3 class="cimm_slider-title"><label>$!locale.get("product.heading.recentlyviewedproducts")</label></h3>
	<ul id="recentlyViewedContent" class="cimm_caroWrap "></ul>
</div>	
<script type="text/javascript">
	$(document).ready(function(){
		jQuery("#recentlyViewedContent").recentlyViewed({"show" : true});
	});
</script>	
#end
##-------------------------  Recently Viewed

##-------------------------  Upcoming Events
#macro(eventsSection)
#set($eventsList = $CIMMUtility.eventListCimmVelocity())
	<div class="upcomingEvent">
		<h3 class="cimm_slider-title"><label>Upcoming Events</label></h3>
		<!-- <h2>UPCOMING EVENTS <a href="/eventsUnit.action"><i class="fa fa-calendar"></i></a></h2> -->
		<ul id="upcomingEvents" class="customScroll">
		#foreach($eventsDetails in $eventsList)
		#if($!eventsDetails.startDate!="")
			#set($dateTimeArray = $eventsDetails.startDate.split("T"))
			#set($dateArray = $dateTimeArray.get(0).split("-"))
			#set($date = $dateArray.get(1) + "/" + $dateArray.get(2) + "/" + $dateArray.get(0))
		#else
			#set($date = "");
		#end
		<li>
			<p class="eventsHeading"><a href="/eventDetailsUnit.action?eventID=$eventsDetails.staticPageId">$eventsDetails.staticPageTitle</a> <span class="dateStamp">Date: $date</span></p>
				<p class="eventsContent">
					 #if($eventsDetails.staticContent.length() > 120)
	                     $eventsDetails.staticContent.substring(0, 120)
					 #else
						   $eventsDetails.staticContent
					 #end
					 <a href="/eventDetailsUnit.action?eventID=$eventsDetails.staticPageId"><span class="readevents">more...</span></a>
				</p>
		</li>
		#end
		</ul>
	</div>
#end
##-------------------------  Upcoming Events


##-------------------------  News Section
#macro(recentNewsSection $pageName)
<div class="recentNews">
	<h3 class="cimm_slider-title"><label>Recent News</label></h3>
	<div id="news-scroller" class="newsList customScroll">
		<div class="center"><img src="$!webThemes/$siteName/images/loading.gif" alt="loading" width="24px" height="12px"/></div>
	</div>
</div>
<script type="text/javascript">
$('#newsSection').val("$pageName");
//getNewSectionForHomePage();
</script>
#end
##-------------------------  News Section
##------------WordPress- Start--------
#macro(generateWpNavMenu $menuData)
#foreach($menu in $menuData.items)
#generateNavMenu ($menu)
#end
#end
 

#macro(generateNavMenu $menuObj)
#set($menu_class="menu-item-has-children")
 <li #if($menuObj.children)class="$menu_class"#end>
        <span>#if($menuObj.type=="custom")<a href="$menuObj.url">#else<a href="/wp/$menuObj.object_slug">#end
            $menuObj.title
      #if($menuObj.children) <span class='pullRight'><i class="fa fa-lg fa-angle-down" aria-hidden="true"></i></span>#end </a></span>
        #if($menuObj.children)
        #generateSubNavMenu($menuObj.children)
        #end
</li>
#end

#macro(generateSubNavMenu $menuObj)
#set($menu_class="menu-item-has-children")
        <ul>
        #foreach($menu in $menuObj)
        <li #if($menu.children)class="$menu_class"#end>
		#if($menu.type=="custom")
			<a href="$menu.url">$menu.title</a>
		#else
			<a href="/wp/$menu.object_slug">$menu.title</a>
		#end
        #if($menu.children)
        #generateSubNavMenu($menu.children)
        #end
        </li>
        
        #end
        </ul>
 
#end

#macro(generateWpHeaderMenu $menuData)
#foreach($menu in $menuData.items)
#generateHeaderMenu ($menu)
#end
#end

#macro(generateHeaderMenu $menuObj)
#set($menu_class="menu-item-has-children")
 <li class="seperator #if($menuObj.children)$menu_class#end">
        #if($menuObj.type=="custom")<a href="$menuObj.url">#else<a href="/wp/$menuObj.object_slug">#end
            $menuObj.title</a>
        #if($menuObj.children)
        #generateSubHeaderMenu($menuObj.children)
        #end
</li>
#end

#macro(generateSubHeaderMenu $menuObj)
#set($menu_class="menu-item-has-children")
        <ul>
        #foreach($menu in $menuObj)
		<li #if($menu.children)class="$menu_class"#end>
		#if($menu.type=="custom")
			<a href="$menu.url">$menu.title</a>
		#else
			<a href="/wp/$menu.object_slug">$menu.title</a>
		#end
        #if($menu.children)
        #generateSubHeaderMenu($menu.children)
        #end
        </li>
        
        #end
        </ul>
 
#end

#macro(generateWpFooterMenu $menuData)

#foreach($menu in $menuData.items)
#generateFooterMenu ($menu)
#end
#end

#macro(generateFooterMenu $menuObj)
#set($menu_class="menu-item-has-children")
<div class="col-md-2">
						<div class="footerCol">
						<h3><a href="javascript:void(0);">$menuObj.title</a><em class="fa fa-plus"></em></h3>
							
							
	
	   #if($menuObj.children)
	   <ul id="footerMenu1" class="toggle_content">
        #generateSubFooterMenu($menuObj.children)
		</ul>
        #end
 </div>
 </div>
#end

#macro(generateSubFooterMenu $menuObj)
#set($menu_class="menu-item-has-children")
        #foreach($menu in $menuObj)
        <li #if($menu.children)class="$menu_class"#end> 
      #if($menu.type=="custom")
			<a href="$menu.url">$menu.title</a>
		#else
			<a href="/wp/$menu.object_slug">$menu.title</a>
		#end 
      
        #if($menu.children)
        #generateSubFooterMenu($menu.children)
        #end
        </li>
        #end
#end
##------------WordPress- End--------
