#macro (itemDetailsPlugin $mpnList)
#set($itemDetailsPlugin = $getItemDetails.arrayOfPartNumbers("$mpnList"))
#if($itemDetailsPlugin.size()>0)
<table>
#foreach($list in $itemDetailsPlugin)<tr><td>$list.itemId - $list.partNumber - $list.shortDesc</td></tr>
#end</table>
#end
#end
#macro(urlType $navigationType,$codeIdSkip,$gallery,$levelNoSkip,$sortBy,$resultPage,$keyWord,$srchTyp,$narrowKeyword,$brandId)
#if($navigationType=="NAVIGATION")
#set($navURL = "itemLevelFilterPage.action?codeId=$codeIdSkip&gallery=$gallery&levelNo=$levelNoSkip#if($sortBy)&sortBy=$sortBy#end&resultPage=$resultPage&srchTyp=$srchTyp")
#end
#if($navigationType=="SEARCH")
#set($navURL = "searchPage.action?keyWord=$keyWord&srchTyp=$srchTyp&gallery=$gallery&#if($narrowKeyword)&narrowKeyword=$narrowKeyword#end#if($sortBy)&sortBy=$sortBy#end&resultPage=$resultPage")
#end
#if($navigationType=="BRAND")
#set($navURL = "shopByBrandPage.action?brandId=$brandId&gallery=$gallery#if($sortBy)&sortBy=$sortBy#end&resultPage=$resultPage")
#end
#end

#macro(generateFileter $attrName,$attrValueEncoded,$attrNameEncoded,$filterList)
#set($testVal = $attrName)
#if($attrName=="brand")
#set($rString = "attr_$attrName%3A$attrValueEncoded")
#elseif($attrName=="category")
#set($rString = "attr_$attrName%3A$attrValueEncoded")
#else
#set($attrReplace = $attrName.replaceAll(" ","+"))
#set($rString = "${attrReplace}%3A$attrValueEncoded")
#end

#if($filterList.replace("~$rString","").replace("$rString","").length()>0)
#set($filterUrl = $filterList.replace("%7E$rString","").replace("$rString",""))
#set($rUrl="=$filterUrl")
#set($rUrl=$rUrl.replace("=%7E","").replace("=",""))
#end

#end
#macro(myProductGroupScript)
<script type="text/javascript">
$(document).ready(function(){
//------- My Product Group Start
	// sticky header productGroupLable
	$(".dropdownClone dt a").click(function() {
		var toggleIdClone = "#" + this.id.replace(/cloneLink/,"cloneUl");
		var itemIdClone = this.id.replace(/^cloneLinkg/,"");
		var productGroupLableClone = '$locale.get("product.heading.myProductGroups")';
		$(toggleIdClone+"item").html(productGroupLableClone);
		$("#group_idClone").val(toggleIdClone);
		$("#hidden_idClone").val(itemIdClone);
		$(".dropdownClone dt a span").not(toggleIdClone+"item").html(productGroupLableClone);
		$(".dropdownClone dd ul").not(toggleIdClone).hide();
		$("#popSelectorClone div").not(toggleIdClone+"pop").fadeOut();
		$(toggleIdClone).toggle();
		
		if($(toggleIdClone).css("display") == "none"){
			$(this).removeClass("selected");
		}else{
			$(this).addClass("selected");
		}
		if($(toggleIdClone).is(":visible")){
			getProductListClone(itemIdClone);
		}
	});
	$(".dropdown dd ul li a").click(function() {
		// This is the default behaviour for all links within the menus
		$("#group_name").val($(this).html());
		addToProductList("",this.id);
	});
	
	$(document).bind('click', function(e) {
	// Lets hide the menu when the page is clicked anywhere but the menu.
	var $clicked = $(e.target);
		if (! $clicked.parents().hasClass("dropdown")){
			$("#popSelector div").fadeOut();
		    $(".dropdown dd ul").hide();
			$(".dropdown dt a").removeClass("selected");
		}
	});
//------- My Product Group End
});
</script>
	
#end
##------------------------- Featured Products
#macro(featuredProductListBlock $generalSubset,$subsetId)
#set($featuredProducts = $CIMMUtility.featureProductsListCimmVelocity($generalSubset,$subsetId))
#if($featuredProducts.size()>0)	 	
	<div class="cimm_sliderWrap clearAfter">
	<h3 class="cimm_slider-title"><label>$locale.get("product.label.featuredProducts")</label></h3>
	<ul id="featuredProductList" class="cimm_caroWrap">
		#foreach($itemData in $featuredProducts)
		#set($itemTitle= $itemData.shortDesc)
		<li>				
			<div class="cimm_linkItemImg">
				<a href="$itemData.itemPriceId$locale.get('website.url.ProductDetail')n/$itemTitle.replace(" ","_")">                    
					#if($itemData.imageName.contains("http"))
					<img id="imageName$itemData.itemId" src="$itemData.imageName" width="100" alt='$itemData.imageName' onerror="this.src='$!cdnUrl$!webThemes/$siteName/images/NoImage.png';"/>
					#else
					<img id="imageName$itemData.itemId" src="$detailImage$itemData.imageName" alt='$itemData.imageName' width="100" onerror="this.src='$!cdnUrl$!webThemes/$siteName/images/NoImage.png';"/>
					#end
				</a>
			</div>
			<div class="cimm_linkItemDesp">
				<ul>
					<li>
						<h4>
							<a class="productTitle" href="$itemData.itemPriceId$locale.get('website.url.ProductDetail')n/$itemTitle.replace(" ","_")">
								#set($linkItemTitle = $!itemData.brandName+' '+$!itemData.manufacturerPartNumber)
						 		#if($linkItemTitle.length()>18)
						 			$linkItemTitle.substring(0, 18)...
						 		#else
						 			$linkItemTitle
						 		#end
							</a>
						</h4>
					</li>
					<li><b>$locale.get("product.label.partNumber"):</b> $itemData.partNumber</li>
					<li class="sliderDescrip"> #if($!itemData.shortDesc.length()>48)
					<p id="itemShortDesc$itemData.itemId"> $!itemData.shortDesc.substring(0, 48) &nbsp;</p>
					<a href="$itemData.itemPriceId$locale.get('website.url.ProductDetail')n/$itemTitle.replace(" ","_")"> $locale.get("product.label.more")</a>
					#else
					<p> $!itemData.shortDesc</p>
					#end
					</li>
				</ul>
				</div>
			<div class="clear"></div>
		</li>
		#end
	</ul>
</div>
#end
#end
##------------------------- Featured Products

##-------------------------  Recently Viewed
#macro(recentlyViewedItems)
<div class="cimm_sliderWrap" >
	<h3 class="cimm_slider-title"><label>$!locale.get("product.heading.recentlyviewedproducts")</label></h3>
	<ul id="recentlyViewedContent" class="cimm_caroWrap "></ul>
</div>	
<script type="text/javascript">
	$(document).ready(function(){
		jQuery("#recentlyViewedContent").recentlyViewed({"show" : true});
	});
</script>	
#end
##-------------------------  Recently Viewed

##-------------------------  Upcoming Events
#macro(eventsSection)
#set($eventsList = $CIMMUtility.eventListCimmVelocity())
	<div class="upcomingEvent">
		<h3 class="cimm_slider-title"><label>Upcoming Events</label></h3>
		<!-- <h2>UPCOMING EVENTS <a href="/eventsUnit.action"><i class="fa fa-calendar"></i></a></h2> -->
		<ul id="upcomingEvents" class="customScroll">
		#foreach($eventsDetails in $eventsList)
		#if($!eventsDetails.startDate!="")
			#set($dateTimeArray = $eventsDetails.startDate.split("T"))
			#set($dateArray = $dateTimeArray.get(0).split("-"))
			#set($date = $dateArray.get(1) + "/" + $dateArray.get(2) + "/" + $dateArray.get(0))
		#else
			#set($date = "");
		#end
		<li>
			<p class="eventsHeading"><a href="/eventDetailsUnit.action?eventID=$eventsDetails.staticPageId">$eventsDetails.staticPageTitle</a> <span class="dateStamp">Date: $date</span></p>
				<p class="eventsContent">
					 #if($eventsDetails.staticContent.length() > 120)
	                     $eventsDetails.staticContent.substring(0, 120)
					 #else
						   $eventsDetails.staticContent
					 #end
					 <a href="/eventDetailsUnit.action?eventID=$eventsDetails.staticPageId"><span class="readevents">more...</span></a>
				</p>
		</li>
		#end
		</ul>
	</div>
#end
##-------------------------  Upcoming Events


##-------------------------  News Section
#macro(recentNewsSection $pageName)
<div class="recentNews">
	<h3 class="cimm_slider-title"><label>Recent News</label></h3>
	<div id="news-scroller" class="newsList customScroll">
		<div class="center"><img src="$!cdnUrl$!webThemes/$siteName/images/loading.gif" alt="Loading.."/></div>
	</div>
</div>
<script type="text/javascript">
$('#newsSection').val("$pageName");
//getNewSectionForHomePage();
</script>
#end
##-------------------------  News Section


##-------------------------  Featured Brands
#macro(featuredBrandsSection)
#set($featuredBrands = $CIMMUtility.featuredBrandsVelocity())
#if($!featuredBrands && $featuredBrands.size()>0)	 	
<div class="cimm_sliderWrap clearAfter">
	<h3 class="cimm_slider-title"><label>$locale.get("product.label.featuredBrands")</label></h3>
	<ul id="featuredBrands" class="cimm_caroWrap">
		#foreach($brandset in $featuredBrands.entrySet())
		#set($keyValue = $brandset.getKey())
		#set($brandModel = $brandset.getValue())
		<li>				
			<div class="cimm_linkItemImg">
				<a href="$brandModel.brandId$locale.get('website.url.ShopByBrand')$brandModel.brandName">                    
					<img src="$brandLogoPath$brandModel.brandImage" onerror="this.src='$!cdnUrl$!webThemes/$siteName/images/NoImage.png';" alt="$brandModel.brandName"/>
				</a>
			</div>
		</li>
		#end
	</ul>
</div>
#end
#end
##-------------------------  Featured Brands

##-------------------------  Featured Manufacturers
#macro(featuredManufacturerSection)
#set($featuredManufacturers = $CIMMUtility.featuredManufacturersCimmVelocity())
#if($!featuredManufacturers && $featuredManufacturers.size()>0)	 	
<div class="cimm_sliderWrap clearAfter">
	<h3 class="cimm_slider-title"><label>$locale.get("product.label.featuredManufacturers")</label></h3>
	<ul id="featuredManufacturers" class="cimm_caroWrap">
		#foreach($manufacturerset in $featuredManufacturers.entrySet())
		#set($keyValue = $manufacturerset.getKey())
		#set($manufacturerModel = $manufacturerset.getValue())
		<li>				
			<div class="cimm_linkItemImg">
				<a href="$manufacturerModel.manufacturerId$locale.get('website.url.ShopByManufacturer')$manufacturerModel.manufacturerName">                    
					<img src="$manufacturerLogoPath$manufacturerModel.manufacturerLogo" onerror="this.src='$!cdnUrl$!webThemes/$siteName/images/NoImage.png';" alt="$manufacturerModel.manufacturerName"/>
				</a>
			</div>
		</li>
		#end
	</ul>
</div>
#end
#end
##-------------------------  Featured Manufacturers


##-------------------------  shop By category
#macro(shopBycategorySection)
#if($categMenu.size()>0)
<div class="cimm_sliderWrap clearAfter">
	<h3 class="cimm_slider-title"><label>$locale.get("product.heading.shopByCategory")</label></h3>
	<ul id="shopByCategory" class="cimm_caroWrap">
	#foreach($categoryMenu in $categMenu)
		<li>
			<div class="cimm_linkItemImg">
				<a href="$categoryMenu.categoryCode$locale.get('website.url.ProductCategoryLevel')$categoryMenu.categoryName.replaceAll(' ','-')">
					<img src="$taxonomyImage/$categoryMenu.imageName" alt='$categoryMenu.imageName' onerror="this.src='$!cdnUrl$!webThemes/$siteName/images/NoImage.png';"/>
				</a>
			</div>
			<div class="cimm_linkItemDesp">
				<ul>
					<li>
						<h4>
							<a class="productTitle" href="$categoryMenu.categoryCode$locale.get('website.url.ProductCategoryLevel')$categoryMenu.categoryName.replaceAll(' ','-')">
						 		#if($categoryMenu.categoryName.length()>18)
						 			$linkItemTitle.substring(0, 18)...
						 		#else
						 			$categoryMenu.categoryName
						 		#end
							</a>
						</h4>
					</li>
				</ul>
			</div>
		</li>
	#end
	</ul>
</div>
#end
#end
##-------------------------  shop By category