#macro(listHiddenSearchWithIn $codeIdSkip,$levelNoSkip,$gallery,$resultPage,$pageNo,$sortBy,$attrFilterList,$brandId,$keyWord)
#if($keyWord.trim().length() > 0)<input type="hidden" name="keyWord" value="$!keyWord" />#end
#if($sortBy.trim().length() > 0)<input type="hidden" name="sortBy" value="$sortBy" />#end
#if($resultPage.trim().length() > 0)<input type="hidden" name="resultPage" value="$resultPage" /> #end
#if($pageNo.trim().length() > 0)<input type="hidden" name="pageNo" value="$pageNo" />#end
#if($attrFilterList)<input type="hidden" name="attrFilterList" value='$attrFilterList'/>#end
#end

#macro(itemListHiddenFields $partNumber, $itemPriceId, $qty, $!uom, $price, $saleQty, $itemId, $displayFrieghtAlert, $packageQty, $itemAvailability, $srchTyp, $navigationType)
<input type="hidden" value="$partNumber" name="idListPrice"/> 
<input type="hidden" value="" name="test"/> 
##<!--<input type="hidden" id="priceSaleQty_$partNumber" value="$qty"/>--> 
<input type="hidden" id="uomValue_$partNumber" value="$!uom"/> 
<input type="hidden" id="displayFrieghtAlert_$itemId" name="displayFrieghtAlert_$itemId" value="#if($displayFrieghtAlert)$displayFrieghtAlert#end" />
<input type="hidden" id="priceValue_$partNumber" value="$price"/>
<input type="hidden" id="unitPriceValue_$partNumber" value="$price" /> 
<input type="hidden" id="salesQtyVal_$partNumber" value="$saleQty"/> 
<input type="hidden" id="tempItemId_$partNumber" value="$itemId"/>
<input type="hidden" id="itmId_$itemId" value="$partNumber"/> 
<input type="hidden" id="packageQty_$partNumber" value="$packageQty"/>
<input type="hidden" id="itemPriceID_$partNumber" name="itemPriceID_$partNumber" value="$itemPriceId"/>
<input type="hidden" id="itemTxtSXAvail$partNumber" name="itemTxtSXAvail$partNumber" value="$!itemAvailability"/>
<input type="hidden" id="itemTxtAvail$itemId" name="itemTxtAvail$itemId" value="$!itemAvailability"/>
<input type="hidden" id="priceSaleQty_$partNumber" name="priceSaleQty_$partNumber" value="$qty" />
<input type="hidden" id="" name="navigationType" value="$!navigationType" />
<input type="hidden" value="$!srchTyp" id="" name="searchType"/>
<input type="hidden" id="uomForCart_$itemId" value=""/>
<input type="hidden" id="minOrderQtyForCart_$itemId" value=""/>
<input type="hidden" id="priceForCart_$itemId" value=""/>
#end

#macro(listAndGridSwap $navigationType,$!hostName,$keyWord,$srchTyp,$narrowKeyword,$varPsid,$attrFilterList,$filterList,$sortBy,$resultPage,$pageNo,$codeIdSkip,$levelNoSkip,$brandId,$keyWordTxt,$pageViewMode,$urlContext)
#if($navigationType=="NAVIGATION")
	#set($paginationURL= "$urlContext?pageClick=Y#if($srchTyp.trim().length() > 0)&srchTyp=$srchTyp#end#if($sortBy.trim().length() > 0)&sortBy=$sortBy#end#if($resultPage.trim().length() > 0)&resultPage=$resultPage#end#if($keyWord.trim().length() > 0)&keyWord=$escapeTool.url($!keyWord)#end#if($keyWordTxt.trim().length() > 0)&keyWordTxt=$escapeTool.url($!keyWordTxt)#end#if($attrFilterList.trim().length() > 0)&attrFilterList=$filterList#end&pageNo=")
#end
#if($navigationType=="SEARCH" || $!keyWord.trim().length() > 0)
	#set($paginationURL="searchPage.action?pageClick=Y#if($keyWord.trim().length() > 0)&keyWord=$escapeTool.url($!keyWord)#end#if($srchTyp.trim().length() > 0)&srchTyp=$srchTyp#end#if($narrowKeyword.trim().length() > 0)&narrowKeyword=$narrowKeyword#end#if($varPsid.trim().length() > 0)&vpsid=$varPsid #end#if($attrFilterList)&attrFilterList=$filterList#end#if($sortBy.trim().length() > 0)&sortBy=$sortBy#end#if($resultPage.trim().length() > 0)&resultPage=$resultPage#end#if($keyWordTxt.trim().length() > 0)&keyWordTxt=$escapeTool.url($!keyWordTxt)#end&pageNo=")
#end
#if($navigationType=="BRAND" || $navigationType=="MANF")
	#set($paginationURL="$urlContext?pageClick=Y#if($srchTyp.trim().length() > 0)&srchTyp=$srchTyp#end#if($sortBy.trim().length() > 0)&sortBy=$sortBy#end#if($resultPage.trim().length() > 0)&resultPage=$resultPage#end#if($keyWord.trim().length() > 0)&keyWord=$escapeTool.url($!keyWord)#end#if($keyWordTxt.trim().length() > 0)&keyWordTxt=$escapeTool.url($!keyWordTxt)#end#if($narrowKeyword.trim().length() > 0)&narrowKeyword=$narrowKeyword#end#if($varPsid.trim().length() > 0)&vpsid=$varPsid #end#if($attrFilterList.trim().length() > 0)&attrFilterList=$filterList#end&pageNo=")
#end
#end

#macro(listPageHeading $navigationType,$keyWord,$heading)
#if($navigationType=="SEARCH")
	#set($listPageHeading="$!keyWord")
#else
	#set($listPageHeading="$!heading")
#end
#end

#macro(listPageFormUrls $navigationType, $urlContext)
#if($navigationType=="SEARCH")
	#set($itemsPerPageURL="searchPage.action")
	#set($searchWithInFormURL="searchPage.action")
#else
	#set($itemsPerPageURL= $urlContext )
	#set($searchWithInFormURL= $urlContext)
#end
#end