#macro(listHiddenSearchWithIn $codeIdSkip,$levelNoSkip,$gallery,$resultPage,$pageNo,$sortBy,$attrFilterList,$brandId,$keyWord)
<input type="hidden" name="codeId" value="$codeIdSkip" /> 
<input type="hidden" name="levelNo" value="$levelNoSkip" /> 
<input type="hidden" name="gallery" value="$gallery" />
<input type="hidden" name="resultPage" value="$resultPage" /> 
<input type="hidden" name="keyWord" value="$!keyWord" />
<input type="hidden" name="pageNo" value="$pageNo" />
#if($manfId)<input type="hidden" name="manfId" value="$manfId"/>#end
#if($brandId)<input type="hidden" name="brandId" value="$brandId"/>#end
#if($sortBy)<input type="hidden" name="sortBy" value="$sortBy" />#end
#if($attrFilterList)<input type="hidden" name="attrFilterList" value='$attrFilterList'/>#end
#end

#macro(itemListHiddenFields $partNumber, $itemPriceId, $qty, $!uom, $price, $saleQty, $itemId, $displayFrieghtAlert, $packageQty, $itemAvailability, $srchTyp, $navigationType)
<input type="hidden" value="$partNumber" name="idListPrice"/> 
<input type="hidden" value="" name="test"/> 
<!--<input type="hidden" id="priceSaleQty_$partNumber" value="$qty"/>--> 
<input type="hidden" id="uomValue_$partNumber" value="$!uom"/> 
<input type="hidden" id="displayFrieghtAlert_$itemId" name="displayFrieghtAlert_$itemId" value="#if($displayFrieghtAlert)$displayFrieghtAlert#end" />
<input type="hidden" id="priceValue_$partNumber" value="$price"/>
<input type="hidden" id="unitPriceValue_$partNumber" value="$price" /> 
<input type="hidden" id="salesQtyVal_$partNumber" value="$saleQty"/> 
<input type="hidden" id="tempItemId_$partNumber" value="$itemId"/>
<input type="hidden" id="itmId_$itemId" value="$partNumber"/> 
<input type="hidden" id="packageQty_$partNumber" value="$packageQty"/>
<input type="hidden" id="itemPriceID_$partNumber" name="itemPriceID_$partNumber" value="$itemPriceId"/>
<input type="hidden" id="itemTxtSXAvail$partNumber" name="itemTxtSXAvail$partNumber" value="$!itemAvailability"/>
<input type="hidden" id="itemTxtAvail$itemId" name="itemTxtAvail$itemId" value="$!itemAvailability"/>
<input type="hidden" id="priceSaleQty_$partNumber" name="priceSaleQty_$partNumber" value="$qty" />
<input type="hidden" id="" name="navigationType" value="$!navigationType" />
<input type="hidden" value="$!srchTyp" id="" name="searchType"/>
<input type="hidden" id="uomForCart_$itemId" value=""/>
<input type="hidden" id="minOrderQtyForCart_$itemId" value=""/>
<input type="hidden" id="priceForCart_$itemId" value=""/>
#end

#macro(listAndGridSwap $navigationType,$!hostName,$keyWord,$srchTyp,$narrowKeyword,$varPsid,$attrFilterList,$filterList,$sortBy,$resultPage,$pageNo,$codeIdSkip,$levelNoSkip,$brandId,$keyWordTxt)
#if($navigationType=="NAVIGATION")
#set($paginationURL="$!codeIdSkip/category/$!forPageSeoUrl?pageClick=Y#if($srchTyp.trim().length() > 0)&srchTyp=$srchTyp#end#if($levelNoSkip.trim().length() > 0)&levelNo=$levelNoSkip#end#if($attrFilterList.trim().length() > 0)&attrFilterList=$filterList#end#if($sortBy.trim().length() > 0)&sortBy=$sortBy#end&resultPage=$resultPage#if($keyWord.trim().length() > 0)&keyWord=$escapeTool.url($!keyWord)#end#if($keyWordTxt.trim().length() > 0)&keyWordTxt=$escapeTool.url($!keyWordTxt)#end&pageNo=")
#end
#if($navigationType=="SEARCH")
#set($paginationURL="searchPage.action?pageClick=Y&keyWord=$escapeTool.url($!keyWord)&srchTyp=$srchTyp#if($narrowKeyword.trim().length() > 0)&narrowKeyword=$narrowKeyword#end#if($attrFilterList.trim().length() > 0)&attrFilterList=$filterList#end#if($sortBy.trim().length() > 0)&sortBy=$sortBy#end&resultPage=$resultPage#if($keyWordTxt.trim().length() > 0)&keyWordTxt=$keyWordTxt#end&pageNo=")
#end
#if($navigationType=="BRAND")
#set($paginationURL="$!brandId/brand/$!forPageSeoUrl?pageClick=Y#if($keyWord.trim().length() > 0)&keyWord=$escapeTool.url($!keyWord)#end#if($narrowKeyword.trim().length() > 0)&narrowKeyword=$narrowKeyword#end#if($attrFilterList.trim().length() > 0)&attrFilterList=$filterList#end#if($sortBy.trim().length() > 0)&sortBy=$sortBy#end&resultPage=$resultPage#if($keyWordTxt.trim().length() > 0)&keyWordTxt=$keyWordTxt#end&pageNo=")
#end
#if($navigationType=="MANF")
#set($paginationURL="$!manfId/manufacturer/$!forPageSeoUrl?pageClick=Y&srchTyp=$srchTyp#if($keyWord.trim().length() > 0)&keyWord=$keyWord#end#if($narrowKeyword.trim().length() > 0)&narrowKeyword=$narrowKeyword#end#if($attrFilterList.trim().length() > 0)&attrFilterList=$filterList#end#if($sortBy.trim().length() > 0)&sortBy=$sortBy#end&resultPage=$resultPage#if($keyWordTxt.trim().length() > 0)&keyWordTxt=$keyWordTxt#end&pageNo=")
#end
#end

#macro(listPageHeading $navigationType,$keyWord,$heading)
#if($navigationType=="NAVIGATION")
#set($listPageHeading="$heading")
#end
#if($navigationType=="SEARCH")
#set($listPageHeading="$keyWord")
#end
#if($navigationType=="BRAND")
#set($listPageHeading="$heading")
#end
#if($navigationType=="MANF")
#set($listPageHeading="$heading")
#end
#end

#macro(listPageFormUrls $navigationType, $!codeIdSkip, $!forPageSeoUrl, $!manfId, $!brandId)
#if($navigationType=="NAVIGATION")
#set($itemsPerPageURL="$!codeIdSkip/category/$!forPageSeoUrl")
#set($searchWithInFormURL="$!codeIdSkip/category/$!forPageSeoUrl")
#end
#if($navigationType=="SEARCH")
#set($itemsPerPageURL="searchPage.action")
#set($searchWithInFormURL="")
#end
#if($navigationType=="BRAND")
#set($itemsPerPageURL="$!brandId/brand/$!forPageSeoUrl")
#set($searchWithInFormURL="$!brandId/brand/$!forPageSeoUrl")
#end
#if($navigationType=="MANF")
#set($itemsPerPageURL="$!manfId/manufacturer/$!forPageSeoUrl")
#set($searchWithInFormURL="$!manfId/manufacturer/$!forPageSeoUrl")
#end
#end