.bannerLeftColumn{
	width: 440px;
	float: left;
	margin-right: 25px;
	border: 1px solid #c9c9c9;
	border-radius: 8px;
}
.bannerLeftColumn ul{
	width: 100%;
	padding: 5px;
	height: 555px;
	overflow: auto;
}
.bannerLeftColumn ul li{
	display: inline-block;
	width: 30.6%;
	border: none;
	margin: 5px 1%;
	padding: 0;
	vertical-align: top;
}
.bannerRightColumn{
	width: calc(100% - 465px);
	float: left;
}
.img-container {
	height: 65px;
	width: 120px;
	border: 1px solid #c9c9c9;
	position: relative;
	overflow: hidden;
}
.img-container img {
	width: 160px;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 70px;
}
.bannerLeftColumn > h4 {
	margin: 0;
	padding: 18px 20px;
	background: #436079;
	color: #FFF;
	border-radius: 8px 8px 0 0;
}
.cms_pgnation {
	background: #f5f5f5;
	padding: 10px;
	border-radius: 0 0 10px 10px;
	border-top: none;
}
.cms_pgnation .pagebarUTH {
	font-size: 15px;
	color: #254460;
	margin-top: 12px;
}
.uploaderContainerClass {
	padding: 10px;
}
.bannerLeftColumn .ellipsis .link{
	max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.bannerLeftColumn .ellipsis {
    margin: 0;
}
.bannerLeftColumn .link {
	display: inline-block;
}
.bannerTab{
	width: 200px;
	height: 50px;
	background: #e4e7e9;
	float: left;
	border-radius: 5px 5px 0 0;
	font-size: 16px;
	color: #436079;
	padding: 14px 0;
	text-align: center;
	margin-right: 5px;
	cursor: pointer;
}
.tabSelected{
	background: #436079;
	color: #FFF;
}
.bannerDropBoxWrap {
	clear: both;
	border: 1px solid #c9c9c9;
	border-radius: 5px;
}
.bannerDropBox {
	width: calc(100% - 270px);
	float: left;
	padding: 15px;
	height: 625px;
	overflow: auto;
}
.bannerSaveBox {
	width: 270px;
	float: left;
	background: #f5f5f5;
	padding: 15px 10px;
	border-radius: 0 6px 6px 0;
	height: 625px;
	overflow: auto;
}
.bannerSaveBox label,.bannerDropBox label {
	font-size: 16px;
	color: #436079;
}
.bannerSaveBox input, .bannerSaveBox select {
	width: 100%;
	height: 44px;
	border-radius: 24px;
	padding: 10px;
	font-size: 16px;
	text-overflow: ellipsis;
}
.cancelBtnBlock {
	margin: 25px 0 10px 0;
	border-top: 1px solid #c2c2c2;
	padding-top: 20px;
}
.bannerImgContainer img{
	width: 100%;
}
#bannerSelect li{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #c9c9c9;
}
.bannerImgContainer{
	float: left;
	width: 50%;
	padding-right: 20px;
}
.banner_leftWrap{
	float: left;
	width: 50%;
}
.banner_leftWrap .form-group{
	margin-bottom: 8px;
}
.bannerDropBox .form-group input, .bannerDropBox .form-group select {
	width: 100%;
	height: 36px;
	border-radius: 24px;
	padding: 5px;
	font-size: 14px;
	text-overflow: ellipsis;
}
.banner_leftWrap .form-group textarea {
	width: 100%;
	height: 72px;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 14px;
}
.banner_delIcon{
	display: block;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
	color: #436079;
}
.captchaPosBlock{
	margin: 0 -15px;
}
.captchaPos{
	padding: 0 15px;
	width: 50%;
	float: left;
}
.captchaPos label {
	font-size: 16px;
	color: #436079;
	width: 95px;
	vertical-align: middle;
}
.captchaPos input {
	width: 90px;
	height: 40px;
	border-radius: 22px;
	padding: 10px;
	font-size: 14px;
	text-overflow: ellipsis;
	display: inline-block;
	margin-left: 5px;
}
#bannerSelect{
	padding-bottom: 60px;
}
#bannerSelect li:last-child {
	margin: 0;
	padding: 0;
	border: 0;
}
.settingsBlockInner {
	width: 60%;
}
#transitionBlock .form-group > span {
	font-size: 12px;
}
.bannerDropBox .custom-select span {
	border-radius: 18px;
	height: 36px;
	width: 36px;
	padding: 9px;
}




.custom-select {
    position: relative;
    display: inline-block;
	width: 100%;
}
.custom-select select {
    border-radius: 21px;
    height: 41px;
    width: 100%;
	padding: 8px 30px 8px 8px;
}
.custom-select span {
    border-radius: 21px;
    height: 41px;
    width: 40px;
    background: #456078;
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px;
	pointer-events: none;
	display: inline-block;
}
.custom-select i {
	font-size: 20px;
	color: #FFF;
}
.cms_blueBtn{
	background: #009bd0;
	color: #FFF;
	font-size: 18px;
	height: 42px;
	display: inline-block;
	padding: 8px 16px;
	border-radius: 21px;
	border: none;
}
.cms_blueBtn .action-icon {
	margin-left: 8px;
}
.outLineBtn_left {
	background: transparent;
	text-transform: capitalize;
	font-weight: 600;
	color: #456078;
	outline: none;
	font-size: 18px;
	border: 2px solid #456078;
	padding: 7px 10px;
	height: 42px;
	border-radius: 21px;
	display: inline-block;
}










/* #settingsBlock {
	width: 100%;
	overflow: auto;
	height: 630px;
	margin-bottom:10px;
}

#cleared {
	clear: both;
}

#bannerSelectList > li > label > input {
    visibility: hidden;
}
#bannerSelectList > li > label > input + i {
    cursor:pointer;
    color: grey;
    margin-left: -0.5em;
    margin-right: 15px;
}
#bannerSelectList > li > label > input:checked + i {
	visibility: visible;
	color: green;
	cursor:pointer;
}
#bannerSelectList{
	width:100%;
	height: 100%;
	max-height: 400px;
	min-height: 480px;
	overflow-y: auto;
}
#previewWrapper{
	width:700px;
	height:400px;
	margin:100px auto;
}


.banners_saveListBtn{
	background-color:#1b63ab;
	padding:7px 5px;
	color:#fff;
	border: 1px solid #1b63ab;
	margin:0 10px;
}
.banners_cancelListBtn{
	background-color:#1b63ab;
	padding:7px 5px;
	color:#fff;
	border: 1px solid #1b63ab;
}
.banners_closeBtn{
	background-color:#1b63ab;
	padding:7px;
	color:#fff !important;
	border: 1px solid #1b63ab;
}

.banner_formLabel{
	float:left;
	width:75px;
} */

/*!
 * jQuery UI Datepicker 1.9.0
 * http://jqueryui.com
 *
 * Copyright 2012 jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker {
    display: none;
    padding: .2em .2em 0;
    width: 260px;
    background: #FFF;
    box-shadow: 0 3px 5px #7e7e7e;
	border-radius: 5px;
}
.ui-datepicker td.ui-state-disabled span {
	cursor: not-allowed;
	color: #c6c6c6;
}

.ui-datepicker .ui-datepicker-header {
    padding: .2em 0;
    position: relative;
    background: #fff;
    color: #000;
    font-weight: bold;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 16px;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }

.ui-datepicker .ui-datepicker-prev { left: 2px; }

.ui-datepicker .ui-datepicker-next { right: 2px; }

.ui-datepicker .ui-datepicker-prev-hover { left: 1px; }

.ui-datepicker .ui-datepicker-next-hover { right: 1px; }

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: 4px;
    margin-top: 0px;
    position: unset;
    top: 50%;
    width: 35px;
}

.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year { width: 100%; }

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year { width: 49%; }

.ui-datepicker table {
    border-collapse: collapse;
    font-size: .9em;
    margin: 0 0 .4em;
    width: 100%;
}

.ui-datepicker th {
    border: 0;
    font-weight: bold;
    padding: .7em .3em;
    text-align: center;
}

.ui-datepicker td {
    border: 0;
    padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: .7em 0 0 0;
    padding: 0 .2em;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    cursor: pointer;
    float: right;
    margin: .5em .2em .4em;
    overflow: visible;
    padding: .2em .6em .3em .6em;
    width: auto;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float: left; }

/* with multiple calendars */

.ui-datepicker.ui-datepicker-multi { width: auto; }

.ui-datepicker-multi .ui-datepicker-group { float: left; }

.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto .4em;
    width: 95%;
}

.ui-datepicker-multi-2 .ui-datepicker-group { width: 50%; }

.ui-datepicker-multi-3 .ui-datepicker-group { width: 33.3%; }

.ui-datepicker-multi-4 .ui-datepicker-group { width: 25%; }

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width: 0; }

.ui-datepicker-multi .ui-datepicker-buttonpane { clear: left; }

.ui-datepicker-row-break {
    clear: both;
    font-size: 0em;
    width: 100%;
}

/* RTL support */

.ui-datepicker-rtl { direction: rtl; }

.ui-datepicker-rtl .ui-datepicker-prev {
    left: auto;
    right: 2px;
}

.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
    left: auto;
    right: 1px;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane { clear: right; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float: right; }

.ui-datepicker-rtl .ui-datepicker-group { float: right; }

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */

.ui-datepicker-cover {
    filter: mask(); /*must have*/
    height: 200px; /*must have*/
    left: -4px; /*must have*/
    position: absolute; /*must have*/
    top: -4px; /*must have*/
    width: 200px; /*must have*/
    z-index: -1; /*must have*/
}

/* .banner_addNewBtn,.banner_addNewBtn:hover{
	background-color:#1b63ab;
	padding:7px 5px;
	color:#fff !important;
	margin:5px 5px 5px 0;
	height: 30px;
}
.banner_cancelBtn{
	background-color: #1b63ab;
    padding: 7px 5px;
    color: #fff;
    border: 1px solid #1b63ab;
    text-transform: none;
    font-family: RobotoRegular;
    margin-top:10px;
}
.banner_selBtn{
	background-color:#1b63ab;
	padding:7px 5px;
	color:#fff;
	border: 1px solid #1b63ab;
	margin:5px 5px 0 0;
	text-transform: none;
	font-family: RobotoRegular;
}
#bannerSelectList > li{
	height:35px !important;
}
#previewWrapper > .Widget_slideJssor{
	height:400px !important;
}
#previewWrapper > .Widget_slideJssor > div{
	width:800px !important;
	height:300px !important;
	transform:scale(1) !important;
}
#previewWrapper > .Widget_slideJssor > div > .Widget_slideJssor{
	height:300px !important;

}
.fa-2x {
    font-size: 1.7em;
}

.cms_bannerSearch{
	color:#bbb;
	width:78% !important;
	height:30px !important;
	padding:5px 10px !important;
	}

 #bannerSelect li{
	list-style: none;
	padding-bottom: 10px;
	border-bottom: 1px solid;
	margin-bottom: 10px;
	float:left;
	width:100%;
}
#bannerSelect input{
	border:1px solid #bbb;
	width:100%;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	margin-bottom:10px;
	height:25px;
	    padding: 0 4px;
}
.bannerTable{width:100%}
.bannerTable td{    padding: 5px;
    vertical-align: top;}
   .bannerTable td input{
   color: #585858;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 11px;
    font-family: 'Trebuchet MS';
    -webkit-box-shadow: none !important;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    background-image: none;
    height: 25px;
    padding: 0px 4px;
    outline: none;
   }
 .bannerTable td select{  
   border-color: #fff;
    font-size: 11px !important;
    font-family: 'Trebuchet MS';
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 0px solid #fff;
    height: 25px;
    outline: none;
    padding:0;
 }
 #transitionBlock select{
 	height:25px;
 	padding:4px 6px;
 	cursor:auto;
 	outline:none;
 	font-size: 11px !important;
    font-family: 'Trebuchet MS';
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 0px solid #fff;
    margin-bottom:10px;
 } */
 
 
 
 
 
 
 
 
 
 
 /* #bannerEditorLeftColumn{
	width: 100%;
	height: 650px;
	overflow:auto;
	margin-left:10px;
}
#bannerLeftColumn{
	width: 76%;
	background-color: #dadada;
	height: 600px;
	margin: 10px;
	float:left;
	overflow-y: scroll;
}
#bannerEditorRightColumn{	
	width: 100%;
	background-color: #FFf;
	overflow: auto;
	height: 630px;
	margin-bottom:10px;
}
#bannerWrapper{
	width:100%;
}
#bannerRightColumn{
	float: left;
	width: 22%;
	background-color: #FFf;
	height: 600px;
	margin-top: 10px;
}
#previewContainer .container{
	width: 100%;
}
 #bannerSelect{
	background: white;
	padding: 10px;
}
 */