nav.navbar {
    background: $mnav_bg;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 5px 10px 0px #c4c4c4;

    .cimm_navigationBar {
        position: relative;

        ul {
            li {
                &:hover{
                    background: $mnav_lh-bg;
                    //color: $mnav_lhf-color;
					a{
						i{
                            @include icon(before, navdownarrow, $color: #fff, $right: -3px, $size: 20px);
						}
					}
                }
                
                a {
                    color: $mnav_lf-color; 
                    font-size: $mnav_lf-size;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding-right: 25px;
                    white-space: normal;
                    position: relative;
                    
					&:focus{
						background: none;
					}
                    &:hover {
                        color: $mnav_lhf-color;

						i{
							&:before {
								content: "\f0d7";
							}
						}
                    }
					i{
						position: absolute;
						right: 12px;
						top: 16px;
						font-size: 18px;
						&:before {
							content: "\f0da";
						}
					}
					&.cimm_inlineButton {
						padding: 7px 15px;
					}
                }
				div.dropdown-menu {
					width: 855px;
                    background: $msnav_bg;
                    padding: 10px 0;
                    
					ul{
						width:284px;
                        display: inline-block;
                        vertical-align: top;
                        
						li{
							border: none;
						}
					}
				}
                .dropdown-menu {
                    display: none;
                    position: absolute;
                    top: 50px;
                    left: 0;
                    width: 275px;
                    height: auto;
                    z-index: 100;
                    margin: 0;
                    border-radius: 0;
                    background: $msnav_bg;
                    padding: 0;

                    li {
                        width: 100%;
                       // border-bottom: 1px solid $lightGrayColorOne;
                        &:last-child {
                            border: none;
                        }
                        a {
                            color: $msnav_lf-color;
                            padding: 5px 10px;
                            display: block;
                            margin: 0;
							text-transform: capitalize;
                            &:hover {
                                background: $mnav_lh-bg;
                                color: $white;
                            }
                        }
                    }
                    &.cimm_shopByBrand {
                        width: 100%;
                        padding: 20px;

                        ul {
                            li {
                                float: left;
                                width: 23%;
                                margin-right: 2%;
                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
                &#brandLink {
                    position: static;
                }
                &:hover>.dropdown-menu {
                    display: block;
                }
            }
        }
    }
}