footer {
    color: $white;
    @include main_footer;

    .cimm_footer_mid {
        height: 360px;
        overflow-x: overlay;
        .footerCol {
            h3 {
                position: relative;
                margin: 15px 0;
                font-weight: normal;
                
                a {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
                em {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                    width: 10px;
                    height: 10px;
                    display: none;
                }
            }

            ul {
                li {
                    a {
                        padding: 3px 0;
                        display: block;
                    }
                    a.btn-signup {
                        padding: 10px;
                        font-size: 16px;
                        margin-top: 18px;
                    }
                }
            }
        }
        .cimm_footer-copyright {
            margin: 0;
            font-size: $font_sm;
            text-align: right;
            padding: 60px 0;
            a{
                text-decoration: underline;
            }
        }
        .socialMediaWrap{
            padding: 35px 0;
            
            ul{
                li{
                    display: inline-block;
                    margin-right: 10%;
                }
            }
        } 
    }
    .cimm_footer_down {
        padding: 20px 10px;
    }
}