header {
    .cimm_header {
        position: relative;
        @include main_header;

        .cimm_header_top {
            // height: 40px;
            .cimm_header_top-phone {
                float: left;
                ul {
                    li {
                        // color: $white;
                        padding: 10px;
                    }
                }
            }
            .cimm_header_top-menu {
                text-align: right;
                ul{
                    li{
                        text-transform: capitalize;
                        display: inline-block;
                        position: relative;

                        &:hover ul{
                            display: block;
                        }
                        ul.dropdown-menu{
                            padding:0;
                            li{
                                border-bottom:1px solid $border-color;
                                width:100%;
                                a{
                                    color:$default_font-color;
                                    padding: 5px 10px;
                                }
                            }
                        }
                        a{
                            color:$white;
                            padding: 10px;
                            display: block;
                        }
                    }
                }
            }
        }
        .cimm_header_mid {
                height: 100px;
            .cimm_logo {
                width: 250px;
                height: 100px;
                position: relative;

                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-height: 100%;
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            
        }
    }
}

.cimm_signWrap {
   // padding: 10px !important;
    //text-align: right !important;
    height: 100px;

    > li {
        display: inline-block;
        position: relative;
        text-align: center;
        padding: 10px !important;
        > a { 
            display: block;
            color: $white;
            font-weight: bold;
              >img{
                  cursor: default;
              }
              >span {
                font-weight: normal;
                text-transform: uppercase;
                margin-top: 4px;
                &.imgBox {
                    display: block;
                    width: 32px;
                    height: 32px;
                    background: $white;
                    position: relative;
                    margin: 0 auto 8px auto;
                    overflow: hidden;
                    border-radius: 50%;
                    top: 30px;
                    em {
                        position: absolute;
                        left: 5px;
                        color: $primary_color;
                        top: 4px;
                        font-size: $font_xxlg + 4;
                    }
                }
            }
        }

        &.cartCountDisplayLi a {
            position: relative;
            top: 4px;
            span.cartCountrefresh {
                display: inline-block;
            }
            svg {
                width: 35px;
                fill: $white;
                position: absolute;
                top: 10px;
                left: 5px;
            }
        }
        
        ul.cimm_contactWrap li{
                position: relative;
                top: 10px;
                padding: 4px 0px;
                a{
                    margin: 10px 0px;
                    font-size: $font_md;
                    color: $white;
                    i{
                        font-size: $font_lg;
                    }
                }
             }
             .loginblockElement{
                position: relative;
                top: 30px;
            }
    }
    // >li:first-child {
    //     width: 80px;
    // }
}

.slideDropMenu, .myAccountMenu {
    li {
        a {
            em {
                margin-right: 10px;
                font-size: 16px;
                width: 20px;
                text-align: center;
            }
        }
    }
}

.myAccountMenu {
    top: 48px;
    background: $myaccount_menu-bg;
    right: 38px;
    width: 275px;
    left: auto;
    border: 1px solid $border-color;
    border-radius: 2px;
    padding: 0;
    li {
        width: 100%;
        text-transform: none;
        font-family: $default_font-family;
        text-align: left;
        a {
            font-weight: normal;
            color: $default_font-color;
            font-size: 16px;
            padding: 3px 10px;
        }
        &.loginLink{
            margin-top: 15px;
            padding: 15px 0;
            background: $white;
            text-align: center;
            a{
                background: $default_font-color;
                color: $white;
                display: inline-block;
                padding: 10px;
            }
        }
        &:last-child {
            border-bottom: none;
        }
        &.logoutBtn{
            background: $white;
            text-align: center;
            a{
                background: $default_font-color;
                color: $white;
                display: inline-block;
                padding: 12px;
                margin: 25px 0;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
            }
        }
    }

}

.loginWindow {
    position: absolute;
    top: 100px;
    background: $white;
    right: 0px;
    width: 370px;
    min-height: 300px;
    left: auto;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: 2px solid $border-color;
    font-family: RobotoRegular;
    font-size: 12px;
    form {
        background: $login_form-bg;
        padding: 18px;
        .form-control {
            height: 42px;
            box-shadow: none;
            border: 1px solid $border-color;
            border-radius: 2px;
        }
        .form-group{
            label{
                text-transform: uppercase;
            }
        }
    }
    ul,
    ul li {
        width: 100%;
        text-transform: none;
        font-family: $default_font-family;
    }
    .rememberLogWrap {
        text-transform: none;
        padding-top: 6px;
        .button {
            width: 192px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        }
    }
    .customCheckBox {
        span{
            text-transform: capitalize;
        }
    }
    .forgotPassword {
        font-family: $default_font-family;
        margin-top: 15px;
        font-weight: normal;
        text-decoration: underline;
        text-align: right;
    }
    .register_link{
        padding: 26px 18px;
        a{
            color: $white;
            font-size: 16px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
        }
    }
}

.cimm_searchWrapper { 
    text-align: center;
    margin: 34px 0px 0px 0px;
    position: relative;

    input[type='text'] {
        border-radius: 0px;
        font-family: $default_font-family;
        font-size: $font_sm;
        height: 42px;
    }
    .cimm_searchIcon {
        border: 1px solid $border-color;
        border-radius: 0px;
        width: 46px;
        height: 42px;
        color: $white;
    }
}
