@include leftnav;

.cimm_filter {
    .cimm_filter-block {
        
        .cimm_refinedMultiFilterResults {
            ol {
                li {
                    padding: 5px 20px;
                    text-transform: capitalize;
                    span.Refine-value {
                        display: block;
                        padding-left: 15px;
                    }
                }
            }
        }

        .cimm_filter-block-title {           
			+div > ul{
				padding: 10px;
			}
        }
        
        ul {
            li {
                padding: 3px 0; 
                
            }
			&.myAccountLeftMenu{
				li{
					line-height: 22px;
					em{
						width: 26px;
					}
				}
			}
        }
		.slimScrollBar {
			width: 11px !important;
			right: 3px !important;
        } 
        .cimm_filter_block-container,.myAccountLeftMenu{
            padding: 10px;
        }
    }
}
