@include leftnav;

.cimm_filter {
    .cimm_filter-block {
        
        .cimm_refinedMultiFilterResults {
            ol {
                li {
                    padding: 5px 20px;
                    text-transform: capitalize;
                    span.Refine-value {
                        display: block;
                        padding-left: 15px;
                    }
                }
            }
        }

        .cimm_filter-block-title {
			+div > ul{
				padding: 10px 0;
			}
        }
        
        ul {
            li {
                padding: 3px 0; 
                
            }
			&.myAccountLeftMenu{
                background-color: $secondary-color;
				li{
                    line-height: 22px;
                    padding-left: 20px;
                    a{
                        color: $white;
                        &:hover{
                            background-color: transparent;
                            color: $primary-color;
                        }
                    }
					em{
                        width: 20px;
                        margin-right: 10px;
                        text-align: center;
                        color: $primary-color;
                    }
                    &:hover{
                        background-color: transparent;
                        color: $primary-color;
                    }
				}
			}
        }
		.slimScrollBar {
			width: 11px !important;
			right: 3px !important;
		} 
    }
}
