@include main_nav;
.nav_headingBlock{
	display: none;
}
nav.navbar {
    .cimm_nav{
        >ul{
            >li{
                &:nth-last-child(3) {
					> .dropdown-menu{
					    left: -165px;
					    li{
						    >.dropdown-menu {
								top: 0;
								left: -100%;
								margin: 0;
								border-radius: 0;
							}
						}
					}
                }
                .dropdown-menu{
                    &.shopbyprod, &.shopbymanuf, &.shopbybrand{
                        width: 554px;
                        >ul{
                            width: 250px;
                        }
                    }
                }
                .loginnav{
                    li{
                        a{
                            color: $white;
                            font-size: $font-sm;
                            padding: 4px 8px !important;
                            em{
                                padding: 4px 12px 0px 4px;
                                color: $primary-color;
                                font-size: $font-sm;
                            }
                        }
                    &:hover{
                        a{
                            color: $primary_color;
                            background: transparent;
                        }
                        color: $primary_color;
                    }   
                    }
                }
            }
        }
    }
 }