@include main_nav;
.nav_headingBlock{
	display: none;
}
nav.navbar {
    .cimm_nav{
        >ul{
            >li{
                &:last-child{
					> .dropdown-menu{
					    left: -143px;
					    li{
						    >.dropdown-menu {
								top: 0;
								left: -100%;
								margin: 0;
								border-radius: 0;
							}
						}
					}
                }
                .dropdown-menu{
                    &.shopbyprod, &.shopbymanuf, &.shopbybrand{
                        width: 855px;
                    }
                }
            }
        }
    }
 }