 
@include main_nav;

nav.navbar {
    // box-shadow: 0px 5px 10px 0px #c4c4c4;
    .cimm_nav{
        >ul{
            >li{
                &:last-child{
					.dropdown-menu{
					    left: -143px;
					}
                }  
                a{
                    letter-spacing: 1px; 
                } 

                > .dropdown-menu{
                    padding: 10px 0px;

                    &.shopbyprod, &.shopbymanuf, &.shopbybrand{
                        width: 855px;
                    }

                    > ul{
                        width: 282px;   
                        > li{
                            >a{
                                text-transform: capitalize;
                            }
                        }
                    }
                }
            }
        }
    }
 }
 