#--------OAuth2.0 Client Configuration---------
#scope=
#state=
grant_type=authorization_code
#username=
#password=
client_id=e4138864e8a04af49f33c3368a2db176
client_secret=0395d471d5cf43bd9b2586498f66d826
#access_token=
refresh_token=
approval_prompt_key=
approval_prompt_value=
access_type_key=access_type
access_type_value=online
redirect_uri=http://182.72.169.36/unilogSso.slt/oauth/gam/callback
authentication_server_url=https://localhost:8443/thabportal/oauth/gam/signin
token_endpoint_url=https://localhost:8443/thabportal/oauth/gam/access_token
user_endpoint_url=https://localhost:8443/thabportal/oauth/gam/userinfo
resource_server_url=
#------------------------------------------------






















